<div id="boiler-multiple-analysis">
  <h5>能效分析</h5>

  <nz-spin flexible="true" [nzSpinning]="isLoading">
    <div *ngIf="!isEmpty" class="analysis-content-container" [ngSwitch]="type">
      <ng-container *ngSwitchCase="'chart'">
        <div class="analysis-toolbar-container">
          <div class="analysis-toolbar-switch-container">
            <button icon>
              <img src="assets/icon/common/common-switch-line-active.svg" alt="chart" />
            </button>
            <button style="background-color: transparent" icon (click)="showTable()">
              <img src="assets/icon/common/common-switch-table-inactive.svg" alt="table" />
            </button>
          </div>
          <ng-container *ngTemplateOutlet="templateParamSelector"></ng-container>
        </div>

        <div flexible="true" echarts [options]="chartOptions" (chartInit)="onChartInit($event)"></div>
      </ng-container>

      <ng-container *ngSwitchCase="'table'">
        <div class="analysis-toolbar-container">
          <div class="analysis-toolbar-switch-container">
            <button style="background-color: transparent" icon (click)="showChart()">
              <img src="assets/icon/common/common-switch-line-inactive.svg" alt="chart" />
            </button>
            <button icon>
              <img src="assets/icon/common/common-switch-table-active.svg" alt="table" />
            </button>
          </div>
          <ng-container *ngTemplateOutlet="templateParamSelector"></ng-container>
          <button primary (click)="toExport()">导出</button>
        </div>

        <table *ngIf="series.length" style="min-width: 100%" scroll-x cdkScrollable>
          <thead>
            <tr>
              <th style="width: 60px; left: 0px" fixed>序号</th>
              <th style="width: 180px; left: 60px" fixed>时间</th>
              <th *ngFor="let item of series" style="min-width: 225px" [style.width.%]="100 / series.length">
                {{ item.name }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let date of dates | pagination: index:size; index as i">
              <td style="width: 60px; left: 0px" fixed>{{ mapTableIndex(i) }}</td>
              <td
                style="width: 180px; left: 60px"
                fixed
                ellipsis
                nz-tooltip
                nzTooltipPlacement="bottom"
                nzTooltipOverlayClassName="tooltip-table"
                [nzTooltipArrowPointAtCenter]="true"
                [nzTooltipTitle]="mapDateRange(date)"
              >
                {{ mapDateRange(date) }}
              </td>
              <td
                *ngFor="let item of series"
                ellipsis
                nz-tooltip
                nzTooltipPlacement="bottom"
                nzTooltipOverlayClassName="tooltip-table"
                [nzTooltipArrowPointAtCenter]="true"
                [nzTooltipTitle]="item.data?.[mapTableIndex(i) - 1] | numberSeparator: 3"
              >
                {{ (item.data?.[mapTableIndex(i) - 1] | numberSeparator: 3) ?? '--' }}
              </td>
            </tr>
          </tbody>
        </table>

        <div class="empty-table" [class.none]="dates.length && series.length">
          <img src="assets/img/common/common-data-none.svg" alt="暂无数据" />
          <span>暂无数据</span>
        </div>

        <ems-pagination class="mt12"></ems-pagination>
      </ng-container>
    </div>

    <div class="empty-module" [class.none]="!isEmpty || isLoading">
      <img src="assets/img/common/common-config-unset.svg" alt="尚未配置" />
      <span>没有公共的锅炉参数</span>
    </div>
  </nz-spin>
</div>

<ng-template #templateParamSelector>
  <nz-select
    style="width: 188px"
    nzPlaceHolder="请选择"
    [nzOptionHeightPx]="36"
    [nzBackdrop]="true"
    [nzDisabled]="isLoading"
    [(ngModel)]="param"
  >
    <nz-option *ngFor="let option of paramOptions" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
  </nz-select>
</ng-template>
