.ra-tree-check {
  .el-tree {
    min-height: 200px;
  }

  &--header {
    overflow: hidden;
    height: 32px;
    min-height: 32px;

    .treetype-span {
      cursor: pointer;
      padding: 5px 20px;
      width: 50%;
      text-align: center;
      white-space: nowrap;
      background-color: var(--iot-color-shadow-primary-2);
    }

    .treetype-span.active {
      color: var(--iot-font-color-white);
      background-color: var(--iot-color-active);
    }
  }

  &--data {
    overflow: auto;
    :deep(.el-tree) {
      &-node__children {
        overflow: inherit;
      }
    }
  }
}
