<div class="ra-tree-check" v-loading="loading">
  <div class="ra-tree-check--header flex-row-center-center" v-if="hasTypeFlag">
    <span
      v-for="(item, index) in treeTypeList"
      :key="'type_'+index"
      :class="{'treetype-span': true, 'active' : treeType === item.value }"
      @click="onTreeTypeChange(item.value)"
    >
      {{ item.label }}
    </span>
  </div>
  <div class="ra-tree-check--data">
    <el-tree
      v-if="treeList && treeList.length"
      ref="treeRef"
      :highlight-current="!multiple"
      :show-checkbox="multiple"
      :data="treeList"
      nodeKey="id"
      :props="defaultProps"
      :default-expand-all="false"
      :default-checked-keys="checkedKeys"
      :default-expanded-keys="expandedKeys"
      :expand-on-click-node="false"
      :check-strictly="true"
      @check="onTreeCheck"
      @node-click="onNodeClick"
    >
    </el-tree>
    <no-data v-else></no-data>
  </div>
</div>
