.transformer-echarts {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  height: 341px;
  // height: 335px;
  &-header {
    display: flex;
    justify-content: space-between;
    height: 36px;

    &-title {
      display: flex;
      align-items: center;

      .tag-bar {
        height: 16px;
        width: 0;
        border-left: 4px solid #1890ff;
        margin-right: 8px;
      }
    }

    &-switch {
      display: flex;
      justify-content: space-between;

      div {
        display: flex;
        align-items: center;
      }

      .switch-select-icon {
        margin-left: 16px;
      }

      .select-container {
        width: 186px;
        margin-left: 16px;
      }

      .button-container {
        margin-left: 16px;
      }
    }
  }
  &-container {
    width: 100%;
    height: 280px;
    margin-top: 7px;
  }

  &-table {
    // width: 100%;
    margin-top: 7px;

    table {
      width: 100%;

      thead {
        display: table;
        width: 100%;
        table-layout: fixed;
        tr {
          th:nth-child(1) {
            width: 80px;
          }
          th:nth-child(2) {
            width: 180px;
          }
          th {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
        }
      }
      // thead.overflow-thead {
      //     width: calc(100% - 8px);
      // }
      tbody {
        width: 100%;
        display: block;
        max-height: 240px;
        overflow-y: auto;
        tr {
          display: table;
          width: 100%;
          table-layout: fixed;
          td {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
          td:nth-child(1) {
            width: 80px;
          }
          td:nth-child(2) {
            width: 180px;
          }
        }
      }
    }
  }
}
