<div class="transformer-echarts">
  <div class="transformer-echarts-header">
    <div class="transformer-echarts-header-title common-header">
      能效分析
    </div>
    <div class="transformer-echarts-header-switch">
      <!-- <div class="switch-select">
                <switch-button v-model="switchSelect" :switchItems="switchItems" @switch-button-change="switchChange">
                </switch-button>
            </div> -->
      <div class="switch-select-icon">
        <icon-switch-button
          v-model="switchSelectIcon"
          :switchItems="switchItemsIcon"
          @switch-icon-button-change="switchChangeIcon"
        >
        </icon-switch-button>
      </div>
      <div class="select-container" v-show="!isSingleParam">
        <el-select
          v-model="paramsValue"
          placeholder="请选择"
          @change="changeParams"
        >
          <el-option
            v-for="item in paramData"
            :key="item.paramId"
            :label="item.paramName"
            :value="item.paramId"
          >
          </el-option>
        </el-select>
      </div>
      <div class="button-container" v-show="!isShowEchart">
        <button primary @click="exportExcel">{{buttonValue}}</button>
      </div>
    </div>
  </div>
  <div
    v-loading="isLoading"
    :id="echartsContainerId"
    class="transformer-echarts-container"
    v-show="isShowEchart && !isDataNone"
  ></div>
  <div v-show="!isShowEchart && !isDataNone" class="transformer-echarts-table">
    <table>
      <thead>
        <tr>
          <th v-for="item in tableHeader" :title="item">{{item}}</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in tableContent">
          <td v-for="(citem,idx) in item" :title="citem">
            {{processThousandth(citem,idx)}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <data-none v-show="isDataNone" :tips="tips"></data-none>
</div>
