<div class="home-uaer-unit-ranktable font14">
  <div class="chart-table">
    <div style="display: flex;">
      <div class="title" style="width: 8%;">排名</div>
      <div class="title" style="width:20%">对象名称</div>
      <div class="title" style="width:20%">
        {{"总能耗（" + unit.unit + "）"}}
      </div>
      <div class="title" style="width:15%">总面积（㎡）</div>
      <div class="title" style="width:37%">
        {{"单位面积能耗（"+ unit.unitAreaUnit +"）"}}
      </div>
    </div>
    <div v-show="sortData?.length !== 0" style="max-height: 300px;overflow-y: scroll;" class="wrap">
      <div
        class="mark"
        v-for="(item,index) in sortData"
        :key="index"
        style="display: flex;height: 29px;align-items:center;line-height:29px"
      >
        <div style="width:8%;text-align:left;text-indent: 4px;" :title="index+1+ ''">
          {{index+1}}
        </div>
        <div class="text-overflow cursor-style" style="width:20%;padding-right:20px;" :title="item.treeName+''">
          {{ item.treeName + '' }}
        </div>
        <div
          class="text-overflow cursor-style"
          style="width:20%;text-indent:5px;padding-right: 10px;"
          :title="item.value != null ? item.value+ '': ''"
        >
          {{item.value != null ? item.value+ '': ''}}
        </div>
        <div
          class="text-overflow cursor-style"
          style="width:15%;text-indent:5px;padding-right: 10px;text-align: left;"
          :title="item.area + ''"
        >
          {{item.area}}
        </div>
        <div class="percent-chart" style="min-width:170px;width:28%">
          <span class="percent-chart-wrap" :style="{ 'min-width': '70px' }">
            <span :style="{ width: perWidthSet(item, sortData, index) }" class="percent-chart"></span>
          </span>
          <span class="text-overflow cursor-style" :style="{ width: '100px' }" :title="item.unitAreaValue + ''"
            >{{ item.unitAreaValue }}</span
          >
        </div>
      </div>
    </div>
    <div class="common-table__empty flex-column-center-center" v-show="sortData?.length === 0">
      <img src="../../../../../../assets/img/common/common-data-none.svg" alt="" />
      <span>暂无数据</span>
    </div>
  </div>
</div>
