<el-container class="main flex flex-column">
  <!-- 头部 start -->
  <el-header class="main-header flex-row-justify-center">
    <h6>组件&插件收集</h6>
  </el-header>
  <!-- 头部 end -->
  <el-container class="main-container flex">
    <!-- 侧边菜单 start -->
    <ems-aside :menuList="menuList" :selectedMenu="selectedMenu"></ems-aside>
    <!-- 侧边菜单 end -->
    <el-main class="main-container__content flex flex-column">
      <common-page-container>
        <router-view></router-view>
      </common-page-container>
    </el-main>
  </el-container>
</el-container>
