.ea-dc-peak-anomaly {
  &-data {
    .bold {
      margin: 0 8px;
    }
  }

  &-date {
    border-radius: 12px;
    padding: px 12px;
    background-color: var(--iot-anomaly-rank-value-bg-color);

    span {
      color: var(--iot-anomaly-card-count-bg-color);
      font-weight: 600;
    }
  }
}
