@import url(../../../../../assets/style/parameter.less);

#freezer-single-overview {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 16px;

  .overview-card-list {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;

    & > .overview-card-container {
      height: 82px;
      padding: 0px 24px;

      display: grid;
      grid-template-columns: 70px calc(50% - 70px) 1fr;
      place-content: stretch;
      place-items: center stretch;
      gap: 8px;

      background-image: url(../../../../../assets/img/freezer/fso-card-bg.png);
      background-size: 100% 100%;
      border-radius: 8px;
      box-shadow: 0px 18px 18px -14px;

      & > .overview-card-name {
        color: white;

        font-weight: @param-font-medium;
      }
      & > .overview-card-unit {
        color: fade(white, 85%);
      }
      & > .overview-card-value {
        overflow: hidden;

        color: fade(white, 85%);

        font: 24px/32px DINPro-Medium;
        text-overflow: ellipsis;
      }
    }
  }
}
