.energy-item-ratio {
  color: var(--iot-font-color-shadow);
  position: relative;
  .eir-switch--wrap {
    position: absolute;
    top: 16px;
    right: 32px;
    z-index: 999;
  }
  .eir-chart {
    width: 100%;
    height: 100%;
  }
  .eir-back-button {
    position: absolute;
    top: 16px;
    left: 32px;
    z-index: 999;
    .el-button--primary {
      padding: 12px 12px;
    }
  }
}
