<div class="transformer">
  <page-common
    :title="'变压器'"
    @report-export="reportExport"
    :showSearch="true"
    :showExport="true"
    :reportExportTitle="reportButtonValue"
    class="pageCommon"
  >
    <template #pageSearch>
      <transformer-form @dateChange="dateChange"></transformer-form>
    </template>
    <template #pageContent>
      <div v-loading="loading" style="height: calc(100% - 20px);">
        <transformer-echarts
          :buttonValue="excelButtonValue"
          :echartData="echartData"
          v-show="!isDataNone && !loading"
          :paramData="paramData"
        ></transformer-echarts>
        <transformer-tables
          :tableData="tableData"
          :paramRank="paramRank"
          :paramData="paramData"
          v-show="!isDataNone && !loading"
        ></transformer-tables>
        <data-none
          v-show="isDataNone && !loading"
          :size="size"
          :tips="tips"
        ></data-none>
      </div>
    </template>
  </page-common>
</div>
