.transformer {
  height: 100%;
  overflow-y: auto;

  :deep(.common-header) {
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    font-family: PingFangSC-Medium;
    font-weight: 700;
    height: 22px;
    display: flex;
    align-items: center;
  }

  :deep(.common-header::before) {
    content: '';
    height: 16px;
    width: 4px;
    background-color: #1890ff;
    margin-right: 8px;
  }

  :deep(.page-common__detail) {
    display: flex;
    flex-direction: column;
  }
}
