<div id="relationData" class="ee-relation-data-editor">
  <div class="flex between">
    <label class="title">能源用量</label>

    <div class="flex right" *ngIf="canShowDeleteButton">
      <button class="button red" *ngIf="!isDeleteMode" (click)="isDeleteMode = true">
        <label>删除</label>
      </button>
      <button class="button" *ngIf="isDeleteMode" (click)="cancelDelete()">
        <label>取消</label>
      </button>
      <div style="width: 30px" *ngIf="isDeleteMode"></div>
      <button
        class="button red"
        [class.disabled]="!canDelete"
        *ngIf="isDeleteMode"
        (click)="confirmDelete()"
        [disabled]="!canDelete"
      >
        <label>确认删除</label>
      </button>
    </div>
  </div>

  <div [id]="'relationData-' + i" class="flex between mt10" *ngFor="let data of relationDataArray; index as i">
    <div
      class="--inline-double-column"
      [class.empty]="canShowEmptyMarker && (!data.energyCode || !data.codeValue) && saveLength - 1 >= i"
    >
      <div [id]="'energyItemCode-' + i" style="width: 50%">
        <ion-input
          class="input --with-button"
          [class.select]="!data.energyCode"
          mode="md"
          readonly
          placeholder="能源类型"
          [value]="matchEnergyCode(data.energyCode)"
          (click)="presentEnergyTypeSelector(i)"
        ></ion-input>
      </div>
      <div class="--inline-divider"></div>
      <div [id]="'energyConsumption-' + i" class="flex between" style="width: 50%">
        <!--  -->
        <ion-input
          class="input"
          mode="md"
          [ngClass]="{ '--after-placenolder': isDeleteMode }"
          placeholder="请输入用量"
          [(ngModel)]="data.codeValue"
          [appDecimalOnly]="decimalEC"
          (keyup)="checkInput($event, data.codeValue)"
          (ionChange)="handleInput($event)"
        ></ion-input>
        <span class="--unit" *ngIf="data.energyCodeUnit">
          {{ data.energyCodeUnit }}
        </span>
      </div>
    </div>

    <div class="--add-checkbox" *ngIf="isDeleteMode">
      <ion-checkbox class="checkbox" mode="md" [value]="i" (ionChange)="selectColumn($event)"></ion-checkbox>
    </div>
  </div>

  <div class="--add-button mt10" (click)="addColumn()">
    <img src="assets/img/energy-events/plus-square.svg" />
    <p class="button-name">新增</p>
  </div>
</div>
