.extra-modal {
  width: 100%;
  height: 100%;

  .--double-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .--with-button {
    --button-label: "";

    &.select {
      --button-label: "选择";
      &::after {
        width: 47px;
      }
    }
    &.modify {
      --button-label: "更改";
    }
    &.select-tip {
      --button-label: "";
      &::after {
        width: 0px;
      }
    }

    &::after {
      content: var(--button-label);

      position: absolute;
      top: 20px;
      right: 15px;
      bottom: 20px;

      height: 22px;
      line-height: 22px;

      color: rgba(18, 131, 255, 1);
      font-size: 16px;
      text-align: right;
      background-color: rgba(243, 243, 243, 1);
      z-index: 9;
    }
  }

  .mt10 {
    margin-top: 10px;
  }
  .mt15 {
    margin-top: 15px;
  }

  .title {
    height: 22px;
    line-height: 22px;

    color: rgba(34, 34, 34, 0.8);
    font-size: 16px;
    font-weight: bold;
    text-align: left;
  }

  .input {
    // --padding-top: 20px;
    --padding-end: 15px;
    // --padding-bottom: 20px;
    --padding-start: 15px;

    --placeholder-color: rgba(34, 34, 34, 0.2);
    --placeholder-opacity: 1;

    height: 64px;
    line-height: 22px;

    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0);

    background-color: rgba(243, 243, 243, 1);
    color: rgba(34, 34, 34, 0.8);
    font-size: 16px;

    &::-webkit-input-placeholder,
    &::-moz-placeholder {
      color: rgba(34, 34, 34, 0.2);
    }

    &.empty {
      border: 1px solid rgba(247, 91, 87, 1);
    }
  }

  .tip {
    color: rgba(34, 34, 34, 0.5);
    font-size: 14px;
    text-align: left;
  }
}

::ng-deep {
  .am-calendar {
    .header {
      padding: 15px 0px;

      .left {
        right: 15px;
        left: auto;
        top: auto;
        color: #4e4e4e;
        width: 28px;
        height: 28px;

        .am-icon {
          width: 28px !important;
          height: 28px !important;
        }
      }

      .right {
        display: none;
      }
    }

    .single-month .row .cell .date-wrapper {
      .selected-single {
        border-radius: 5px;
      }

      .date-selected {
        background: rgba(18, 131, 255, 1);
      }
    }

    .confirm-panel {
      display: none;
    }
  }
}
