<div class="extra-modal">
  <div id="eventTitle">
    <label class="title">事件标题</label>
    <ion-input
      class="input mt10"
      [class.empty]="canShowEmptyMarker && !data.eventTitle"
      mode="md"
      placeholder="请输入标题0/15"
      maxlength="15"
      [(ngModel)]="data.eventTitle"
    ></ion-input>
  </div>

  <div class="--double-column mt15">
    <div id="startTime" style="width: 50%">
      <label class="title">开始时间</label>
      <ion-input
        class="input --with-button mt10"
        [class.empty]="canShowEmptyMarker && !data.startTime"
        [ngClass]="data.startTime ? 'select-tip' : 'select'"
        mode="md"
        readonly
        placeholder="请选择"
        [value]="data.startTime"
        (click)="presentStartTimeSelector()"
      ></ion-input>
      <Calendar
        type="one"
        [visible]="startTimeSelector.show"
        [minDate]="startTimeSelector.min"
        [maxDate]="startTimeSelector.max"
        [onSelect]="startTimeSelector.onSelect"
        [(ngModel)]="startTimeSelector.date"
        (onCancel)="dismissStartTimeSelector()"
      ></Calendar>
    </div>
    <div style="width: 5px"></div>
    <div style="width: 50%">
      <label class="title">结束时间</label>
      <ion-input
        class="input --with-button mt10"
        [ngClass]="data.endTime ? 'select-tip' : 'select'"
        mode="md"
        readonly
        placeholder="请选择（选填）"
        [value]="data.endTime"
        (click)="presentEndTimeSelector()"
      ></ion-input>
      <Calendar
        type="one"
        [visible]="endTimeSelector.show"
        [minDate]="endTimeSelector.min"
        [maxDate]="endTimeSelector.max"
        [onSelect]="endTimeSelector.onSelect"
        [(ngModel)]="endTimeSelector.date"
        (onCancel)="dismissEndTimeSelector()"
      ></Calendar>
    </div>
  </div>

  <div class="mt15">
    <app-ee-relation-data-editor
      (onToggleModal)="onToggleModal.emit($event)"
      [saveClick]="saveClick"
    ></app-ee-relation-data-editor>
  </div>

  <div class="mt15">
    <label class="title">上传照片</label>
    <p class="tip mt10">最多上传6张照片（选填）</p>
    <div class="mt10">
      <app-em-image-upload
        [(ngModel)]="data.filePaths"
        (imageClick)="handleImageModalChange($event)"
      ></app-em-image-upload>
    </div>
  </div>

  <div class="mt15">
    <label class="title">事件详情</label>
    <div class="mt10">
      <app-ems-speech-recognition
        (detailChange)="onDetailChange($event)"
        placeholder="请输入详细信息0/200（选填）"
        maxlength="200"
      ></app-ems-speech-recognition>
    </div>
  </div>
</div>
