<div class="tb-select-list">
  <h4 class="mt8">{{ title }}</h4>
  <el-input class="mt8" v-inputFilter:search :placeholder="`请输入${title}`" v-model="value"></el-input>
  <div v-loading="loading">
    <div class="tb-select-list-data" v-if="filterList && filterList.length">
      <span
        :class="{ 'tb-select-list-data-item': true, 'active-span': item.id === id }"
        v-for="(item, index) in filterList"
        :key="'item_' + index"
        @click="onChoose(item)"
        :title="item.name"
      >
        <span>{{ item.name }}</span>
        <el-icon class="el-icon-check" v-if="id === item[key]"></el-icon>
      </span>
    </div>
    <div v-else class="font14 flex-column-center-center tb-select-list-data data-none">
      <img src="../../../../assets/img/common/common-data-none.svg" alt="暂无数据" />
      <span class="font14 mt10">暂无数据</span>
    </div>
  </div>
</div>
