.node-parameter {
  width: 100%;
  height: 100%;

  &--header {
    padding-bottom: 16px;

    .el-input {
      width: 227px;
    }
  }

  &--form {
    :deep(.el-cascader) {
      width: 100%;
    }

    .el-select {
      width: 100%;
    }

    .el-button {
      border: none;
    }

    :deep(.el-input) {
      .el-input__suffix .el-icon.el-input__icon.el-input__validateIcon {
        display: none;
      }
    }
  }

  .dialog-footer {
    padding: 24px 0;
    display: inline-block;
    width: 100%;
    text-align: center;
  }

  &--tree {
    .el-tree {
      min-height: 200px;
    }

    .treetype-span {
      cursor: pointer;
      padding: 6px 80px;
      background-color: var(--iot-color-shadow-primary-2);
    }

    .treetype-span.active {
      color: var(--iot-font-color-white);
      background-color: var(--iot-color-active);
    }
  }

  :deep(td.is-left) {
    .cell {
      text-align: left !important;
    }
  }
}

:deep(.el-dialog__body) {
  padding: 10px 24px !important;
}
