<h-component-container :headTitle="title">
  <template v-slot:header>
    <button text @click="linkToDetailPage">详情</button>
  </template>
  <template v-slot:box>
    <div class="home-alarm-event-analysis">
      <div class="left-wrap">
        <div class="left-wrap-title">时段分析</div>
        <div v-if="normal">
          <line-echarts :echartsData="duringAnalysisData" v-loading="duringAnalysisDataLoading"></line-echarts>
        </div>
        <no-data :title="periodErrorTitle" v-else></no-data>
      </div>
      <div class="right-wrap">
        <div class="right-wrap-title">分级统计</div>
        <div class="right-wrap-detail" v-if="classNormal" v-loading="classificationStatisticsDataLoading">
          <div class="right-wrap-detail-item" v-for="(item, ind) in classificationStatisticsData" :key="ind">
            <water-echarts
              :key="index"
              :classificationStatisticsData="item.proportion"
              :subscript="ind"
            ></water-echarts>
            <div class="level" style="font-size: 18px">{{ item.name }}</div>
            <div class="numberOf">
              <span class="num" :title="item.count">{{ item.count }}</span><span style="display: inline-block">次</span>
            </div>
            <div class="compare" style="width: 100%; text-align: center">
              同比
              <span
                v-if="item.thanLastYear == 0"
                style="display: inline-block;height: 4px; width: 12px;background: #d8d8d8;margin: 4px 10px 3px 10px;"
              ></span>
              <img
                v-else
                class="compare-triangle"
                :src="item.thanLastYear > 0 ? require('@/assets/img/common/common-compare-up.png') : require('@/assets/img/common/common-compare-down.png')"
                alt="同比图标"
              />
              <span class="update" :title="item.thanLastYear + ''">{{ Math.abs(item.thanLastYear) }}</span>
            </div>
          </div>
        </div>
        <no-data :title="pieErrorTitle" v-else></no-data>
      </div>
      <div class="switch-buttons">
        <switch-button
          v-model="switchSelect"
          :switchItems="switchItems"
          @switch-button-change="switchChange"
        ></switch-button>
      </div>
    </div>
  </template>
</h-component-container>
