.unit-area-energy-rank {
  width: 100%;
  height: 100%;
  color: var(--iot-font-color-shadow);

  .uae-button--wrap {
    display: flex;
    justify-content: flex-end;
    padding: 16px 30px 9px;
  }

  .table--wrap {
    width: 100%;
    height: calc(100% - 57px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
