<div class="ea-dc-contrast-anomaly">
  <div
    class="flex-row-justify-end ea-dc-contrast-anomaly-item"
    v-for="(item, index) in abnormalContrastDataList"
    :key="'ea-dc-contrast-anomaly_' + index"
  >
    <div class="ea-dc-contrast-anomaly-data flex">
      <img
        class="anomaly-ico"
        src="../../../../../../assets/img/energy-anomaly/ea-abnormal.png"
        alt="图标"
      />
      <div class="num">
        <div class="alignL font14">
          该节点能耗
          <span class="font24 bold"
            >{{ thousandSeparation(item.currentValue) }}</span
          >
          {{ typeAnomalyDetail.unit }}
        </div>
        <div class="alignL font14 ea-dc-contrast-anomaly-data__value mt12">
          对比项能耗
          <span class="font24 bold"
            >{{ thousandSeparation(item.contrastValue) }}</span
          >
          {{ typeAnomalyDetail.unit }}
          <div class="line"></div>
          <div class="triangle"></div>
        </div>
        <div class="alignL font12 mt8 treepath">
          {{ item.contrastTreePath }}({{ item.contrastTreeName }})
        </div>
      </div>
    </div>
    <div class="ea-dc-contrast-anomaly-compare">
      <div
        class="flex-row-start-center mb44"
        v-if="abnormalContrastDataList?.length > 1"
      >
        <span class="detail-btn font12" @click="onAlarmDeal(item.alarmId)"
          >异常处理</span
        >
        <el-divider direction="vertical" style="margin:0 16px"></el-divider>
        <span class="detail-btn font12" @click="toDetail(item.contrastTreeId)"
          >详情</span
        >
      </div>
      <DifferenceValue
        :count="item.differenceRatio"
        :level="item.abnormalLevel"
        text="差值"
        :bolded="true"
        :fontSize="16"
      ></DifferenceValue>
    </div>
  </div>
  <slot></slot>
</div>
