@import '../common.less';

.ea-dc-contrast-anomaly {
  &-data {
    .anomaly-ico {
      top: 8px;
    }

    .num {
      color: rgba(0, 0, 0, 0.65);
      line-height: 26px;

      .bold {
        margin: 0 10px 0 14px;
        font-weight: normal;
        font-family: DINPro Bold;
        color: rgba(0, 0, 0, 0.85);
      }
    }

    &__value {
      position: relative;

      .line {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 42px;
        height: 2px;
        background-color: var(--iot-anomaly-contrast-line-bg-shadow-color);
      }

      .triangle {
        position: absolute;
        bottom: -10px;
        width: 0;
        height: 0;
        border: 4.5px solid transparent;
        border-top: 6px solid var(--iot-anomaly-card-count-bg-color);
      }
    }

    .alignL.treepath {
      max-width: 70%;
      white-space: normal;
      word-break: break-all;
    }
  }

  &-compare {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .detail-btn {
      cursor: pointer;
      color: var(--iot-color-active);
    }
  }
}
