<div class="equipment-detail-info">
  <page-common :title="'设备明细'" :showSearch="true">
    <template v-slot:pageSearch>
      <div class="info-header">
        <h5>详细信息</h5>
        <div class="info-header__base">
          <module-subhead title="基础信息"></module-subhead>
          <div class="flex-wrap base-list">
            <div class="base-item" :title="equipmentInfo.name">
              设备名称：{{ equipmentInfo.name || '--' }}
            </div>
            <div class="base-item" :title="equipmentInfo.proDeviceTypeName">
              设备类型：{{ equipmentInfo.proDeviceTypeName || '--' }}
            </div>
            <div class="base-item" :title="equipmentInfo.number">
              设备编号：{{ equipmentInfo.number || '--' }}
            </div>
            <div class="base-item" :title="equipmentInfo.status">
              设备状态：{{ equipmentInfo.status || '--' }}
            </div>
            <div class="base-item" :title="equipmentInfo.brand">
              品牌：{{ equipmentInfo.brand || '--' }}
            </div>
            <div class="base-item" :title="equipmentInfo.specifications">
              规格：{{ equipmentInfo.specifications || '--' }}
            </div>
            <div class="base-item" :title="equipmentInfo.model">
              型号：{{ equipmentInfo.model || '--' }}
            </div>
            <div class="base-item" :title="equipmentInfo.factoryTime">
              生产日期：{{ equipmentInfo.factoryTime || '--' }}
            </div>
            <div class="base-item" :title="equipmentInfo.ratedPowerStr">
              额定功率：{{ equipmentInfo.ratedPowerStr || '--' }}
            </div>
          </div>
        </div>
        <module-subhead title="运行信息"></module-subhead>
        <el-form :inline="true" :model="queryForm" @submit.native.prevent class="mt13" style="padding-left: 12px;">
          <el-form-item label="日期">
            <el-date-picker
              v-model="queryForm.queryTime"
              type="date"
              placeholder="请选择日期"
              :disabledDate="disabledDate"
              prefix-icon="iconfont icon-Calendar"
              clear-icon="iconfont icon-Close-Circle-Fill"
              :clearable="true"
            />
          </el-form-item>
          <el-form-item>
            <button primary @click="onSubmit">查询</button>
            <button @click="onReset">重置</button>
          </el-form-item>
        </el-form>
      </div>
    </template>
    <template v-slot:pageContent>
      <div class="info-content">
        <div class="info-content__charts">
          <!-- 下拉框 -->
          <el-select
            class="info-content__charts-select"
            v-if="equipmentInfo &&
                    equipmentInfo.havcSystemParamList?.length"
            v-model="queryForm.paramId"
            @change="onFilterParamChange"
            style="width:180px"
          >
            <el-option
              style="width:180px"
              v-for="item in equipmentInfo.havcSystemParamList"
              :key="item.id"
              :label="item.name"
              :value="item.id"
              :title="item.name"
            >
            </el-option>
          </el-select>
          <!-- 图 -->
          <div style="height: 400px;" v-loading="chartLoading">
            <iot-echarts-container v-if="!showChartNoData" :height="400" :useEchartsOptions="onInitCharts">
            </iot-echarts-container>
            <no-data v-show="showChartNoData"></no-data>
          </div>
        </div>
        <div class="info-content__table" :style="{height: tableLoading ? '200px' : 'auto'}" v-loading="tableLoading">
          <div class="info-content__table-btn" v-if="dataSource?.length">
            <button primary @click="onExport">
              {{ exportLoading ? '正在导出' : '导出' }}
            </button>
          </div>
          <el-table
            v-if="!showTableNoData && dataSource?.length>0"
            :class="{'overflow-table' : dataSource?.length > 10}"
            :data="dataSource"
            style="width: 100%"
            :height="dataSource?.length > 10 ? 534 : dataSource?.length*48 + 52"
          >
            <el-table-column
              :fixed="index===0"
              min-width="200"
              v-for="(item, index) in  equipmentTable.havcSystemParamTitleList"
              :key="'column_'+index"
            >
              <template v-slot:header>
                <span class="text-overflow" :title="item">{{ item }}</span>
              </template>
              <template #default="scope">
                <span
                  v-if="Object.prototype.toString.call(scope.row[`value${index}`]) === '[object Null]' || 
                                    Object.prototype.toString.call(scope.row[`value${index}`]) === '[object Undefined]' || 
                                    scope.row[`value${index}`] === '--'"
                  >--</span
                >
                <el-tooltip
                  v-else
                  class="item"
                  effect="dark"
                  :show-after="500"
                  :content="index !== 0 ? thousandSeparation(scope.row[`value${index}`]) : scope.row[`value${index}`] "
                  placement="bottom"
                >
                  <span>
                    {{ index !== 0 ? thousandSeparation(scope.row[`value${index}`]) : scope.row[`value${index}`] }}
                  </span>
                </el-tooltip>
              </template>
            </el-table-column>
          </el-table>
          <no-data v-show="showTableNoData"></no-data>
        </div>
      </div>
    </template>
  </page-common>
  <!-- 导出选择日期弹框 -->
  <el-dialog v-model="exportVisible" title="选择日期" width="390px">
    <el-date-picker
      v-model="exportDate"
      :type="'daterange'"
      :range-separator="'~'"
      :start-placeholder="'开始日期'"
      :end-placeholder="'结束日期'"
      :disabledDate="disabledDate"
      prefix-icon="iconfont icon-Calendar"
      clear-icon="iconfont icon-Close-Circle-Fill"
    >
    </el-date-picker>
    <template #footer>
      <span class="dialog-footer">
        <button @click="onCancel">取消</button>
        <button primary @click="onExportSubmit">确认</button>
      </span>
    </template>
  </el-dialog>
</div>
