<div class="iot-breadcrumb">
  <el-tabs
    v-model="currentTab"
    type="card"
    :closable="routes.length !== 1"
    @tab-click="onTabClick"
    @tab-remove="onTabRemove"
    @contextmenu.prevent="onBreadcrumbItemRightClick"
  >
    <el-tab-pane
      v-for="(item, index) in routes"
      :key="'tabs_' + index"
      :label="item.meta.name"
      :name="item.path"
    ></el-tab-pane>
  </el-tabs>
  <!-- 右键弹框 -->
  <div
    class="iot-breadcrumb__dialog"
    v-show="dialogVisible"
    :style="dialogPosition"
  >
    <!-- 关闭当前 -->
    <div
      class="iot-breadcrumb__dialog-item"
      @click="onRouteItemClose('current')"
    >
      <i class="el-icon-circle-close"></i> 关闭当前
    </div>
    <!-- 关闭其他 -->
    <div class="iot-breadcrumb__dialog-item" @click="onRouteItemClose('other')">
      <i class="el-icon-circle-close"></i> 关闭其他
    </div>
    <!-- 关闭所有 -->
    <div class="iot-breadcrumb__dialog-item" @click="onRouteItemClose('all')">
      <i class="el-icon-circle-close"></i> 关闭所有
    </div>
  </div>
</div>
