.iot-breadcrumb {
  position: relative;
  height: 42px;
  background-color: var(--nts-bg-color-container);
  :deep(.el-tabs--card > .el-tabs__header) {
    margin: 0;
    padding: 0 16px;
  }
  :deep(.el-tabs--card > .el-tabs__header .el-tabs__nav) {
    height: 42px;
    .el-tabs__item {
      height: 42px;
      font-size: 14px;
      .is-icon-close {
        width: 16px !important;
        height: 16px !important;
      }
    }
  }
  &__dialog {
    position: absolute;
    background: var(--nts-component-bg-color-white);
    box-shadow: 0 0 4px 2px var(--nts-color-component-shadow);
    border-radius: 6px;
    overflow: hidden;
    z-index: 999;
    &-item {
      color: var(--nts-font-color-root);
      cursor: pointer;
      font-size: 13px !important;
      padding: 6px 24px;
      line-height: 24px;
      img {
        width: 16px;
        height: 16px;
        position: relative;
        top: 1px;
      }
    }
    &-item:hover {
      background-color: rgb(245, 243, 243);
      transition: all 500ms;
      color: var(--nts-primary-active-color-blue);
    }
  }
}
