<div class="ra-multiaxial-chart">
  <div
    :id="echartsContainerId"
    :style="{ height: '340px', width: '100%' }"
  ></div>
  <!-- 最大、最小差值 start -->
  <div
    class="mark-box"
    v-if="seriesData && seriesData.length > 0 && (markUpImg || markDownImg)"
  >
    <div class="mark-content m20">
      <img class="mark-icon" :src="markUpImg" />
      <span>
        能耗与
        <span
          class="mark-name text-overflow"
          :title="markName"
          :style="{ color: markColor }"
        >
          <svg
            t="1590582279815"
            :style="{ fill: markColor }"
            class="icon left-icon"
            viewBox="0 0 1024 1024"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            p-id="4947"
            width="16"
            height="16"
          >
            <path
              d="M618.325333 184.832h236.657778v49.550222H672.312889v403.797334h-54.044445z"
              p-id="4948"
            />
          </svg>
          {{ markName }}
          <svg
            t="1590582397321"
            :style="{ fill: markColor }"
            class="icon right-icon"
            viewBox="0 0 1024 1024"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            p-id="5127"
            width="16"
            height="16"
          >
            <path
              d="M405.674667 839.168l-236.657778 0 0-49.550222L351.687111 789.617778l0-403.797334 54.04444501 0z"
              p-id="5128"
            />
          </svg>
        </span>
        在 {{ markUpTime }} 出现最大差值
      </span>
    </div>
    <div class="mark-content">
      <img class="mark-icon" :src="markDownImg" />
      <span>
        能耗与
        <span
          class="mark-name text-overflow"
          :title="markName"
          :style="{ color: markColor }"
        >
          <svg
            t="1590582279815"
            :style="{ fill: markColor }"
            class="icon left-icon"
            viewBox="0 0 1024 1024"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            p-id="4947"
            width="16"
            height="16"
          >
            <path
              d="M618.325333 184.832h236.657778v49.550222H672.312889v403.797334h-54.044445z"
              p-id="4948"
            />
          </svg>
          {{ markName }}
          <svg
            t="1590582397321"
            :style="{ fill: markColor }"
            class="icon right-icon"
            viewBox="0 0 1024 1024"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            p-id="5127"
            width="16"
            height="16"
          >
            <path
              d="M405.674667 839.168l-236.657778 0 0-49.550222L351.687111 789.617778l0-403.797334 54.04444501 0z"
              p-id="5128"
            />
          </svg>
        </span>
        在 {{ markDownTime }} 出现最小差值
      </span>
    </div>
  </div>
  <!-- 最大、最小差值 end -->
</div>
