<h-component-container :headTitle="title">
  <template v-slot:header>
    <button text @click="linkToDetailPage">详情</button>
  </template>
  <template v-slot:box>
    <div class="home-energy-consumption-rank flex flex-column">
      <!-- 排序、颗粒度操作 start -->
      <div class="ecr-button--wrap">
        <icon-switch-button
          v-if="!isNoConfig"
          style="margin-right: 16px"
          v-model="switchIconSelect"
          :switchItems="switchSortIcons"
          @switch-icon-button-change="switchIconChange"
        ></icon-switch-button>
        <switch-button
          v-if="!isNoConfig"
          v-model="switchSelect"
          :switchItems="switchItems"
          @switch-button-change="switchChange"
        ></switch-button>
      </div>
      <!-- 排序、颗粒度操作 end -->
      <div class="table--wrap" v-loading="isLoading">
        <rank-Table
          v-if="!isLoading && !isNoData && !isNoConfig"
          :tableData="tableData"
          :sortValue="switchIconSelect"
          :tableColumnTitle="tableColumnTitle"
        ></rank-Table>
        <!-- 无数据时 start -->
        <no-data :title="isNoDataMsg" v-if="!isLoading && isNoData && !isNoConfig"></no-data>
        <!-- 无数据时 end -->
        <!-- 无配置时 start -->
        <no-data :imgUrl="noConfigImg" :title="isNoConfigMsg" v-if="!isLoading && !isNoData && isNoConfig"></no-data>
        <!-- 无配置时 end -->
      </div>
    </div>
  </template>
</h-component-container>
