<div class="th-energy-event" @click="pageToEvent">
  <h5>能源事件</h5>
  <p class="sub-title">共有能源事件<span>{{ energyEventService.total ?? 0 }}</span>条</p>
  <div class="th-energy-event--table">
    <table cellspacing="0" scroll-y>
      <thead>
        <tr>
          <th style="width: 0.7rem">序号</th>
          <th>事件标题</th>
          <th>事件类型</th>
          <th>能耗变化量{{ energyEventService.energyUnit ? `（${energyEventService.energyUnit}）` : '' }}</th>
          <th>成本变化{{ energyEventService.costUnit ? `（${energyEventService.costUnit}）` : '' }}</th>
          <th :style="{paddingRight: energyEventService.dataSource?.length > 4 ? '18px' : '10px'}">录入时间</th>
        </tr>
      </thead>
      <tbody v-if="energyEventService.dataSource?.length !== 0" style="height: 2rem">
        <tr v-for="(item, index) in energyEventService.dataSource" :key="index">
          <td ellipsis style="width: 0.7rem">{{ item.index }}</td>
          <td ellipsis>{{ item.eventTitle ?? '--' }}</td>
          <td ellipsis>{{ item.eventTypeName ?? '--' }}</td>
          <td ellipsis>{{ item.energyValue ?? '--' }}</td>
          <td ellipsis>
            <i v-if="item.status === VALUE_STATUS.UP" class="iconfont icon-shangsheng"></i>
            <i v-if="item.status === VALUE_STATUS.DOWN" class="iconfont icon-xiajiang"></i>{{ item.energyCost ?? '--' }}
          </td>
          <td ellipsis>{{ item.entryTime ?? '--' }}</td>
        </tr>
      </tbody>
    </table>
    <div
      v-if="energyEventService.is_error && !energyEventService.loading"
      class="th-energy-event--table-nodata flex-column-center-center"
    >
      <img src="../../../assets/img/common/common-table-nodata.svg" alt="" />
      <span>暂无数据</span>
    </div>
  </div>
</div>
