<div class="bi-add-update-dialog">
  <el-dialog
    :title="rows.id ? '编辑对标指标' : '新建对标指标'"
    v-model="dialogFormVisible"
    :close-on-click-modal="false"
    width="560px"
    @close="dialogClose"
  >
    <el-form
      :model="form"
      :rules="rules"
      ref="ruleForm"
      label-position="right"
      label-width="80px"
      @submit.native.prevent
    >
      <el-form-item label="指标名称" prop="name">
        <el-input
          v-inputFilter:search
          placeholder="请输指标名称"
          v-model.trim="form.name"
          maxlength="20"
          autocomplete="off"
        ></el-input>
      </el-form-item>
      <el-form-item label="关联指标" prop="correlationIndexId">
        <el-select v-model="form.correlationIndexId" :disabled="isDataList.length > 0">
          <el-option v-for="item in Correlation" :key="item.id" :label="item.name" :value="item.id"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="能耗指标" prop="energyCode">
        <el-select v-model="form.energyCode" :disabled="isDataList.length > 0">
          <el-option v-for="item in energyList" :key="item.value" :label="item.label" :value="item.value"></el-option>
        </el-select>
      </el-form-item>
    </el-form>
    <template #footer>
      <span class="dialog-footer">
        <el-button @click="onCancel">取消</el-button>
        <el-button type="primary" @click="onSubmit">确定</el-button>
      </span>
    </template>
  </el-dialog>
</div>
