.bi-add-update-dialog {
  :deep(.el-select) {
    width: 100%;
  }

  :deep(.el-dialog__body) {
    text-align: left;
  }

  :deep(.el-date-editor--date) {
    width: 100%;
  }

  :deep(.el-date-editor--month) {
    width: 100%;
  }

  :deep(.el-dialog__footer) {
    text-align: center;
  }
}