@import '../common.less';

.ea-dc-kpi-anomaly {
  &-data {
    .anomaly-ico {
      top: 8px;
    }

    .num {
      text-align: left;
      line-height: 30px;

      .bold {
        padding: 0 1px;
        max-width: 280px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  &-time {
    border-radius: 12px;
    background: rgba(245, 77, 66, 0.04);
    padding: 1px 12px;
    display: flex;
    align-items: center;

    em {
      margin: 0 4px;
      font-family: DINPro Bold;
      font-size: 16px;
      line-height: 16px;
      color: #f54d42;
      font-style: normal;
    }
  }
}
