<div class="ea-dc-kpi-anomaly flex-row-justify-end">
  <div class="ea-dc-kpi-anomaly-data flex">
    <img
      class="anomaly-ico"
      src="../../../../../../assets/img/energy-anomaly/ea-abnormal.png"
      alt="图标"
    />
    <div class="num">
      <div class="font14">
        定额消耗
        <span class="bold font24">{{ thousandSeparation(quotaValue) }}</span>
        {{ unit }}
      </div>
      <div class="font14 mt12">
        已用消耗
        <span class="bold font24">{{ thousandSeparation(currentValue) }}</span>
        {{ unit }}
      </div>
    </div>
  </div>
  <DifferenceValue
    v-if="quotaAbnormalType === '1'"
    :fontSize="16"
    :bolded="true"
    :count="differenceRatio"
    :level="level"
    text="占比"
  >
  </DifferenceValue>
  <div v-else class="ea-dc-kpi-anomaly-time">
    预计 <em>{{ trendAbnormalTime }}</em>超标
  </div>
</div>
