.equipment-detail {
    height: 100%;
    .equipment-card {
        .equipment-card-box {
            padding: 16px 0 23px;
            white-space: nowrap;
            position: relative;
            overflow: hidden;
            height: 206px;
            &-button {
                position: absolute;
                width: 32px;
                height: 140px;
                margin-top: 16px;
                background-color: rgba(0, 0, 0, 0.25);
                z-index: 666;
                text-align: center;
                line-height: 140px;
                color: #fff;
                font-weight: 700;
                cursor: pointer;
            }
    
            .left-button {
                position: absolute;
                top: 0;
                left: 0;
            }
    
            .right-button {
                position: absolute;
                top: 0;
                right: 0;
            }    
            .equipment-content {
                display: inline-flex;
                height: 100%;
                transition: transform 0.5s ease 0s;
                overflow: hidden;
                &-item {
                    width: 360px;
                    height: 140px;
                    border-radius: 8px;
                    margin-left: 17px;
                    margin-right: 24px;
                    display: inline-block;
                    transition: all .4s cubic-bezier(.88, .03, 0, .91);
                    background-image: url(../../../assets/img/equipment-detail/wave.svg);
                    background-repeat: no-repeat;
                    background-position: bottom;
                    background-size: 101%;
                    &-content {
                        color: #fff;
                        text-align: center;
                        &-number {
                            margin: 20px 0 13px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 57px;
                            &-num {
                                font-size: 38px;
                                display: inline-block;
                                max-width: 80%;
                            }
                            &-unit {
                                font-size: 16px;
                                padding-left: 4px;
                                padding-top: 5px;
                            }
                        }
                        &-content {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
    .buttonHide {
        display: none;
    }
    .text {
        white-space: nowrap;
        overflow: hidden !important;
        text-overflow: ellipsis;
      }
}
:deep(.el-select__popper.el-popper){
    width: 194px; 
}
// .option-text {
//     white-space: nowrap;
//     overflow: hidden !important;
//     text-overflow: ellipsis;
//     margin-top: 7px;
//   }
