<div class="equipment-detail">
  <page-common title="设备明细">
    <template v-slot:pageContent>
      <div style="height: 100%;" v-loading="carLloading">
        <div style="height: 100%;" v-if="equitmentItemList.length > 0 && !carLloading">
          <!-- 导航轮播 -->
          <div class="equipment-card">
            <div class="equipment-card-box" @mouseover="onMouseOver" @mouseleave="onMouseOut">
              <!-- 左侧导航按钮 -->
              <div class="equipment-card-box-button left-button buttonHide" @click="onLeftBtn">&lt;</div>
              <!-- 右侧导航按钮 -->
              <div class="equipment-card-box-button right-button buttonHide" @click="onRightBtn">&gt;</div>
              <!-- list -->
              <!-- list -->
              <div class="equipment-content" :style="{ transform: `translateX(${translateX}px)` }">
                <div
                  class="equipment-content-item"
                  v-for="(item, i) in equitmentItemList"
                  :key="i"
                  :style="{ 'background-color': colorArr[i % 10], 'box-shadow': '0px 8px 20px 0px '+ colorShadowArr[i % 10]}"
                >
                  <div class="equipment-content-item-content">
                    <div class="equipment-content-item-content-number">
                      <span class="equipment-content-item-content-number-num">{{item.cardCount}}</span>
                      <span class="equipment-content-item-content-number-unit">个</span>
                    </div>
                    <span class="equipment-content-item-content-content">{{item.cardName}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- 搜索 -->
          <el-form :inline="true" :model="formInline" class="form-inline" style="margin-top: -21px;">
            <el-form-item>
              <el-input
                placeholder="请输入设备名称或设备编号"
                v-model="formInline.search"
                v-inputFilter:search
                :maxlength="32"
                style="width: 380px"
                suffix-icon="el-icon-search"
              >
              </el-input>
            </el-form-item>
            <el-form-item label="设备类型">
              <el-select v-model="formInline.type" placeholder="请选择类型">
                <el-option
                  v-for="(item, index) in typeList"
                  :key="index"
                  :label="item.typeName"
                  :value="item.typeId"
                  :title="item.typeName"
                  style="width: 194px;"
                >
                </el-option>
              </el-select>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" @click="onSearch">查询</el-button>
              <el-button @click="onReset" style="background-color: #fff !important;">重置</el-button>
            </el-form-item>
          </el-form>
          <!-- 表格 -->
          <!-- <div v-if="abnormal"> -->
          <div style="height: calc(100% - 239px);" v-loading="loading">
            <el-table v-if="!loading" ref="multipleTable" :data="tableData" :stripe="lightOrDark" style="width: 100%;">
              <el-table-column prop="index" label="序号" width="80" align="center">
                <template #default="scope">
                  {{ (pageNum - 1) * pageSize + scope.$index + 1 }}
                </template>
              </el-table-column>
              <el-table-column prop="number" label="设备编号" min-width="210" align="center">
                <template #default="scope">
                  <el-tooltip
                    class="tips"
                    effect="dark"
                    :content="scope.row.number === null ? '--' : scope.row.number"
                    placement="bottom"
                    :offset="4"
                    :show-after="500"
                  >
                    <div class="text">{{ scope.row.number === null ? '--' : scope.row.number }}</div>
                  </el-tooltip>
                </template>
              </el-table-column>
              <el-table-column prop="name" label="设备名称" min-width="210" align="center">
                <template #default="scope">
                  <el-tooltip
                    class="tips"
                    effect="dark"
                    :content="scope.row.name === null ? '--' : scope.row.name"
                    placement="bottom"
                    :offset="4"
                    :show-after="500"
                  >
                    <div class="text">{{ scope.row.name === null ? '--' : scope.row.name }}</div>
                  </el-tooltip>
                </template>
              </el-table-column>
              <el-table-column prop="address" label="设备位置" min-width="210" align="center">
                <template #default="scope">
                  <el-tooltip
                    class="tips"
                    effect="dark"
                    :content="scope.row.address === null ? '--' : scope.row.address"
                    placement="bottom"
                    :offset="4"
                    :show-after="500"
                  >
                    <div class="text">{{ scope.row.address === null ? '--' : scope.row.address }}</div>
                  </el-tooltip>
                </template>
              </el-table-column>
              <el-table-column prop="status" label="开关状态" min-width="210" align="center">
                <template #default="scope">
                  <el-tooltip
                    class="tips"
                    effect="dark"
                    :content="scope.row.status === null ? '--' : scope.row.status"
                    placement="bottom"
                    :offset="4"
                    :show-after="500"
                  >
                    <div class="text">{{ scope.row.status === null ? '--' : scope.row.status }}</div>
                  </el-tooltip>
                </template>
              </el-table-column>
              <el-table-column prop="address" label="操作" width="140" align="center">
                <template #default="scope">
                  <span class="operate-span mr16" @click="jumper(scope.row)">详细信息</span>
                </template>
              </el-table-column>
            </el-table>
            <el-pagination
              v-show="!loading"
              :current-page="pageNum"
              :page-sizes="pageSizes"
              @size-change="onPageSizeChange"
              @current-change="onCurrentChange"
              :page-size="pageSize"
              layout="total, prev, pager, next, sizes, jumper"
              :total="total"
            >
            </el-pagination>
          </div>
        </div>
        <div style="height: 100%;" v-if="equitmentItemList.length === 0 && !carLloading && !loading">
          <no-data></no-data>
        </div>
      </div>
    </template>
  </page-common>
</div>
