// 自定义消息
.download-message.te-message {
  box-shadow: 0px 12px 42px 0px rgba(38, 38, 38, 0.24);

  p {
    color: rgba(0, 0, 0, 0.65) !important;
  }

  i.te-message__icon {
    margin-right: 8px;
    background-image: url(../../images/common/common-loading.svg);
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 14px;

    svg {
      display: none !important;
    }

    animation-name: icon_rotate;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
  }
}

@keyframes icon_rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
