<div class="addDialog">
  <el-dialog
    :title="rows.id ? '编辑指标' : '新增指标'"
    v-model="dialogFormVisible"
    :close-on-click-modal="false"
    width="560px"
  >
    <el-form :model="form" :rules="rules" ref="ruleForm" label-position="right" label-width="70px">
      <el-form-item label="指标名称" prop="name">
        <el-input
          v-inputFilter:search
          placeholder="请输指标名称"
          v-model.trim="form.name"
          maxlength="12"
          autocomplete="off"
        ></el-input>
      </el-form-item>
      <el-form-item label="单位" prop="unit">
        <el-input
          v-inputFilter:search
          placeholder="请输指标单位"
          v-model.trim="form.unit"
          maxlength="12"
          autocomplete="off"
        ></el-input>
      </el-form-item>
    </el-form>
    <template #footer>
      <div class="dialog-footer" style="text-align: center">
        <el-button type="primary" @click="onSubmit">确定</el-button>
        <el-button @click="Reset">重 置</el-button>
      </div>
    </template>
  </el-dialog>
</div>
