<div class="pm-list">
  <page-container title="项目管理">
    <template v-slot:pageSearch>
      <el-form :inline="true" :model="pageForm" @submit.native.prevent>
        <el-form-item>
          <input v-textInputFilter v-model.trim="pageForm.projectName" placeholder="请输入项目名称" />
        </el-form-item>
        <el-form-item label="状态">
          <el-select v-model="pageForm.status" placeholder="请选择状态">
            <el-option
              v-for="(item, index) in statuses"
              :key="'status_' + index"
              :label="item.name"
              :value="item.code"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item>
          <button primary @click="onSubmit">查询</button>
          <button @click="onReset">重置</button>
        </el-form-item>
      </el-form>
    </template>
    <template v-slot:pageContent>
      <div class="pm-list__content" v-loading="loading">
        <table style="width: 100%" v-if="!loading">
          <thead>
            <tr>
              <th style="width: 70px">序号</th>
              <th>项目名称</th>
              <th>所属地区</th>
              <th>托管周期</th>
              <th style="width: 100px">托管类型</th>
              <th style="width: 130px">项目风险评级</th>
              <th style="width: 100px">基准类型</th>
              <th style="width: 150px">收益分享</th>
              <th style="width: 130px">状态</th>
              <th style="width: 160px">操作</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) in dataSource" :key="'project_'+index">
              <td style="width: 70px">{{ (pageForm.pageNum-1) * pageForm.pageSize + index + 1 }}</td>
              <td ellipsis>
                <el-tooltip
                  :open-delay="500"
                  v-if="item.projectName !== '--'"
                  class="box-item"
                  effect="dark"
                  :content="item.projectName"
                  placement="bottom"
                >
                  <span ellipsis>{{ item.projectName }}</span>
                </el-tooltip>
                <span v-else>{{ item.projectName }}</span>
              </td>
              <td ellipsis>
                <el-tooltip
                  :open-delay="500"
                  v-if="item.area !== '--'"
                  class="box-item"
                  effect="dark"
                  :content="item.area"
                  placement="bottom"
                >
                  <span ellipsis>{{ item.area }}</span>
                </el-tooltip>
                <span v-else>{{ item.area }}</span>
              </td>
              <td ellipsis>
                <el-tooltip
                  :open-delay="500"
                  v-if="item.hostingDate !== '--'"
                  class="box-item"
                  effect="dark"
                  :content="item.hostingDate"
                  placement="bottom"
                >
                  <span ellipsis>{{ item.hostingDate }}</span>
                </el-tooltip>
                <span v-else>{{ item.hostingDate }}</span>
              </td>
              <td style="width: 100px" ellipsis>
                <el-tooltip
                  :open-delay="500"
                  v-if="item.hostingType !== '--'"
                  class="box-item"
                  effect="dark"
                  :content="item.hostingType"
                  placement="bottom"
                >
                  <span ellipsis>{{ item.hostingType }}</span>
                </el-tooltip>
                <span v-else>{{ item.hostingType }}</span>
              </td>
              <td style="width: 130px" ellipsis>
                <el-tooltip
                  :open-delay="500"
                  v-if="item.projectriskRating !== '--'"
                  class="box-item"
                  effect="dark"
                  :content="item.projectriskRating"
                  placement="bottom"
                >
                  <span ellipsis>{{ item.projectriskRating }}</span>
                </el-tooltip>
                <span v-else>{{ item.projectriskRating }}</span>
              </td>
              <td style="width: 100px" ellipsis>
                <el-tooltip
                  :open-delay="500"
                  v-if="item.benchmarkType !== '--'"
                  class="box-item"
                  effect="dark"
                  :content="item.benchmarkType"
                  placement="bottom"
                >
                  <span ellipsis>{{ item.benchmarkType }}</span>
                </el-tooltip>
                <span v-else></span>
              </td>
              <td style="width: 150px" ellipsis>
                <el-tooltip
                  :open-delay="500"
                  v-if="item.gainSharing !== '--'"
                  class="box-item"
                  effect="dark"
                  :content="item.gainSharing"
                  placement="bottom"
                >
                  <span ellipsis>{{ item.gainSharing }}</span>
                </el-tooltip>
                <span v-else>{{ item.gainSharing }}</span>
              </td>
              <td style="width: 130px" ellipsis>
                <el-tooltip
                  :open-delay="500"
                  v-if="item.status !== '--'"
                  class="box-item"
                  effect="dark"
                  :content="item.status"
                  placement="bottom"
                >
                  <span ellipsis>{{ item.status }}</span>
                </el-tooltip>
                <span v-else>{{ item.status }}</span>
              </td>
              <td style="width: 170px">
                <button
                  text
                  primary
                  @click="onPageTo('view', item.code, item.id, item?.projectName)"
                  v-if="viewBtnShowFlag"
                >
                  查看
                </button>
                <button
                  text
                  primary
                  @click="onPageTo('editor', item.code, item.id, item?.projectName)"
                  v-if="editorBtnShowFlag"
                >
                  编辑
                </button>
                <button
                v-if="projectBtnShowFlag"
                  :disabled="item.hostingDate === '--'"
                  text
                  primary
                  @click="onPageTo('portal', item.code, item.id, item?.projectName)"
                >
                  进入项目
                </button>
                <span v-if="!projectBtnShowFlag && !editorBtnShowFlag && !viewBtnShowFlag">-</span>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="table-nodata flex-column-center-center" v-if="dataSource?.length === 0 && !loading">
          <img src="../../../assets/images/common/common-data-none.svg" alt="" />
          <p>暂无数据</p>
        </div>
        <el-pagination
          v-show="total > 0 && !loading"
          @size-change="onSizeChange"
          @current-change="onPageChange"
          :current-page="pageForm.pageNum"
          :page-sizes="pageSizesArray"
          :page-size="pageForm.pageSize"
          layout="total, prev, pager, next, sizes, jumper"
          :total="total"
        ></el-pagination>
      </div>
    </template>
  </page-container>
</div>
