.pm-list {
  height: 100%;

  :deep(.tenant-pagecontainer__detail) {
    min-width: 1440px;
  }

  &__content {
    height: 100%;
    padding-top: 16px;

    th {
      text-align: center;
    }

    table > tbody > tr > td > span[ellipsis] {
      display: inline-block;
      width: 100%;

      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      vertical-align: middle;
    }
  }
}
