#work-plan-form {
  width: calc(100% + 32px);
  height: calc(100% + 32px);
  margin: -16px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  .form {
    &-header {
      padding: 10px 20px;

      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-body {
      padding: 24px 40px;

      display: grid;
      grid-template-columns: repeat(2, minmax(476px, calc(50% - 44px)));
      place-content: stretch space-between;
      place-items: stretch;
      gap: 24px;
    }
    &-footer {
      padding: 24px;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
