<div id="work-plan-form">
  <div class="form-header">
    <button rimless (click)="goBack()">
      <i nz-icon nzType="left" nzTheme="outline"></i>
      <span class="ml6">返回</span>
    </button>
    <h3>{{ title }}</h3>
    <div class="ghost" style="width: 80px"></div>
  </div>
  <hr />

  <nz-spin nzDelay="233" [nzSpinning]="isLoading">
    <div class="form-body">
      <ems-work-plan-form-basic></ems-work-plan-form-basic>
      <ems-work-plan-form-time></ems-work-plan-form-time>
      <ems-work-plan-form-detail style="grid-column-start: span 2"></ems-work-plan-form-detail>
    </div>

    <div *ngIf="!isReadonly" class="form-footer">
      <button primary (click)="toSave()">保存</button>
    </div>
  </nz-spin>
</div>
