.ea-result {
  text-align: left;
  margin-top: 16px;

  &__title {
    color: var(--iot-font-color-deep);
    height: 22px;
    line-height: 22px;
  }

  &__list {
    &-item {
      margin-top: 8px;
      line-height: 22px;

      img {
        position: relative;
        top: 4px;
        width: 12px;
        height: 12px;
        margin-right: 8px;
      }
      & > span {
        display: inline-block;
        white-space: normal;
        word-break: break-all;
      }
    }
  }
}
