.global-parameter {
  width: 100%;
  height: 100%;

  &-header {
    padding-bottom: 16px;

    .el-input {
      width: 227px;
    }
  }

  :deep(.el-form) {
    .el-cascader {
      width: 100%;
    }

    .el-select {
      width: 100%;
    }

    .device-formitem {
      width: 100%;
      cursor: pointer;
      background-color: var(--color-default);
    }
  }

  .dialog-footer {
    display: inline-block;
    width: 100%;
    text-align: center;
  }

  :deep(td.is-left) {
    .cell {
      text-align: left !important;
    }
  }
}
