.ems_new-events {
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    height: 100%;
    .main-content-events {
        padding: 15px;
        height: calc(100% - 44px);
        .content-events-title { 
            height: 22px;
            color: rgba(34, 34, 34, 0.8);
            font-size: 16px;
            text-align: left; 
            margin-bottom: 10px;
            font-weight: bold;
        }
        .content-events-list {
            height: calc(100% - 32px);
            width: 100%;
            overflow-y: auto; 
            .content-events-list-item {  
                width: 100%;
                height: 52px;
                line-height: 52px;
                border-radius: 5px;
                background-color: rgba(18, 131, 255, 1); 
                color: rgba(255, 255, 255, 100);
                font-size: 16px;
                text-align: center;   
            } 
            .mt10 {
                margin-top: 10px;
            }
        }
     
    }
}