<div class="ems_new-events">
    <app-common-head title="新增事件" (back)="goBack()" ></app-common-head>
    <main class="main-content-events">
        <section class="content-events-title">
            事件类型
        </section>
        <section class="content-events-list">
            <div  
                class="content-events-list-item"  
                *ngFor="
                    let item of EventTypeInfoList;
                    let i = index;
                    trackBy: trackById"
                [ngClass]="{'mt10': i !== 0}"
                (click)="emsNewModal(item)"
                    >
              {{item.eventTypeName}}
            </div>
        </section>
    </main>
</div>
