.home-component-container {
  width: 100%;
  height: 100%;

  &--header {
    width: 100%;
    height: 40px;
    min-height: 40px;
    line-height: 40px;
    padding: 0 20px 0 30px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: var(--portal-card-head-bg-gradient);
    background-color: var(--portal-card-head-bg);
    overflow: hidden;

    h6 {
      flex: 1 1 auto;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 20px;
      font-weight: 600;
      color: var(--portal-card-title);
    }
  }

  &--box {
    flex: 1 1 auto;
    overflow: hidden;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: var(--portal-card-body-bg);
  }
}
