.ea-data-drilling {
  &-table {
    :deep(.el-table th > .cell) {
      white-space: nowrap;
    }
  }

  :deep(.el-table__body .parent-node .cell) {
   
    // color: #1890ff;
  }

  .selectDrill {
    cursor: pointer;
    color: #1890ff;
  }
}
