<div class="ea-data-drilling">
  <div class="ea-data-drilling-table">
    <el-table :data="tableData" style="width: 100%" :height="288">
      <el-table-column type="index" label="序号" width="50" align="center"></el-table-column>
      <el-table-column
        prop="analyseObjectName"
        align="center"
        title="analyseObjectName"
        :formatter="formatValue"
        :class-name="!isLeafValue ? 'parent-node' : 'child-node'"
        width="200"
      >
        <template #header>
          <div title="钻取对象" class="text-overflow">钻取对象</div>
        </template>
        <template #default="scope">
          <span title="" v-if="Object.prototype.toString.call(scope.row.analyseObjectName) === '[object Null]'"
            >--</span
          >
          <el-tooltip
            v-else
            class="item"
            effect="dark"
            :content="Object.prototype.toString.call(scope.row.analyseObjectName) === '[object Null]' ? '' : scope.row.analyseObjectName"
            :show-after="500"
            placement="bottom"
          >
            <span
              title=""
              @click="onCellClick(scope.row.analyseObjectId, scope.row.analyseObjectName, scope.row.drillFlag)"
              :class="{'selectDrill': scope.row.drillFlag}"
            >
              {{ Object.prototype.toString.call(scope.row.analyseObjectName) === '[object Null]' ? '' :
              scope.row.analyseObjectName }}</span
            >
          </el-tooltip>
        </template>
      </el-table-column>
      <el-table-column align="center" :formatter="formatValue">
        <template #header>
          <div :title="'能耗值(' + unitValue + ')'" class="text-overflow">能耗值({{ unitValue }})</div>
        </template>
        <template #default="scope">
          <span title="" v-if="Object.prototype.toString.call(scope.row.currentEnergyValue) === '[object Null]'"
            >--</span
          >
          <el-tooltip
            v-else
            class="item"
            effect="dark"
            :content="thousandSeparation(scope.row.currentEnergyValue)"
            :show-after="500"
            placement="bottom"
          >
            <span title="">{{ thousandSeparation(scope.row.currentEnergyValue) }}</span>
          </el-tooltip>
        </template>
      </el-table-column>
      <el-table-column align="center" :formatter="formatValue" v-if="isMH.tbFlag">
        <template #header>
          <el-tooltip effect="dark" :content="lastYearTimeInfo" placement="bottom" v-if="lastYearTimeInfo">
            <div :title="'去年同期能耗(' + unitValue + ')'" class="text-overflow">去年同期能耗({{ unitValue }})</div>
          </el-tooltip>
          <div v-else :title="'去年同期能耗(' + unitValue + ')'" class="text-overflow">
            去年同期能耗({{ unitValue }})
          </div>
        </template>
        <template #default="scope">
          <span title="" v-if="Object.prototype.toString.call(scope.row.lastYearEnergyValue) === '[object Null]'"
            >--</span
          >
          <el-tooltip
            v-else
            class="item"
            effect="dark"
            :content="thousandSeparation(scope.row.lastYearEnergyValue)"
            :show-after="500"
            placement="bottom"
          >
            <span title="">{{ thousandSeparation(scope.row.lastYearEnergyValue) }}</span>
          </el-tooltip>
        </template>
      </el-table-column>
      <el-table-column prop="lastYearRatio" align="center" v-if="isMH.tbFlag">
        <template #header>
          <div title="同比值" class="text-overflow">同比值</div>
        </template>
        <template #default="scope">
          <span title="" v-if="Object.prototype.toString.call(scope.row.lastYearRatio) === '[object Null]'">--</span>
          <el-tooltip
            v-else
            class="item"
            effect="dark"
            :content="Object.prototype.toString.call(scope.row.lastYearRatio) === '[object Null]' ? '--' : scope.row.lastYearRatio+'%'"
            :show-after="500"
            placement="bottom"
          >
            <span :style="{ color: scope.row.lastYearColorFlag == '1' ? '#f5222d' : 'var(--iot-font-color-root)'  }">
              {{ scope.row.lastYearRatio || scope.row.lastYearRatio === 0 ? scope.row.lastYearRatio + '%' : '--' }} {{
              }}
            </span>
          </el-tooltip>
        </template>
      </el-table-column>
      <el-table-column align="center" :formatter="formatValue" v-if="isMH.hbFlag">
        <template #header>
          <el-tooltip v-if="lastMonthTimeInfo" effect="dark" :content="lastMonthTimeInfo" placement="bottom">
            <div :title="'上时段能耗(' + unitValue + ')'" class="text-overflow">上时段能耗({{ unitValue }})</div>
          </el-tooltip>
          <div v-else :title="'上时段能耗(' + unitValue + ')'" class="text-overflow">上时段能耗({{ unitValue }})</div>
        </template>
        <template #default="scope">
          <span title="" v-if="Object.prototype.toString.call(scope.row.lastMonthEnergyValue) === '[object Null]'"
            >--</span
          >
          <el-tooltip
            v-else
            class="item"
            effect="dark"
            :content="thousandSeparation(scope.row.lastMonthEnergyValue)"
            :show-after="500"
            placement="bottom"
          >
            <span title="">{{ thousandSeparation(scope.row.lastMonthEnergyValue) }}</span>
          </el-tooltip>
        </template>
      </el-table-column>
      <el-table-column prop="lastMonthRatio" align="center" v-if="isMH.hbFlag">
        <template #header>
          <div title="环比值" class="text-overflow">环比值</div>
        </template>
        <template #default="scope">
          <span title="" v-if="Object.prototype.toString.call(scope.row.lastMonthRatio) === '[object Null]'">--</span>
          <el-tooltip
            v-else
            class="item"
            effect="dark"
            :content="Object.prototype.toString.call(scope.row.lastMonthRatio) === '[object Null]' ? '--' : scope.row.lastMonthRatio+'%'"
            :show-after="500"
            placement="bottom"
          >
            <span
              :style="{
                    color: scope.row.lastMonthColorFlag == '1'
                        ? '#f5222d'
                        : 'var(--iot-font-color-root)'
                  }"
            >
              {{ scope.row.lastMonthRatio || scope.row.lastMonthRatio === 0 ? scope.row.lastMonthRatio + '%' : '--' }}
            </span>
          </el-tooltip>
        </template>
      </el-table-column>
    </el-table>
  </div>
</div>
