.tree-select {
  width: 100%;
  display: flex;
  height: 36px;
  border-radius: 4px;
  align-items: center;
  cursor: pointer;
  border: 1px solid var(--color-text-border);
  overflow-y: hidden;

  .el-select {
    width: 100%;

    .select-trigger {
      width: 100%;
    }

    .tree-select--wrap {
      position: relative;
      width: 100%;
      height: 36px;
      line-height: 36px;
      font-size: 14px;
      background-color: var(--color-default);
      background-image: none;
      border-radius: 4px;
      display: flex;

      .el-select__single {
        text-indent: 11px;
        line-height: 36px;
        color: var(--iot-font-color-root);
        overflow: hidden;
        width: 92%;
        white-space: nowrap;
        word-break: break-word;
        text-overflow: ellipsis;
      }

      .el-select__tags {
        position: inherit;
        top: inherit;
        transform: none;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 4px 8px;
        width: 100%;

        gap: 6px;

        .el-tag {
          margin: 0 6px 0 2px;
          max-width: 90%;
          height: 22px;

          color: var(--color-text-title);
          background-color: #fafafa;
          border: 1px solid var(--color-text-border);

          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          display: flex;
          align-items: center;

          .el-select__tags-text {
            display: inline-block;
            flex: 1 1 auto;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            transition: margin 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
          }

          .iconfont.icon-Close {
            font-size: 14px;
            color: var(--color-text-secondary);
            transform: scale(0.85);

            margin-left: 4px;
          }
        }
      }

      .el-select-placeholder {
        width: calc(100% - 30px);
        line-height: 36px;
        text-indent: 11px;
        color: rgba(0, 0, 0, 0.25);
      }
    }

    .el-input {
      .el-input__suffix {
        z-index: 9;
        right: 8px;
        background-color: #fff;

        .el-input__icon {
          width: 16px;
        }

        &-inner.arrow-icon {
          right: 0;
          display: inline-block;
          transition: all 233ms;

          i.el-icon {
            position: relative;
            top: 2px;
          }
        }

        &-inner.close-icon {
          width: 16px;
          height: 36px;
          line-height: 36px;
          color: #fff;
          display: none;
          transition: all 233ms;
          align-items: center;

          .iconfont {
            font-size: 17px;
            position: relative;
            top: 2px;
            color: rgba(0, 0, 0, 0.25);
          }
        }

        i {
          color: #c0c4cc;
          line-height: 34px;
        }
      }
    }

    &[disabled='true'] {
      .tree-select--wrap {
        cursor: not-allowed;
        background-color: var(--color-text-background) !important;
      }

      .el-tag,
      .el-input__suffix {
        background-color: transparent !important;
      }
    }
  }
}

.tree-select:not([disabled='true']):hover {
  transition: all 300ms;
  border-color: var(--iot-color-active);

  .el-input__suffix.allow-clear {
    .arrow-icon {
      display: none !important;
      transition: all 233ms;
      i.el-icon {
        position: relative;
        top: 2px;
      }
    }

    .close-icon {
      display: inline-block !important;
      transition: all 233ms;

      &:hover {
        i {
          color: rgba(0, 0, 0, 0.45);
          transition: all 233ms;
        }
      }
    }

    &.popper-visible {
      .arrow-icon {
        display: inline-block !important;
        transition: all 233ms;
      }

      .close-icon {
        display: none !important;
        transition: all 233ms;

        &:hover {
          i {
            font-weight: 600;
            transition: all 233ms;
          }
        }
      }
    }
  }
}

.tree-select-panel {
  padding-bottom: 8px;

  .tree-radio--box {
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .tree-search--box {
    margin: 4px 12px 0;

    input {
      width: 100%;
    }
  }

  .tree-select--box {
    max-height: 280px;
    overflow: auto;
    min-height: 97px;

    &-nodata {
      height: 97px;
      font-size: 14px;

      color: var(--color-text-disable);
    }

    :deep(.el-tree) {
      .el-tree-virtual-list {
        overflow-x: auto !important;
      }

      .el-tree__empty-block {
        display: none;
      }

      &[disabled='true'] {
        .el-checkbox {
          cursor: not-allowed;
          user-select: none;
        }
      }

      .el-tree-node {
        width: fit-content;
        min-width: 100%;

        .el-checkbox {
          height: 26px;
        }

        .el-tree-node__content {
          height: 26px !important;
          line-height: 26px !important;
        }

        .custom-tree-node {
          height: 26px;
          padding: 2px 8px;
        }

        .custom-tree-node > em {
          font-style: normal !important;
          color: var(--iot-color-active) !important;
        }
      }
    }
  }
}
