<div id="ch-energy-overview">
  <div class="ch-eo-header">
    <h5 class="ch-eo-title">节费率概览</h5>
    <div class="ch-eo-type">
      <div
        v-for="item in energyTypeList"
        class="ch-eo-type-text"
        :class="{'ch-eo-type-select': energySelect === item.value}"
        @click="energyChange(item)"
      >
        {{ item.label }}
      </div>
    </div>
  </div>

  <div class="ch-eo-content" v-if="!sEnergy.empty && sEnergy?.energyDate.length > 0 && !sEnergy.loading">
    <img
      src="@/assets/img/cloud-home/ch-energy-overview/ch-eo-actual.png"
      class="ch-eo-content-bg"
      v-show="energySelect === '0'"
    />
    <img
      src="@/assets/img/cloud-home/ch-energy-overview/ch-eo-target.png"
      class="ch-eo-content-bg"
      v-show="energySelect === '1'"
    />

    <div class="ch-eo-content-info" v-for="(sitem, index) in sEnergy.energyDate" :class="infobg(sitem.rankOrder)">
      <div
        class="ch-eo-content-info-text"
        v-if="energySelect === '1'"
        @mousemove="tooltipChange(sitem, 'differenceRate')"
        @mouseleave="tooltipOut(sitem.rankOrder)"
      >
        {{sitem.differenceRate? sitem.differenceRate: '--'}}<span v-if="sitem.differenceRate">{{sitem.ratioUnit}}</span>
      </div>
      <div
        class="ch-eo-content-info-text"
        @mousemove="tooltipChange(sitem, 'differenceRate')"
        @mouseleave="tooltipOut(sitem.rankOrder)"
        v-else
      >
        {{sitem.savingRate? sitem.savingRate: '--'}}<span v-if="sitem.savingRate">{{sitem.ratioUnit}}</span>
      </div>
      <div class="ch-eo-content-info-value" :class="{'ch-eo-content-info-value-height': energySelect === '0'}">
        <div
          class="ch-eo-content-info-value-text"
          :class="{'ch-eo-content-info-value-text-hideen': energySelect === '0'}"
          v-if="energySelect === '1'"
          @mousemove="tooltipChange(sitem, 'savingRate')"
          @mouseleave="tooltipOut(sitem.rankOrder)"
        >
          实际{{sitem.savingRate ? sitem.savingRate: '--' }}<span v-if="sitem.differenceRate">{{sitem.ratioUnit}}</span>
        </div>
        <div
          class="ch-eo-content-info-value-text"
          :class="{'ch-eo-content-info-value-text-hideen': energySelect === '0'}"
          v-if="energySelect === '1'"
          @mousemove="tooltipChange(sitem, 'targetRate')"
          @mouseleave="tooltipOut(sitem.rankOrder)"
        >
          目标{{ sitem.targetRate !== null && sitem.targetRate !== undefined && sitem.targetRate !== '' ? sitem.targetRate : '--' }}<span v-if="sitem.differenceRate">{{sitem.ratioUnit}}</span>
        </div>
      </div>
      <div
        class="ch-eo-content-info-name"
        @mousemove="tooltipChange(sitem, 'tenantName')"
        @mouseleave="tooltipOut(sitem.rankOrder)"
      >
        {{sitem.tenantName}}
      </div>
    </div>

    <!-- 悬浮 -->
    <div class="tooltip" v-if="tooltipName != null && isTooltip" :style="tooltipPosition">
      <div class="tooltip-bg">
        <span class="tooltip-bg-text">{{tooltipName}}</span>
      </div>
    </div>
  </div>

  <div class="ch-eo-loading" v-if="sEnergy.loading">
    <i></i>
  </div>
  <div class="ch-eo-empty" v-if="(sEnergy.empty || sEnergy?.energyDate.length === 0) && !sEnergy.loading">
    <img src="@/assets/img/cloud-home/ch-energy-overview/ch-eo-empty.svg" />
    <span>暂无数据</span>
  </div>
</div>
