.radio-select-button {
    .radio-select-button-item {
        min-width: 72px;
        max-width: 135px;
        height: 36px;
        line-height: 36px;
        padding: 0px 5px;
        border-radius: 3px;
        font-size: 14px;
        color: var(--iot-font-color-root);
        background-color: var(--iot-color-shadow-primary-1);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: 0px 5px;
        cursor: pointer;
    }

    .btn-selected {
        color: var(--iot-color-active);
        background-color: var(--iot-color-shadow-primary-2);
    }
}