<div class="cd-t-screen" :class="{'cd-t-screen-bg': screenBg, 'cd-t-sreen-first': firstHh, 'no-filter' : !hasFilter}">
  <span>{{ title }}</span>
  <el-popover
    popper-class="cd-ts-popover-dialog"
    placement="bottom-start"
    :width="358"
    :show-arrow="false"
    :offset="10"
    v-model:visible="popoverVisible"
    trigger="click"
    @hide="cancelScreen"
    @show="showPopver"
  >
    <template #reference>
      <div class="cd-ts-popover-div">
        <img
          v-show="hasFilter && (!isActive && !popoverVisible)"
          src="../../../../../assets/images/cost-detail/cd-screen.png"
          alt=""
        />
        <img
          v-show="hasFilter && (isActive || popoverVisible)"
          src="../../../../../assets/images/cost-detail/cd-screen-click.png"
          alt=""
        />
      </div>
    </template>

    <div class="cd-ts-body" v-loading="isLoading">
      <div class="cd-ts-body-list" :class="{ none: isEmpty }">
        <el-input
          v-model="filterText"
          class="w-50 m-2"
          size="small"
          placeholder="请输入搜索内容"
          :suffix-icon="Search"
          v-inputFilter:search="{ allowSpace: false, regularStr: regularStr}"
          @input="handleDataFilter"
        />
        <div class="cd-ts-body-all">
          <el-checkbox
            v-if="!isLoading"
            v-model="isAllChecked"
            :indeterminate="indeterminate"
            @change="selectAll($event)"
            @mouseenter="enter(index)"
            @mouseleave="leave"
          >
            <span>
              <span>全选</span>
              <span> I </span>
              <span @click.prevent="selectInvert">反选</span>
            </span>
            <!-- 清除筛选按钮 -->
            <span placement="screen" v-if="selectIndex == null " @click.prevent="clearSelect">清除筛选</span>
          </el-checkbox>
          <el-checkbox-group v-model="checkedList" @change="handleSelect">
            <el-checkbox
              v-for="(item, index) in showList"
              :key="index"
              :label="item"
              @mouseenter="enter(index)"
              @mouseleave="leave()"
            >
              <div class="flex-row-start-center">
                <span>{{ mapCostTypeName(item) }}</span>
                <span class="count">（{{ mapItemCount(item) }}）</span>
              </div>
              <span v-if="selectIndex === index" placement="screen" @click.prevent="oneSelect(item)">仅筛选此项</span>
            </el-checkbox>
          </el-checkbox-group>
        </div>
        <hr />
        <el-row type="flex" justify="end">
          <el-button type="primary" :disabled="isLoading" @click="hidePopver">确认</el-button>
          <el-button @click="cancelScreen">取消</el-button>
        </el-row>
      </div>
      <div class="cd-ts-body-empty" :class="{ none: !isEmpty }">
        <img src="@/assets/images/common/common-data-none.svg" alt="暂无数据" />
        <span>暂无数据</span>
      </div>
    </div>
  </el-popover>
</div>
