#work-plan-form-detail {
  & > .detail-card-container {
    padding-left: 12px;

    display: grid;
    grid-template-columns: repeat(2, minmax(464px, calc(50% - 50px)));
    place-content: stretch space-between;
    place-items: start stretch;

    & > .detail-card {
      border-radius: 4px;
      box-shadow: 0px 1px 7px 0px rgba(38, 38, 38, 0.1);

      &.form-item-container {
        padding: 24px;

        position: relative;

        display: grid;
        grid-template-columns: 56px auto;
        place-content: start stretch;
        place-items: center stretch;
        gap: 16px 8px;

        & > .detail-card-delete {
          width: 24px;
          height: 24px;

          position: absolute;
          top: -32px;
          right: 0px;

          cursor: pointer;
        }

        & > .detail-card-num {
          width: 24px;
          height: 24px;

          background-color: rgba(24, 144, 255, 1);
          border-radius: 2px;
          color: #fff;
          text-align: center;

          position: absolute;
          top: -32px;
          left: 0px;
        }

        & > .detail-measure-container {
          max-width: 400px;

          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 4px;
        }

        & > .detail-timesheet-day-container {
          max-width: 400px;

          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 8px;
        }

        & > .detail-timesheet-week {
          &-label {
            align-self: flex-start;
          }
          &-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: center;
            gap: 12px 8px;
          }
        }

        & > .detail-timesheet-type-container {
          display: flex;
          justify-content: flex-start;
          align-items: center;
        }

        & > .detail-timesheet-month {
          &-label {
            align-self: flex-start;

            transform: translateY(7px);
          }
          &-container {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 8px;

            & > .timesheet-month-single {
              &-label {
                align-self: flex-start;

                transform: translateY(7px);
              }
              &-container {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: center;
                gap: 20px 16px;
              }
            }

            & > .timesheet-month-range-container {
              max-width: 364px;

              display: flex;
              justify-content: space-between;
              align-items: center;
              gap: 8px;
            }
          }
        }

        & > .detail-timesheet-special {
          &-label {
            align-self: flex-start;

            transform: translateY(7px);
          }
          &-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: center;
            gap: 20px 16px;

            & > .timesheet-special-date-container {
              position: relative;
            }
          }
        }

        .form-icon-button-delete {
          position: absolute;
          top: -8px;
          right: -8px;
        }

        .form-textarea {
          &-label {
            align-self: flex-start;
          }
          &-container {
            max-width: 660px;

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: stretch;

            & > .textarea-counter {
              align-self: flex-end;
              height: 0px;

              transform: translate(-10px, -22px);

              &::after {
                content: attr(data-count);

                height: 22px;

                color: fade(black, 25%);

                line-height: 22px;
                font-size: 14px;
                font-weight: 400;
              }
            }
          }
        }
      }

      &.detail-add-button {
        height: 62px;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;

        color: rgba(24, 144, 255, 1);
        cursor: pointer;

        & > i {
          font-size: 16px;
        }

        &.disabled {
          color: fade(black, 45%);
          background-color: fade(black, 4%);
          cursor: not-allowed;
        }
      }
    }
  }
}
