<div id="work-plan-form-detail">
  <div>
    <h5 tag>计划细则</h5>
  </div>

  <div class="detail-card-container">
    <div
      *ngFor="let detail of item.details; index as i"
      class="detail-card form-item-container mt44"
    >
      <span class="detail-card-num">
        {{ i + 1 }}
      </span>
      <img
        *ngIf="!isReadonly"
        class="detail-card-delete"
        [class.none]="!canShowDelete"
        src="assets/icon/work-plan/wpfd-card-delete.svg"
        alt="delete"
        title="删除"
        nz-popconfirm
        nzPopconfirmPlacement="topRight"
        [nzPopconfirmOverlayStyle]="{ transform: 'translateX(7px)' }"
        [nzPopconfirmArrowPointAtCenter]="true"
        [nzPopconfirmBackdrop]="true"
        nzPopconfirmTitle="确认删除该计划细则？"
        nzOkText="确定"
        (nzOnConfirm)="toDeleteDetail(i)"
      />

      <label>执行措施</label>
      <div class="detail-measure-container">
        <nz-select
          style="width: 140px"
          flexible="false"
          [attr.error]="isInvalid && null === detail.system"
          nzPlaceHolder="所属系统"
          [nzOptionHeightPx]="36"
          [nzBackdrop]="true"
          [nzDisabled]="isReadonly"
          [(ngModel)]="detail.system"
          (ngModelChange)="onSelectSystem(detail)"
        >
          <nz-option
            *ngFor="let option of systemOptions"
            [nzLabel]="option.label"
            [nzValue]="option.value"
          ></nz-option>
        </nz-select>

        <nz-select
          flexible="true"
          [attr.error]="isInvalid && !detail.measure"
          nzPlaceHolder="请选择措施"
          [nzOptionHeightPx]="36"
          [nzBackdrop]="true"
          [nzDisabled]="isReadonly"
          [(ngModel)]="detail.measure"
          (ngModelChange)="onSelectMeasure(detail)"
          (nzOnSearch)="setItem($event, i)"
          [nzShowSearch]="detail.showSearch"
        >
          <nz-option
            *ngFor="let option of detail.measureOptions"
            [nzLabel]="option.label"
            [nzValue]="option.value"
          ></nz-option>
        </nz-select>
      </div>

      <!-- 每日、工作日的执行时间 -->
      <label *ngIf="canShowDayTimesheet">执行时间</label>
      <div *ngIf="canShowDayTimesheet" class="detail-timesheet-day-container">
        <nz-time-picker
          #beginTimePicker
          flexible="true"
          [attr.error]="isInvalid && !detail.timesheet[0]?.begin"
          nzPlaceHolder="开始时间"
          nzFormat="HH:mm"
          [nzBackdrop]="true"
          [nzDisabled]="isReadonly"
          [nzDisabledHours]="mapHoursAfterTime(detail.timesheet[0].end)"
          [nzDisabledMinutes]="mapMinutesAfterTime(detail.timesheet[0].end)"
          [(ngModel)]="detail.timesheet[0].begin"
          (nzOpenChange)="onCheckTimeBegin(beginTimePicker, detail)"
        ></nz-time-picker>
        <label>～</label>
        <nz-time-picker
          #endTimePicker
          flexible="true"
          [attr.error]="isInvalid && !detail.timesheet[0]?.end"
          nzPlaceHolder="结束时间"
          nzFormat="HH:mm"
          [nzBackdrop]="true"
          [nzDisabled]="isReadonly"
          [nzDisabledHours]="mapHoursBeforeTime(detail.timesheet[0].begin)"
          [nzDisabledMinutes]="mapMinutesBeforeTime(detail.timesheet[0].begin)"
          [(ngModel)]="detail.timesheet[0].end"
          (nzOpenChange)="onCheckTimeEnd(endTimePicker, detail)"
        ></nz-time-picker>
      </div>

      <!-- 每周的执行时间 -->
      <label
        *ngIf="canShowWeekTimesheet"
        class="detail-timesheet-week-label"
        [attr.danger]="isInvalid && !detail.timesheet[0]?.execution?.length"
      >
        执行时间
      </label>
      <nz-checkbox-wrapper
        *ngIf="canShowWeekTimesheet"
        class="detail-timesheet-week-container"
        (nzOnChange)="onSelectWeekDay(detail, $event)"
      >
        <div>
          <label
            *ngFor="let option of workdayOptions"
            nz-checkbox
            [nzValue]="option.value"
            [nzDisabled]="isReadonly"
            [ngModel]="
              mapWeekDayCheckState(detail.timesheet[0].execution, option.value)
            "
          >
            {{ option.label }}
          </label>
        </div>
        <div>
          <label
            *ngFor="let option of weekendOptions"
            nz-checkbox
            [nzValue]="option.value"
            [nzDisabled]="isReadonly"
            [ngModel]="
              mapWeekDayCheckState(detail.timesheet[0].execution, option.value)
            "
          >
            {{ option.label }}
          </label>
        </div>
      </nz-checkbox-wrapper>

      <!-- 每月的执行时间 -->
      <label *ngIf="canShowMonthTimesheet">执行方式</label>
      <div
        *ngIf="canShowMonthTimesheet"
        class="detail-timesheet-type-container"
      >
        <nz-radio-group
          [nzDisabled]="isReadonly"
          [(ngModel)]="detail.timesheet[0].type"
          (ngModelChange)="onSelectTimeType(detail)"
        >
          <label
            *ngFor="let option of typeOptions"
            nz-radio
            [nzValue]="option.value"
            >{{ option.label }}</label
          >
        </nz-radio-group>
        <i
          info
          nz-icon
          nzType="question-circle"
          nzTheme="outline"
          nz-tooltip
          nzTooltipPlacement="top"
          nzTooltipTitle="举例：如每月15日-20日期间任意一天完成催缴即可，则可设置每月15日~20日延续执行，任意日完成任务后则不继续发该项任务。"
        ></i>
      </div>

      <label
        *ngIf="canShowMonthTimesheet"
        class="detail-timesheet-month-label mt8"
        >执行时间</label
      >
      <div
        *ngIf="canShowMonthTimesheet"
        class="detail-timesheet-month-container mt8"
      >
        <label class="timesheet-month-single-label">每月</label>
        <div
          *ngIf="mapSingleInputVisibility(detail.timesheet[0].type)"
          class="timesheet-month-single-container"
        >
          <nz-input-group
            *ngFor="
              let time of assertTimesheetAsMonth(detail.timesheet);
              index as timeIndex
            "
            style="width: 125px"
            nzSuffix="日"
            [attr.error]="isInvalid && !time.begin"
          >
            <input
              nz-input
              placeholder="1～31整数值"
              maxlength="2"
              [disabled]="isReadonly"
              [(ngModel)]="time.begin"
              emsInputFilter_ExcludeNumber
              [emsInputFilterNumberConfig]="{ integer: 2, decimal: 0 }"
              [(emsInputFilterModel)]="time.begin"
              emsInputValidator_Number
              [emsInputValidatorNumberConfig]="{ min: 1, max: 31 }"
              (emsInputValidatorVerify)="onCheckSingleDay($event, time)"
              (blur)="onCheckSingleDayRepeat(detail, timeIndex)"
            />
            <i
              *ngIf="timeIndex"
              class="form-icon-button-delete"
              [class.none]="isReadonly"
              button
              danger
              superscript
              nz-icon
              nzType="close-circle"
              nzTheme="fill"
              (click)="toDeleteSingleDay(detail, timeIndex)"
            ></i>
          </nz-input-group>
          <i
            [class.none]="isReadonly || detail.timesheet.length > 30"
            button
            nz-icon
            nzType="plus-circle"
            nzTheme="fill"
            (click)="toAddSingleDay(detail)"
          ></i>
        </div>
        <div
          *ngIf="mapRangeInputVisibility(detail.timesheet[0].type)"
          class="timesheet-month-range-container"
        >
          <nz-input-group
            flexible="true"
            nzSuffix="日"
            [attr.error]="isInvalid && !detail.timesheet[0].begin"
          >
            <input
              nz-input
              placeholder="1～31整数值"
              maxlength="2"
              [disabled]="isReadonly"
              [(ngModel)]="assertTimesheetAsMonth(detail.timesheet)[0].begin"
              emsInputFilter_ExcludeNumber
              [emsInputFilterNumberConfig]="{ integer: 2, decimal: 0 }"
              [(emsInputFilterModel)]="
                assertTimesheetAsMonth(detail.timesheet)[0].begin
              "
              emsInputValidator_Number
              [emsInputValidatorNumberConfig]="{
                min: 1,
                max: +detail.timesheet[0].end || 31
              }"
              (emsInputValidatorVerify)="
                onCheckDayBegin($event, detail.timesheet[0])
              "
            />
          </nz-input-group>
          <label>～</label>
          <nz-input-group
            flexible="true"
            nzSuffix="日"
            [attr.error]="isInvalid && !detail.timesheet[0].end"
          >
            <input
              nz-input
              placeholder="1～31整数值"
              maxlength="2"
              [disabled]="isReadonly"
              [(ngModel)]="assertTimesheetAsMonth(detail.timesheet)[0].end"
              emsInputFilter_ExcludeNumber
              [emsInputFilterNumberConfig]="{ integer: 2, decimal: 0 }"
              [(emsInputFilterModel)]="
                assertTimesheetAsMonth(detail.timesheet)[0].end
              "
              emsInputValidator_Number
              [emsInputValidatorNumberConfig]="{
                min: +detail.timesheet[0].begin || 1,
                max: 31
              }"
              (emsInputValidatorVerify)="
                onCheckDayEnd($event, detail.timesheet[0])
              "
            />
          </nz-input-group>
        </div>
      </div>

      <!-- 特殊时间的执行时间 -->
      <label
        *ngIf="canShowSpecialTimesheet"
        class="detail-timesheet-special-label mt8"
        >执行时间</label
      >
      <div
        *ngIf="canShowSpecialTimesheet"
        class="detail-timesheet-special-container mt8"
      >
        <div
          *ngFor="
            let day of assertTimesheetAsSpecial(detail.timesheet)[0].execution;
            index as dateIndex
          "
          class="timesheet-special-date-container"
        >
          <nz-date-picker
            style="width: 140px"
            [attr.error]="isInvalid && !day.date"
            [nzBackdrop]="true"
            [nzDisabled]="isReadonly"
            [nzDisabledDate]="
              mapRepeatSpecialDate(detail.timesheet[0].execution, dateIndex)
            "
            [(ngModel)]="day.date"
          ></nz-date-picker>
          <i
            *ngIf="dateIndex"
            class="form-icon-button-delete"
            [class.none]="isReadonly"
            button
            danger
            superscript
            nz-icon
            nzType="close-circle"
            nzTheme="fill"
            (click)="toDeleteSpecialDate(detail, dateIndex)"
          ></i>
        </div>
        <i
          [class.none]="isReadonly || detail.timesheet[0].execution.length > 49"
          button
          nz-icon
          nzType="plus-circle"
          nzTheme="fill"
          (click)="toAddSpecialDate(detail)"
        ></i>
      </div>

      <label class="form-textarea-label">措施描述</label>
      <div class="form-textarea-container">
        <textarea
          style="height: 88px"
          placeholder="请输入措施描述（选填）"
          maxlength="2000"
          [readonly]="isReadonly"
          [(ngModel)]="detail.description"
          emsInputFilter_NoLine
          [(emsInputFilterModel)]="detail.description"
          (input)="autoScroll($event)"
        ></textarea>
        <span
          class="textarea-counter"
          [attr.data-count]="mapDescriptionCount(detail.description)"
        ></span>
      </div>
    </div>

    <div
      *ngIf="!isReadonly"
      class="detail-card detail-add-button mt44"
      [class.disabled]="!item.period"
      (click)="toAddDetail()"
    >
      <i nz-icon nzType="plus" nzTheme="outline"></i>
      <span>添加计划细则</span>
    </div>
  </div>
</div>
