@import '../common.less';

.ea-dc-balance-anomaly {
  &-data {
    .anomaly-ico {
      top: 8px;
    }

    .num {
      text-align: left;
      line-height: 30px;

      .bold {
        padding: 0 4px;
        max-width: 280px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}
