.bvm-edit-dialog {
  :deep(.el-form-item__label) {
    width: 150px !important;
  }

  :deep(.el-date-editor--date) {
    width: 100%;
  }

  :deep(.el-date-editor--month) {
    width: 100%;
  }

  :deep(.el-dialog__footer) {
    text-align: right !important;
  }

  .el-form-item {
    margin-right: 16px !important;
    margin-bottom: 14px !important;
  }
}
