@import './shared/color.less';
@import './shared/parameter.less';

@import './module/button.less';
@import './module/icon.less';
@import './module/input.less';
@import './module/page.less';
@import './module/table.less';
@import './module/text.less';

/* 全局元素默认样式控制 */
* {
  /* 布局 */
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;

  /* 外观 */
  outline: none;

  /* 文本 */
  line-height: 22px;
  font-size: 14px;
  font-weight: var(--param-font-regular);
  word-break: keep-all;
  white-space: nowrap;

  /* 滚动条 -Firefox */
  scrollbar-width: thin;
}
/* 滚动条 -Chrome */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
*::-webkit-scrollbar-thumb {
  background-color: var(--color-scrollbar);
  border-radius: 4px;

  transition-duration: var(--param-transition-time);
}
*::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-scrollbar-hover);
}
*::-webkit-scrollbar-thumb:active {
  background-color: var(--color-scrollbar-active);
}
*::-webkit-scrollbar-track {
  background: transparent;
}

/* 全局元素状态样式控制 */
/* 激活状态 */
*[active]:not([active='false']),
*[active]:not([active='false']) * {
  color: var(--color-primary);
}

/* 危险状态 */
*[danger]:not([danger='false']),
*[danger]:not([danger='false']) * {
  color: var(--color-danger);
}

/* 禁用状态 */
*:disabled,
*[disabled]:not([disabled='false']),
*[disabled]:not([disabled='false']) * {
  color: var(--color-text-disable);
  cursor: not-allowed;
}
