<div class="energy-balance">
  <page-common :title="'能流平衡'" :isSubHead="false" :showSearch="true">
    <template v-slot:pageSubTitle>
      <el-tooltip effect="dark" popper-class="subtitle-popper" placement="bottom">
        <template #content>
          <div style="white-space: normal; word-break: break-all">
            说明：该功能通过统计父级回路能源消耗与子级回路能源消耗总和的差值，来判断该差值是否在正常误差范围内（正常线损），进而方便定位和监测回路的故障。
          </div>
        </template>
        <img class="ml9" src="../../../assets/img/energy-anomaly/ea-question-mark.svg" />
      </el-tooltip>
    </template>
    <template v-slot:pageSearch>
      <BalanceSearchForm
        @query="onPageFormQuery"
        @reset="onReset"
        @updateForm="onUpdateForm"
        @error="onError"
        v-model:dailyRatioFlag="dailyRatioFlag"
      ></BalanceSearchForm>
      <div class="box">
        <div class="box_left">
          <div v-if="differenceFlag">
            <span class="name">总分差值大于</span>
            <el-input
              v-model="totalRatio"
              style="width: 100px"
              placeholder="数字"
              v-inputFilter:number="{ integral: 5, decimal: 2 }"
            >
              <template #suffix>
                <i>%</i>
              </template>
            </el-input>
            <el-tooltip
              class="item"
              effect="dark"
              content="默认筛选总分差值大于5%的节点进行角标着色"
              placement="bottom"
            >
              <img class="question_mark" src="../../../assets/img/energy-anomaly/ea-question-mark.svg" />
            </el-tooltip>
          </div>
          <div style="display: inline-block" v-show="dailyRatioFlag">
            <span class="name">日增长率大于</span>
            <el-input
              v-model="dailyRatio"
              style="width: 100px"
              placeholder="数字"
              v-inputFilter:number="{ integral: 5, decimal: 2 }"
            >
              <template #suffix>
                <i>%</i>
              </template>
            </el-input>
            <el-tooltip class="item" effect="dark" placement="bottom">
              <template #content>
                <div style="white-space: normal; word-break: break-all; font-size: 14px">
                  日增长率：对比所选日期的前一日的能耗增长率
                </div>
                <div style="white-space: normal; word-break: break-all; font-size: 14px">
                  筛选日增长率：默认筛选日增长率绝对值大于30%的节点进行角标着色，开始日期和结束日期超过1天无“筛选日增长率”功能
                </div>
              </template>
              <img class="question_mark" src="../../../assets/img/energy-anomaly/ea-question-mark.svg" />
            </el-tooltip>
          </div>
          <button primary @click="onDataSourceFilter" v-if="differenceFlag || dailyRatioFlag">筛选</button>
        </div>
        <div class="box_right">
          <switch-button
            :switchItems="directions"
            :modelValue="direction"
            @switch-button-change="onDireactionChange"
          ></switch-button>
        </div>
      </div>
    </template>
    <template v-slot:pageContent>
      <div class="energy-balance__chart" v-loading="pageLoading">
        <G6ChartView
          v-if="!loadError"
          ref="chartRef"
          :dataSource="dataSource"
          :totalRatio="totalRatio"
          :dailyRatio="dailyRatio"
          :dailyRatioFlag="dailyRatioFlag"
          :differenceFlag="differenceFlag"
          :direction="direction"
          :queryParams="queryParams"
        ></G6ChartView>
        <no-data v-if="loadError && !pageLoading" :title="errorMessage"></no-data>
      </div>
    </template>
  </page-common>
</div>
