<div id="freezer-single-benchmarking">
  <h5>能效对标</h5>

  <nz-spin class="ml12" flexible="true" [nzSpinning]="isLoading">
    <div *ngIf="!isEmpty" class="benchmarking-chart-container">
      <label>能效标准</label>
      <label>当前能效</label>

      <div class="benchmarking-chart-axis-container" [style.border-image]="colorAxis">
        <label [style.color]="colorLow">低能耗</label>
        <label [style.color]="colorHigh">高能耗</label>
      </div>
      <div class="benchmarking-chart-bar-list">
        <ng-container *ngFor="let standard of standards; index as i">
          <div class="benchmarking-chart-bar-container bar-standard" [style.color]="colors[i]">
            <div
              class="benchmarking-chart-bar"
              [ngStyle]="{ width: mapStandardBarWidth(i, 21), 'background-color': colors[i] }"
            >
              <span
                class="benchmarking-chart-bar-value"
                nz-tooltip
                nzTooltipPlacement="bottom"
                [nzTooltipArrowPointAtCenter]="true"
                [nzTooltipTitle]="standard.value"
              >
                {{ standard.value }}
              </span>
              <span class="benchmarking-chart-bar-level">{{ mapBenchmarkRank(standard.level) }}</span>
            </div>
          </div>
          <div
            class="benchmarking-chart-bar-container bar-current"
            [class.ghost]="standard.level !== current.level"
            [style.color]="colors[i]"
          >
            <div class="benchmarking-chart-bar" [style.background-color]="colors[i]">
              <span class="benchmarking-chart-bar-level">{{ mapBenchmarkRank(standard.level) }}</span>
              <span
                class="benchmarking-chart-bar-value"
                nz-tooltip
                nzTooltipPlacement="bottom"
                [nzTooltipArrowPointAtCenter]="true"
                [nzTooltipTitle]="current.value"
              >
                {{ current.value }}
              </span>
            </div>
          </div>
        </ng-container>
      </div>
    </div>

    <div class="empty-module" [class.none]="!isEmpty || isLoading">
      <img src="assets/img/common/common-config-unset.svg" alt="尚未配置" />
      <span>尚未配置冷冻站参数</span>
    </div>
  </nz-spin>
</div>
