// 颜色变量
/* 基础色 */
@color-default: var(--color-default);
@color-hover: var(--color-hover);
@color-active: var(--color-active);
@color-primary: var(--color-primary);
@color-primary-hover: var(--color-primary-hover);
@color-primary-active: var(--color-primary-active);
@color-danger: var(--color-danger);
@color-danger-hover: var(--color-danger-hover);
@color-danger-active: var(--color-danger-active);

/* 功能色 */
@color-error: var(--color-error);
@color-success: var(--color-success);
@color-warning: var(--color-warning);
@color-link: var(--color-link);

/* 文本色 */
@color-text: var(--color-text);
@color-text-title: var(--color-text-title);
@color-text-primary: var(--color-text-primary);
@color-text-secondary: var(--color-text-secondary);
@color-text-disable: var(--color-text-disable);
@color-text-border: var(--color-text-border);
@color-text-divider: var(--color-text-divider);
@color-text-background: var(--color-text-background);

/* 边框 */
@color-box-focus: var(--color-box-focus);

/* 表格 */
@color-table-header: var(--color-table-header);

// 气泡提示框
@color-tooltip-background: fade(black, 70%);
@color-tooltip-scrollbar: fade(white, 25%);

// 模态弹窗
@color-modal-backdrop: fade(black, 30%);
@color-modal-header: @color-table-header;
