::ng-deep .me-batch-import-modal-add > .ant-modal-header,
::ng-deep .me-batch-import-modal > .ant-modal-header {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #edf5fc;
}
::ng-deep .me-batch-import-modal-add .ant-modal-title > div,
::ng-deep .me-batch-import-modal .ant-modal-title > div {
  font-size: 16px;
}
::ng-deep .me-batch-import-modal-add .ant-modal-close > .ant-modal-close-x > i.anticon,
::ng-deep .me-batch-import-modal .ant-modal-close > .ant-modal-close-x > i.anticon {
  font-size: 20px;
}
::ng-deep .ant-modal-close:hover {
  color: rgba(0, 0, 0, 0.65) !important;
}

::ng-deep .me-batch-import-modal-add .ant-modal-body {
  padding: 26px 0px 12px !important;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  .upload-tip {
    position: absolute;
    top: 36px;
    left: 114px;
    transform: none;
  }

  .text-hidden {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .text-gesture {
    cursor: pointer;
  }
}
::ng-deep .me-batch-import-modal .ant-modal-body {
  padding: 26px 20px 12px !important;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  .upload-tip {
    position: absolute;
    top: 36px;
    left: 114px;
    transform: none;
  }

  .text-hidden {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .text-gesture {
    cursor: pointer;
  }
}
::ng-deep .me-batch-import-modal-add .ant-modal-footer,
::ng-deep .me-batch-import-modal .ant-modal-footer {
  border-top: none;
  padding: 20px !important;
  border-top: 0px;
  height: auto !important;
  display: flex;
  // gap: 12px;
  justify-content: flex-end;
}
