// 参数配置变量
/* 字体 */
@param-font-regular: var(--param-font-regular);
@param-font-medium: var(--param-font-medium);
@param-font-bold: var(--param-font-bold);

/* 过渡 */
@param-transition-time: var(--param-transition-time);
