<div class="kpi-manage">
  <page-common title="KPI管理" :showSearch="true">
    <template v-slot:pageSearch>
      <el-form :inline="true" :model="formInline" class="demo-form-inline" @submit.native.prevent>
        <el-form-item label="定额类型">
          <el-select v-model="formInline.chooseTime" @change="onTypeChange">
            <el-option v-for="item in chooseTimeData" :key="item.value" :label="item.label" :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="日期">
          <el-date-picker
            :disabledDate="onDisableDateCb"
            prefix-icon="iconfont icon-Calendar"
            clear-icon="iconfont icon-Close-Circle-Fill"
            v-model="formInline.monthDate1"
            :type="formInline.chooseTime == CHOOSETIME.MONTH ? 'month' : 'year'"
            :clearable="false"
            placeholder="请选择日期"
            @change="onDateChange"
          >
          </el-date-picker>
        </el-form-item>
        <el-form-item label="分析对象">
          <EcaTreeSelect
            v-model:radioValue="formInline.radioValue"
            v-model:modelValue="formInline.analysisObject"
            :placeholder="'请选择分析对象'"
            :multiple="false"
            :showSearch="true"
            width="380px"
            :loading="treeLoading"
            :defaultProps="{ children: 'childTree', label: 'treeName' }"
            :treeData="analysisObjectData"
            :radioData="radioData"
            disabledKey="clickStatus"
            disabledValue="0"
            @tree-radio-change="treeRaidoChange"
          >
          </EcaTreeSelect>
        </el-form-item>
        <el-form-item>
          <button primary @click="onSubmit">查询</button>
          <button @click="onReset">重置</button>
        </el-form-item>
      </el-form>
    </template>
    <template v-slot:pageContent>
      <div class="kpi-manage__container">
        <div style="text-align:right; padding: 16px 0">
          <button primary @click="goNextPage">定额配置</button>
        </div>
        <!-- 循环后台返回数据 -->
        <div v-loading="loading" style="height: 100%;">
          <div v-if="abnormal" class="data-list">
            <div v-for="(item, index) in tableData" :key="index">
              <div style="display: flex;justify-content: space-between;margin-bottom: 19px;" v-show="!loading">
                <module-subhead :title="item.itemTitle"></module-subhead>
              </div>
              <div>
                <!-- 进度条 -->
                <UsingProgress
                  v-if="item?.progress && !loading"
                  :key="keys"
                  title="使用进度"
                  :dateScope="{ startTime: item.progress.startTitle,endTime: item.progress.endTitle }"
                  :consume="item.progress.consume"
                  :ideal="item.progress.ideal"
                  :quota="item.progress.quota"
                  :unit="item.progress.benchUnit"
                  :isHistoryDate="item.progress.isHistoryDate"
                  :quotaTitle="item.progress.benchTitle"
                  :quotaCount="item.progress.benchValue"
                ></UsingProgress>
                <!-- 建议 -->
                <div class="suggestBox" v-if="item?.proposeInfo  && !loading" style="box-shadow: 0 4px 8px 0 #8888">
                  <div class="suggest">建议</div>
                  <div class="suggestion">{{ item.proposeInfo }}</div>
                </div>
                <!-- 趋势分析 -->
                <div class="analysis" style="font-size: 14px; margin: 22px 0 12px" v-show="!loading">
                  趋势分析
                </div>
                <!-- echarts折线图 -->
                <div :class="{ echartsWrap: maxIndex == index ? false : true }" v-show="!loading">
                  <LineCharts
                    :searchDate="searchDate"
                    :echartsData="item.chartInfo"
                    v-if="item.chartDisplay && item?.chartInfo?.legendData?.length"
                  >
                  </LineCharts>
                  <div v-else style="padding-bottom: 16px">
                    <no-data :title="item.chartExceptionMessage"></no-data>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <no-data :title="errorMessage" v-show="!abnormal && !loading"></no-data>
        </div>
      </div>
    </template>
  </page-common>
</div>
