.kpi-manage {
  width: 100%;
  height: 100%;

  .suggestBox {
    border-radius: 4px;

    margin-top: 35px;
    padding: 8px;
  }

  .suggest {
    display: inline-block;
    border-radius: 15px;
    width: 50px;
    height: 20px;
    line-height: 20px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    background-color: #1890ff;
    margin-bottom: 12px;

    // margin:22px 0 0 10px;
  }

  .suggestion {
    font-size: 14px;
    line-height: 22px;
    color: var(--iot-font-color-root);
    max-height: 44px;
    overflow-y: auto;
    word-break: break-all;
    padding-bottom: 20px;
  }

  .analysis {
    color: var(--iot-font-color-deep);
  }

  .echartsWrap {
    border-bottom: 1px solid var(--iot-border-color);
    margin-bottom: 30px;
    //  border-bottom:1px solid rgba(0,0,0,.15);
  }

  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;

    .data-list {
      flex: 1 1 auto;
    }

    > div > :deep(.no-data) {
      flex-grow: 1;
      height: 100%;
    }
  }
}
