<div id="energy-event-table">
  <div class="table-toolbar-container">
    <h5>事件记录</h5>
    <button *ngIf="!type" primary (click)="toExport()">导出</button>
  </div>

  <nz-spin class="mt12" [nzSpinning]="isLoading">
    <table style="width: 100%">
      <thead>
        <tr>
          <th style="width: 60px">序号</th>
          <th>事件标题</th>
          <th>事件类型</th>
          <th>{{ isAirConditioner ? "原定时间" : "开始时间" }}</th>
          <th>{{ isAirConditioner ? "调整时间" : "结束时间" }}</th>
          <th>事件详情</th>
          <th style="width: 14%">能耗变化量（{{ unit ?? "--" }}）</th>
          <th style="width: 12%">成本变化（元）</th>
          <th>录入时间</th>
          <th *ngIf="canShowOperateColumn" style="width: 150px">操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of list">
          <td>{{ item.index }}</td>
          <td
            ellipsis
            nz-tooltip
            nzTooltipPlacement="bottom"
            nzTooltipOverlayClassName="tooltip-table"
            [nzTooltipArrowPointAtCenter]="true"
            [nzTooltipTitle]="item.title"
          >
            {{ item.title }}
          </td>
          <td
            ellipsis
            nz-tooltip
            nzTooltipPlacement="bottom"
            nzTooltipOverlayClassName="tooltip-table"
            [nzTooltipArrowPointAtCenter]="true"
            [nzTooltipTitle]="mapEventType(item.type)"
          >
            {{ mapEventType(item.type) }}
          </td>
          <td
            *ngIf="!isAirConditioner"
            ellipsis
            nz-tooltip
            nzTooltipPlacement="bottom"
            nzTooltipOverlayClassName="tooltip-table"
            [nzTooltipArrowPointAtCenter]="true"
            [nzTooltipTitle]="item.begin | date : 'yyyy-MM-dd'"
          >
            {{ (item.begin | date : "yyyy-MM-dd") || "--" }}
          </td>
          <td
            *ngIf="isAirConditioner"
            ellipsis
            nz-tooltip
            nzTooltipPlacement="bottom"
            nzTooltipOverlayClassName="tooltip-table"
            [nzTooltipArrowPointAtCenter]="true"
            [nzTooltipTitle]="item.originalTime | date : 'yyyy-MM-dd'"
          >
            {{ item.originalTime | date : "yyyy-MM-dd" }}
          </td>
          <td
            *ngIf="!isAirConditioner"
            ellipsis
            nz-tooltip
            nzTooltipPlacement="bottom"
            nzTooltipOverlayClassName="tooltip-table"
            [nzTooltipArrowPointAtCenter]="true"
            [nzTooltipTitle]="item.end | date : 'yyyy-MM-dd'"
          >
            {{ (item.end | date : "yyyy-MM-dd") || "--" }}
          </td>
          <td
            *ngIf="isAirConditioner"
            ellipsis
            nz-tooltip
            nzTooltipPlacement="bottom"
            nzTooltipOverlayClassName="tooltip-table"
            [nzTooltipArrowPointAtCenter]="true"
            [nzTooltipTitle]="item.adjustTime | date : 'yyyy-MM-dd'"
          >
            {{ item.adjustTime | date : "yyyy-MM-dd" }}
          </td>
          <td
            ellipsis
            nz-tooltip
            nzTooltipPlacement="bottom"
            nzTooltipOverlayClassName="tooltip-table"
            [nzTooltipArrowPointAtCenter]="true"
            [nzTooltipTitle]="titleTemplate"
          >
            <ng-template #titleTemplate let-thing>
              <span
                style="white-space: normal"
                [innerHTML]="item.description || '--'"
              ></span>
            </ng-template>
            <span [innerHTML]="item.description || '--'"></span>
          </td>
          <td
            ellipsis
            nz-tooltip
            nzTooltipPlacement="bottom"
            nzTooltipOverlayClassName="tooltip-table"
            [nzTooltipArrowPointAtCenter]="true"
            [nzTooltipTitle]="item.consumption"
          >
            {{ item.consumption || "--" }}
          </td>
          <td
            ellipsis
            nz-tooltip
            nzTooltipPlacement="bottom"
            nzTooltipOverlayClassName="tooltip-table"
            [nzTooltipArrowPointAtCenter]="true"
            [nzTooltipTitle]="item.cost"
          >
            {{ item.cost || "--" }}
          </td>
          <td
            ellipsis
            nz-tooltip
            nzTooltipPlacement="bottom"
            nzTooltipOverlayClassName="tooltip-table"
            [nzTooltipArrowPointAtCenter]="true"
            [nzTooltipTitle]="item.entryTime"
          >
            {{ item.entryTime }}
          </td>
          <td *ngIf="canShowOperateColumn">
            <div class="button-group">
              <button
                *ngIf="mapOperateButtonVisibility(item.type)"
                text
                [disabled]="isLoading"
                (click)="presentEditEventModal(item.id)"
              >
                编辑
              </button>
              <button
                *ngIf="mapOperateButtonVisibility(item.type)"
                text
                danger
                [disabled]="isLoading"
                nz-popconfirm
                nzPopconfirmPlacement="topRight"
                [nzPopconfirmOverlayStyle]="{ transform: 'translateX(7px)' }"
                [nzPopconfirmArrowPointAtCenter]="true"
                [nzPopconfirmBackdrop]="true"
                nzPopconfirmTitle="确认删除该事件吗？"
                nzOkText="确定"
                (nzOnConfirm)="toDelete(item.id)"
              >
                删除
              </button>
              <button
                *ngIf="mapDetailButtonVisibility(item.type)"
                text
                [disabled]="isLoading"
                (click)="presentDetailModal(item.id)"
              >
                详情
              </button>
              <button
                *ngIf="!type && !mapOperateButtonVisibility(item.type)"
                class="ghost"
                text
              >
                删除
              </button>
              <button
                *ngIf="!type && !mapOperateButtonVisibility(item.type)"
                class="ghost"
                text
              >
                编辑
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="empty-table" [class.none]="list?.length || isLoading">
      <img src="assets/img/common/common-data-none.svg" alt="暂无数据" />
      <span>暂无数据</span>
    </div>
  </nz-spin>

  <ems-pagination class="mt12"></ems-pagination>
</div>
