.kpi-quota-configuration {
  :deep(.el-form) {
    em {
      width: 22px;
      text-align: center;
    }
  }

  .update {
    color: #1890ff;
  }

  .delete-span {
    color: #f5222d;
  }

  :deep(.cell) {
    height: 26px !important;
    line-height: 26px !important;
  }
}
