.ec-add-dialog {
  :deep(.el-form-item) {
    margin-right: 0 !important;
   
  }

  .el-select {
    width: 100%;
  }

  :deep(.el-input--prefix .el-input__inner) {
    padding-left: 11px !important;
  }
  :deep(.ead-form-item .el-form-item__content) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    .ead-energy-unit {   
      text-align: right;
    }
  }
 
}
