.module-subhead {
    display: flex;
    align-items: center;
    width: fit-content;

    .mudule-subhead-icon {
        height: 16px;
        width: 0;
        border-left: 4px solid #1890ff;
        margin-right: 8px;
        margin-bottom: 1px;
    }

    .mudule-subhead-text {
        line-height: 22px;
        font-size: 14px;
        color: var(--subhead-title-color);
        font-weight: 600;
    }
}