<h-component-container :headTitle="title">
  <template v-slot:header>
    <button text @click="linkToDetailPage">详情</button>
  </template>
  <template v-slot:box>
    <div class="home-key-area-analysis">
      <div class="kaa-select--wrap">
        <div class="kaa-query-container">
          <span class="kaa-query-type">能耗类型</span>
          <span class="kaa-query-treeSelect">
            <tree-select
              :placeholder="'请选择能耗类型'"
              v-model:modelValue="formSearch.energyType"
              width="100%"
              :nodeKey="'code'"
              :treeData="energyTypeData"
              :allowClear="false"
              :autoWidth="true"
              :defaultProps="{ children: 'childEnergyCode', label: 'name' }"
              @select-change="treeSelectChange"
            >
            </tree-select>
          </span>
          <span class="kaa-query-type">区域选择</span>
          <span class="kaa-query-treeSelect">
            <tree-select
              :placeholder="'请选择区域'"
              v-model:modelValue="formSearch.areaChoose"
              width="100%"
              nodeKey="id"
              :autoWidth="true"
              :treeData="areaChooseData"
              :allowClear="false"
              :disabledProps="disabledProps"
              :defaultProps="FGetElTreeDefaultProps('childTree', 'treeName')"
              @select-change="areaTreeSelectChange"
            >
            </tree-select>
          </span>
        </div>
      </div>
      <div class="kaa-card--box" v-loading="isCardLoading" style="min-height:290px">
        <template v-if="!isCardLoading && !isCardNoData && !isCardNoConfig">
          <div class="kaa-card" v-for="(item, index) in cardData" :key="index">
            <key-area-analysis-card :dataInfo="item" :index="index"></key-area-analysis-card>
          </div>
          <h6 class="kaa-card--box-tip">*截至昨日数据</h6>
        </template>
        <!-- 无数据时 start -->
        <no-data :title="isCardNoDataMsg" v-if="!isCardLoading && isCardNoData && !isCardNoConfig"></no-data>
        <!-- 无数据时 end -->
        <!-- 无配置时 start -->
        <no-data
          :imgUrl="noConfigImg"
          :title="isCardNoConfigMsg"
          v-if="!isCardLoading && !isCardNoData && isCardNoConfig"
        >
        </no-data>
        <!-- 无配置时 end -->
      </div>
    </div>
  </template>
</h-component-container>
