<div class="ems_events-modal">
  <app-common-head title="新增事件" (back)="goBack()"  *ngIf="footerShow && !isGoBackPower"></app-common-head>
  <div class="ems_events-modal-content">
    <div class="" [ngClass]="{'modal-content-group-list': footerShow && !isGoBackPower}">
      <div class="modal-group-header"  *ngIf="footerShow && !isGoBackPower">
        <label class="label-header">事件类型</label>
        <label class="label-event-type-name">{{
          modalParam.eventTypeName
        }}</label>
      </div>
      <div class="modal-group-body" [ngClass]="{'modal-group-body-footer': footerShow && !isGoBackPower}">
        <ion-content class="modal-content" slot="fixed" no-bounce>
          <div class="modal-content-list">
            <app-energy-consumption-area-modal
              *ngIf="modalParam.id === '2'"
              (imageChangeClick)="imgChnage($event)"
              (CalendarDom)="calendarShow($event)"
              [isGoBack]="isGoBack"
              (clickArea)="radioAreaShow($event)"
            >
            </app-energy-consumption-area-modal>

            <app-power-device-change-modal
              *ngIf="'3' === modalParam.id"
              (imageChangeClick)="imgChnage($event)"
              (CalendarPowerDom)="calendarPowerShow($event)"
              [isGoBack]="isGoBackPower"
              (clickType)="changeType($event)"
            >
            </app-power-device-change-modal>

            <app-regional-business-adjustment-modal
              *ngIf="'5' === modalParam.id"
              (onToggleModal)="handleModalState($event)"
            ></app-regional-business-adjustment-modal>

            <app-air-condition-supply-adjustment-modal
              *ngIf="'6' === modalParam.id"
              (airConditionModal)="airConditionOperation($event)"
            ></app-air-condition-supply-adjustment-modal>

            <app-extra-modal
              *ngIf="'7' === modalParam.id"
              (onToggleModal)="handleModalState($event)"
            ></app-extra-modal>
          </div>
        </ion-content>
      </div>
    </div>
  </div>
  <ion-footer
    class="ems_events-modal-footer"
    *ngIf="footerShow && !isGoBackPower"
  >
    <ion-button
      size="large"
      class="footer-btn"
      type="submit"
      [style.--box-shadow]="'none'"
      (click)="doSave()"
    >
      保存
    </ion-button>
  </ion-footer>
</div>
