.ems_events-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 1);
  .ems_events-modal-content {
    clear: both;
    background-color: rgba(255, 255, 255, 1);
    .modal-content-group-list {
      padding-left: 15px;
    }
    .modal-group-header {
      height: 62px;
      line-height: 62px;
      box-shadow: inset 0px -0.5px 0px 0px rgba(34, 34, 34, 0.1);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 15px;
      .label-header {
        height: 22px;
        line-height: 22px;
        color: rgba(34, 34, 34, 0.8);
        font-size: 16px;
        text-align: left;
      }
      .label-event-type-name {
        height: 22px;
        color: rgba(34, 34, 34, 0.5);
        font-size: 16px;
        text-align: right;
      }
    }
    .modal-group-body-footer { 
      height: calc(100vh - 188px) !important;
    }  
    .modal-group-body { 
      height: 100vh;
      width: calc(100% + 7px);
      overflow-y: auto;
      .modal-content-list {
        padding-top: 15px;
        padding-right: 22px;
        padding-bottom: 20px;
      }
    }
    .mt10 {
      margin-top: 10px;
    }
    .mt15 {
      margin-top: 15px;
    }
  }
  .ems_events-modal-footer {
    height: 80px;
    line-height: 80px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: inset 0px 0.5px 0px 0px rgba(0, 0, 0, 0.1);
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    .footer-btn {
      width: 100%;
      height: 60px;
      line-height: 60px;
      box-sizing: border-box;
      border-radius: 5px;
      background-color: rgba(18, 131, 255, 1);
      color: rgba(255, 255, 255, 1);
      font-size: 20px;
      text-align: center;
      margin: 0px;
      box-shadow: none;
    }
  }
  ::ng-deep .footer-md::before {
    background-image: none;
  }
}

::ng-deep {
  .toast {
    --width: 200px;
    --height: 42px;

    --border-radius: 5px;

    --background: rgba(34, 34, 34, 0.8);

    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    text-align: center;
  }
}
