html,
body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgba(240, 244, 249, 1) !important;
}
#app {
  font-family: Microsoft YaHei;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}
/* 全局滚动条样式 */
* {
  scrollbar-width: thin;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.45);
}

::-webkit-scrollbar-thumb:active {
  background-color: rgba(0, 0, 0, 0.65);
}

::-webkit-scrollbar-track {
  background: transparent;
}
.page {
  width: 100%;
  min-width: 1111px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  overflow: auto;
}
.page-title {
  flex: none;
  height: 22px;
  line-height: 22px;
  margin: 10px 16px;
  color: rgba(0, 0, 0, 1);
  font-size: 16px;
  text-align: left;
}
.page-content {
  flex: auto;
  margin: 0px 16px 12px;
  padding: 0px 16px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 1px 7px 0px rgba(38, 38, 38, 0.1);
  display: flex;
  flex-direction: column;
}
/* searchbar样式 */
.page-headDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
.search-bar {
  flex: none;
  padding: 16px 0px 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  gap: 12px;
}
.search-bar > .search-container label {
  height: 22px;
  line-height: 22px;
  opacity: 0.65;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  text-align: left;
}
.--mr8 {
  margin-right: 8px;
}
.search-bar .el-select-dropdown__item.selected {
  background-color: #00000005;
  color: #1890ff;
  font-weight: 400;
}
.search-bar .el-input--mini .el-input__inner {
  height: 36px;
  line-height: 36px;
}
.search-bar .el-input--mini .el-input__icon {
  line-height: 36px;
}
.search-bar .el-range-editor--mini.el-input__inner {
  height: 36px;
}
.search-bar .el-range-editor--mini .el-range-separator {
  line-height: 28px;
  font-size: 14px;
}
/* .el-date-editor .el-range__icon {
    display: none;
  } */
/* 修改element-plus全局样式 */
button.el-button {
  height: 36px;
  border-radius: 3px;
  color: rgba(24, 144, 255, 1);
  font-size: 14px;
  box-shadow: none;
}
button.el-button--primary {
  color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(24, 144, 255, 1);
}
button.el-button--primary.is-plain {
  border: 1px solid rgba(24, 144, 255, 1);
  color: rgba(24, 144, 255, 1);
  background: #fff;
}
button.el-button--primary.is-plain:hover {
  background: #fff;
  color: rgba(24, 144, 255, 0.8);
}

/* .enTable .el-table table.el-table__body tbody .el-table__row:hover{
  background-color: rgba(230, 247, 255, 1) !important;
} */
.el-table--enable-row-hover .el-table__body tr:hover > td {
  background-color: rgba(230, 247, 255, 1) !important;
}
/* message样式修改 */
.el-message {
  --el-message-min-width: 0;
  --el-message-padding: 12px 15px 12px 20px;
}
.el-message.el-message--error,
.el-message.el-message--success,
.el-message.el-message--warning,
.el-message.el-message--info {
  background-color: rgba(255, 255, 255, 1);
  font-size: 14px;
  --el-message-font-color: rgba(0, 0, 0, 0.65);
}
.el-message.el-message--error i,
.el-message.el-message--success i,
.el-message.el-message--warning i,
.el-message.el-message--info i {
  font-size: 18px;
}
i {
  font-size: 16px !important;
}
.el-select-dropdown__item.selected {
  font-weight: 400;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type='number'] {
  -moz-appearance: textfield;
}
