.home {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 56px 1fr;
  place-content: stretch;
  place-items: stretch;
  height: 100%;
  // overflow-x: auto;

  .home-main {
    width: 100%;
    // overflow: auto;
    // min-width: 1472px;
    // margin-left: 208px;
    overflow: hidden;
  }

  .page-content {
    flex: 1 1 auto;
    overflow-y: auto;
  }
}
