<!-- <el-container class="home flex-column">
  <el-header>
    <tenant-header></tenant-header>
  </el-header>
  <el-container class="home-container flex">
    <tenant-aside></tenant-aside> -->
<!-- <div class="home-container__content"> -->
<!-- <el-main class="flex flex-column">
  <bread-crumb></bread-crumb>
  <tenant-content></tenant-content>
</el-main> -->
<!-- </div> -->
<!-- </el-container>
</el-container> -->
<div class="home" v-if="hasMenuFlag">
  <tenant-header style="grid-column: span 2"></tenant-header>
  <!-- <div> -->
  <tenant-aside :menuList="menuList"></tenant-aside>
  <div class="home-main flex flex-column">
    <!-- <bread-crumb></bread-crumb> -->
    <div class="page-content">
      <!-- <router-view :key="routerKey"></router-view> -->
      <router-view></router-view>
    </div>
  </div>
  <!-- </div> -->
</div>
<div style="width: 100%; height: 100%" v-if="!hasMenuFlag" class="flex-column-center-center">
  <img src="../../assets/images/common/common-menu-loaderror-404.svg" alt="" />
</div>
