.ea-dc-difference-value {
  border-radius: 12px;
  padding: 4px 12px;
  background-color: var(--iot-anomaly-card-count-bg-color);
  width: fit-content;

  .font14 {
    height: 16px;
    line-height: 16px;
  }

  &-data {
    margin-left: 8px;
    height: 16px;
    line-height: 16px;
  }
}
