.data-abnomal-alarm-rules {
  width: 100%;
  height: 100%;

  :deep(.page-common) {
    .page-common__container {
      height: 0;
    }

    .page-common__container-detail {
      height: 0;
      padding: 16px;
    }

    h5.daar-title {
      margin: 23px 0;
      color: rgba(0, 0, 0, 1);
      font-family: PingFang SC;
      font-size: 14px;
      line-height: 22px;
    }
  }

  :deep(.el-tabs) {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .el-tabs__content {
      flex: auto;
      overflow-y: auto;
    }
  }
}
