<div v-drag="visible">
  <el-dialog
    title="树节点编辑"
    v-model="visible"
    width="520px"
    :close-on-click-modal="false"
    :destroy-on-close="true"
    @close="handleClose"
  >
    <div class="tree-manage-edit" v-loading="loading">
      <div class="form-edit">
        <el-form ref="editFormRef" :rules="rules" :model="pageForm" label-width="100px">
          <el-form-item label="树节点ID" prop="id">
            <el-input v-model="pageForm.id" :disabled="true"></el-input>
          </el-form-item>
          <el-form-item label="节点名称" prop="treeName">
            <el-input
              v-model.trim="pageForm.treeName"
              v-inputFilter:search
              placeholder="请输入节点名称"
              maxlength="20"
            ></el-input>
          </el-form-item>
          <el-form-item label="本级排序号" prop="treeSort">
            <el-input
              v-inputFilter:positiveNumber="{ integral: 8, positiveInteger: true }"
              v-model="pageForm.treeSort"
              placeholder="请输入本级排序号"
            ></el-input>
          </el-form-item>
          <el-form-item label="节点类型" prop="nodeType" v-if="mapNodeType()">
            <el-select
              :disabled="pageForm.nodeType === TM_NODE_TYPES.医院"
              v-model="pageForm.nodeType"
              placeholder="请选择节点类型"
              @change="handleNodeTypeChange"
            >
              <el-option v-for="item in nodeTypeList" :key="item.code" :label="item.name" :value="item.code">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="空间中心" v-if="mapHospitalCodeFormItem()">
            <tree-select
              :placeholder="'请选择空间中心'"
              v-model:modelValue="pageForm.hospitalCode"
              nodeKey="code"
              :loading="locationLoading"
              :expanedKeys="locationExpandedKeys"
              :scrollIntoView="true"
              :treeData="locationList"
              :defaultProps="{ children: 'children', label: 'name' }"
              :disabledProps="{ disabledKey: 'selectable', disabledValue: false }"
              :showSearch="true"
              :autoWidth="true"
            ></tree-select>
          </el-form-item>

          <!-- 科室相关 -->
          <el-form-item label="科室属性" v-if="mapDepartmentFormItem()">
            <tree-select
              :placeholder="'请选择科室属性'"
              v-model:modelValue="pageForm.departmentId"
              :nodeKey="TM_NodeKey"
              :treeData="departmentList"
              :defaultProps="TM_DefaultProps"
              :disabledProps="{ disabledKey: 'treeLeaf', disabledValue: '0' }"
              :loading="departmentLoading"
              :expanedKeys="departmentExpandedKeys"
              :showSearch="true"
              :autoWidth="true"
              @select-change="handleDepartmentChange"
            ></tree-select>
          </el-form-item>
          <!-- 生效开始时间 -->
          <el-form-item label="生效起始时间" v-if="mapDepartmentFormItem()" prop="effectiveStartTime">
            <el-date-picker
              style="width: 90%"
              :disabledDate="mapStartDateDisabled"
              v-model="pageForm.effectiveStartTime"
              type="date"
              :clearable="true"
              placeholder="请选择日期"
              :editable="false"
              :prefix-icon="customPrefix"
              :clear-icon="customClose"
            >
            </el-date-picker>
            <el-tooltip style="margin-left: 8px" effect="light" placement="top" :append-to-body="false">
              <template #content>
                <table>
                  <thead>
                    <tr>
                      <th>科室名称</th>
                      <th>生效开始时间</th>
                      <th>生效结束时间</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(item, index) in historyList" :key="'history_' + index">
                      <td>{{ item.departmentName }}</td>
                      <td>{{ item.effectiveStartTime }}</td>
                      <td>{{ item.effectiveEndTime ? item.effectiveEndTime : '至今' }}</td>
                    </tr>
                  </tbody>
                </table>
                <div class="common-table__empty" v-if="historyList?.length === 0">
                  <img src="../../../assets/img/common/common-data-none.svg" alt="暂无数据" />
                  <p>暂无数据</p>
                </div>
              </template>
              <img
                class="question_mark"
                style="height: 16px"
                title="生效起始时间"
                src="../../../assets/img/common/common-question-mark.svg"
              />
            </el-tooltip>
          </el-form-item>
          <!-- 生效结束时间 -->
          <el-form-item label="生效结束时间" v-if="mapDepartmentFormItem()">
            <el-date-picker
              :disabledDate="mapEndDateDisabled"
              v-model="pageForm.effectiveEndTime"
              type="date"
              :clearable="true"
              placeholder="请选择日期"
              :prefix-icon="customPrefix"
              :clear-icon="customClose"
              :editable="false"
            >
            </el-date-picker>
          </el-form-item>
        </el-form>
      </div>
      <div slot="footer" style="text-align: center" class="mt24">
        <el-button @click="handleClose">取消</el-button>
        <el-button type="primary" @click="handleSubmit()">确定</el-button>
      </div>
    </div>
  </el-dialog>
</div>
