<div style="height: 100%; min-width: 1472px">
  <page-container title="能源事件库" :hasSearch="false">
    <template v-slot:pageContent>
      <div class="energy-event-library">
        <div class="energy-event-library__title">
          <div>事件日期</div>
          <div>
            <el-date-picker
              v-model="energyEventState.pageForm.year"
              type="year"
              format="YYYY"
              value-format="YYYY"
              :clearable="false"
              :disabled-date="d => {
                return d.getTime() > new Date().getTime();
              }"
            />
          </div>
          <el-button type="primary" @click="onSubmit">查询</el-button>
          <el-button @click="onReset">重置</el-button>
        </div>
        <!-- 7个卡片 -->
        <section ref="section">
          <div ref="scrollCard" class="energy-event-allCard" :style="{transform:cardScrollX}">
            <div
              v-for="(item,index) in energyEventCard"
              :class="['energy-event-card',item.active?'energy-event-active-card':'']"
              ::key="item.eventTypeId"
              :style="{backgroundImage:mapCardIcon(item.eventTypeName).backgroundUrl}"
              @click="clickCard(item.eventTypeId)"
            >
              <h4><img :src="mapCardIcon(item.eventTypeName).iconUrl" alt="" />{{item.eventTypeName}}</h4>
              <p><span>{{item.count}}</span>个</p>
            </div>
          </div>
          <div v-if="canSwipeLeft" class="energy-event-swipe swipe-left" @click="swipeToLeft">
            <img src="../../assets/images/energy-event-library/eel-swipe-left.svg" />
          </div>
          <div v-if="canSwipeRight" class="energy-event-swipe swipe-right" @click="swipeToRight">
            <img src="../../assets/images/energy-event-library/eel-swipe-right.svg" />
          </div>
        </section>
        <div class="energy-event-library__detail">
          事件记录
          <el-button
            v-if="energyEventState.pageForm.eventTypeId==='0'"
            :type="!exportDisable?'primary':''"
            @click="exportFile"
            :disabled="exportDisable"
            >导出</el-button
          >
        </div>
        <div class="energy-event-library__table">
          <table style="width: 100%" v-loading="energyEventState.loading">
            <thead>
              <tr>
                <th style="width: 60px">序号</th>
                <th>事件标题</th>
                <th style="width: 110px">事件类型</th>
                <th style="width: 100px">
                  {{ energyEventState.pageForm.eventTypeId==='6' ? '原定时间' : '开始时间' }}
                </th>
                <th style="width: 100px">
                  {{ energyEventState.pageForm.eventTypeId==='6' ? '调整时间' : '结束时间' }}
                </th>
                <th>事件详情</th>
                <th style="width: 130px">
                  能耗变化量({{energyEventState.dataSource.length?energyEventState.dataSource[0].energyValueUnit:'--'}})
                </th>
                <th style="width: 130px">成本变化(元)</th>
                <th style="width: 100px">录入时间</th>
                <th style="width: 140px">项目名称</th>
                <!-- 测试版本详情暂不需要,已开发完毕 -->
                <!-- <th style="width: 150px">操作</th> -->
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, index) in energyEventState.dataSource" :key="item.id">
                <td>{{ (energyEventState.pageForm.pageNum-1) * energyEventState.pageForm.pageSize + index + 1 }}</td>
                <td ellipsis>
                  <el-tooltip
                    :open-delay="500"
                    v-if="item.eventTitle"
                    class="box-item"
                    effect="dark"
                    :content="item.eventTitle"
                    placement="bottom"
                  >
                    <span ellipsis>{{ item.eventTitle }}</span>
                  </el-tooltip>
                  <span v-else>--</span>
                </td>
                <td ellipsis>
                  <el-tooltip
                    :open-delay="500"
                    v-if="item.eventTypeName"
                    class="box-item"
                    effect="dark"
                    :content="item.eventTypeName"
                    placement="bottom"
                  >
                    <span ellipsis>{{ item.eventTypeName }}</span>
                  </el-tooltip>
                  <span v-else>--</span>
                </td>
                <td ellipsis>
                  <el-tooltip
                    :open-delay="500"
                    v-if="item.startTime && (energyEventState.pageForm.eventTypeId==='6' || energyEventState.pageForm.eventTypeId!=='6' && item.eventTypeName!=='空调供应时段调整')"
                    class="box-item"
                    effect="dark"
                    :content="item.startTime"
                    placement="bottom"
                  >
                    <span ellipsis>{{ item.startTime }}</span>
                  </el-tooltip>
                  <span v-else>--</span>
                </td>
                <td ellipsis>
                  <el-tooltip
                    :open-delay="500"
                    v-if="item.endTime && (energyEventState.pageForm.eventTypeId==='6' || energyEventState.pageForm.eventTypeId!=='6' && item.eventTypeName!=='空调供应时段调整')"
                    class="box-item"
                    effect="dark"
                    :content="item.endTime"
                    placement="bottom"
                  >
                    <span ellipsis>{{ item.endTime }}</span>
                  </el-tooltip>
                  <span v-else>--</span>
                </td>
                <td ellipsis>
                  <el-tooltip
                    :open-delay="500"
                    v-if="item.eventDetail"
                    class="box-item"
                    effect="dark"
                    :content="item.eventDetail"
                    placement="bottom"
                  >
                    <span ellipsis>{{ item.eventDetail }}</span>
                  </el-tooltip>
                  <span v-else>--</span>
                </td>
                <td ellipsis>
                  <el-tooltip
                    :open-delay="500"
                    v-if="item.energyValue"
                    class="box-item"
                    effect="dark"
                    :content="item.energyValue"
                    placement="bottom"
                  >
                    <span ellipsis>{{ item.energyValue }}</span>
                  </el-tooltip>
                  <span v-else>--</span>
                </td>
                <td ellipsis>
                  <el-tooltip
                    :open-delay="500"
                    v-if="item.energyCost"
                    class="box-item"
                    effect="dark"
                    :content="item.energyCost"
                    placement="bottom"
                  >
                    <span ellipsis>{{ item.energyCost }}</span>
                  </el-tooltip>
                  <span v-else>--</span>
                </td>
                <td ellipsis>
                  <el-tooltip
                    :open-delay="500"
                    v-if="item.entryTime"
                    class="box-item"
                    effect="dark"
                    :content="item.entryTime"
                    placement="bottom"
                  >
                    <span ellipsis>{{ item.entryTime }}</span>
                  </el-tooltip>
                  <span v-else>--</span>
                </td>
                <td ellipsis>
                  <el-tooltip
                    :open-delay="500"
                    v-if="item.tenantName"
                    class="box-item"
                    effect="dark"
                    :content="item.tenantName"
                    placement="bottom"
                  >
                    <span ellipsis>{{ item.tenantName }}</span>
                  </el-tooltip>
                  <span v-else>--</span>
                </td>
                <!-- 测试版本详情暂不需要,已开发完毕 -->
                <!-- <td>
                  <button text primary @click="getEnergyEventDetail(item.id)">详情</button>
                </td> -->
              </tr>
            </tbody>
          </table>
          <div
            class="table-nodata flex-column-center-center"
            v-if="energyEventState.dataSource?.length === 0 && !energyEventState.loading"
          >
            <img src="@/assets/images/common/common-data-none.svg" alt="" />
            <p>暂无数据</p>
          </div>
          <el-pagination
            v-show="energyEventState.total > 0 && !energyEventState.loading"
            @size-change="onSizeChange"
            @current-change="onPageChange"
            :current-page="energyEventState.pageForm.pageNum"
            :page-sizes="pageSizesArray"
            :page-size="energyEventState.pageForm.pageSize"
            layout="total, prev, pager, next, sizes, jumper"
            :total="energyEventState.total"
          ></el-pagination>
          <el-dialog v-model="energyEventDialogVisible" width="1000px" title="详情">
            <EnergyEventDetailDialog :eventDetailObj="eventDetailObj"></EnergyEventDetailDialog>
          </el-dialog>
        </div>
      </div>
    </template>
  </page-container>
</div>
