<!-- 参数
    entryMode: TEntryMode;
        type TBinding = 1; // 录入方式-绑定
        type TManual = 2; // 录入方式-人工录入 
    energyNode?: string;
    relationData?: IRelationData[];
        energyItemCode: string;
        energyConsumption: number;
        unit?: string;
    adjustmentType: TAirConditionAdjustment;
        type TAheadStarting = 1; // 改造方式-提前开
        type TDelayClosing = 2; // 改造方式-推迟关 
-->
<div class="ems_air-condition-supply">
  <!-- 标题 -->
  <div id="eventTitle" class="modal-group">
    <label class="label-header">事件标题</label>
    <div class="mt10">
      <ion-input
        mode="md"
        placeholder="请输入标题0/15"
        maxlength="15"
        class="label-input"
        [(ngModel)]="data.eventTitle"
        [class.emptyPower]="isShowEmptyMarker && !data.eventTitle"
      ></ion-input>
    </div>
  </div>
  <!-- 调整方式 -->
  <div id="adjustmentType" class="modal-group mt15">
    <label class="label-header">调整方式</label>
    <div class="mt10">
      <ion-input
        class="label-input --with-button"
        [ngClass]="data.adjustmentType ? 'modify' : 'select'"
        mode="md"
        readonly
        placeholder="请选择"
        [(ngModel)]="adjustmentTypeName"
        (click)="adjustmentTypChange($event)"
        [class.emptyPower]="isShowEmptyMarker && !data.adjustmentType"
      ></ion-input>
    </div>
  </div>
  <!-- 时间 -->
  <div class="modal-group mt15 modal-time-group">
    <div class="modal-time">
      <div id="startTime" class="modal-start-time">
        <label class="label-header">原定时间</label>
        <ion-input
          class="label-input --with-button mt10"
          [ngClass]="data.startTime ? 'selectNotext' : 'select'"
          readonly
          placeholder="请选择"
          [(ngModel)]="data.startTime"
          (click)="timeChangeClick($event)"
          [class.emptyPower]="isShowEmptyMarker && !data.startTime"
        ></ion-input>
        <Calendar
          [(ngModel)]="startState.date"
          [visible]="startState.show"
          [defaultDate]="startState.now"
          [defaultValue]="startState.defaultValue"
          [minDate]="startState.min"
          [maxDate]="startState.max"
          type="one"
          [onSelect]="startState.onSelect"
          (onCancel)="onCancel()"
        ></Calendar>
      </div>
      <div id="endTime" class="modal-end-time">
        <label class="label-header">调整时间</label>
        <ion-input
          class="label-input --with-button mt10"
          [ngClass]="data.endTime ? 'selectNotext' : 'select'"
          readonly
          placeholder="请选择"
          [(ngModel)]="data.endTime"
          (click)="timeEndChangeClick($event)"
          [class.emptyPower]="isShowEmptyMarker && !data.endTime"
        ></ion-input>

        <Calendar
          [(ngModel)]="endState.date"
          [visible]="endState.show"
          [defaultDate]="endState.now"
          [defaultValue]="endState.defaultValue"
          [minDate]="endState.min"
          [maxDate]="endState.max"
          type="one"
          [onSelect]="endState.onSelect"
          (onCancel)="onCancelEnd()"
        ></Calendar>
      </div>
    </div>
  </div>
  <!-- 录入方式 -->
  <div id="entryMode" class="modal-group mt15">
    <label class="label-header">录入方式</label>
    <div class="mt10">
      <ion-input
        class="label-input --with-button"
        [ngClass]="data.entryMode ? 'modify' : 'select'"
        readonly
        placeholder="请选择"
        [(ngModel)]="entryModeName"
        (click)="entryModeChange($event)"
        [class.emptyPower]="isShowEmptyMarker && !data.entryMode"
      ></ion-input>
    </div>
  </div>
  <!-- 能耗节点 -->
  <div
    id="energyNode"
    class="modal-group mt15"
    *ngIf="data.entryMode && +data.entryMode === 1"
  >
    <label class="label-header">能耗节点</label>
    <div class="mt10">
      <ion-input
        class="label-input --with-button --input-node"
        [ngClass]="data.energyObjects ? 'modify' : 'select'"
        mode="md"
        readonly
        placeholder="请选择"
        [(ngModel)]="energyNodeName"
        (click)="energyNodeChange($event)"
        [class.emptyPower]="isShowEmptyMarker && !data.energyObjects"
      ></ion-input>
    </div>
  </div>
  <!-- 能源类型 -->
  <div
    id="relationData"
    class="modal-group mt15"
    *ngIf="data.entryMode && +data.entryMode === 2"
  >
    <div class="energy-header">
      <label class="label-header">能源用量</label>
      <label class="label-header-operation" *ngIf="operationRelation">
        <span
          class="label-delete ok-delete"
          (click)="delectOperation()"
          *ngIf="!delectOperationShow"
          >删除</span
        >
        <span *ngIf="delectOperationShow">
          <span class="cancel-delete" (click)="cancelDelect()">取消</span>
          <span
            [ngClass]="{
              'no-delete': !selectEngeryChecked,
              'ok-delete': selectEngeryChecked
            }"
            (click)="onDeleteEnergy()"
            >确认删除</span
          >
        </span>
      </label>
    </div>

    <div
      class="relation-data mt10"
      *ngFor="let control of relationData; let i = index; trackBy: trackByIndex"
    >
      <div
        class="relation-data-energy"
        [id]="'relationData-' + i"
        [class.emptyPower]="
          isShowEmptyMarker &&
          (!control.energyItemCode || !control.energyConsumption) &&
          !control.newControl
        "
      >
        <div class="relation-energy-type">
          <ion-input
            class="label-input --with-button border-right-radius"
            [ngClass]="control.energyItemCode ? 'selectNotext' : 'select'"
            mode="md"
            readonly
            placeholder="能源类型"
            [(ngModel)]="control.energyItemCodeName"
            (click)="selectItemCodeModel(control, i)"
          ></ion-input>
        </div>
        <div
          class="relation-energy-consumption --div-after"
          [attr.data-content-after]="control.unit"
        >
          <ion-input
            [id]="control.energyEventItemId"
            class="label-input --border-left-radius"
            [ngClass]="{ '--after-placenolder': delectOperationShow }"
            mode="md"
            placeholder="请输入用量"
            [appDecimalOnly]="decimalEC"
            [(ngModel)]="control.energyConsumption"
            [style.--padding-end]="control.pright"
            (click)="getEnergyNum($event, i)"
            [ngModelOptions]="{ standalone: true }"
          ></ion-input>
          <!-- (keypress)="checkInput($event, control.energyEventItemId)"
              (keyup)="checkInput($event, control.energyEventItemId)"
              (ionChange)="energyChangeValue($event,  control.energyEventItemId, i)" -->
        </div>
      </div>

      <div class="checked-delete" *ngIf="delectOperationShow">
        <ion-checkbox
          color="primary"
          class="item-check ml10"
          [(ngModel)]="control.checked"
          mode="md"
          (ionChange)="selectEnergyDate(control, i)"
        >
        </ion-checkbox>
      </div>
    </div>
    <div class="mt10">
      <ion-button
        size="large"
        class="plus-btn-energy"
        type="submit"
        mode="md"
        [style.--box-shadow]="'none'"
        [style.--background]="'rgba(255, 255, 255, 1)'"
        [style.--border-style]="'dashed'"
        [style.--border-width]="'0.5px'"
        [style.--border-radius]="'5px'"
        [style.--border-color]="'rgba(18, 131, 255, 1)'"
        (click)="plusEnergy($event)"
      >
        <img src="assets/img/energy-events/plus-square.svg" class="mr10" />
        <span>新增</span>
      </ion-button>
    </div>
  </div>
  <!-- 上传照片 -->
  <div class="modal-group mt15">
    <label class="label-header">上传照片</label>
    <div class="label-tip-name mt10">
      最多上传6张照片（选填）；可上传空调运行记录表、通知单
    </div>
    <div class="mt10">
      <app-em-image-upload
        [(ngModel)]="data.filePaths"
        (imageClick)="imageClick($event)"
      ></app-em-image-upload>
    </div>
  </div>
  <!-- 事件详情 -->
  <div class="modal-group mt15">
    <label class="label-header">事件详情</label>
    <div class="mt10">
      <app-ems-speech-recognition
        (detailChange)="speechChangeDetail($event)"
        placeholder="请输入详细信息0/200（选填）"
        maxlength="200"
      ></app-ems-speech-recognition>
    </div>
  </div>
</div>
