@import url('./flex.less');
@import '../style/global.less';
@import url('../iconfont/index.less');

// 设计尺寸（百分）
@size-width: 19.2;
@size-height: 10.8;
@size-radio: 16 / 9;

:root {
  font-size: calc(100vh / @size-height);
  @media screen and (max-aspect-ratio: @size-radio) {
    font-size: calc(100vw / @size-width);
  }
}

.module {
  width: calc(50% - 8px);
  height: 400px;
  padding: 16px;
  border: 1px solid var(--color-text-divider);
}

ul,
li {
  list-style: none;
}

.common-container {
  width: calc(100% + 4px);
  margin-left: -2px;
  margin-right: -2px;

  box-sizing: border-box;
  display: inline-grid;
  grid-template-columns: repeat(auto-fill, 50%);
  grid-template-rows: auto;

  .cc-item {
    box-sizing: border-box;
    width: 100%;
    padding: 2px;
    border: 1px solid var(--color-text-divider);
    border-radius: 4px;
  }
}
