.ra-week-timetable {
  width: 100%;

  &--btn {
    width: 100%;
    padding-bottom: 16px;
    display: flex;
    justify-content: end;
  }

  :deep(.el-table) {
    td.el-table__cell,
    .el-table td {
      padding: 12px 0;
    }

    .el-date-editor.el-range-editor.el-input__inner.el-date-editor--timerange,
    .el-date-editor--timerange.el-input__inner {
      width: 100% !important;
    }

    .el-checkbox__input.is-disabled + span.el-checkbox__label {
      color: rgba(0, 0, 0, 0.45);
    }

    .el-date-editor.is-disabled {
      * {
        color: rgba(0, 0, 0, 0.45);
      }
    }

    .el-date-editor.el-range-editor.el-input__inner.el-date-editor--timerange .el-input__icon {
      transition: none;
    }
  }

  :deep(.el-table td.el-table__cell .cell) {
    white-space: normal !important;
    overflow: auto !important;
  }
}
