<div class="ra-week-timetable">
  <div class="ra-week-timetable--btn" v-show="isSettingFlag">
    <el-button
      type="primary"
      :disabled="settingTreeList && settingTreeList.length ==0"
      @click="onWeekTimeTableSave"
      :loading="reqLoading"
      >保 存</el-button
    >
  </div>
  <el-table :data="dataSource" style="width: 100%" v-loading="loading">
    <el-table-column prop="week" label="星期" width="80" align="center">
    </el-table-column>
    <el-table-column prop="date" label="上午" align="center">
      <template #default="scope">
        <el-checkbox
          :disabled="!isSettingFlag"
          v-model="scope.row.isMorningReset"
          label="休息"
          style="margin-right: 12px"
          @change="onMorningChange(scope.row)"
        >
        </el-checkbox>
        <el-time-picker
          :disabled="!isSettingFlag"
          v-if="!scope.row.isMorningReset"
          is-range
          v-model="scope.row.morningDate"
          :clearable="false"
          range-separator="至"
          start-placeholder="开始时间"
          end-placeholder="结束时间"
          placeholder="选择时间范围"
          :disabled-hours="onMorningDisable"
          :format="'HH:mm'"
        >
        </el-time-picker>
      </template>
    </el-table-column>
    <el-table-column prop="date" label="下午" align="center">
      <template #default="scope">
        <el-checkbox
          :disabled="!isSettingFlag"
          v-model="scope.row.isAfterReset"
          label="休息"
          style="margin-right: 12px"
          @change="onAfterChange(scope.row)"
        >
        </el-checkbox>
        <el-time-picker
          :disabled="!isSettingFlag"
          v-if="!scope.row.isAfterReset"
          is-range
          v-model="scope.row.afternoonDate"
          :clearable="false"
          range-separator="至"
          start-placeholder="开始时间"
          end-placeholder="结束时间"
          placeholder="选择时间范围"
          :disabled-hours="onAfternoonDisable"
          :format="'HH:mm'"
        >
        </el-time-picker>
      </template>
    </el-table-column>
    <el-table-column prop="date" label="晚上" align="center">
      <template #default="scope">
        <el-checkbox
          :disabled="!isSettingFlag"
          v-model="scope.row.isEveningReset"
          label="休息"
          style="margin-right: 12px"
          @change="onEveningChange(scope.row)"
        >
        </el-checkbox>
        <el-time-picker
          :disabled="!isSettingFlag"
          v-if="!scope.row.isEveningReset"
          is-range
          v-model="scope.row.eveningDate"
          :clearable="false"
          range-separator="至"
          start-placeholder="开始时间"
          end-placeholder="结束时间"
          placeholder="选择时间范围"
          :disabled-hours="onEveningDisable"
          :format="'HH:mm'"
        >
        </el-time-picker>
      </template>
    </el-table-column>
  </el-table>
</div>
