<div id="search-bar">
  <div *ngFor="let item of items; index as i">
    <div [ngSwitch]="item.type">
      <!-- 输入框 -->
      <div *ngSwitchCase="typeInput" class="item-container">
        <label>{{ item.name }}</label>
        <input
          [ngStyle]="{ 'width.px': item.width, 'height.px': item.height }"
          [placeholder]="item.placeholder"
          [maxlength]="item['max']"
          [disabled]="item.disabled || isLoading"
          [(ngModel)]="item.model"
          emsInputFilter_Special
          emsInputFilterCharacters=" "
          [(emsInputFilterModel)]="item.model"
        />
      </div>

      <!-- 下拉选择框 -->
      <div *ngSwitchCase="typeSelect" class="item-container">
        <label>{{ item.name }}</label>
        <nz-select
          #elementSearchBarSelect
          [ngStyle]="{ 'width.px': item.width, 'height.px': item.height }"
          [nzOptionHeightPx]="36"
          [nzBackdrop]="true"
          [nzPlaceHolder]="item.placeholder"
          [nzMode]="item['multiple'] ? 'multiple' : 'default'"
          [nzAllowClear]="item.canClear"
          [nzDisabled]="item.disabled || isLoading"
          [(ngModel)]="item.model"
          (ngModelChange)="item['onAdd'](elementSearchBarSelect)"
        >
          <nz-option
            *ngFor="let option of item['options']"
            [nzLabel]="option.label"
            [nzValue]="option.value"
            [nzDisabled]="option.disabled"
          ></nz-option>
        </nz-select>
      </div>

      <!-- 下拉树选择框 -->
      <div *ngSwitchCase="typeTreeSelect" class="item-container">
        <label>{{ item.name }}</label>
        <nz-tree-select
          [ngStyle]="{ 'width.px': item.width, 'height.px': item.height }"
          [nzBackdrop]="true"
          [nzPlaceHolder]="item.placeholder"
          [nzMultiple]="item['multiple']"
          [nzAllowClear]="item.canClear"
          [nzDisabled]="item.disabled || isLoading"
          [nzNodes]="item['nodes']"
          [nzExpandedKeys]="item['expands']"
          [(ngModel)]="item.model"
        >
        </nz-tree-select>
      </div>

      <!-- 日期选择框 -->
      <div *ngSwitchCase="typeDatePicker" class="item-container">
        <label>{{ item.name }}</label>
        <nz-date-picker
          [ngStyle]="{ 'width.px': item.width, 'height.px': item.height }"
          [nzBackdrop]="true"
          [nzPlaceHolder]="item.placeholder"
          [nzMode]="item['mode']"
          [nzAllowClear]="item.canClear"
          [nzDisabled]="item.disabled || isLoading"
          [nzDisabledDate]="item['disabledDate']"
          [(ngModel)]="item.model"
        ></nz-date-picker>
      </div>

      <div *ngSwitchDefault class="item-container"></div>
    </div>
  </div>

  <div class="button-group">
    <button primary (click)="toSearch()" [disabled]="isLoading">查询</button>
    <button class="--ml12" (click)="toReset()" [disabled]="isLoading">重置</button>
  </div>
</div>
