<div id="mhm-actual-payment-table" v-loading="loading">
  <el-tabs v-model="energyName" v-if="!mhmAPayment.isEmpty && !loading && tableData?.length > 0">
    <el-tab-pane
      v-for="(item, listIndex) in tableData"
      :key="listIndex"
      :label="item.energyName"
      :name="item.energyName"
    >
      <table style="width: 100%">
        <thead>
          <tr>
            <th>日期</th>
            <th :style="{'width': listIndex === 0? 'calc(100% - 80px)': 'calc(100% - 230px)'}">
              {{listIndex === 0? '实际缴费': energyName }}(元)
            </th>
            <th v-if="listIndex > 0">附件</th>
          </tr>
        </thead>
        <tbody class="mhm-actual-payment-table-tbody">
          <tr v-for="(list, itemIndex) in item.oneEnergyActualPaymentList">
            <td>{{ list.date }}</td>
            <td :style="{'width': listIndex === 0? 'calc(100% - 80px)': 'calc(100% - 230px)'}">
              {{list.actualPayment? list.actualPayment: '--'}}
            </td>
            <td v-if="listIndex > 0" @click="linkBill(list, item.energyName, itemIndex)">
              <span class="mhm-actual-payment-table-tbody-text">查看票据</span>
            </td>
          </tr>
        </tbody>
      </table>
    </el-tab-pane>
  </el-tabs>

  <div
    class="mhm-actual-payment-table-empty flex-column-center-center"
    v-if="(mhmAPayment.isEmpty && !loading) && tableData?.length === 0 && !loading"
  >
    <img src="@/assets/images/management-analysis/ma-home-model/ma-home-model-no-data.svg" alt="" />
    <p>暂无数据</p>
  </div>
</div>
