.page-aside {
  height: 100%;
  overflow: hidden;
  // position: absolute;
  // top: 60px;
  // left: 0;
  // z-index: 2020;
  .page-aside-down {
    float: right;
  }
  :deep(.ant-menu) {
    background-color: var(--color-default);
    // 普通菜单
    &.ant-menu-root {
      height: 100%;
      width: 100%;
      overflow-y: auto;
      // 单级菜单
      li.ant-menu-item {
        height: 48px;
        line-height: 48px;
        margin: 8px 0;
        padding: 0;
        padding-left: 20px !important;
        padding-right: 20px !important;
        display: flex;
        & > span {
          display: inline-block;
          font-size: 14px !important;
          color: var(--color-aside-fontsize-color);
          &.ant-menu-title-content {
            padding: 0 0 0 6px;
            line-height: 48px;
          }
        }
        & > span[role='img'] {
          svg {
            width: 16px;
            height: 16px;
          }
        }
        &.ant-menu-item-selected {
          background-color: var(--color-aside-background);
          &::before {
            content: '';
            width: 4px;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #294db5;
          }
          span[role='img'] {
            color: var(--color-aside-primary);
          }
          span.ant-menu-title-content {
            color: var(--color-aside-primary);
          }
        }
        &:not(.ant-menu-item-selected):hover {
          background-color: var(--color-aside-background);
          color: var(--color-aside-primary);
        }
      }

      // 多级菜单
      li.ant-menu-submenu {
        div.ant-menu-submenu-title {
          height: 48px;
          line-height: 48px;
          margin: 8px 0 0 0;
          padding: 0;
          padding-left: 20px !important;
          padding-right: 20px !important;
          .ant-menu-submenu-arrow {
            display: none;
          }
          &:hover {
            background-color: var(--color-aside-background);
          }
          & > span {
            display: inline-block;
            font-size: 14px !important;
            color: var(--color-aside-fontsize-color);
            &.ant-menu-title-content {
              padding: 0 0 0 6px;
            }
          }
          & > i {
            font-size: 16px;
            opacity: 1;
            &::before {
              background: var(--color-aside-fontsize-color);
            }
            &::after {
              background: var(--color-aside-fontsize-color);
            }
          }
          span[role='img'] {
            svg {
              width: 16px;
              height: 16px;
            }
          }
        }
        .ant-menu-item {
          margin: 8px 0 0 0;
          padding-left: 46px !important;
        }
        &.ant-menu-submenu-selected {
          div.ant-menu-submenu-title {
            svg,
            .ant-menu-title-content {
              color: var(--color-aside-primary) !important;
            }
          }
        }
      }
    }
  }
}
