.data-entry {
    width: 100%;
    height: 100%;
}

.operate {
    cursor: pointer;
    color: var(--iot-color-active);
    padding: 0 10px;
}

.demo-form-inline {
    :deep(.el-input__inner) {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}