<el-form :inline="true" :model="relationQyeryForm" class="ra-page-search" @submit.native.prevent>
  <el-form-item label="能源类型">
    <tree-select
      :allowClear="true"
      :placeholder="'请选择能源类型'"
      v-model="relationQyeryForm.energyCode"
      v-model:treeData="computedEnergyCodeList"
      :defaultExpandAll="true"
      :nodeKey="'code'"
      width="144px"
      :defaultProps="{ children: 'childEnergyCode', label: 'name' }"
      @select-change="onEnergyCodeChange"
    >
    </tree-select>
  </el-form-item>
  <el-form-item label="分析对象">
    <tree-select
      :allowClear="true"
      :placeholder="'请选择分析对象'"
      v-model="relationQyeryForm.treeId"
      :treeData="treeList"
      :showSearch="true"
      width="290px"
      :defaultProps="FGetElTreeDefaultProps()"
      :disabledProps="disabledProps"
      v-model:radioValue="treeType"
      :radioData="treeTypeList"
      :expanedKeys="treeExpanedKeys"
      @tree-radio-change="onTreeTypeChange"
      :loading="treeLoading"
    ></tree-select>
  </el-form-item>
  <el-form-item label="快捷选时">
    <radio-select-button v-model="dateScope" :switchItems="dateScopeList" @switch-click="onDateScopeChange">
    </radio-select-button>
  </el-form-item>
  <el-form-item label="日期">
    <el-date-picker
      v-model="relationQyeryForm.date"
      type="daterange"
      :disabledDate="disabledDate"
      range-separator="~"
      start-placeholder="开始日期"
      end-placeholder="结束日期"
      @change="onDateChange"
      prefix-icon="iconfont icon-Calendar"
      clear-icon="iconfont icon-Close-Circle-Fill"
    ></el-date-picker>
  </el-form-item>
  <el-form-item>
    <button primary @click="onSubmit">查询</button>
    <button @click="onReset">重置</button>
  </el-form-item>
</el-form>
