<div class="aside-box">
    <el-menu
      mode="vertical"
      :router="false"
      :default-active="selectedMenu?.[0]"
    >
      <template v-for="(item, index) in menuList" :key="'menu_' + index">
        <el-menu-item
          v-if="!item.children || item.children.length === 0"
          :index="item.path"
          :title="item.name"
          @click="handleMenuLinkTo(item.path)"
        >
          <template #icon v-if="item.hasIcon">
            <div class="menu-icon">
              <i :class="['ems-iconfont', item.icons]"></i>
            </div>
          </template>
          {{ item.meta.name }}
        </el-menu-item>
        <el-sub-menu
          v-else
          :index="item.path"
          :popper-options="{ offset: [2, item.hasIcon ? 8 : 0] }"
        >
          <template #icon v-if="item.hasIcon">
            <div class="menu-icon">
              <i :class="['ems-iconfont', item.icons]"></i>
            </div>
          </template>
          <template #title>{{ item.meta.name }}</template>
          <el-menu-item
            v-for="(child, childIndex) in item.children"
            :key="'child_' + index + '_' + childIndex"
            :index="child.path"
            :title="child.name"
            @click="handleMenuLinkTo(child.path)"
          >
            <template #icon v-if="child.hasIcon">
              <div class="menu-icon">
                <i :class="['ems-iconfont', child.icons]"></i>
              </div>
            </template>
            {{ child.meta.name }}
          </el-menu-item>
        </el-sub-menu>
      </template>
    </el-menu>
</div>
