.te-date-editor.te-date-editor--daterange {
  input.te-range-input:focus {
    box-shadow: none;
  }
}

// 弹出层
.te-popper.te-picker__popper {
  .te-date-range-picker__header {
    line-height: initial;

    * {
      line-height: initial;
    }

    button {
      height: initial;
      padding: 0;
    }

    button + button {
      margin-left: 0;
    }
  }
}
