input.te-input__inner {
  &:focus {
    box-shadow: none !important;
  }
}
.te-input__inner:read-only::placeholder,
.te-input__inner:disabled::placeholder {
  color: var(--color-text-disable) !important;
}

.te-input:not(.is-disabled) [readonly],
.el-cascader:not(.is-disabled) [readonly] {
  cursor: default !important;
  color: var(--color-text-primary) !important;
  background-color: var(--color-default) !important;
}

.te-input__inner:read-write:enabled:focus {
  box-shadow: none;
}

.te-input__wrapper {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  height: 32px !important;
}
