.te-popper.is-dark {
  min-width: 30px;
  max-width: 330px;
  min-height: 32px;
  line-height: 21px;
  padding: 6px 8px;
  color: var(--color-default);
  text-align: left;
  text-decoration: none;
  word-wrap: break-word;
  border-radius: 4px;
  opacity: 0.85;
  box-shadow: 0 2px 8px var(--color-text-border);
  background: #303133;
}

.te-popper__arrow::before {
  position: absolute;
  width: 10px;
  height: 10px;
  z-index: -1;
  content: ' ';
  transform: rotate(45deg);
  background: #303133;
  box-sizing: border-box;
}

.te-popper.is-dark .te-popper__arrow::before {
  background: #303133;
  right: 0;
}
