<div class="alarm-management">
  <page-common title="告警管理" :showSearch="true" :isSubHead="true" :subTitle="'告警记录'">
    <template v-slot:pageSearch>
      <el-form :inline="true" :model="formInline" class="demo-form-inline">
        <el-form-item>
          <el-input
            placeholder="请输入告警对象、告警信息"
            v-inputFilter:search
            v-model="formInline.search"
            @keyup.enter="onSearch"
            style="width: 320px"
            suffix-icon="el-icon-search"
          ></el-input>
        </el-form-item>
        <!-- <el-form-item label="业务分类" style="display: none;">
          <el-select v-model="formInline.alarmType" placeholder="请选择业务分类" style="width: 118px;">
            <el-option v-for="(item, index) in businessTypeList" :key="index" :label="item.name" :value="item.code">
            </el-option>
          </el-select>
        </el-form-item> -->
        <el-form-item label="告警等级">
          <el-select v-model="formInline.alarmLevel" placeholder="请选告警等级" style="width: 118px;">
            <el-option v-for="(item, index) in alarmLevelList" :key="index" :label="item.name" :value="item.code">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="告警类型">
          <el-select v-model="formInline.alarmType" placeholder="请选告警类型" style="width: 140px;">
            <el-option v-for="(item, index) in alarmTypeList" :key="item.id" :label="item.name" :value="item.id">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="告警状态">
          <el-select v-model="formInline.status" placeholder="请选择状态" style="width: 118px;">
            <el-option v-for="(item, index) in alarmStatusList" :key="index" :label="item.name" :value="item.code">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="能耗模型">
          <el-select
            v-model="formInline.energyMode"
            placeholder="请选择能耗模型"
            @change="modeChange"
            style="width: 118px;"
          >
            <el-option v-for="(item, index) in energyModeList" :key="index" :label="item.name" :value="item.code">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="告警位置">
          <tree-select
            :placeholder="'请选择分析对象'"
            v-model:modelValue="formInline.alarmLocation"
            :treeData="alarmLocationList"
            :expanedKeys="alarmTreeExpanedKeys"
            :loading="treeLoading"
            :showSearch="true"
            :nodeKey="'id'"
            v-model:radioValue="formInline.radioValue"
            :radioData="radioData"
            :disabledProps="disabledProps"
            :defaultProps="FGetElTreeDefaultProps()"
            :width="'363px'"
            @tree-radio-change="alarmLocation"
          ></tree-select>
        </el-form-item>
        <el-form-item label="告警时间">
          <el-date-picker
            v-model="formInline.date"
            type="daterange"
            :disabledDate="onDisableDateCb"
            range-separator="~"
            start-placeholder="开始日期"
            end-placeholder="结束日期"
            style="width: 465px;"
            prefix-icon="iconfont icon-Calendar"
            clear-icon="iconfont icon-Close-Circle-Fill"
          ></el-date-picker>
        </el-form-item>

        <el-form-item>
          <el-button type="primary" @click="onSearch">查询</el-button>
          <el-button class="resetBtn" @click="onReset">重置</el-button>
        </el-form-item>
      </el-form>
    </template>
    <template v-slot:pageSubHead>
      <!-- <el-button v-if="abnormal" @click="downLoadAll" size="small"
          >全部导出</el-button
        > -->
      <el-button v-if="abnormal" @click="editAll">确认</el-button>
      <el-button v-if="abnormal" @click="handleAll">处理</el-button>
      <el-button v-if="abnormal" type="primary" @click="downLoadChange">导出</el-button>
    </template>
    <template v-slot:pageContent>
      <div style="height: 100%;" v-loading="loading">
        <el-table
          v-show="!loading"
          :header-cell-style="{ background: '#edf5fc', color: '#232526' }"
          ref="multipleTable"
          stripe
          :data="tableData"
          :stripe="lightOrDark"
          style="width: 100%"
          @selection-change="handleSelectionChange"
          :default-sort="{ prop: `${sortNameTable}`, order: `${sortCode}` }"
          sort-orders="['descending','ascending','descending']"
          @sort-change="sortChange"
        >
          <el-table-column type="selection" width="45" align="center" />
          <el-table-column prop="index" label="序号" width="60" align="center">
            <template #default="scope">
              {{ (pageNum - 1) * pageSize + scope.$index + 1 }}
            </template>
          </el-table-column>
          <el-table-column
            prop="nodeName"
            label="告警对象"
            show-overflow-tooltip
            align="center"
            min-width="95"
          ></el-table-column>
          <el-table-column
            prop="treeTypeName"
            label="能耗模型"
            show-overflow-tooltip
            align="center"
            min-width="95"
          ></el-table-column>
          <el-table-column prop="nodeLocation" label="告警位置" align="center" min-width="95" center>
            <template #default="scope">
              <el-tooltip
                class="tips"
                effect="dark"
                :content="scope.row.nodeLocation"
                placement="bottom"
                :offset="4"
                :show-after="500"
              >
                <div class="text">{{ scope.row.nodeLocation }}</div>
              </el-tooltip>
            </template>
          </el-table-column>
          <el-table-column prop="content" label="告警信息" min-width="240">
            <template #default="scope">
              <el-tooltip
                class="tips"
                effect="dark"
                :content="scope.row.content"
                placement="bottom"
                :offset="4"
                :show-after="500"
              >
                <div class="text alarm-content">{{ scope.row.content }}</div>
              </el-tooltip>
            </template>
          </el-table-column>
          <el-table-column
            prop="alarmTypeName"
            label="告警类型"
            show-overflow-tooltip
            align="center"
            min-width="80"
          ></el-table-column>
          <!-- <el-table-column
            prop="businessTypeText"
            label="业务分类"
            show-overflow-tooltip
            align="center"
            min-width="100"
            sortable="custom"
            style="display: none;"
          ></el-table-column> -->
          <el-table-column
            prop="alarmLevelText"
            label="告警等级"
            show-overflow-tooltip
            align="center"
            min-width="80"
            sortable="custom"
          >
            <template #default="scope">
              <div class="alarm-level" :style="{  backgroundColor: levelBgColor(scope.row.alarmLevelText)}">
                {{scope.row.alarmLevelText}}
              </div>
            </template>
          </el-table-column>
          <el-table-column
            prop="alarmStatusText"
            label="告警状态"
            show-overflow-tooltip
            align="center"
            min-width="80"
            sortable="custom"
          ></el-table-column>
          <el-table-column
            prop="generateTime"
            label="告警时间"
            show-overflow-tooltip
            align="center"
            min-width="123"
            sortable="custom"
          ></el-table-column>
          <el-table-column width="200" label="操作" align="center">
            <template #default="scope">
              <button
                :disabled="scope.row.alarmStatus == '2' || scope.row.alarmStatus == '3' || 
                          scope.row.alarmTypeId === EAnomalyTypes.边界异常 ? true : false"
                class="edit"
                @click="onEdit(scope.row)"
              >
                确认
              </button>
              <button
                v-if="scope.row.alarmStatus == '1' || scope.row.alarmStatus == '2'"
                class="edit"
                :disabled="scope.row.alarmTypeId === EAnomalyTypes.边界异常"
                @click="onHandle(scope.row)"
              >
                处理
              </button>
              <button
                v-if="scope.row.alarmStatus == '3' ? true : false"
                :disabled="scope.row.alarmTypeId === EAnomalyTypes.边界异常"
                class="edit"
                @click="onRevoke(scope.row)"
              >
                撤销
              </button>
              <button class="edit" @click="onLog(scope.row)">日志</button>
              <button class="edit" @click="toDetail(scope.row)" v-if="!isInCloud">详情</button>
            </template>
          </el-table-column>
        </el-table>
        <el-pagination
          v-show="total > 0 && !loading"
          :current-page="pageNum"
          :page-sizes="pageSizes"
          @size-change="onPageSizeChange"
          @current-change="onCurrentChange"
          :page-size="pageSize"
          layout="total, prev, pager, next, sizes, jumper"
          :total="total"
        ></el-pagination>
      </div>
    </template>
  </page-common>

  <OperationDialog
    :dialogAdd="dialogAdd"
    :key="nums"
    :rows="rows"
    :alarmIdTypeCheck="alarmIdTypeCheck"
    :title="title"
    :isSingle="isSingle"
    @opeartionOK="onOpeartionOK"
  ></OperationDialog>
  <Log :dialogLog="dialogLog" :key="num" :logRows="logRows" :logGenerationTime="logGenerationTime"></Log>
</div>
