<div class="bl-explain-progress flex-row-start-center">
  <img
    v-if="isLegend == true && explainInfo.minValue !== explainInfo.maxValue"
    class="limit"
    src="@/assets/img/ems-benchmarking/eb-min-line.png"
    :style="{ left: `${minLineLeft}px!important` }"
  />
  <div
    class="progress"
    :style="{
        width: `${progressWidth}%`
      }"
  ></div>
  <span
    class="min"
    v-if="isLegend == true && explainInfo.minValue !== explainInfo.maxValue"
    :style="{ left: `${minLeft}px !important` }"
    ><span class="min-text">最低值</span
    ><span :title="thousandSeparation(explainInfo.minValue)"
      >{{ thousandSeparation(explainInfo.minValue) }}</span
    ></span
  >
  <span
    class="mini-blue"
    v-if="isLegend == false && status === 1"
    :style="{ left: `${progressWidth}% !important` }"
    :title="explainInfo.measureValue"
    ><span>{{ thousandSeparation(explainInfo.measureValue) }}</span></span
  >
  <span
    class="mini-yellow"
    v-if="isLegend == false && status === 2"
    :style="{ left: `${progressWidth}% !important` }"
    :title="explainInfo.measureValue"
    ><span>{{ thousandSeparation(explainInfo.measureValue) }}</span></span
  >
  <span
    class="mini-red"
    v-if="isLegend == false && status === 3"
    :style="{ left: `${progressWidth}% !important` }"
    :title="explainInfo.measureValue"
  >
    <span>{{ thousandSeparation(explainInfo.measureValue) }}</span>
  </span>
  <span
    class="max"
    v-if="isLegend == true"
    :style="{ left: `${progressWidth}% !important` }"
    ><span class="max-text"
      >{{explainInfo.minValue === explainInfo.maxValue ?
      '最低值,最高值':'最高值'}}</span
    ><span :title="thousandSeparation(explainInfo.maxValue)"
      >{{ thousandSeparation(explainInfo.maxValue) }}</span
    ></span
  >
  <span
    class="line-long-blue"
    v-if="isLegend == false && status === 1"
    :style="{ left: `${progressWidth}% !important` }"
  ></span>
  <span
    class="line-long-yellow"
    v-if="isLegend == false && status === 2"
    :style="{ left: `${progressWidth}% !important` }"
  ></span>
  <span
    class="line-long-red"
    v-if="isLegend == false && status === 3"
    :style="{ left: `${progressWidth}% !important` }"
  ></span>
  <span
    class="current"
    :style="{ left: `${currentLeft}% !important` }"
    v-if="isLegend == true"
  >
    <span class="current-text">中位数</span
    ><span :title="thousandSeparation(explainInfo.medianValue)"
      >{{ thousandSeparation(explainInfo.medianValue) }}</span
    >
  </span>
</div>
