.os-operate-dialog {
    .el-select {
        width: 100%;
    }
    :deep(.el-textarea__inner){
        min-height: 140px !important;
    }
    :deep(.el-input__count){
        bottom: 1px;
    }
    :deep(.ar-dialog-input .el-input__suffix .el-icon) {
        display: none;
    }
}