// 重置弹窗样式
.el-dialog {
  &__header {
    display: flex;
    align-items: center;
    height: 48px;
    padding: 12px 20px !important;
    background-color: var(--color-table-header);
    border: none;
    border-radius: 3px 3px 0 0;

    .el-dialog__title {
      color: var(--color-primary);
      line-height: 24px;
      font-size: 14px;
      font-weight: 400;
    }

    .el-dialog__headerbtn {
      top: 8px;
      right: 20px;
      color: #00000073;

      i {
        position: relative;
        top: 3px;
        font-size: 20px;
      }
    }
  }

  &__body {
    padding: 20px 20px 16px;
  }

  &__footer {
    text-align: center !important;
    padding: 16px 20px;
    border-top: 1px solid var(--color-text-border);
  }
}
