// message
.el-message {
  z-index: 9999 !important;
  --el-message-min-width: 0 !important;
  padding: 10px 19px !important;
  background-color: var(--color-default) !important;
  box-shadow: 0px 10px 32px 0px rgba(38, 38, 38, 0.18) !important;
  border: none !important;

  i.el-message__icon {
    margin-right: 12px !important;
    font-size: 18px !important;

    svg {
      display: none !important;
    }

    // 成功
    &.el-message-icon--success::before {
      font-family: 'iconfont' !important;
      content: '\e6c7' !important;
    }

    // 失败
    &.el-message-icon--error::before {
      font-family: 'iconfont' !important;
      content: '\e6c6' !important;
    }

    // 警告
    &.el-message-icon--warning::before {
      font-family: 'iconfont' !important;
      content: '\e6c8' !important;
    }

    // 通知
    &.el-message-icon--info::before {
      font-family: 'iconfont' !important;
      content: '\e6c9' !important;
      color: var(--color-primary) !important;
    }
  }

  p.el-message__content {
    font-size: 14px !important;
    color: var(--color-text-primary) !important;
  }
}

// 自定义消息
.download-message.el-message {
  box-shadow: 0px 12px 42px 0px rgba(38, 38, 38, 0.24);

  p {
    color: rgba(0, 0, 0, 0.65) !important;
  }

  .el-icon.el-message__icon {
    margin-right: 8px !important;

    svg {
      display: none !important;
    }

    &::before {
      font-family: 'iconfont' !important;
      content: '\e73c' !important;
      color: #1890ff !important;
      font-size: 14px !important;
    }

    animation-name: icon_rotate !important;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
  }
}

@keyframes icon_rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
