.association-analysis-table {
  width: calc(100% - 20px);
  padding: 0px 10px 18px;
  :deep(.el-table) {
    td,
    th {
      padding: 8px 0px;
      height: 40px !important;
    }
    .el-table__header {
      width: 100% !important;
    }
    .el-table__body {
      width: 100% !important;
    }
    .el-tooltip {
      width: 100% !important;
    }
    .el-table__body tr.el-table__row--striped td {
      border: 0;
    }
    .el-table__body tr.el-table__row--striped td {
      border: 0;
    }
    td,
    th.isleaf {
      border: 0;
    }
  }
  :deep(.el-table thead th .cell) {
    height: 23px !important;
    line-height: 23px !important;
  }
  .text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
