<div class="association-analysis-table">
  <el-table :data="tableData" :stripe="lightOrDark" style="width: 100%" height="300" :empty-text="emptyText">
    <el-table-column prop="index" label="序号" width="60" align="center">
      <template #default="scope">
        {{ scope.$index + 1 }}
      </template>
    </el-table-column>
    <el-table-column prop="treeName" label="用能对象" align="center" width="160">
      <template #default="scope">
        <el-tooltip class="tips" effect="dark" :content="scope.row.treeName" placement="bottom" :show-after="500">
          <div class="text">{{ scope.row.treeName }}</div>
        </el-tooltip>
      </template>
    </el-table-column>
    <el-table-column prop="paramName" label="关联参数" width="140" align="center">
      <template #default="scope">
        <el-tooltip class="tips" effect="dark" :content="scope.row.paramName" placement="bottom" :show-after="500">
          <div class="text">{{ scope.row.paramName }}</div>
        </el-tooltip>
      </template>
    </el-table-column>
    <el-table-column prop="coefficient" label="关联系数" width="100" align="center">
      <template #default="scope">
        <el-tooltip
          class="tips"
          effect="dark"
          :content="scope.row.coefficient.toString()"
          placement="bottom"
          :show-after="500"
        >
          <div class="text">{{ scope.row.coefficient }}</div>
        </el-tooltip>
      </template>
    </el-table-column>

    <el-table-column prop="correlationResult" label="分析结果" align="center">
      <template #default="scope">
        <el-tooltip
          class="tips"
          effect="dark"
          :content="scope.row.correlationResult"
          placement="bottom"
          :offset="4"
          :show-after="500"
        >
          <div class="text">{{ scope.row.correlationResult }}</div>
        </el-tooltip>
      </template>
    </el-table-column>
  </el-table>
</div>
