.ea-detail-container {
  margin: 12px 0;

  &.boundary {
    margin-bottom: 0;

    .ea-detail-container__detail {
      background-color: var(--color-default);

      padding-top: 0;
      padding-bottom: 0;
      padding-right: 0;

      .title {
        position: relative;
        padding-left: 6px;
      }

      .title::before {
        position: absolute;
        content: url('../../../../../assets/img/energy-anomaly/ea-exception-flag.svg');

        top: 1px;
        left: -16px;

        width: 18px;
        height: 12px;
        background-size: 100% 100%;
      }
    }
  }

  &__header {
    .bold {
      color: var(--iot-anomaly-card-count-bg-color);
      margin-left: 8px;
    }

    .energy-code {
      margin-left: 12px;
      padding: 0 7px;
      border-radius: 2px;
      background-color: #f54d42;
      border: 1px solid #f44d42;
      color: #fff;
      font-size: 14px;
      line-height: 16px;
    }
  }

  &__detail {
    position: relative;
    background-color: var(--check-select-scroll-bg);
    margin-top: 8px;
    padding: 12px 16px;
    border-radius: 2px;

    .title {
      color: var(--iot-font-color-deep);
      text-align: left;
    }

    .detail {
      position: relative;
      cursor: pointer;
      color: var(--iot-color-active);
    }

    .hide-icon {
      width: 24px;
      height: 24px;
      text-align: center;
      line-height: 24px;
      border-radius: 50%;
      box-shadow: 0 0 2px 0 rgb(0, 0, 0, 0.05);
      position: absolute;
      top: 1px;
      left: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;
      display: none;
    }

    .ems-iconfont.icon-yincang {
      font-size: 14px;
    }
  }

  &__detail:hover {
    .hide-icon {
      display: inline-block;
      z-index: 999;

      i {
        font-weight: 600;
      }
    }

    .ems-iconfont.icon-yincang:hover {
      color: var(--iot-color-active);
    }
  }

  &__result {
    .content {
      padding-top: 12px;
    }

    .process-remark {
      height: 121px;
      border: 1px solid var(--iot-border-color);
      border-radius: 4px;
      overflow: hidden;

      textarea {
        flex: 1;
        border-top: none;
        border-left: none;
        border-right: none;
        border: 0;
        padding: 8px 12px;
        resize: none;
      }

      &__btn {
        margin-top: 1px;
        border-top: 1px solid rgba(0, 0, 0, 0.05);
        height: 36px;
        line-height: 36px;
        padding: 0 18px;
        background-color: #fff;

        button {
          height: 36px;
          line-height: 36px;
        }

        button:first-child {
          color: rgba(0, 0, 0, 0.65);
        }
      }
    }
  }

  &__unexpand {
    cursor: pointer;
    text-align: center;
    background-color: var(--iot-border-color-shadow);

    .ems-iconfont.icon-xiangxia {
      font-size: 14px;
      transform: rotateZ(0);
      transition: all 300ms;
    }

    .ems-iconfont.icon-xiangxia.rotate {
      display: inline-block;
      transform: rotateZ(-180deg);
      transition: all 233ms;
    }
  }
}
