.ma-esp-dm-basic-maintain {
  .el-form {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
:deep(.el-dialog) {
  .el-dialog__footer {
    justify-content: flex-end !important;
    text-align: right !important;
  }
}
