.te-input {
  input.te-input__inner {
    &:focus {
      box-shadow: none !important;
    }
  }

  &.is-disabled {
    input {
      background-color: transparent;
    }
  }
}

.te-input__inner:read-only::placeholder,
.te-input__inner:disabled::placeholder {
  color: var(--color-text-disable) !important;
}

.te-input:not(.is-disabled) [readonly],
.el-cascader:not(.is-disabled) [readonly] {
  cursor: default !important;
  color: var(--color-text-primary) !important;
  background-color: var(--color-default) !important;
}

.te-input__inner:read-write:enabled:focus {
  box-shadow: none;
}
