<div class="ma-esp-dm-form">
  <el-form :inline="true" :model="sarchBar.espForm" @submit.native.prevent>
    <el-form-item label="项目类型">
      <el-select v-model="sarchBar.espForm.projectCode" :popper-append-to-body="false" placeholder="请选择项目类型">
        <el-option
          v-for="(item, index) in sarchBar.projectTypeList"
          :key="'status_' + index"
          :label="item.name"
          :value="item.code"
        ></el-option>
      </el-select>
    </el-form-item>
    <el-form-item label="年份">
      <el-select v-model="sarchBar.espForm.year" :popper-append-to-body="false" placeholder="请选择年份">
        <el-option
          v-for="(item, index) in sarchBar.yearList"
          :key="'status_' + index"
          :label="item.name"
          :value="item.code"
        ></el-option>
      </el-select>
    </el-form-item>
    <el-form-item>
      <button primary @click="onSearch">查询</button>
      <button @click="onReset">重置</button>
    </el-form-item>
  </el-form>
</div>
