<el-dialog
  v-model="dialogVisible"
  title="隐藏项"
  :close-on-click-modal="false"
  :width="computedDialogWidth"
  :before-close="onDialogBeforeClose"
>
  <div class="ea-hidden-anomaly-dialog flex flex-column" v-loading="loading" @click="e => onHideInput(e)">
    <el-input
      v-model="hideFilterText"
      suffix-icon="el-icon-search"
      class="mb16"
      placeholder="请输入关键字搜索"
    ></el-input>
    <div class="flex1">
      <div v-if="computedList && computedList.length > 0">
        <div class="hide-card flex" v-for="(item, index) in computedList" :key="'hide_' + index">
          <div class="hide-card__info">
            <div class="font24 bold" :title="item.treeName">
              {{ item.treeName }}
            </div>
            <div class="font14" :title="item.treePath">{{ item.treePath }}</div>
          </div>
          <div class="hide-card__list flex flex-wrap" v-if="item.hideCardList && item.hideCardList.length > 0">
            <div
              class="anomaly-item flex-column-justify-end"
              v-for="(childItem, childIndex) in item.hideCardList"
              :key="childIndex"
            >
              <div class="flex-row-justify-end anomaly-item__header">
                <span class="title font14">{{ childItem.typeName }}</span>
                <span class="btn" @click="onCancelHide(childItem.hideId)">取消隐藏</span>
              </div>
              <div class="flex-row-justify-center" style="line-height: 25px;">
                <span class="subtext">剩余时长</span>
                <span class="count">
                  <span v-show="childItem && !childItem.isInserting">
                    <span :class="[childItem.hideDay > INFINITY_DAY ? 'font26  infinity' : 'font16', 'bold']"
                      >{{ childItem.hideDay > INFINITY_DAY ? '∞' : childItem.hideDay }}</span
                    >
                    <span class="bold font16">天</span>
                    <i class="ems-iconfont icon-bianji2" @click.stop="onCardInsertShow(childItem, item.treeId)"></i>
                  </span>
                  <span v-show="childItem && childItem.isInserting">
                    <el-input
                      class="insert-input"
                      placeholder="请输入时长"
                      v-model="childItem.insertDay"
                      @blur="onInputEnterClick(childItem)"
                      @input="onDayInsert(index, childIndex)"
                    >
                    </el-input>
                  </span>
                </span>
              </div>
            </div>
          </div>
          <div class="hide-card__nodata"></div>
        </div>
      </div>
    </div>
    <no-data v-if="computedList?.length === 0 && !loading"></no-data>
  </div>
</el-dialog>
