.home-association-analysis {
  width: 100%;
  height: 100%;
  color: var(--iot-font-color-shadow);
  .an-switch--wrap {
    padding: 16px 30px 16px 0px;
    display: flex;
    justify-content: flex-end;
  }
  :deep(.an-table) {
    width: 100%;
    height: calc(100% - 64px);
    display: flex;
    justify-content: center;
    align-content: center;
  }
  :deep(.el-table__empty-block) {
    margin-left: 50%;
    transform: translate(-50%, 0);
  }
}
