<div class="ea-line-bar-chart">
  <div class="ea-line-bar-chart-thb" v-if="valueMean === '1'">
    <div v-for="(item, index) in thbDataList" :key="'thb_'+index" class="thb-item" @click="onThbSelect(index)">
      <span
        v-show="(item.title === '同比' && isMH.tbFlag) || (item.title === '环比' && isMH.hbFlag)"
        class="thb-item-legend"
        :style="{backgroundColor : item.isActive ? item.activeColor : item.color}"
      ></span>
      <span
        v-show="(item.title === '同比' && isMH.tbFlag) || (item.title === '环比' && isMH.hbFlag)"
        class="thb-item-name"
        :style="{color : item.isActive ? item.activeColor : item.color}"
      >
        {{ item.title }}
      </span>
    </div>
  </div>
  <!-- <div :id="echartsContainerId" :style="{width: chartWidth, height}"></div> -->
  <iot-echarts-container
    :useEchartsOptions="getBarLineEchartsOption"
    :height="height"
    :width="chartWidth"
    :hasLineClick="true"
    @lineClick="chartClick($event)"
  ></iot-echarts-container>
</div>
