.ea-energy-consumption-detail {
  padding-bottom: 16px;

  table {
    thead {
      display: table;
      width: 100%;
      table-layout: fixed;
    }

    thead.overflow-thead {
      width: calc(100% - 8px);
    }

    tbody {
      max-height: 240px;
      overflow-y: auto;
      display: block;

      tr {
        display: table;
        width: 100%;
        table-layout: fixed;

        td {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }
    }
  }
}
