html {
	font-size: 16px;
	word-break: break-word;
	background-color: #f5f5fa;
	height: 100%;
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
code,
em,
img,
q,
small,
strong,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
table,
tbody,
tr,
th,
td,
input,
figure {
	margin: 0;
	padding: 0;
	border: 0;
}
body {
	color: #3e4255;
	position: relative;
}
input,
textarea,
select,
button {
	color: #3e4255;
}
input::-webkit-input-placeholder {
	color: rgba(141, 146, 158, 0.5);
}
textarea::-webkit-input-placeholder {
	color: rgba(141, 146, 158, 0.5);
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	vertical-align: middle;
}
address,
caption,
cite,
code,
dfn,
em,
i,
strong,
th,
var {
	font-style: normal;
	font-weight: normal;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block;
}
ol,
ul {
	list-style: none;
}
caption,
th {
	text-align: center;
}
q:before,
q:after {
	content: '';
}
abbr,
acronym {
	border: 0;
}
h1,
h2,
h3,
h4,
h5 {
	font-size: 100%;
	font-weight: normal;
}
a,
a:visited {
	color: inherit;
	text-decoration: none;
	-webkit-touch-callout: none;
}
