.tenant-nodata {
  width: 100%;
  height: inherit;
  text-align: center;
  img {
    width: 300px;
    height: 300px;
  }
  p {
    position: relative;
    bottom: 60px;
    font-size: 14px;
    color: var(--color-text-disable);
  }
}
