.switch-check {
    text-align: center;
}
.switch-check-item {
    // width: 137px;
    width:50%;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    font-weight: bold;
     color: var(--check-item-color);
    display: inline-block;
    background-color: var(--check-select-scroll-bg);;
    text-align: center;
    cursor: pointer;
}
.switch-check-item-selected {
    background-color: #1890FF;
    color: #ffffff;
}