.kb-measure-library {
  height: 100%;
  min-width: 1472px;

  &-content {
    height: 100%;

    .measure-library-btn {
      padding: 16px 0;
      text-align: right;

      &-upload {
        display: none;
      }
    }

    .measure-library-table {
      width: 100%;
      height: calc(100% - 68px);
      // overflow-x: auto;

      thead {
        th {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      tbody {
        td {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }

  .text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .operate-span {
    color: rgb(64, 158, 255, 1);
    cursor: pointer;
  }

  .delete-span {
    cursor: pointer;
    // margin: 0 16px;
    color: rgba(245, 34, 45, 1);
  }

  .table-nodata {
    height: 166px;

    p {
      margin-top: 8px;
      color: var(--color-text-disable);
    }
  }
}
