.environment-evaluation {
  .switch {
    display: flex;
    justify-content: flex-end;
  }
  .etLine {
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.15);
    margin: 16px 0;
  }
  .headerEcharts {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
    height: 36px;
    .mark-tip {
      display: flex;
      justify-content: flex-start;
      .mark-words {
        width: 18px;
        height: 18px;
        margin-left: 9px;
        span {
          width: 18px;
          height: 18px;
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .scatterRemarkBox {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .noData {
    padding-bottom: 20px;
  }
  .env-board {
    .env-box {
      display: flex;
      .env-card-wrap {
        display: inline-flex;
        width: 20%;
        padding: 24px 20px 40px;
        .env-card {
          width: 100%;
          min-width: 225px;
          height: 110px;
          position: relative;
          display: flex;
          justify-content: center;
          border-radius: 4px;
          background: #fff;
          box-shadow: 0 6px 18px 0 rgba(38, 38, 38, 0.14);
          .env-card-box {
            width: calc(100% - 40px);
            height: 100%;
            display: flex;
            justify-content: space-between;
            cursor: default;
            .env-card-left {
              width: calc(100% - 60px);
              padding-top: 17px;
              .env-card-title {
                display: flex;
                font-size: 14px;
                color: rgba(0, 0, 0, 0.85);
                padding-bottom: 5px;
                .env-question {
                  position: absolute;
                  right: 15px;
                  top: 12px;
                }
                .env-sub-title {
                  color: rgba(0, 0, 0, 0.45);
                  font-size: 12px;
                  padding-left: 8px;
                  top: 19px;
                }
              }
              .env-card-value {
                position: absolute;
                font-size: 36px;
                width: calc(100% - 80px);
                color: rgba(0, 0, 0, 0.85);
                display: inline-flex;
                align-items: center;
                .env-data {
                  font-size: 36px;
                  line-height: 56px;
                  display: inline-block;
                  max-width: calc(100%-10px);
                }
                .text-overflow {
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  letter-spacing: -2px;
                }
                .env-card-unit {
                  color: rgba(0, 0, 0, 0.45);
                  font-size: 14px;
                  padding-left: 4px;
                  margin-top: 15px;
                  display: inline-block;
                }
              }
            }
            .env-card-right {
              position: relative;
              width: 60px;
              display: inline-flex;
              margin-top: 25px;
              .icon-wrap {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
              }
              .icon-wrap-second {
                width: 44px;
                height: 44px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                .icon-bg {
                  width: 28px;
                  height: 28px;
                  border-radius: 50%;
                  color: #fff;
                  text-align: center;
                  line-height: 28px;
                  font-size: 14px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  img {
                    width: 100%;
                    height: 100%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 1601px) {
    .env-board .env-box .env-card-wrap {
      padding: 24px 10px 40px;
    }
    .env-boar .env-box .env-card-wrap .env-card .env-card-box .env-card-left .env-card-value {
      width: calc(100% - 80px);
    }
    .env-board .env-box .env-card-wrap .env-card .env-card-box .env-card-right {
      width: 50px;
      margin-top: 40px;
      .icon-wrap {
        width: 50px;
        height: 50px;
        .icon-wrap-second {
          width: 37px;
          height: 37px;
          .icon-bg {
            width: 23px;
            height: 23px;
            font-size: 12px;
            line-height: 23px;
          }
        }
      }
    }
    .environment-evaluation {
      .env-box {
        .env-card-wrap {
          .env-card {
            min-width: 290px;
          }
        }
      }
    }
  }
  // 最低评分/差
  .icon-wrap_lower {
    background-color: rgba(245, 34, 45, 1);
  }
  .icon-wrap_lower1 {
    background-color: rgba(245, 34, 45, 0.1);
  }
  .icon-wrap_lower2 {
    background-color: rgba(245, 34, 45, 0.2);
  }
  // 优
  .icon-wrap_good {
    background-color: rgba(24, 144, 255, 1);
  }
  .icon-wrap_good1 {
    background-color: rgba(24, 144, 255, 0.1);
  }
  .icon-wrap_good2 {
    background-color: rgba(24, 144, 255, 0.1);
  }
  // 中
  .icon-wrap_middle {
    background-color: rgba(250, 140, 22, 1);
  }
  .icon-wrap_middle1 {
    background-color: rgba(250, 140, 22, 0.1);
  }
  .icon-wrap_middle2 {
    background-color: rgba(250, 140, 22, 0.2);
  }
  .module-subhead {
    margin-bottom: 12px;
  }
  .page-common {
    min-width: 1200px;
  }
}
:deep(.page-common__search) {
  margin-bottom: 0px !important;
}
