// pagination
.te-pagination {
  position: relative;
  width: 100%;
  margin: 12px 16px 0 0;
  font-size: 14px !important;
  font-weight: 400;
  padding: 16px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;

  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;

  &__total {
    position: absolute;
    left: 16px;
  }

  &__suffix {
    width: 20px;
    transform: scale(1);
  }

  .btn-prev,
  .btn-next {
    border: 1px solid var(--te-border-color) !important;
    border-radius: 4px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    margin-left: 8px !important;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    .te-icon {
      display: inline-block;
    }
  }

  .btn-prev:not([disabled]):hover,
  .btn-next:not([disabled]):hover {
    border: 1px solid var(--te-color-primary) !important;
  }

  .btn-prev:not([disabled]),
  .btn-next:not([disabled]) {
    .te-icon {
      color: rgba(0, 0, 0, 0.65);
      font-weight: 400 !important;
    }
  }

  button:disabled {
    background-color: var(--color-text-background) !important;
    border-color: var(--te-border-color) !important;
    cursor: not-allowed !important;
  }

  .te-pager {
    margin-top: -1px;

    li {
      min-width: 32px;
      height: 32px;
      line-height: 32px;
      margin-left: 8px !important;
      border: 1px solid var(--te-border-color) !important;
      border-radius: 4px;
      color: rgba(0, 0, 0, 0.65);
      font-weight: 400;
    }

    li.te-icon {
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }

    li:hover,
    li.is-active {
      border: 1px solid var(--te-color-primary) !important;
    }
  }
}
