#ch-map {
  width: 100%;
  height: 100%;
  overflow: visible;

  display: flex;
  justify-content: center;
  align-items: center;

  > .ch-map-chart {
    width: 11.2rem;
    height: 8.8rem;
  }

  a {
    text-decoration: none;
  }

  .ch-map-tooltip {
    max-height: 1.46rem;
    padding: 0.08rem 0 !important;

    border-radius: 0.02rem !important;
    backdrop-filter: blur(0.07rem);

    > div:last-child {
      width: 0.12rem !important;
      height: 0.12rem !important;
      left: -0.06rem !important;

      clip-path: polygon(0 100%, 100% 100%, 100% 1%);
    }

    .ch-map-tooltip- {
      &scroll {
        max-height: 1.3rem;
        overflow: auto;
        z-index: 1;

        // .ch-map-tooltip-title {
        //   max-width: 1.2rem;
        // }

        // .ch-map-tooltip-state {
        //   max-width: 0.36rem;

        //   overflow: hidden;
        //   text-overflow: ellipsis;
        // }
      }
      &detail {
        width: 100%;
        height: 100%;

        z-index: -1;
        transition: all 233ms;
      }
      &link {
        z-index: 10;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        cursor: pointer;
      }

      &header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.1rem;
        padding: 0 0.17rem;
        height: 0.4rem;
      }

      &table-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        gap: 0.1rem;
        padding: 0 0.17rem;
        height: 0.4rem;
        &:hover {
          background-color: rgba(54, 129, 255, 0.38);
        }
      }
      &icon {
        font: 0.14rem/1 'iconfont';

        &[rank='deficit']::before {
          content: '\e711';
        }
        &[rank='low']::before {
          content: '\e710';
        }
        &[rank='middle']::before {
          content: '\e709';
        }
        &[rank='high']::before {
          content: '\e70a';
        }
      }
      &title {
        flex: auto;
        color: white;
        line-height: 0.22rem;
        font-size: 0.16rem;
        font-weight: 500;

        overflow: hidden;
        text-overflow: ellipsis;
      }
      &state {
        flex: none;
        color: rgba(0, 203, 255, 1);
        line-height: 0.17rem;
        font-size: 0.12rem;

        overflow: hidden;
        text-overflow: ellipsis;
      }

      &body {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        gap: 0.1rem;

        padding: 0 0.18rem;
      }
      &label {
        margin-right: 0.1rem;
        color: rgba(164, 230, 255, 1);
        line-height: 0.17rem;
        font-size: 0.12rem;
      }
      &value {
        color: white;
        line-height: 0.17rem;
        font-size: 0.12rem;
      }
    }
  }
}
