<div class="th-es-survey-item flex-row-start-center">
  <div class="th-es-survey-item--energy">
    <i :class="['iconfont', surveyValue.icon]"></i>
    <span :style="{color : surveyValue.color}">{{ surveyValue.energyName }}</span>
  </div>
  <div class="th-es-survey-item--data">
    <div class="count">
      <span class="count-num">{{ surveyValue.sum }}</span>
      <span class="unit">{{ surveyValue.sum !== '--' ? surveyValue.unit : '' }}</span>
    </div>
    <div class="flex precent">
      <div class="data-precent flex-row-center-center">
        <span class="title">同比</span>
        <i v-if="surveyValue.lastYearStatus === VALUE_STATUS.UP" class="iconfont icon-shangsheng"></i>
        <i v-if="surveyValue.lastYearStatus === VALUE_STATUS.DOWN" class="iconfont icon-xiajiang"></i>
        <span :class="['precent', surveyValue.lastYearRatio !== '--' ? '' : 'data-none']"
          >{{ surveyValue.lastYearRatio }}{{ surveyValue.lastYearRatio !== '--' ? '%' : ''}}</span
        >
      </div>
      <div class="data-precent flex-row-center-center">
        <span class="title">环比</span>
        <i v-if="surveyValue.lastMonthStatus === VALUE_STATUS.UP" class="iconfont icon-shangsheng"></i>
        <i v-if="surveyValue.lastMonthStatus === VALUE_STATUS.DOWN" class="iconfont icon-xiajiang"></i>
        <span :class="['precent', surveyValue.lastMonthRatio !== '--' ? '' : 'data-none']">
          {{ surveyValue.lastMonthRatio }}{{ surveyValue.lastMonthRatio !== '--' ? '%' : '' }}
        </span>
      </div>
    </div>
  </div>
</div>
