.th-es-survey-item {
  height: 0.67rem;
  max-height: 0.67rem;
  min-height: 0.67rem;
  overflow: hidden;
  gap: 0 0.1rem;

  &--energy {
    height: 0.67rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.1rem;

    & > i.iconfont {
      font-size: 0.32rem;
    }

    & > span {
      display: block;
      line-height: 0.22rem;
      font-size: 0.17rem;
    }
  }

  &--data {
    & > div.count {
      align-items: flex-end;
      height: 0.33rem;
      margin-bottom: 0.1rem;
      max-width: 2rem;
      overflow: hidden;
      text-overflow: ellipsis;
      color: white;
    }

    & > div.count > span.count-num {
      height: 0.33rem;
      line-height: 0.33rem;
      color: rgba(255, 255, 255, 100);
      font-size: 0.24rem;
      margin-right: 0.08rem;

      font-family: PingFangSC-Semibold;
    }

    & > div.count > span.unit {
      color: rgba(255, 255, 255, 100);
      font-size: 0.16rem;
      font-weight: 400;
    }

    & > div.flex.precent {
      height: 0.24rem;
      line-height: 0.24rem;
    }

    & > div.flex.precent > .data-precent {
      display: inline-flex;
      color: #fff;
      height: 0.24rem;
      line-height: 0.24rem;
      border-radius: 0.12rem;
      padding: 0.03rem 0.08rem;
      background-color: rgba(44, 49, 60, 0.7);
      min-width: 0.72rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      & > span {
        display: inline-block;
        font-size: 0.12rem;
        line-height: 0.17rem;
      }
    }

    & > div.flex.precent > .data-precent > span {
      display: inline-block;
      color: #fff;
    }

    & > div.flex.precent > .data-precent > span.precent {
      max-width: 0.45rem;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    & > div.flex.precent > .data-precent > span.precent.data-none {
      padding-left: 0.06rem;
    }

    & > div.flex.precent > .data-precent > .iconfont {
      font-size: 0.16rem;
      transform: scale(0.5);
    }

    & > div.flex.precent > .data-precent:first-child {
      margin-right: 0.08rem;
    }
  }
}
