.cd-toolbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  :deep(.el-date-editor--month) {
    .el-input__prefix {
      left: auto;
      right: 8px;
    }
  }

  > .cd-toolbar-icon {
    position: relative;
    width: 36px;
    height: 36px;
    border-radius: 4px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    span.cd-toolbar-tooltip {
      padding: 5px 8px;
      background-color: #303133;
      color: #fff;
      border-radius: 2px;
      font-size: 14px;
      display: none;
      line-height: 22px;
      font-family: PingFangSC-Regular;

      position: absolute;
      top: -36px;
      left: 50%;
      transform: translateX(-50%);

      &::before {
        content: '';
        width: 8px;
        height: 8px;
        background-color: #303133;

        position: absolute;
        top: 28px;
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
      }
    }

    &:hover span.cd-toolbar-tooltip {
      display: inline-block;
      transition: all 233ms;
    }

    img {
      cursor: pointer;
      width: 16px;
      height: 16px;
    }

    &:not(.actived):hover {
      background-color: rgba(0, 0, 0, 0.04);
      transition: all 233ms;
    }
  }

  > .cd-toolbar-filter {
    border-radius: 4px;
    margin: 0 8px;

    &.actived {
      background-color: var(--color-hover);

      > .icon-toc-shaixuan:before {
        color: var(--color-primary);
      }
    }

    > .toc-iconfont {
      font-size: 16px;
    }

    > .icon-toc-shaixuan:before {
      color: var(--color-text-primary);
    }
  }

  :deep(.el-popover.cd-toolbar-popover) {
    padding: 0 !important;

    ul {
      padding: 2px 0;
      margin-bottom: 0;

      li {
        cursor: pointer;
        padding-left: 14px;

        height: 36px;
        line-height: 36px;

        color: var(--color-text-primary);
      }

      li:hover,
      li.is-selected {
        background-color: var(--color-hover);
        transition: all 233ms;
      }
    }
  }

  :deep(.el-dialog) {
    .vxe-table--body-wrapper.body--wrapper {
      overflow-x: hidden;
    }
  }
}
