<div class="cd-toolbar">
  <label class="mr8">统计截止时间</label>
  <el-date-picker
    style="width: 176px"
    :editable="false"
    :clearable="false"
    v-model="sFile.statisticsDate"
    type="month"
    placeholder="请选择时间"
    :disabled-date="mapDisabledDate"
    :prefix-icon="customPrefix"
    :clear-icon="customClose"
    :disabled="!hasAuthority"
    @change="()=>sFile.handleDateChange($event)"
  />
  <button class="ml16" v-if="hasAuthority" :disabled="sFile.isImporting" primary @click="importData()">
    导入SAP数据
  </button>

  <div :class="['cd-toolbar-icon cd-toolbar-filter', sFile.filterFlag ? 'actived' : '']" @click="clearFilter">
    <i class="toc-iconfont icon-toc-shaixuan" title="筛选"></i>
    <span class="cd-toolbar-tooltip">筛选</span>
  </div>

  <el-popover
    :append-to-body="false"
    placement="bottom-end"
    popper-class="cd-toolbar-popover"
    :width="108"
    trigger="hover"
    :show-arrow="false"
  >
    <template #reference>
      <div class="cd-toolbar-icon">
        <img src="../../../../assets/images/cost-detail/cd-table-size.png" alt="密度" title="密度" />
        <span class="cd-toolbar-tooltip">密度</span>
      </div>
    </template>
    <ul>
      <li
        v-for="(item, index) in typeOptions"
        :key="'type_' + index"
        :class="{ 'is-selected' : item.value === sFile.sizeType }"
        @click="sFile.setType(item.value)"
      >
        {{ item.label }}
      </li>
    </ul>
  </el-popover>

  <!-- 错误列表 -->
  <el-dialog
    custom-class="cd-t-exception-dialog"
    :model-value="sFile.visible"
    title="错误原因"
    :close-on-click-modal="false"
    @close="sFile.close()"
  >
    <vxe-table border="none" height="480px" :scroll-y="{ mode: 'wheel' }" show-overflow="tooltip" ref="toolTable">
      <vxe-column type="seq" title="序号" width="80px" align="center" header-align="center"></vxe-column>
      <vxe-column
        field="position"
        title="模板位置"
        width="280px"
        show-overflow="tooltip"
        align="center"
        header-align="center"
      >
      </vxe-column>
      <vxe-column
        field="detail"
        title="详细信息"
        show-overflow="tooltip"
        align="center"
        header-align="center"
      ></vxe-column>
    </vxe-table>
  </el-dialog>
</div>
