#mhm-master-node-model {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    width: 100%;
    height: 100%; 
    padding : 0 20px 38px 20px;
    .mhm-mnm-calendar {  
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: 100%;
        height: 57px;
        border-radius: 4px;
        background-color: rgba(255, 255, 255, 1);
        box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.12);
        background: url('../../../../../../../assets/images/management-analysis/ma-home-model/ma-home-model-bg.svg') no-repeat;
        background-size: cover;
        &-left {
            width: 20px;
            height: 20px;
            background: url(../../../../../../../assets/images/management-analysis/ma-home-model/ma-home-model-left-click.svg) no-repeat;
            cursor: pointer;
        }
        &-right {
            width: 20px;
            height: 20px;
            background: url(../../../../../../../assets/images/management-analysis/ma-home-model/ma-home-model-right-click.svg) no-repeat;
            cursor: pointer;
        }
        &-left-no {
            width: 20px;
            height: 20px;
            background: url(../../../../../../../assets/images/management-analysis/ma-home-model/ma-home-model-left-dis.svg) no-repeat;
            cursor: not-allowed;
        }
        &-right-no {
            width: 20px;
            height: 20px;
            background: url(../../../../../../../assets/images/management-analysis/ma-home-model/ma-home-model-right-dis.svg) no-repeat;
            cursor: not-allowed;
        }
        &-time { 
            width: 68px; 
            line-height: 22px;
            color: rgba(0, 0, 0, 0.85);
            font-size: 20px;
            text-align: left;
            font-family: PingFangSC-Medium;
            font-weight: 500;
        }
    }

    .mhm-mnm-line {
      display: flex;
      justify-content: space-between;
      position: absolute;
      top: 44px;
      height: 33px;
      width: 100%;
      background-color: transparent;
      padding: 0px 50px;
      z-index: 2001;
      &-group { 
          position: relative;
          width: 7px;
          height: 100%;
          &::before {
            content: '';
            position: absolute;
            top: 0;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background-color: rgba(226, 235, 241, 1);
            display: inline-block;
            }
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                width: 7px;
                height: 7px;
                border-radius: 50%;
                background-color: rgba(226, 235, 241, 1);
                display: inline-block;
                z-index: 1;
            }
          &-circular {
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background-color: rgba(226, 235, 241, 1);
          }
          &-circular-bottom {
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background-color: rgba(226, 235, 241, 1);
          }
          &-rectangle {
            position: absolute;
            left: 2.5px;
            width: 2px;
            height: 26px;
            border-radius: 50px;
            background-color:  rgba(200, 214, 222, 1);
           // border: 2px solid rgba(200, 214, 222, 1);  
            margin: 3.5px auto; 
            z-index: 2;
            border: 0;
          }

      }
    }
    
    .mhm-mnm-body {
      width: 100%;
      height: 300px;
      border-radius: 4px;
      background-color: rgba(255, 255, 255, 1);
      box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.12);
      padding: 18px;
    }
    .mhm-mnm-contents { 
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows:repeat(3, 78px);
        grid-gap: 15px 10px;
       
        &-month { 
          display: flex;
          flex-direction: column;
          gap: 4px;
          width: 100%;
          height: 100%;
          border-radius: 4px;
          padding: 10px 18px 15px 20px;
          overflow: hidden;
          &-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 28px;
            &-text { 
                color: rgba(125, 149, 163, 100);
                font-size: 20px; 
                font-family: PingFangSC-Semibold;
            }
            &-icon {
              width: 14px;
              height: 14.5px; 
              background: url('../../../../../../../assets/images/management-analysis/ma-home-model/ma-home-model-maost.svg') no-repeat;
              background-size: cover;
              ;
            }
            &-icon-hight {
              width: 14px;
              height: 14.5px; 
              background: url('../../../../../../../assets/images/management-analysis/ma-home-model/ma-home-model-least.svg') no-repeat;
              background-size: cover;
              ;
            }
          }

          &-body { 
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            width: 100%;
            &-text { 
                line-height: 20.89px; 
                font-size: 20px;
                text-align: left;
                font-family: DINAlternate-Bold;
                max-width: calc(100% - 28px);
                overflow: hidden;
                text-overflow: ellipsis;
            }
            &-unit {
              font-size: 14px;
              line-height: 14px;;
            }
            &-text-normal {
              color: rgba(0, 156, 255, 100);
            }
            &-text-serious {
              color: rgba(223, 14, 14, 100);
            }
          }
        }
        &-month-no {
          border: 1px solid rgba(0, 0, 0, 0.15); 

        }
        &-month-normal { 
          background-color: rgba(0, 156, 255, 0.06);
        }
        &-month-serious { 
          background-color: rgba(255, 236, 236, 1);
        } 
    }
    
    .mhm-mnm-empty {
      display: flex;
      width: 100%;
      height: 100%;
    
      > p {
        margin-top: 10px;
      }
    }
}