<div class="project-information-configuration">
  <page-container title="项目信息配置">
    <template v-slot:pageSearch>
      <el-form :inline="true" :model="pageForm" @submit.native.prevent>
        <el-form-item>
          <input v-textInputFilter v-model="pageForm.projectName" placeholder="请输入项目名称" />
        </el-form-item>
        <el-form-item label="状态">
          <el-select v-model="pageForm.status" placeholder="请选择状态">
            <el-option v-for="(item, index) in statuses" :key="'status_' + index" :label="item.name" :value="item.code">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="onSubmit">查询</el-button>
          <el-button @click="onReset">重置</el-button>
        </el-form-item>
      </el-form>
    </template>
    <template v-slot:pageContent>
      <div class="project-information-configuration__content" v-loading="loading">
        <table style="width: 100%" v-if="!loading">
          <thead>
            <tr>
              <th style="width: 70px">序号</th>
              <th>项目名称</th>
              <th>项目编码</th>
              <th>ems版本</th>
              <th>ems端侧地址</th>
              <th>图片名称</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) in dataSource" :key="'project_'+index">
              <td>{{ (pageForm.pageNum-1) * pageForm.pageSize + index + 1 }}</td>
              <td ellipsis>
                <el-tooltip
                  v-if="item.name !== '--'"
                  class="box-item"
                  effect="dark"
                  :content="item.name"
                  placement="bottom"
                  :show-after="500"
                >
                  <span ellipsis>{{ item.name }}</span>
                </el-tooltip>
                <span v-else>{{ item.name }}</span>
              </td>
              <td ellipsis>
                <el-tooltip
                  v-if="item.code !== '--'"
                  class="box-item"
                  effect="dark"
                  :content="item.code"
                  placement="bottom"
                  :show-after="500"
                >
                  <span ellipsis>{{ item.code }}</span>
                </el-tooltip>
                <span v-else>{{ item.code }}</span>
              </td>
              <td ellipsis>
                <el-tooltip
                  v-if="item.emsVersion !== '--'"
                  class="box-item"
                  effect="dark"
                  :content="item.emsVersion"
                  placement="bottom"
                  :show-after="500"
                >
                  <span ellipsis>{{ item.emsVersion }}</span>
                </el-tooltip>
                <span v-else>{{ item.emsVersion }}</span>
              </td>
              <td ellipsis>
                <el-tooltip
                  v-if="item.emsHost !== '--'"
                  class="box-item"
                  effect="dark"
                  :content="item.emsHost"
                  placement="bottom"
                  :show-after="500"
                >
                  <span ellipsis>{{ item.emsHost }}</span>
                </el-tooltip>
                <span v-else>{{ item.emsHost }}</span>
              </td>
              <td ellipsis>
                <el-tooltip
                  v-if="item.fileName !== '--'"
                  class="box-item"
                  effect="dark"
                  :content="item.fileName"
                  placement="bottom"
                  :show-after="500"
                >
                  <span ellipsis>{{ item.fileName }}</span>
                </el-tooltip>
                <span v-else>{{ item.fileName }}</span>
              </td>
              <td>
                <button text primary @click="onEidt(item)">编辑</button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="table-nodata flex-column-center-center" v-if="dataSource?.length === 0 && !loading">
          <img src="../../assets/images/common/common-data-none.svg" alt="" />
          <p>暂无数据</p>
        </div>
        <el-pagination
          v-show="total > 0 && !loading"
          @size-change="onSizeChange"
          @current-change="onPageChange"
          :current-page="pageForm.pageNum"
          :page-sizes="pageSizesArray"
          :page-size="pageForm.pageSize"
          layout="total, prev, pager, next, sizes, jumper"
          :total="total"
        ></el-pagination>
      </div>
    </template>
  </page-container>
  <PicEditDialog v-drag ref="PicEditDialogRef" :rows="rows" :emsVersionList="emsVersionList" @picEditOK="picEditOK">
  </PicEditDialog>
</div>
