<div id="th-management-analysis" @click="jumpToManagementAnalysis">
  <h5>本年经营分析</h5>

  <div class="th-ma-body">
    <div class="th-ma-statistic-list">
      <div class="th-ma-statistic-item">
        <span class="th-ma-statistic-item-icon icon-yingyu"></span>
        <span class="th-ma-statistic-item-name">盈余</span>
        <div class="th-ma-statistic-item-value-container">
          <span class="th-ma-statistic-item-value" :class="{ danger: service.surplus.value < 0 }">
            {{ service.surplus.value ?? '--' }}
          </span>
          <span class="th-ma-statistic-item-unit">{{ service.surplus.unit }}</span>
        </div>
      </div>
      <div class="th-ma-statistic-item">
        <span class="th-ma-statistic-item-icon icon-jienengshuai"></span>
        <span class="th-ma-statistic-item-name">节费率</span>
        <span class="th-ma-statistic-item-value-container">
          <span class="th-ma-statistic-item-value" :class="{ danger: service.saving.value < 0 }">
            {{ service.saving.value ?? '--' }}
          </span>
          <span class="th-ma-statistic-item-unit">{{ service.saving.unit }}</span>
        </span>
      </div>
    </div>

    <div v-if="service.list.length" class="th-ma-classification-grid">
      <template v-for="item in service.list">
        <span class="th-ma-classification-icon" :class="mapClassificationIcon(item.code)"></span>
        <span class="th-ma-classification-name">{{ item.name }}</span>
        <div class="th-ma-classification-bar-container" :type="mapClassificationBar(item)">
          <span class="th-ma-classification-bar" :style="{ width: mapBarWidth(item) }"></span>
          <span class="th-ma-classification-value" :style="{ left: mapBarWidth(item) }">{{ item.value }}</span>
        </div>
        <div class="th-ma-classification-value-container">
          <span class="th-ma-classification-value">{{ item.benchmark ?? '--' }}</span>
          <span v-if="item.unit" class="th-ma-classification-unit">({{ item.unit }})</span>
        </div>
      </template>
    </div>

    <div class="th-ma-empty-container" :class="{ none: service.list.length || service.isLoading }">
      <img class="th-ma-empty-icon" src="@/assets/img/common/common-table-nodata.svg" alt="暂无数据" />
      <span class="th-ma-empty-info">暂无数据</span>
    </div>
  </div>
</div>
