#th-management-analysis {
  width: 100%;
  height: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  cursor: pointer;

  > .th-ma-body {
    flex: auto;
    overflow: hidden;
    padding: 0 0.08rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .th-ma-statistic-list {
    flex: none;
    width: 1.7rem;
    margin: 0 0.1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 0.34rem;

    .th-ma-statistic-item {
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: 0.42rem 1fr;
      grid-template-rows: 0.42rem 0.2rem;
      place-content: stretch;
      place-items: center;
      gap: 0.13rem 0.1rem;

      &-icon {
        font: 0.42rem/1 'iconfont';

        &.icon-yingyu {
          font-size: 0.32rem;
        }
      }
      &-name {
        color: white;
        line-height: 0.2rem;
        font-size: 0.14rem;
      }

      &-value-container {
        grid-row: span 2;
        justify-self: stretch;
        overflow: hidden;

        color: white;
        text-overflow: ellipsis;
      }
      &-value {
        font: 0.21rem/0.29rem 'DINAlternate-Bold';

        &.danger {
          color: rgba(252, 75, 78, 1);
        }
      }
      &-unit {
        line-height: 0.2rem;
        font-size: 0.14rem;
      }
    }
  }

  .th-ma-classification-grid {
    flex: auto;
    max-height: 100%;
    overflow-y: auto;

    display: grid;
    grid-template-columns: 0.32rem max-content 1fr max-content;
    grid-auto-rows: 0.62rem;
    place-content: stretch;
    place-items: center stretch;

    .th-ma-classification {
      &-icon {
        font: 0.32rem/1 'iconfont';
      }
      &-name {
        margin: 0 0.07rem;
        color: white;
        line-height: 0.2rem;
        font-size: 0.14rem;
      }

      &-bar-container {
        height: 0.08rem;
        position: relative;

        background-color: rgba(34, 37, 45, 1);
        border-radius: 0.07rem;

        &[type='alarm'] {
          background-color: rgba(255, 0, 0, 0.6);
          box-shadow: 0px 0px 6px 0px rgba(255, 68, 0, 1), inset 0px 1px 5px 0px rgba(255, 73, 0, 1);

          > .th-ma-classification-value {
            color: rgba(254, 75, 78, 1);

            &::before {
              content: '\e702';
              margin-right: 0.07rem;
              font: 0.16rem/1 'iconfont';
            }
          }
        }
        &[type='blue'] {
          .mixinClassificationBar(rgba(54, 129, 255, 1),rgba(54, 129, 255, 1));
        }
        &[type='green'] {
          .mixinClassificationBar(rgba(0, 178, 97, 1),rgba(58, 217, 145, 1));
        }
        &[type='yellow'] {
          .mixinClassificationBar(rgba(255, 203, 32, 1),rgba(255, 221, 108, 1));
        }
        &[type='red'] {
          .mixinClassificationBar(rgba(254, 75, 78, 1),rgba(255, 114, 117, 1));
        }

        > .th-ma-classification-value {
          position: absolute;
          bottom: 0.13rem;
          transform: translateX(-50%);
        }
      }
      &-bar {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;

        border-radius: 0.07rem 0 0.14rem 0.07rem;
      }

      &-value-container {
        min-width: 0.5rem;
        margin: 0 0.1rem;
        position: relative;
      }
      &-value {
        color: white;
        line-height: 0.2rem;
        font-size: 0.14rem;
      }
      &-unit {
        overflow: hidden;

        position: absolute;
        top: 0.24rem;
        right: 0;
        left: 0;

        color: white;
        line-height: 0.17rem;
        font-size: 0.12rem;
        text-overflow: ellipsis;
      }
    }
  }

  .th-ma-empty-container {
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.1rem;

    &.none {
      display: none;
    }

    > .th-ma-empty-icon {
      width: 1.11rem;
      height: 0.78rem;
    }
    > .th-ma-empty-info {
      color: fade(white, 50%);
      line-height: 0.22rem;
      font-size: 0.14rem;
    }
  }
}

.mixinClassificationBar(@color-primary, @color-secondary) {
  > .th-ma-classification-bar {
    background-image: linear-gradient(to right, @color-primary, @color-secondary);
  }
  > .th-ma-classification-value {
    color: @color-primary;

    &::before {
      content: '';

      width: 0.01rem;
      height: 0.06rem;

      position: absolute;
      top: 100%;
      left: 50%;
      display: inline-block;

      background-color: @color-primary;
    }
  }
}
