<div class="energyconservation-assess">
  <page-common title="节能考核" :showSearch="true">
    <template v-slot:pageSearch>
      <!-- 头部搜索 -->
      <el-form :inline="true" :model="searchParams" class="energyconservation-assess__form" @submit.native.prevent>
        <el-form-item label="能源类型">
          <el-select v-model="searchParams.energyCode" @change="onEnergyCodeChange" style="width: 144px">
            <el-option
              v-for="item in energyCodeList"
              :key="item.code"
              :label="item.name"
              :value="item.code"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="定额类型">
          <el-select
            style="width: 130px"
            v-model="searchParams.quotaType"
            placeholder="请选择定额类型"
            @change="getTreeList"
          >
            <el-option
              v-for="item in quotaTypeList"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="日期">
          <el-date-picker
            @change="getTreeList"
            :disabledDate="onDisableDateCb"
            v-model="searchParams.quotaDate"
            :clearable="false"
            prefix-icon="iconfont icon-Calendar"
            clear-icon="iconfont icon-Close-Circle-Fill"
            :placeholder="searchParams.quotaType === 1 ? '请选择月份' : '请选择年份'"
            :type="searchParams.quotaType === 1 ? 'month' : 'year'"
          ></el-date-picker>
        </el-form-item>
        <el-form-item label="分析对象">
          <EcaTreeSelect
            v-model:radioValue="treeType"
            v-model:modelValue="searchParams.treeIds"
            :loading="treeLoading"
            :placeholder="'请选择分析对象'"
            :multiple="false"
            :showSearch="true"
            width="380px"
            :defaultProps="defaultTreeProps"
            :treeData="treeList"
            :radioData="treeTypeList"
            disabledKey="clickStatus"
            disabledValue="0"
            @tree-radio-change="onTreeTypeChange"
          >
          </EcaTreeSelect>
        </el-form-item>
        <el-form-item>
          <button primary @click.stop="onQueryData">查询</button>
          <button @click.stop="onReset">重置</button>
        </el-form-item>
      </el-form>
    </template>
    <template v-slot:pageContent>
      <div class="energyconservation-assess__content" v-loading="loading">
        <!-- 跳转配置页面 -->
        <div class="energyconservation-assess__content-link">
          <button primary @click.stop="onPageTo">定额配置</button>
        </div>
        <!-- 数据卡片 -->
        <div class="energyconservation-assess__content-data" :style="{ height: loading ? '144px' : 'auto' }">
          <div class="flex" v-if=" !loading && conclusion.consumeStatistics && conclusion.consumeStatistics.length > 0">
            <assess-data-item
              v-for="(item, index) in conclusion.consumeStatistics"
              :key="'item_' + index"
              :title="item.subjectTitle"
              :subjectState="item.subjectState"
              :waringCode="item.waringCode"
              :count="item.value"
              :unit="item.subjectUnit"
            ></assess-data-item>
            <div class="energyconservation-assess__content-data-suggestion">
              <span class="title">建议</span>
              <p class="tips mt16">{{ conclusion.proposeInfo || '暂无建议！' }}</p>
            </div>
          </div>
          <no-data v-if="!loading && conclusion.consumeStatistics?.length === 0"></no-data>
        </div>
        <!-- 进度条 -->
        <div :style="{ height: loading ? '144px' : 'auto' }">
          <using-progress
            v-if="!loading && usageProgress.benchValue"
            title="使用进度"
            :dateScope="{
                startTime: usageProgress.startTitle,
                endTime: usageProgress.endTitle
              }"
            :currentDate="currentDate"
            :consume="usageProgress.consume"
            :ideal="usageProgress.ideal"
            :quota="usageProgress.quota"
            :unit="usageProgress.benchUnit"
            :isHistoryDate="usageProgress.isHistoryDate"
            :quotaTitle="usageProgress.benchTitle"
            :quotaCount="usageProgress.benchValue"
          ></using-progress>
        </div>
        <div class="perch-div"></div>
        <!-- 余量分析 -->
        <module-subhead :title="searchTimeType === 1 ? '每日定额余量分析' : '每月定额余量分析'"></module-subhead>
        <div style="height: 260px">
          <iot-echarts-container
            v-if="
                !loading &&
                  quotaBalance &&
                  quotaBalance.legendData &&
                  quotaBalance.legendData.length > 0
              "
            :useEchartsOptions="getDailyAssessEchartsOption"
            :height="260"
          ></iot-echarts-container>
          <no-data v-if="!loading && quotaBalance.legendData.length === 0"></no-data>
        </div>
        <!-- 趋势分析 -->
        <module-subhead title="趋势分析"></module-subhead>
        <div>
          <iot-echarts-container
            v-if="
                trendAnalysis &&
                  trendAnalysis.legendData &&
                  trendAnalysis.legendData.length > 0
              "
            :useEchartsOptions="getTendencyAnalysisOption"
            :height="260"
          ></iot-echarts-container>
          <no-data
            v-if="(! trendAnalysis ||
          trendAnalysis.legendData?.length === 0) && !loading"
          ></no-data>
        </div>
      </div>
    </template>
  </page-common>
</div>
