.home-energy-cost-analysis {
  color: var(--iot-font-color-shadow);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .eca-configure {
    height: 100%;
    width: 100%;
  }
  .eca-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 16px 30px 0px;
    flex: none;
    .eca-total-info {
      .eca-total-text {
        color: var(--iot-font-color-root);
        font-size: 14px;

        .eca-total-unit {
          font-size: 12px;
        }
      }

      .eca-total-num {
        font-size: 24px;
        color: #1890ff;
        line-height: 28px;
        font-family: 'DINPro Medium';
      }
    }
  }

  .ecs-chart {
    // height: 310px;
    width: 100%;
    flex: auto;
  }
  .eca-no-data {
    height: calc(100% - 67px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .eca-no-configure {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .no-data-text {
    transform: translateY(-50%);
    color: rgba(0, 0, 0, 0.25);
  }
}
