<div v-drag="engAbnormalState.visible" style="position: relative">
  <el-dialog
    title="编辑能源异常"
    v-model="engAbnormalState.visible"
    width="30%"
    :close-on-press-escape="false"
    :close-on-click-modal="false"
  >
    <div class="dialog-content">
      <el-form :rules="rules" ref="ruleFormRef" :model="engAbnormalState" label-width="105px" label-position="left">
        <el-form-item label="能耗异常类型">
          <el-input disabled v-model="engAbnormalState.abnormalTypeName"></el-input>
        </el-form-item>
        <el-form-item label="异常描述">
          <el-input disabled v-model="engAbnormalState.thresholdName"></el-input>
        </el-form-item>
        <!-- 以下四种 编辑时不展示两个阈值 -->
        <el-form-item
          prop="generalThreshold"
          label="普通异常阈值:"
          v-if="
          engAbnormalState.engAbnormalType !== ABNORMAL_TYPES.CORRELATION &&
          engAbnormalState.engAbnormalType !== ABNORMAL_TYPES.PEAK &&
          engAbnormalState.engAbnormalType !== ABNORMAL_TYPES.COST&&
          engAbnormalState.engAbnormalType !== ABNORMAL_TYPES.RANK
            "
        >
          <el-input
            v-model="engAbnormalState.generalThreshold"
            v-inputFilter:number="{ integral:3, decimal:2 }"
          ></el-input>
          <em>%</em>
        </el-form-item>
        <el-form-item
          prop="seriousThreshold"
          label="严重异常阈值:"
          v-if="
          engAbnormalState.engAbnormalType !== ABNORMAL_TYPES.CORRELATION &&
          engAbnormalState.engAbnormalType !== ABNORMAL_TYPES.PEAK &&
          engAbnormalState.engAbnormalType !== ABNORMAL_TYPES.COST&&
          engAbnormalState.engAbnormalType !== ABNORMAL_TYPES.RANK
                
            "
        >
          <el-input v-model="engAbnormalState.seriousThreshold" v-inputFilter:number="{ integral:3, decimal:2 }">
          </el-input>
          <em>%</em>
        </el-form-item>
        <el-form-item label="告警等级">
          <el-select v-model="engAbnormalState.alarmLevelCode" @change="handleChange" placeholder="请选择告警等级">
            <el-option
              v-for="(item, index) in engAbnormalState.alarmLevelList"
              :key="index"
              :label="item.name"
              :value="item.code"
            >
            </el-option>
          </el-select>
        </el-form-item>
      </el-form>
    </div>
    <template #footer>
      <span class="dialog-footer">
        <button @click="onCancel">取消</button>
        <button primary @click="toSubmit">提交</button>
      </span>
    </template>
  </el-dialog>
</div>
