.dialog-content {
    input {
        position: relative;
    }
    em{
        position: absolute;
        top: 50%;
        right: 12px;
        transform: translateY(-50%);
    }
}

:deep(.el-form) {
    .el-select {
        width: 100%;
    }
}