.mhm-energy-total-echarts {
  display: flex;
  justify-content: space-between;
  height: 368px;
  .mhm-energy-total-echarts-tree {
    max-width: 265px;
    display: flex;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    > div:nth-child(1) {
      display: flex;
      justify-content: center;
      align-items: center;
      div {
        width: 104px;
        height: 37px;
        line-height: 37px;
        overflow: hidden;
        text-overflow: ellipsis;
        position: relative;
        border-radius: 2px;
        border: 1px solid rgba(75, 176, 255, 1);
        text-align: center;
      }
    }
    > div:nth-child(2) {
      position: relative;
      display: flex;
      align-items: center;
      .mhm-energy-total-echarts-treeChild-middle-left {
        position: absolute;
        top: 50%;
        transform: translateY(-1px);
        left: 0;
        width: 22px;
        border-top: 1px solid rgba(199, 199, 199, 1);
      }
    }
    .mhm-energy-total-echarts-treeChild {
      display: flex;
      margin-left: 42px;
      div:nth-child(1) {
        position: relative;
        .mhm-energy-total-echarts-treeChild-top {
          position: absolute;
          top: 10px;
          left: -20px;
          width: 20px;
          height: 54px;
          border-top: 1px solid rgba(199, 199, 199, 1);
          border-left: 1px solid rgba(199, 199, 199, 1);
        }
        .mhm-energy-total-echarts-treeChild-middle {
          position: absolute;
          top: 10px;
          left: -20px;
          width: 20px;
          border-top: 1px solid rgba(199, 199, 199, 1);
        }
        .mhm-energy-total-echarts-treeChild-bottom {
          position: absolute;
          bottom: 11px;
          left: -20px;
          width: 20px;
          height: 54px;
          border-bottom: 1px solid rgba(199, 199, 199, 1);
          border-left: 1px solid rgba(199, 199, 199, 1);
        }
        > div:nth-child(2) {
          margin-top: 5px;
          width: 0;
          height: 0;
          border-top: 5px solid transparent;
          border-bottom: 5px solid transparent;
          border-right: 20px solid rgba(18, 139, 237, 1);
        }
      }
      div:nth-child(2) > div {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin: 5px 10px 0 5px;
      }
      span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      img {
        margin-left: 10px;
        cursor: pointer;
      }
    }
  }
  #container {
    margin: 50px 0px 50px 4px;
    width: 670px;
    height: 268px;
    box-sizing: border-box;
  }
  .mhm-energy-charts-right-empty {
    width: 670px;
  }
  .mhm-energy-charts-left-empty {
    width: 265px;
  }
}
