$black: #222;
.em__share {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 2.25vh 4vw;
    background: #F2F3F6;
    .fold {
        width: 20px;
        height: 20px;
        transform: rotate(180deg);
    }
    .main {
        position: relative;
        flex-grow: 1;
        margin: .75vh 0 3vh;
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        background: url('../../../../../assets/img/energy-manager/share-background.png') center no-repeat;
        background-size: cover;
        border-radius: 5px;
        box-shadow: 0px 6px 15px -4px rgb(222 232 240);
        /* 中间文字部分：整体思路是通过 flex 均匀控制段落的间隙、vh控制文字间距、字体大小，从而使长、短屏幕文字都能分布均匀；*/
        .content__text {
            flex-grow: 1;
            // max-height: 530px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            /* gap: 15px; */
            padding: 4.5vh 5.33vw 5.25vh;
            color: rgba($color: #fff, $alpha: .8);
            letter-spacing: .5px;
            font-size: 2.4vh;
            /* @media screen and (max-height: 600px), (max-width: 320px) {
                font-size: 14px;
            } */
            .text--comment {
                position: relative;
                margin-left: 2.2em;
                font-size: 1.25em;
                line-height: 1.5;
                color: rgba(0, 88, 184);
                & > img {
                    position: absolute;
                    top: 0;
                    left: -2.2em;
                    height: 1.1em;
                    width: 1.1em;
                }
            }
            .text--desc, .text--time {
                margin-left: calc(50% - 3em);
                font-size: 1em;
                line-height: calc(11/8);
            }
            .text--desc > p:nth-of-type(2n) {
                margin-top: 1.5vh;
                line-height: 1.75;
            }
            .text--time {
                font-family: 'DinPro Bold';
            }
            .text--emphasize {
                margin: 5px;
                vertical-align: sub;
                font-size: 1.75em;
                line-height: 1;
                font-family: 'DinPro Bold';
                color: #fff;
            }
        }
        .content__img {
            width: 100%;
            padding: 0 6.67vw 1.5vh;
            justify-content: space-between;
            color: #0058B8;
        }
    }
    .foot {
        position: relative;
        color: rgba($color: $black, $alpha: .5);
    }
    .flex {
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
        text-align: center;
    }
    .share__icon {
        width: 4.8vh;
        height: 4.8vh;
    }
    .share__text {
        margin-top: .75vh;
        height: 2.55vh;
        font-size: 1.8vh;
        line-height: 1.45;
    }
}
::ng-deep .am-toast-notice-content .am-toast-text {
    padding: 10px 36px;
    background: rgba(#222, .8);
    border-radius: .31rem;
    .am-toast-text-info {
        font: 16px;
    }
  }