<div class="alarm-log" v-drag>
  <el-dialog title="日志" v-model="dialogLogVisible" width="686px" :close-on-press-escape="false"
    :close-on-click-modal="false" :before-close="onInitBeforeClose">
    <div class="alarm-log-title-box">
      <img src="../../../../assets/img/alarm-management/am-logDialog-sort.svg" class="alarm-log-title-box-img" />
      <span class="alarm-log-title-box-title">处理进程</span>
    </div>
    <el-timeline>
      <el-timeline-item>
        <template #dot>
          <!-- 圆角矩形 -->
          <div class="alarm-log-dot alarm-generate">
            <!-- 圆 -->
            <div class="alarm-log-dot-circular"></div>
            <!-- title -->
            <span class="alarm-log-dot-title">告警生成</span>
          </div>
          <span class="alarm-log-dot-time">{{ logGenerationTime }}</span>
        </template>
        <template #default>
          <div class="alarm-log-default">
            <span>系统产生</span>
          </div>
        </template>
      </el-timeline-item>
      <el-timeline-item v-if="logRows.length > 0" v-for="(item, i) in logRows" :key="i">
        <template #dot>
          <!-- 圆角矩形 -->
          <div class="alarm-log-dot " :class="
                item.operateType === '2' ? 'alarm-edit' : 'alarm-handle'
              ">
            <!-- 圆 -->
            <div class="alarm-log-dot-circular"></div>
            <!-- title -->
            <span class="alarm-log-dot-title">{{
              item.operateTypeText
              }}</span>
          </div>
          <span class="alarm-log-dot-time">{{ item.createTime }}</span>
        </template>
        <template #default>
          <div class="alarm-log-default">
            <div>
              <span>操作人:&nbsp;&nbsp;</span>
              <span>{{ item.loginName }}</span>
            </div>
            <div class="alarm-log-default-content">
              <span>备&nbsp;&nbsp;&nbsp;&nbsp;注:&nbsp;&nbsp;</span>
              <p style="display:inline-block; width: 450px;">
                {{ item.handleRemarks }}
              </p>
            </div>
          </div>
        </template>
      </el-timeline-item>
    </el-timeline>
  </el-dialog>
</div>