<table class="home-ecr-ranktable" scroll-y>
  <thead>
    <tr class="table-header">
      <th width="8%" style="min-width: 80px;">排名</th>
      <th width="20%" style="min-width: 200px;">排名对象</th>
      <th width="72%">{{ columnTitle }}</th>
    </tr>
  </thead>
  <tbody class="table-body" v-show="sortData?.length !== 0" style="height: 300px">
    <tr v-for="(item, index) in sortData" :key="index">
      <td class="xh" width="8%" style="min-width: 80px;">
        <span style="width: 28px; text-align: center; display: inline-block">{{ index + 1 }}</span>
      </td>
      <td class="text-overflow cursor-style" :title="item.treeName" style="max-width: 200px;padding-right: 20px;">
        {{ item.treeName }}
      </td>
      <td class="percent-chart" width="72%" style="min-width: 170px;">
        <span class="percent-chart-wrap" :style="{ 'min-width': '70px' }">
          <span :style="{ width: perWidthSet(item, sortData, index) }" class="percent-chart"></span>
        </span>
        <span
          class="text-overflow cursor-style"
          :style="{ width: '100px' }"
          :title="item.value === null ? '' : item.value"
        >
          {{ item.value === null ? '' : item.value }}
        </span>
      </td>
    </tr>
  </tbody>
  <div class="common-table__empty flex-column-center-center" v-show="sortData?.length === 0">
    <img src="../../../../../../assets/img/common/common-data-none.svg" alt="" />
    <span>暂无数据</span>
  </div>
</table>
