<div id="tree-manage" style="width: 100%">
  <page-common :title="'树模型管理'" :isSubHead="true" :showSearch="true">
    <template v-slot:pageSearch>
      <div class="common-search">
        <div class="search-form">
          <el-form :model="formSearch" :inline="true" @submit.native.prevent>
            <el-form-item label="">
              <el-input v-inputFilter:search v-model="formSearch.keyword" placeholder="请输入节点名称" maxlength="20">
              </el-input>
            </el-form-item>
            <el-form-item label="树类型">
              <el-select v-model="formSearch.treeType" placeholder="请选择树类型" @change="handleTreeTypeChange">
                <el-option v-for="(item, index) in treeTypeData" :key="index" :label="item.name" :value="item.code">
                </el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="节点类型" v-show="formSearch.treeType !== TM_TREE_TYPE.科室树">
              <el-select v-model="formSearch.nodeType" placeholder="请选择节点类型">
                <el-option v-for="item in nodeTypeData" :key="item.code" :label="item.name" :value="item.code">
                </el-option>
              </el-select>
            </el-form-item>
            <el-form-item>
              <button primary @click="onSubmit">查询</button>
            </el-form-item>
            <el-form-item>
              <button @click="onReset">重置</button>
            </el-form-item>
          </el-form>
        </div>
      </div>
    </template>
    <template v-slot:pageSubHead>
      <span class="tr-import-tip" v-if="emptyFlag"
        >模板仅能使用一次，第一次导入后只可通过页面维护，建议通过模板完成大部分模型</span
      >
      <button @click="leadingOut" :disabled="isLeadingOut">导出</button>
      <button @click="handleTemplateUpload" v-if="emptyFlag" :disabled="isUploading">导入</button>
      <button primary @click="downLoad" v-if="emptyFlag">{{ isDownloading ? '正在下载模板' : '下载模板' }}</button>
      <button v-if="emptyFlag" primary @click="dialogAddOperate(false, null)">新增</button>
    </template>
    <template v-slot:pageContent>
      <div v-loading="loading" id="table-container">
        <!-- 列表 start -->
        <el-table
          ref="tableRef"
          :data="tableData"
          v-if="!loading"
          row-key="id"
          style="width: 100%"
          :border="false"
          stripe
          :default-expand-all="expandAll"
          :expand-row-keys="expandedKeys"
          lazy
          :load="loadChildren"
          :tree-props="{ children: 'childTree', hasChildren: 'lazyNode' }"
          @expand-change="handleTableExpand"
        >
          <el-table-column
            label="节点名称"
            :show-overflow-tooltip="true"
            :formatter="formatter"
            :min-width="tableTreeNameWidth"
            fixed
          >
            <template #default="scope"><span v-html="formatTreeName(scope.row.treeName)"></span></template>
          </el-table-column>
          <el-table-column
            prop="treeSort"
            label="本级排序号"
            :formatter="formatter"
            min-width="120"
            :show-overflow-tooltip="true"
            align="center"
            fixed
          >
          </el-table-column>
          <el-table-column
            v-if="searchedTreeType !== TM_TREE_TYPE.科室树"
            prop="nodeTypeText"
            label="节点类型"
            :formatter="formatter"
            align="center"
            :show-overflow-tooltip="true"
            min-width="180"
          >
          </el-table-column>
          <el-table-column
            v-if="searchedTreeType !== TM_TREE_TYPE.科室树"
            prop="hospitalName"
            label="空间中心"
            :formatter="formatter"
            min-width="180"
            :show-overflow-tooltip="true"
            align="center"
          />
          <el-table-column
            v-if="searchedTreeType === TM_TREE_TYPE.区域树"
            prop="departmentName"
            label="科室属性"
            :formatter="formatter"
            min-width="180"
            :show-overflow-tooltip="true"
            align="center"
          />
          <el-table-column label="操作" align="center" width="200">
            <template #default="scope">
              <button text @click="dialogEditOperate(scope.row)">编辑</button>
              <button text v-if="scope.row?.treeLevel < 10" @click="dialogAddOperate(true, scope.row)">新增下级</button>
              <button text danger @click="deleteTreeNode(scope.row, scope.row.treeType, scope.row.treeLeaf)">
                删除
              </button>
            </template>
          </el-table-column>
        </el-table>
        <!-- 列表 end -->
      </div>
      <!-- <no-data v-else></no-data> -->
    </template>
  </page-common>
  <!-- 新增弹窗 start -->
  <tree-manage-add
    ref="addTreeRef"
    :treeTypeData="treeTypeData"
    :isAddChildrenFlag="isAddChildrenFlag"
    :emptyFlag="emptyFlag"
    :nodeTypeDataList="nodeTypeData"
    :searchedTreeType="searchedTreeType"
    @addSuccess="addNodeSuccess"
    @refreshState="checkEmpty"
  ></tree-manage-add>
  <!-- 新增弹窗 end -->
  <!-- 编辑弹窗 start -->
  <tree-manage-edit
    ref="editTreeRef"
    :searchedTreeType="searchedTreeType"
    :nodeTypeDataList="nodeTypeData"
  ></tree-manage-edit>
  <!-- 编辑弹窗 end -->
</div>
