@import (once) './flex.less';
@import (once) './theme.less';
@import (once) './toc-iconfont/toc-iconfont.css';
@import (once) './te-element-plus-reset/index.less';
@import (once) './quick.less';

body,
html {
  padding: 0;
  margin: 0;
  min-width: 100%;
  min-height: 100%;
}
#app {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: var(--nts-primary-color);
  background-color: var(--nts-body-html-bg-color);
}

* {
  font-size: 14px;
}

.el-form-item__error {
  font-size: 12px !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

li {
  list-style-type: none;
}

ul,
ol {
  list-style: none;
}

.el-header {
  padding: 0 !important;
}

// 重置滚动条样式
* {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.25);
    transition: background-color 0.3s;

    &:hover {
      background-color: rgba(0, 0, 0, 0.45);
    }

    &:active {
      background-color: rgba(0, 0, 0, 0.65);
    }
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
}

.tableHead {
  padding: 16px 0;
  line-height: 42px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .text {
    display: inline-block;
    line-height: 23px;
    font-size: 16px !important;
  }
}

.nts-edit-span {
  cursor: pointer;
  color: var(--nts-primary-active-color-blue);
}

.nts-delete-span {
  color: #f5222d;
  cursor: pointer;
}

.nts-disabled-span {
  cursor: not-allowed;
  color: var(--color-text-disable);
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table-nodata {
  height: 166px;
  p {
    margin-top: 8px;
    color: var(--color-text-disable);
  }
}

.el-popper {
  &[data-popper-placement='bottom-start'] > .el-popper__arrow {
    transform: translate(11px, 0) !important;
  }
}

.cd-ts-popover-dialog {
  padding: 0px !important;
}

.mt8 {
  margin-top: 8px;
}

.mt12 {
  margin-top: 12px;
}

.mr8 {
  margin-right: 8px;
}

.mr10 {
  margin-right: 10px;
}

.mr16 {
  margin-right: 16px;
}

.mr24 {
  margin-right: 24px;
}

.ml8 {
  margin-left: 8px;
}

.ml10 {
  margin-left: 10px;
}

.ml16 {
  margin-left: 16px;
}

.ml20 {
  margin-left: 20px;
}
