@import './quick/index.css';

// 重置tree
.el-tree {
  &-node {
    & > .el-tree-node__content {
      .el-checkbox.is-checked + .el-tree-node__label {
        background-color: var(--color-active) !important;
      }
    }

    &.is-current > .el-tree-node__content {
      background-color: var(--color-default) !important;
    }

    &.is-current.is-checked > .el-tree-node__content {
      background-color: var(--color-default) !important;

      .el-tree-node__label:not([disabled='true']) {
        background-color: var(--color-active);
      }
    }

    &.is-focusable {
      background-color: var(--color-default);

      &__content {
        background-color: var(--color-default);
      }
    }

    &__content {
      height: 34px !important;
      line-height: 34px !important;
      font-size: 14px;
      background-color: var(--color-default);
    }

    &:focus > .el-tree-node__content {
      background-color: var(--color-default) !important;
    }

    &__content:focus {
      background-color: var(--color-default) !important;
    }

    &__content:active {
      background-color: var(--color-default) !important;
    }

    &__content:hover {
      background-color: var(--color-default) !important;
    }

    &__label {
      line-height: 34px;
      padding: 7px 8px;
      line-height: 22px;
      font-size: 14px;
      border-radius: 4px;
      color: var(--color-text-primary);
    }

    &__label:not([disabled='true']):hover {
      background-color: var(--color-hover);
    }

    .custom-tree-node {
      height: 34px;
      line-height: 34px;
      padding: 7px 8px;
      line-height: 22px;
      font-size: 14px;
      border-radius: 4px;
      em {
        font-style: normal;
        color: var(--color-primary);
      }
    }

    .custom-tree-node:hover {
      background-color: var(--color-hover);
    }

    .custom-tree-node.custom-tree-node-active {
      background-color: var(--color-active);
    }
  }

  .el-tree__empty-block {
    position: relative;

    .el-tree__empty-text {
      top: 100%;
      color: var(--color-text-disable);
      &::before {
        content: '';
        width: 64px;
        height: 41px;
        background-image: url('../../assets/images/common/common-data-none.svg');
        position: absolute;
        top: -41px;
        left: 50%;
        transform: translateX(-50%);
        background-repeat: no-repeat;
      }
    }
  }
}

// i
i {
  cursor: pointer;
}

// form
.el-form {
  white-space: normal !important;

  &--inline {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .el-form-item {
      display: flex;
      align-items: center;
    }
  }

  &-item {
    margin-right: 16px !important;
    margin-bottom: 16px !important;
    display: flex;

    &__label {
      font-size: 14px;
      padding-right: 8px;
    }

    &__error {
      font-size: 14px;
      padding-top: 0;
    }
  }
}

// 表格头label
table {
  thead {
    tr th {
      text-align: center;
    }
  }
}

.el-table {
  * {
    font-size: 14px;
  }

  tbody {
    tr.el-table__row:hover td,
    tr.el-table__row.hover-row > td {
      background-color: var(--color-hover) !important;
    }

    tr {
      text-align: center !important;
      height: 24px;
      line-height: 24px;
      box-sizing: border-box !important;
      border-bottom: none !important;

      .cell {
        text-align: center;
        white-space: nowrap !important;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      td {
        border: none;
      }

      &:nth-child(even) td {
        background-color: #fafafa;
      }
    }
  }

  .table-column-item-label {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  th.el-table__cell {
    background-color: var(--color-table-header);
    height: 52px !important;
    // line-height: 52px !important;4
    padding: 0 10px !important;
    box-sizing: border-box !important;
  }

  thead th {
    background-color: var(--color-table-header) !important;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 600;
    border-bottom: none !important;
    text-align: center !important;

    .cell {
      align-items: center !important;
    }
  }

  td.el-table__cell,
  td {
    height: 48px;
    line-height: 48px;
    text-align: center !important;
    box-sizing: border-box !important;
    border-bottom: none !important;

    .cell {
      white-space: nowrap !important;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .el-table__empty-block {
    position: relative;
    height: 166px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .el-table__empty-block::before {
    content: '';
    width: 100%;
    height: 40px;
    background-image: url('../images/common/common-data-none.svg');
    background-size: 100% 100%;
    position: absolute;
    top: 47px;
    left: 50%;
    transform: translateX(-50%);
  }

  .el-table__empty-text {
    position: relative;
    top: 26px;
    line-height: 23px;
    color: var(--color-text-disable);
  }
}

.el-table::before {
  background-color: var(--color-default);
}

// 重置确认框样式
// popper
.el-popper {
  white-space: normal;
  word-break: break-all;

  .tips-dialog {
    white-space: normal;
    word-break: break-all;
  }

  .el-select-dropdown__wrap {
    .el-select-dropdown__list {
      margin: 0 !important;
      padding: 0 !important;

      .el-select-dropdown__item {
        height: 36px !important;
        line-height: 36px !important;
        font-size: 14px !important;
      }

      .el-select-dropdown__item.selected {
        background-color: #00000005 !important;
      }

      .el-select-dropdown__item:hover {
        height: 36px !important;
        line-height: 36px !important;
        background-color: var(--color-hover) !important;
      }
    }
  }

  .el-select-dropdown__empty {
    position: relative;
    height: 97px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    bottom: 10px;
  }

  .el-select-dropdown__empty::before {
    content: '';
    width: 50px;
    height: 35px;
    background-image: url('../images/common/common-data-none.svg');
    background-size: cover;
    position: absolute;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
  }

  &.el-picker__popper {
    tbody > tr > td {
      background-color: transparent !important;
    }
    table.el-year-table,
    table.el-month-table {
      tbody > tr > td {
        padding: 0;
        line-height: 66px;
        height: 66px;
      }
      &.el-month-table {
        td:not(.in-range) > div:hover {
          background-color: transparent !important;
        }
        td > div > a {
          width: 48px;
          height: 32px;
          line-height: 32px;
          border-radius: 0;
        }
        td:not(.disabled):not(.in-range) {
          & > div > a:hover {
            background-color: var(--color-hover) !important;
          }
        }
        td:not(.disabled):not(.in-range).today {
          > div > a {
            background-color: var(--color-hover) !important;
          }
        }
      }
    }

    &.yearrange-popper {
      .el-picker-panel__footer {
        display: none;
      }
    }

    .el-date-picker__header {
      padding-bottom: 8px;
      margin-bottom: 2px;
      border-bottom: 1px solid var(--color-text-divider);

      button {
        line-height: 23px;
        height: 23px;
        margin: 0;
      }

      .el-picker-panel__icon-btn {
        margin-top: 0;
      }
    }

    .el-date-range-picker__header {
      margin-bottom: 8px;

      button {
        position: relative;
        z-index: 9;
        line-height: 23px;
        height: 23px;
        margin: 0;
      }

      div {
        line-height: 23px;
      }
    }

    .el-date-range-picker__time-header {
      .el-time-panel__footer {
        padding: 0 !important;
      }
    }

    table.el-date-table,
    table.el-month-table,
    table.el-year-table {
      tr {
        background-color: #fff;
      }

      tr:hover {
        background-color: transparent;
      }

      tr td:not(.disabled) > div:hover,
      tr td:not(.disabled) > a:hover {
        background-color: #e6f7ff;
      }
    }

    .el-popper__arrow {
      display: none;
    }
  }

  // 下拉框
  &.el-select__popper {
    margin-top: -10px !important;

    .el-popper__arrow {
      display: none;
    }
  }

  // dropdown
  &.el-dropdown__popper,
  &.month-popper {
    .el-popper__arrow {
      display: none;
    }
  }
}

.el-popper.is-dark {
  min-width: 30px;
  max-width: 330px;
  min-height: 32px;
  line-height: 21px;
  padding: 6px 8px;
  color: var(--color-default);
  text-align: left;
  text-decoration: none;
  word-wrap: break-word;
  border-radius: 4px;
  opacity: 0.85;
  box-shadow: 0 2px 8px var(--color-text-border);

  .el-select-dropdown {
    .el-select-dropdown__item {
      font-size: 14px;
    }
  }
}

// tooptip 自定义类名 设置y轴滚动条位置 用于措施库表格措施描述提示框
.tips-dialog-tip {
  white-space: normal !important;
  padding: 6px 0 6px 5px !important;
}

// popover
.el-popover.el-popper {
  padding: 20px;

  .el-popconfirm {
    &__action {
      margin-top: 17px;
    }
  }
}

.el-cascader {
  &-menu__list {
    padding: 0 !important;
  }

  &__dropdown {
    .el-cascader-menu__wrap.el-scrollbar__wrap {
      height: auto !important;
    }

    .el-cascader-node {
      height: 36px !important;
      min-height: 36px !important;
      padding: 7px 10px !important;
      font-weight: 400 !important;
      font-size: 14px !important;
      margin: 0 !important;
      box-sizing: border-box !important;

      &__label {
        height: 36px !important;
        line-height: 36px !important;
        min-height: 36px !important;
      }
    }

    .el-cascader-node:hover,
    .el-cascader-node.is-active:hover {
      background-color: var(--color-hover) !important;
    }

    .el-cascader-node.is-active {
      background-color: #00000005 !important;

      i {
        display: none !important;
      }
    }
  }
}

.el-select {
  .select-trigger .el-input {
    .el-input__inner {
      min-height: 36px;
      height: 36px;
      padding: 0 24px 0 11px;
    }
    .el-input__suffix {
      i.el-input__validateIcon {
        display: none;
      }
    }
  }
}

// pagination
.el-pagination {
  position: relative;
  width: 100%;
  margin: 12px 16px 0 0;
  font-size: 14px !important;
  font-weight: 400;
  padding: 16px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;

  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;

  &__total {
    position: absolute;
    left: 16px;
  }

  &__suffix {
    width: 20px;
    transform: scale(1);
  }

  .btn-prev,
  .btn-next {
    border: 1px solid var(--color-text-border) !important;
    border-radius: 4px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    margin-left: 8px !important;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    .el-icon {
      display: inline-block;
    }
  }

  .btn-prev:not([disabled]):hover,
  .btn-next:not([disabled]):hover {
    border: 1px solid var(--color-primary) !important;
  }

  button:disabled {
    background-color: var(--color-text-background) !important;
    border-color: var(--color-text-border) !important;
  }

  .el-pager {
    margin-top: -1px;

    li {
      min-width: 36px;
      height: 36px;
      line-height: 36px;
      margin-left: 8px;
      border: 1px solid var(--color-text-border) !important;
      border-radius: 4px;
      font-weight: normal;
    }

    li.el-icon {
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }

    li:hover,
    li.active {
      border: 1px solid var(--color-primary) !important;
    }
  }

  .el-pagination__total {
    float: left;
    font-size: 14px;
  }

  .el-pagination__sizes {
    margin: 0 8px;
    height: 36px !important;

    .el-select.el-select--mini,
    .select-trigger,
    .el-input--suffix {
      height: 36px;

      .el-icon-arrow-up {
        line-height: 36px;
      }

      .el-input__inner {
        height: 36px;
        color: var(--color-text-primary) !important;
      }
    }

    .select-trigger {
      .el-input {
        margin: 0;
      }
    }
  }

  .el-pagination__jump {
    position: relative;
    margin-left: 0;
    font-size: 14px !important;
    line-height: 36px !important;
    height: 36px !important;

    &::before {
      content: '\8df3\81f3';
      position: absolute;
      left: -4px;
      background: #fff;
      width: 36px;
      height: 22px;
      line-height: 22px;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
    }

    .el-pagination__editor.el-input {
      width: 56px;
      height: 36px;
      margin: 0 4px;

      .el-input__inner {
        height: 100%;
        width: 100%;
      }

      .el-input__inner:hover {
        border: 1px solid var(--color-primary);
      }
    }
  }
}

// message-box
.el-overlay.is-message-box {
  .el-message-box__header {
    button {
      height: 22px;
      line-height: 22px;
    }

    button > .el-icon.el-message-box__close {
      position: relative;
      top: 2px;
    }
  }

  .el-message-box__content {
    .el-icon.el-message-box__status {
      position: absolute;
    }

    i {
      width: 18px;
      height: 18px;

      svg {
        width: 18px;
        height: 18px;
        position: relative;
        bottom: 4px;
        left: 0px;
      }
    }

    .el-message-box__message {
      padding-left: 30px;
    }
  }
}

// message
.el-message {
  z-index: 2445 !important;
  min-width: 160px !important;
  --el-message-min-width: 0;
  --el-message-padding: 12px 15px 12px 20px;
  box-shadow: 0px 12px 42px 0px rgba(38, 38, 38, 0.24);
}

.el-message.el-message--error,
.el-message.el-message--success,
.el-message.el-message--warning,
.el-message.el-message--info {
  background-color: var(--color-default);
  font-size: 14px;
  --el-message-font-color: var(--color-text-primary);
  border: none;
  z-index: 99999 !important;
}

.el-message.el-message--error i,
.el-message.el-message--success i,
.el-message.el-message--warning i,
.el-message.el-message--info i {
  font-size: 18px;
}

.el-message--warning .el-message__content {
  color: rgba(0, 0, 0, 0.65);
}

// 自定义消息
.download-message.el-message {
  box-shadow: 0px 12px 42px 0px rgba(38, 38, 38, 0.24);

  p {
    color: rgba(0, 0, 0, 0.65);
  }

  i.el-message__icon {
    margin-right: 8px;

    svg {
      display: none !important;
    }

    &::before {
      font-family: 'toc-iconfont' !important;
      content: '\e73c' !important;
      color: #1890ff;
      font-size: 14px;
    }

    animation-name: icon_rotate;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
  }
}

@keyframes icon_rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

// 重置弹窗样式
.el-dialog {
  &__header {
    display: flex;
    align-items: center;
    height: 48px;
    padding: 12px 20px;
    background-color: var(--color-table-header);
    border: none;
    border-radius: 3px 3px 0 0;

    .el-dialog__title {
      color: var(--color-primary);
      line-height: 24px;
      font-size: 14px;
      font-weight: 400;
    }

    .el-dialog__headerbtn {
      top: 8px;
      right: 20px;
      color: #00000073;

      i {
        font-size: 20px;
      }
    }
  }

  &__body {
    margin: 22px 5px 8px;
    padding: 4px 15px;
  }

  &__footer {
    text-align: center !important;
    padding: 16px 20px;
  }
}

// button
button {
  line-height: 36px;
}
.el-button {
  min-height: 36px !important;
  line-height: 36px !important;
  box-sizing: border-box !important;
  padding: 0 15px !important;
  font-size: 14px !important;

  // 重置默认按钮样式
  &.el-button--default {
    border-color: var(--color-primary) !important;

    color: var(--color-primary) !important;

    &:hover,
    &:focus,
    &:active {
      border-color: var(--color-primary);
      background-color: var(--color-default);
    }
  }

  &.el-button--primary,
  &.is-loading {
    // color: var(--color-default) !important;
    // background-color: var(--color-primary) !important;
    // border-color: var(--color-primary) !important;

    &:not(.is-disabled):hover {
      background-color: var(--color-primary-hover) !important;
      border-color: var(--color-primary-hover) !important;
    }

    &:not(.is-disabled):active {
      background-color: var(--color-primary-active) !important;
      border-color: var(--color-primary-active) !important;
    }
  }

  &.is-disabled {
    cursor: not-allowed !important;
    background-color: var(--color-text-background);
    border-color: var(--color-text-border) !important;
  }

  &--primary:not(.is-disabled):hover {
    background-color: var(--color-primary-hover) !important;
    color: #fff !important;
  }
}

.el-button + .el-button {
  margin-left: 12px;
}

button + button {
  margin-left: 12px;
}

// input
.el-input {
  font-size: 14px;

  .el-input__inner {
    height: 36px !important;
    padding: 0 11px !important;
  }
  .el-input__inner::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.25) !important;
  }
  &:not(.is-disabled) {
    &:hover {
      .el-input__inner {
        border-color: var(--color-primary);
      }
    }

    .el-input__inner {
      color: var(--color-text-primary) !important;
      background-color: var(--color-default) !important;
    }

    [readonly] {
      cursor: default !important;
      color: var(--color-text-primary) !important;
      background-color: var(--color-default) !important;
    }

    .el-input__inner::placeholder {
      color: var(--color-text-disable) !important;
    }
  }
  &.is-disabled {
    .el-input__inner {
      background-color: var(--color-text-background) !important;
      border-color: var(--color-text-border) !important;
      color: var(--color-text-disable) !important;
    }
  }
}

.el-cascader:not(.is-disabled) {
  &:hover {
    .el-input__inner {
      border-color: var(--color-primary);
    }
  }

  .el-input__inner {
    color: var(--color-text-primary) !important;
    background-color: var(--color-default) !important;
  }

  [readonly] {
    cursor: default !important;
    color: var(--color-text-primary) !important;
    background-color: var(--color-default) !important;
  }

  .el-input__inner::placeholder {
    color: var(--color-text-disable) !important;
  }
}

.el-input__inner,
.el-input__suffix {
  height: 36px;
  line-height: 36px;

  i {
    font-size: 16px;
  }

  .el-select__caret {
    line-height: 36px;
    font-size: 16px;
  }
}

.el-textarea {
  font-size: 14px;
}

.el-select:hover .el-input__inner {
  transition: all 300ms;
  border-color: var(--color-primary-hover);
}

.el-select-dropdown__item.selected {
  font-weight: 400;
  background-color: transparent;
}

//去除多选日期确认按钮
.el-date-editor {
  &.el-input__inner,
  .el-input__inner {
    height: 36px !important;
    line-height: 36px !important;
    padding-left: 11px;
  }

  .el-input__validateIcon {
    display: none !important;
  }

  // 日范围
  &.el-date-editor--daterange,
  &.el-date-editor--monthrange {
    position: relative;
    .el-icon.el-input__icon.el-range__icon {
      position: absolute;
      right: 6px;
      svg {
        display: none;
      }
      &::after {
        font-family: 'toc-iconfont';
        content: '\e69c';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 4px;
        font-style: normal;
      }
    }
    .el-icon.el-input__icon.el-range__close-icon {
      svg {
        display: none;
      }
      &::after {
        font-family: 'toc-iconfont';
        content: '\e7b7';
        position: absolute;
        top: 51%;
        transform: translateY(-50%);
        right: -1px;
        font-style: normal;
        background-color: #fff;
        font-size: 16px;
      }
    }
  }

  &:not(.is-disabled) {
    position: relative;
    cursor: pointer;

    input {
      background-color: var(--color-default);
      cursor: pointer;
    }

    // 去除输入框聚焦
    &.el-date-editor--monthrange,
    &.el-date-editor--year,
    &.el-date-editor--daterange,
    &.is-active {
      input:focus {
        box-shadow: none;
      }
    }

    // 年 月
    &.el-date-editor--year,
    &.el-date-editor--date,
    &.el-date-editor--month {
      .el-input__inner {
        padding-left: 11px;
      }
      .el-input__prefix,
      .el-input__suffix {
        height: 33px;
        top: 2px;
      }
      .el-input__prefix {
        left: auto;
        right: 6px;
        &-inner {
          position: relative;
          width: 16px;
          i {
            display: none;
          }
          &::after {
            font-family: 'toc-iconfont';
            content: '\e69c';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 4px;
          }
        }
      }
      .el-input__suffix-inner > i.el-icon {
        background-color: var(--color-default);
        z-index: 1;
        svg {
          display: none;
        }
        &::after {
          font-family: 'toc-iconfont';
          content: '\e7b7';
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          font-style: normal;
          right: 4px;
        }
      }
    }

    i {
      cursor: pointer;
    }
  }

  // 禁用状态
  &.is-disabled {
    background-color: var(--color-text-background) !important;
    border-color: var(--color-text-border) !important;
    input {
      background-color: transparent !important;
      color: var(--color-text-disable) !important;
      cursor: not-allowed !important;
    }
  }
}

.el-date-range-picker {
  tbody tr:hover {
    background-color: transparent !important;
  }
}

.el-year-table td.current:not(.disabled) .cell {
  color: var(--color-primary);
}

.el-year-table td .cell:hover {
  color: var(--color-primary-hover);
}

.el-year-table td.today .cell {
  color: var(--color-text-primary);
}

// loading
.el-loading-mask {
  background-color: var(--color-default) !important;
}
// el-popover
.el-popover .el-popconfirm .el-button--text {
  border: 1px solid var(--el-color-primary) !important;
}

// checkbox
.el-checkbox {
  &.is-disabled {
    .el-checkbox__input.is-disabled {
      .el-checkbox__inner {
        background-color: var(--color-text-background) !important;
      }
      .el-checkbox__inner::after {
        border-color: rgba(0, 0, 0, 0.65);
      }
    }
    .el-checkbox__label {
      color: var(--color-text-disable) !important;
    }
  }
}

// radio
.el-radio {
  &.is-disabled {
    .el-radio__inner::after {
      background-color: rgba(0, 0, 0, 0.65) !important;
    }
    .el-radio__label {
      color: var(--color-text-disable) !important;
    }
  }
}
