:root {
  /* 基础色 */
  --color-default: white;
  --color-aside-primary: #294db5;
  --color-aside-background: #edf5ff;
  --color-mask-background: transparent;
  --color-aside-fontsize-color: #000000a6;
  --color-hover: rgba(230, 247, 255, 1);
  --color-active: rgba(186, 231, 255, 1);
  --color-primary: rgba(24, 144, 255, 1);
  --color-primary-hover: rgba(64, 169, 255, 1);
  --color-primary-active: rgba(9, 109, 217, 1);
  --color-danger: rgba(255, 78, 87, 1);
  --color-danger-hover: rgba(255, 78, 87, 0.15);
  --color-danger-active: rgba(210, 7, 0, 1);

  /* 功能色 */
  --color-error: rgba(255, 78, 87, 1);
  --color-success: rgba(66, 199, 84, 1);
  --color-warning: rgba(255, 173, 38, 1);
  --color-link: rgba(54, 129, 255, 1);

  /* 文本色 */
  --color-text: black;
  --color-text-title: rgba(0, 0, 0, 0.85);
  --color-text-primary: rgba(0, 0, 0, 0.65);
  --color-text-secondary: rgba(0, 0, 0, 0.45);
  --color-text-disable: rgba(0, 0, 0, 0.25);
  --color-text-border: rgba(0, 0, 0, 0.15);
  --color-text-divider: rgba(0, 0, 0, 0.06);
  --color-text-background: rgba(0, 0, 0, 0.04);

  /* 边框 */
  --color-box-focus: rgba(24, 144, 255, 0.2);

  /* 表格 */
  --color-table-header: rgba(237, 245, 252, 1);
  --color-table-body: rgb(245, 245, 245, 1);

  /* 滚动条 */
  --color-scrollbar: rgba(0, 0, 0, 0.25);
  --color-scrollbar-hover: rgba(0, 0, 0, 0.45);
  --color-scrollbar-active: rgba(0, 0, 0, 0.65);

  --nts-primary-color: rgba(0, 0, 0, 0.65); // 常规字体颜色
  --nts-primary-title-color: #000; // 标题颜色
  --nts-header-menu-bg-color: #004ebf; // 头部 菜单背景色
  --nts-white-color-font: #fff; // 常规白色字体颜色
  --nts-white-color-bg: #fff; // 常规白色字体颜色
  --nts-body-html-bg-color: #fff; // 全局背景色
  --nts-shadow-color: #aaa; // 阴影
  --nts-primary-active-color-blue: #1890ff; // 常规高亮颜色蓝色
  --nts-primary-active-color-red: #f5222d; // 常规高亮颜色红色
  --nts-border-color: rgba(0, 0, 0, 0.15); // 边框颜色
  --nts-color-disabled: #a9a7a7; // disabled
  --nts-shadow-font-color-1: rgba(0, 0, 0, 0.65); // 浅色color
  --nts-bg-color-container: rgb(240, 244, 249); // container内容区背景色
  --nts-border-color: rgba(0, 0, 0, 0.15); // 边框颜色
  --nts-component-bg-color-white: rgb(255, 255, 255); // 白色背景
  --nts-color-component-shadow: rgba(38, 38, 38, 0.1); // 一般组件阴影色
  --nts-font-color-root: rgba(0, 0, 0, 0.65); // 全局基础文本颜色

  --nts-breadcrumb-border-color: #f0f0f0; // 面包屑边框
  --nts-breadcrumb-background-color: #fafafa; // 面包屑背景

  --nts-dialog-header-bg-color: #edf5fc;
  --nts-dialog-header-title-color: #1890ff;
}
