@import url('./flex.less');
@import '../style/global.less';
@import url('../iconfont/index.less');

each(range(50), {
    .font@{value} {
      font-size: @value * 1px;
    }
    .mt@{value} {
      margin-top: @value * 1px;
    }
  
    .mr@{value} {
      margin-right: @value * 1px;
    }
  
    .mb@{value} {
      margin-bottom: @value * 1px;
    }
  
    .ml@{value} {
      margin-left: @value * 1px;
    }
  });

.module {
  width: calc(50% - 8px);
  height: 400px;
  padding: 16px;
  border: 1px solid var(--color-text-divider);
}
