<el-dialog
  v-model="dialogVisible"
  title="隐藏时长"
  width="340px"
  :close-on-click-modal="false"
>
  <div class="ea-set-hideday-dialog">
    <div class="flex ea-set-hideday-dialog__shortcut">
      <span class="font14 label">快捷选项</span>
      <div class="options flex-row-justify-center">
        <span
          v-for="(item, index) in anomalyHideDays"
          :key="'days_' + index"
          :class="{
              font14: true,
              'selected-option': selectedDay === item.value
            }"
          @click="selectedDay = item.value"
          >{{ item.label }}</span
        >
      </div>
    </div>
    <div class="ea-set-hideday-dialog__self flex-row-start-center">
      <span class="font14 label">自 定 义</span>
      <el-input
        placeholder="请输入隐藏天数"
        v-model="insertDay"
        @input="onDayInsert"
      />
    </div>
  </div>
  <template #footer>
    <span class="dialog-footer" style="text-align: right">
      <button @click="dialogVisible = false">取消</button>
      <button primary @click="onHideDaySubmit" :loading="loading">
        确定
      </button>
    </span>
  </template>
</el-dialog>
