.aba-detail-item {
    width: 18.34%;
    text-align: center;
    font-size: 14px;
    margin-right: 7.16%;

    &__title {
        height: 38px;
        line-height: 38px;
        color: #fff;
    }

    &__item {
        border-bottom: 1px solid var(--iot-border-color);

        &-content {
            height: 38px;
            line-height: 38px;

            .num {
                display: inline-block;
                width: 48px;
                text-align: center;
            }

            .icon {
                padding: 0 4px;
            }

            img {
                width: 12px;
                padding: 0 6px;
            }
        }
    }
}

.aba-detail-item:last-child {
    margin-right: 0;
}