<div class="aba-detail-item">
    <div class="aba-detail-item__title" :style="{ backgroundColor: bgColor }">
        {{ title }}
    </div>
    <div class="aba-detail-item__item flex-row-center-center" v-for="(item, index) in list" :key="'item_' + index">
        <!-- 标题 -->
        <div class="aba-detail-item__item-content text-overflow" v-if="type === BENCH_TYPE.TITLE"
            :title="`${item.name}（${item.unit}）`">
            {{ item.name }}（{{ item.unit }}）
        </div>
        <!-- 测量值 -->
        <div class="aba-detail-item__item-content flex-row-center-center text-overflow"
            v-if="type === BENCH_TYPE.VALUE">
            <span class="num text-overflow" :title="`${item.measureValue}`">{{
                item.measureValue
                }}</span>
            <img v-if="item.status === BENCH_STATUS.HIGH"
                src="../../../../../assets/img/airport-benchmarking/ab-arrowHigh.svg" alt="上升" />
            <img v-if="item.status === BENCH_STATUS.LOW"
                src="../../../../../assets/img/airport-benchmarking/ab-arrowLow.svg" alt="下降" />
        </div>
        <div class="aba-detail-item__item-content text-overflow" v-if="type === BENCH_TYPE.STANDARD">
            <!-- 有最小值没有最大值 -->
            <span class="flex-row-center-center" v-if="
            Object.prototype.toString.call(item.maxValue) === '[object Null]' &&
              Object.prototype.toString.call(item.minValue) !== '[object Null]'
          ">
                <img src="../../../../../assets/img/airport-benchmarking/ab-greater.svg" alt="大于等于" />
                <span>{{ item.minValue }}</span>
            </span>
            <!-- 有最小值没有最大值 -->
            <span class="flex-row-center-center" v-if="
            Object.prototype.toString.call(item.maxValue) !== '[object Null]' &&
              Object.prototype.toString.call(item.minValue) === '[object Null]'
          ">
                <img src="../../../../../assets/img/airport-benchmarking/ab-less.svg" alt="小于等于" />
                <span>{{ item.maxValue }}</span>
            </span>
            <!-- 有最小值没有最大值 -->
            <span class="flex-row-center-center" v-if="
            Object.prototype.toString.call(item.maxValue) !== '[object Null]' &&
              Object.prototype.toString.call(item.minValue) !== '[object Null]'
          ">
                <span>{{ item.minValue }}</span>
                <span class="icon">~</span>
                <span>{{ item.maxValue }}</span>
            </span>
        </div>
    </div>
</div>