<div v-for="(item, index) in menus" :key="'menu_' + index">
  <a-menu-item v-if="!item.childMenu || item.childMenu.length === 0" :key="`${item.url}`" @click="onRouterTo(item.url)">
    <template #icon v-if="item.hasIcon">
      <img :src="mapIcon(item)" alt="icon" style="width: 14px; height: 14px" />
    </template>
    {{ item.name }}
  </a-menu-item>
  <a-sub-menu :key="item.url" v-else :popupOffset="[2, 0]" @titleClick="titleClick">
    <template #icon v-if="item.hasIcon">
      <img :src="mapIcon(item)" alt="icon" style="width: 14px; height: 14px" />
    </template>
    <template #title
      >{{ item.name }}
      <img
        src="@/assets/images/home/home-arrow-down.svg"
        alt="展开菜单"
        class="page-aside-down"
        @click="downMenu(item.url)"
        :style="transformDeg()"
      />
    </template>
    <AsideMenuItem :dataSource="item.childMenu"></AsideMenuItem>
  </a-sub-menu>
</div>
