<div class="energy-ranking">
  <page-common title="能耗排名" :showSearch="true">
    <template v-slot:pageSearch>
      <!-- 头部筛选组件 -->
      <PageSearchForm v-model:loading="loading" @search="onQueryRankingData" @error="onError"></PageSearchForm>
    </template>
    <template v-slot:pageContent>
      <!-- 内容区域 -->
      <div class="energy-ranking--content" v-loading="loading">
        <div
          style="height: 100%"
          v-if="!showNoData
            "
        >
          <div class="energy-ranking--content-bar flex flex-column">
            <div class="flex-row-justify-center" v-if="!loading">
              <module-subhead :title="'能耗排名'"></module-subhead>
              <icon-switch-button
                v-model="switchIconSelect"
                :switchItems="switchSortIcons"
                @switch-icon-button-change="switchIconChange"
                v-if="pieChartDataList?.length && pieTotal !== 0"
              ></icon-switch-button>
            </div>
            <!-- 柱状图 -->
            <div class="rank-echart" v-if="!showChartNoData && !loading">
              <iot-echarts-container
                :height="373"
                :useEchartsOptions="getEnergyAnalysisEchartsOption"
                @mouseover="onChartMouseEver"
                @mouseout="onChartMouseOut"
              >
              </iot-echarts-container>
              <p v-show="yaxisShowFlag && yaxisText" :style="{ ...yPosition }">
                {{ yaxisText }}
              </p>
            </div>
            <no-data :title="unConfigureMessage" style="height: 373px" v-show="showChartNoData && !loading"> </no-data>
            <div style="width: 100%; height: 24px"></div>
          </div>
          <div class="energy-ranking--content-pie flex" v-if="!loading">
            <div class="energy-ranking--content-pie-chart flex flex-column">
              <module-subhead :title="'能耗排名对象占比'"></module-subhead>
              <div class="total">
                能耗总值
                <em
                  >{{ Object.prototype.toString.call(pieTotal) !== '[object Null]' ? thousandSeparation(pieTotal) : '--'
                  }}</em
                >
                <em v-if="Object.prototype.toString.call(pieTotal) !== '[object Null]'">
                  <formatter-unit fontSize="22px" :formatHtml="unit"></formatter-unit>
                </em>
              </div>
              <!-- 饼图 -->
              <iot-echarts-container
                v-if="!showChartNoData && !loading"
                :height="373"
                :useEchartsOptions="getPieEchartsOption"
              ></iot-echarts-container>
              <no-data :title="unConfigureMessage" v-show="showChartNoData && !loading"></no-data>
            </div>
            <!-- 表格 -->
            <div class="energy-ranking--content-pie-table" v-if="!loading">
              <button class="mb12" primary @click.stop="onRankingDataExport">
                {{ downloadLoading ? '正在导出' : '导出'}}
              </button>
              <!-- 表格 -->
              <table class="container-data-table" style="width: 100%">
                <thead :style="{ width : tableDataList?.length > 6 ? 'calc(100% - 8px)' : '100%'}">
                  <tr>
                    <th style="width: 60px">排名</th>
                    <th>对象</th>
                    <th>类型</th>
                    <th :title="`${colName}（${unit}）`">{{ colName }}（{{ unit }}）</th>
                    <th>占比</th>
                  </tr>
                </thead>
                <tbody @scroll="onScroll">
                  <tr v-for="(item, index) in tableDataList" :key="index">
                    <td style="width: 60px">{{ item.order }}</td>
                    <el-tooltip
                      class="item"
                      effect="dark"
                      :show-after="500"
                      :content="item.name || '--'"
                      placement="bottom"
                      :offset="-4"
                    >
                      <td>{{ item.name }}</td>
                    </el-tooltip>
                    <el-tooltip
                      class="item"
                      effect="dark"
                      :show-after="500"
                      :content="item.energyType || '--'"
                      placement="bottom"
                      :offset="-4"
                    >
                      <td>{{ item.energyType }}</td>
                    </el-tooltip>
                    <td>
                      <span
                        v-if="Object.prototype.toString.call(item.value) === '[object Null]' ||  Object.prototype.toString.call(item.value) === '[object Undefined]'"
                      >
                        --
                      </span>
                      <el-tooltip
                        v-else
                        class="item"
                        effect="dark"
                        :content="thousandSeparation(item.value) || '--'"
                        :show-after="500"
                        placement="bottom"
                      >
                        <span>{{ thousandSeparation(item.value) }}</span>
                      </el-tooltip>
                    </td>
                    <td>
                      <span v-if="Object.prototype.toString.call(item.percent) === '[object Null]'">--</span>
                      <el-tooltip
                        v-else
                        class="item"
                        effect="dark"
                        :content="formatEmptyValue(item.percent, '%') || '--'"
                        :show-after="500"
                        placement="bottom"
                      >
                        <span>{{ formatEmptyValue(item.percent, '%') }}</span>
                      </el-tooltip>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div v-if="tableDataList?.length === 0" class="common-table__empty flex-column-center-center">
                <img src="../../../assets/img/common/common-data-none.svg" alt="" />
                <span>暂无数据</span>
              </div>
            </div>
          </div>
        </div>
        <no-data :title="unConfigureMessage" v-show="showNoData && tableDataList?.length === 0 && !loading"> </no-data>
      </div>
    </template>
  </page-common>
</div>
