.energy-ranking {
  width: 100%;
  height: 100%;
  overflow-y: auto;

  &--content {
    height: 100%;

    &-bar {
      .switch-button {
        position: relative;
        width: 108px;
        height: 32px;

        :deep(.switch-button--wrap .switch-button-item) {
          padding: 0 10px;
        }
      }

      .rank-echart {
        height: 373px;
        position: relative;

        p {
          position: absolute;
          padding: 5px 12px;
          font-size: 14px;
          color: #ffffff;
          background-color: rgba(0, 0, 0, 0.6);
          border-radius: 4px;
          max-width: 400px;
        }
      }
    }

    &-pie {
      padding: 16px 0;
      border-top: 1px solid var(--iot-border-color);
      width: 100%;

      &-chart {
        width: 55%;

        .total {
          margin-top: 20px;
          text-align: left;
          height: 22px;
          line-height: 22px;
          font-size: 14px;
          margin-left: 50px;

          em {
            font-size: 22px;
            color: var(--iot-color-active);
            padding-left: 10px;
          }
        }
      }

      &-table {
        width: 45%;
        text-align: right;

        thead {
          display: table;
          width: 100%;
          table-layout: fixed;
        }

        thead.overflow-thead {
          width: calc(100% - 8px);
        }

        tbody {
          max-height: 288px;
          overflow-y: auto;
          display: block;

          tr {
            display: table;
            width: 100%;
            table-layout: fixed;

            td {
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
            }
          }
        }
      }
    }
  }
}
