#work-plan-table {
  width: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: stretch;

  table > tbody > tr > td > .state-container {
    width: 72px;
    height: 24px;
    margin: auto;

    color: fade(black, 65%);
    background-color: fade(black, 4%);
    border: 1px solid fade(black, 15%);
    border-radius: 3px;

    &.active {
      color: rgba(24, 144, 255, 1);
      background-color: rgba(230, 247, 255, 1);
      border-color: rgba(24, 144, 255, 1);
    }
    &.danger {
      color: rgba(245, 34, 45, 1);
      background-color: rgba(255, 241, 240, 1);
      border-color: rgba(245, 34, 45, 1);
    }
  }

  table > tbody > tr > td > .button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
}

::ng-deep {
  .ant-popover.button {
    min-width: 0px;
    min-height: 0px;

    & > .ant-popover-content {
      & > .ant-popover-arrow {
        display: none;
      }

      & > .ant-popover-inner {
        .ant-popover-inner-content {
          padding: 0px;
        }
      }
    }
  }
}
