.dark-mode {
  // 输入框
  .el-input__inner {
    background-color: var(--iot-font-color-white);
    border-color: var(--iot-border-color);
  }
  .el-range-input {
    background-color: var(--iot-font-color-white);
  }
  .el-textarea__inner {
    color: rgba(255, 255, 255, 0.85);
    background-color: #01070b;
    border-color: var(--iot-border-color);
  }
  .el-input.is-disabled .el-input__inner {
    background-color: rgb(23, 26, 28);
    border-color: var(--iot-border-color);
  }

  //   按钮
  .el-button--default {
    border-color: 1px solid rgba(24, 144, 255, 1) !important;
    // color: 1px solid rgba(24, 144, 255, 1) !important;
    // color:var(--iot-font-color-white) ;
    background-color: var(--iot-font-color-white);
  }
  // .el-button--primary{
  //   color:var(--iot-font-color-white) !important;
  // }
  // }
  .el-button--text {
    color: var(--iot-color-active);
  }
  //   表格
  .el-table {
    tr {
      background-color: var(--iot-font-color-white);
    }
    tbody tr:hover {
      background-color: var(--iot-font-color-white) !important;
      opacity: 0.9;
    }
    th {
      background-color: rgba(36, 44, 51, 1) !important;
      color: #fff;
      font-weight: normal;
    }
    tbody tr:hover > td {
      background-color: #171c20;
      opacity: 0.8;
    }
  }
  .el-pagination.is-background .btn-next,
  .el-pagination.is-background .btn-prev,
  .el-pagination.is-background .el-pager li {
    background-color: rgb(15, 19, 23);
    border: 1px solid rgba(255, 255, 255, 0.35);
  }
  .el-pagination.is-background .el-pager li.active {
    color: rgba(24, 144, 255);
    border: 1px solid rgba(24, 144, 255);
  }
  .el-table, .el-table__expanded-cell {
    background-color: transparent !important;
  }

  // loading
  .el-loading-mask {
    background-color: var(--iot-bg-color-component);
  }

  // tags
  .el-select .el-select__tags .el-tag {
    color: #fff;
    background-color: rgba(48, 53, 56, 1);
  }

  // tree
  .el-tree-node__content:hover {
    background-color: rgb(40 40 40);
  }

  // tooltip--select
  .el-select__popper.el-popper {
    background-color: var(--iot-bg-color-component);
  }
  .el-select-dropdown__item.hover,
  .el-select-dropdown__item:hover {
    background-color: rgb(40 40 40);
  }
  .el-select__popper.el-popper {
    border-color: var(--iot-border-color);
  }

  // datepicker
  .el-picker__popper.el-popper,
  .el-picker-panel {
    background-color: rgb(40 40 40);
  }
  .el-date-table td.in-range div:hover {
    background-color: #222;
    color: #fff;
  }
  .el-date-table td.disabled div {
    background-color: var(--iot-color-disabled);
  }

  // dialog
  .el-dialog__header {
    background: rgba(255, 255, 255, 0.1);
  }
  .el-dialog__title {
    color: rgba(255, 255, 255, 0.65);
  }

  .el-range-separator{
    color:var(--el-text-color-regular);
  }
  .el-checkbox__label{
    color:var(--el-text-color-regular) !important;
  }
  .el-checkbox__inner{
    background-color:var(--el-text-color-regular) !important;
  }
  .el-cascader-node:hover{
    background-color:var(--iot-color-shadow-primary-1) ;
  }
  .el-message-box__title{
    color:var(--el-messagebox-content-color)
  }
}
