<div
  class="eca-assess-item"
  :style="{
      backgroundImage: `url(${
        mapEcaAssessItemStatusObj(waringCode).bg
      })`
    }"
>
  <div class="eca-assess-item-text flex-row-justify-end">
    <span class="eca-assess-item-text-title flex-row-start-center"
      >{{ title }}
      <el-tooltip effect="dark" placement="top" v-if="title.indexOf('成本') !==-1">
        <template #content> 节能成本以本段时间的平均费率估算。</template>
        <img class="ml9" src="../../../../../assets/img/energy-anomaly/ea-question-mark.svg" />
      </el-tooltip>
    </span>
    <span v-if="subjectState" :class="['eca-assess-item-text-status', mapEcaAssessItemStatusObj(waringCode).className]"
      >{{ subjectState }}</span
    >
  </div>
  <div class="eca-assess-item-amount flex">
    <span class="eca-assess-item-amount-num" :title="count">{{ thousandCount }}</span>
    <span class="eca-assess-item-amount-unit">
      <formatter-unit fontSize="14px" :formatHtml="unit"></formatter-unit>
    </span>
  </div>
</div>
