<!-- <app-common-head"></app-common-head> -->
<!-- <app-common-head title="任务反馈" (back)="back()" theme="white">
  <ng-template>
    <span (click)="rightClick()">aaaaa</span>
  </ng-template>
</app-common-head> -->
<header class="head" [ngClass]="{'head--white': (theme && theme === 'white')}">
  <div class="head__button--back" *ngIf="!hideBack" (click)="goBack()"></div>
  <h2 class="head__title">{{ title }}</h2>
  <div class="head__rightContent">
    <ng-container *ngTemplateOutlet="rightContent"></ng-container>
  </div>
</header>