@import 'common';
.head {
    position: relative;
    height: 44px;
    padding: 10px;
    text-align: center;
    color: #222222;
    @extend %border--bottom;
    .head__button--back {
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
        height: 14px;
        width: 14px;
        border-left: 1px solid;
        border-bottom: 1px solid;
        border-color: #4a4a4a;
    }
    .head__title {
        margin: 0;
        font-size: 17px;
        line-height: 1.42;
        font-weight: normal;
    }
    .head__rightContent {
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
    }
    &.head--white {
        box-shadow: unset;
        color: white;
        .head__button--back {
            border-color: #fff;
        }
    }
}