<div v-drag="dialogFormVisible" class="bdm-download-dialog">
  <el-dialog
    title="请选择下载模板时间"
    v-model="dialogFormVisible"
    :close-on-click-modal="false"
    width="560px"
    @close="onClose"
  >
    <el-form :model="form" ref="ruleForm" label-position="right">
      <el-form-item label="数据时间">
        <el-select class="date" style="width: 90px" v-model="form.benchmarkingType" placeholder="请选择">
          <el-option v-for="item in quotaTypeList" :key="item.value" :label="item.label" :value="item.value">
          </el-option>
        </el-select>
        <div class="dateDiv" v-if="form.benchmarkingType == '1'">
          <el-date-picker
            class="date"
            style="width: 150px; margin: 0 8px"
            v-model="form.startTime"
            :disabledDate="startMonth"
            type="month"
            placeholder="开始月份"
            :clearable="false"
          >
          </el-date-picker
          >至
          <el-date-picker
            class="date"
            style="width: 150px; margin-left: 8px"
            v-model="form.endTime"
            :disabledDate="endMonth"
            type="month"
            placeholder="结束月份"
            :clearable="false"
          >
          </el-date-picker>
        </div>
        <div class="dateDiv" v-if="form.benchmarkingType == '2'">
          <el-date-picker
            class="date"
            style="width: 150px; margin: 0 8px"
            v-model="form.startTime"
            :disabledDate="startYear"
            type="year"
            placeholder="开始年份"
            :clearable="false"
          >
          </el-date-picker
          >至
          <el-date-picker
            class="date"
            style="width: 150px; margin-left: 8px"
            v-model="form.endTime"
            :disabledDate="endYear"
            type="year"
            placeholder="结束年份"
            :clearable="false"
          >
          </el-date-picker>
        </div>
      </el-form-item>
    </el-form>
    <template #footer>
      <span class="dialog-footer">
        <button @click="onClose">取消</button>
        <button primary @click="onSubmit">确定</button>
      </span>
    </template>
  </el-dialog>
</div>
