<div v-for="(item, index) in menus" :key="'menu_' + index">
  <a-menu-item
    v-if="!item.children || item.children.length === 0"
    :key="handleMenuKey(item.path)"
    :title="item.name"
    @click="onMenuLinkTo(item.path)"
  >
    <template #icon v-if="item.hasIcon">
      <div class="menu-icon">
        <i :class="['iconfont', item.icons]"></i>
      </div>
    </template>
    {{ item.meta.name }}
  </a-menu-item>
  <!-- 子菜单偏移量 -->
  <a-sub-menu
    :key="'subMenu_'+ item.path"
    popupClassName="custom-submenu"
    :popupOffset="[2, item.hasIcon ? 8 : 0]"
    v-else
  >
    <template #icon v-if="item.hasIcon">
      <div class="menu-icon">
        <i :class="['iconfont', item.icons]"></i>
      </div>
    </template>
    <template #title>{{ item.meta.name }}</template>
    <AsideMenuItem :dataSource="item.children"></AsideMenuItem>
  </a-sub-menu>
</div>
