.kb-bdm-download-dialog {
  .dateDiv {
    display: flex;
    margin-left: 5px;
    align-items: center;
  }

  .date {
    display: inline-block !important;
  }

  :deep(.el-select) {
    width: 100%;
  }

  :deep(.el-dialog__body) {
    // text-align: left;
    padding-left: 27px;
  }

  :deep(.el-date-editor--date) {
    width: 100%;
  }

  :deep(.el-date-editor--month) {
    width: 100%;
  }

  :deep(.el-form-item) {
    margin: 0 !important;
  }

  :deep(.el-form-item__content) {
    display: flex;
    align-items: center;
  }

  :deep(.el-dialog__footer) {
    text-align: right !important;
  }
}
