#mhm-actual-payment-bill {
  display: flex;
  flex-direction: column;
  gap: 13px;
  width: 100%;
  height: 100%;
  padding: 15px 0 10px 0;
  .ma-mcpb-back {
    width: 100%;
    line-height: 22px;
    cursor: pointer;
  }
  .ma-mcpb-body {
    display: flex;
    flex-direction: column;
    &-picture {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
      place-items: center stretch;
      gap: 16px 9px;
      max-height: 176px;
      overflow: auto;
      padding: 0 3px 15px 3px;
      &-item {
        height: 80px;
        border-radius: 2px;
        background-color: rgba(239, 239, 239, 1);
        cursor: pointer;

        &:hover {
          box-shadow: 0px 6px 10px 2px rgba(162, 162, 162, 0.38);
        }
      }
    }
    .ma-mcpb-body-picture-empty {
      display: flex;
      width: 100%;
      height: 77px;
      > p {
        margin-top: 10px;
      }
    }
    &-file {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 0 3px;
      flex: auto;
      &-title {
        height: 20px;
        line-height: 20px;
        color: rgba(0, 0, 0, 0.85);
        font-size: 14px;
        text-align: left;
      }
      &-body {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
        place-items: center stretch;
        gap: 10px 40px;
        max-height: 120px;
        -webkit-line-clamp: 4;
        overflow: auto;
      }
      &-item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 15px;
        height: 20px;
        line-height: 20px;
        cursor: pointer;
        &-icon {
          width: 20px;
          height: 16px;
          line-height: 20px;
          background: url('../../../../../../../assets/images/management-analysis/ma-home-model/ma-home-model-file.svg')
            no-repeat;
        }
        &-file {
          width: calc(100% - 35px);
          height: 20px;
          color: rgba(0, 0, 0, 0.65);
          font-size: 14px;
          text-align: left;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        &:hover {
          .ma-mcpb-body-file-item-icon {
            width: 20px;
            height: 16px;
            line-height: 20px;
            background: url('../../../../../../../assets/images/management-analysis/ma-home-model/ma-home-model-file-hove.svg')
              no-repeat;
          }
          .ma-mcpb-body-file-item-file {
            color: rgba(24, 144, 255, 1);
          }
        }
      }
    }
    .ma-mcpb-body-file-empty {
      display: flex;
      width: 100%;
      height: 176px;
      > p {
        margin-top: 10px;
      }
    }
  }
  .ma-mcpb-body-empty {
    display: flex;
    flex: auto;
    width: 100%;
    height: 100%;
    margin: calc(16% - 55px) 0;
    > p {
      margin-top: 10px;
    }
  }

  :deep(.el-loading-spinner) {
    margin: calc(20% - 50px) 0;
    top: 0;
  }
}
