<div v-drag="visible" style="position: relative">
  <el-dialog
    title="查看日志"
    v-model="visible"
    width="50%"
    :close-on-press-escape="false"
    :close-on-click-modal="false"
  >
    <div class="dialog-content">
      <el-table
        class="logTable"
        :data="logTable"
        border
        stripe
        style="width: 100%; text-align: center"
        :height="logTable?.length > 10 ? '533px' : logTable?.length ===0 ? '206px' : (logTable?.length*48 + 52 + 1)+ 'px'"
        v-loading="loading"
      >
        <el-table-column type="index" label="序号" width="70">
          <template #default="scope">
            <span>{{ scope.$index + (currentPage - 1) * pageSize + 1 }}</span>
          </template>
        </el-table-column>
        <el-table-column prop="createTime" label="修改时间" show-overflow-tooltip width="220" />
        <el-table-column prop="description" label="修改内容" show-overflow-tooltip />
      </el-table>
      <ems-pagination
        v-show="!loading && total>0"
        v-model:currentPage="currentPage"
        :page-sizes="pageSizes"
        :page-size="pageSize"
        :total="total"
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
      ></ems-pagination>
    </div>
  </el-dialog>
</div>
