<div class="benchmarking-detail">
  <div
    class="benchmarking-detail__title"
    :style="{ backgroundColor: bgColor }"
    :title="
        type === BENCH_TYPE.VALUE ? `${benchmarkingObjectName}${title}` : title
      "
  >
    {{ type === BENCH_TYPE.VALUE ? `${benchmarkingObjectName}${title}` : title
    }}
    <!-- {{ benchmarkingObjectName + title }} -->
  </div>
  <div
    class="benchmarking-detail__item flex-row-center-center"
    v-for="(item, index) in list"
    :key="'item_' + index"
  >
    <!-- 对标项 -->
    <div
      class="benchmarking-detail__item-content text-overflow"
      v-if="type === BENCH_TYPE.TITLE"
      :title="
          `${item.benchmarkingIndexName}（${item.benchmarkingIndexUnit}）`
        "
    >
      {{ item.benchmarkingIndexName }}（{{ item.benchmarkingIndexUnit }}）
    </div>
    <!-- 能耗值 -->
    <div
      class="benchmarking-detail__item-content flex-row-center-center text-overflow flex-row-a"
      v-if="type === BENCH_TYPE.VALUE"
      style="width: 145px !important"
    >
      <img
        v-if="item.status === BENCH_STATUS.LOW"
        src="@/assets/img/ems-benchmarking/eb-low.svg"
        alt="绿"
      />
      <img
        v-if="item.status === BENCH_STATUS.NORMAL"
        src="@/assets/img/ems-benchmarking/eb-normal.svg"
        alt="蓝"
      />
      <img
        v-if="item.status === BENCH_STATUS.HIGH"
        src="@/assets/img/ems-benchmarking/eb-high.svg"
        alt="黄"
      />
      <img
        v-if="item.status === BENCH_STATUS.HEIGHEST"
        src="@/assets/img/ems-benchmarking/eb-heighest.svg"
        alt="红"
      />
      <span
        class="num text-overflow"
        :title="`${thousandSeparation(item.measureValue)}`"
        >{{ thousandSeparation(item.measureValue) }}</span
      >
    </div>
    <!-- 最高值 -->
    <div
      class="benchmarking-detail__item-content text-overflow"
      v-if="type === BENCH_TYPE.MAX"
      :title="`${thousandSeparation(item.maxValue)}`"
    >
      {{ thousandSeparation(item.maxValue) }}
    </div>
    <!-- 平均值 -->
    <div
      class="benchmarking-detail__item-content text-overflow"
      v-if="type === BENCH_TYPE.AVERAGE"
      :title="`${thousandSeparation(item.averageValue)}`"
    >
      {{ thousandSeparation(item.averageValue) }}
    </div>
    <!-- 平均值 -->
    <div
      class="benchmarking-detail__item-content text-overflow"
      v-if="type === BENCH_TYPE.MEDIAN"
      :title="`${thousandSeparation(item.medianValue)}`"
    >
      {{ thousandSeparation(item.medianValue) }}
    </div>
    <!-- 最小值 -->
    <div
      class="benchmarking-detail__item-content text-overflow"
      v-if="type === BENCH_TYPE.MIN"
      :title="`${thousandSeparation(item.minValue)}`"
    >
      {{ thousandSeparation(item.minValue) }}
    </div>
  </div>
</div>
