.benchmarking-detail {
  max-width: 18.34%;
  min-width: 13%;
  text-align: center;
  font-size: 14px;
  margin-right: 7%;
  &__title {
    padding: 0 10px;
    height: 38px;
    line-height: 38px;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &__item {
    border-bottom: 1px solid var(--iot-border-color);
    &-content {
      height: 44px;
      line-height: 44px;
      .num {
        display: inline-block;
        width: 73px;
        text-align: center;
      }
      .icon {
        padding: 0 4px;
      }
      img {
        width: 17.5px;
        height: 17.5px;
        margin-right: 3px;
      }
    }
  }
}
.benchmarking-detail:last-child {
  margin-right: 0;
}
