<div class="ma-he-buttonbar flex">
  <button :disabled="heButtonBar.is_downloading" @click="heButtonBar.show()">
    {{ heButtonBar.is_downloading ? '正在下载' : '下载模板' }}
  </button>
  <button :disabled="heButtonBar.is_importing" @click="onTemplateImport">
    {{ heButtonBar.is_importing ? '正在导入' : '模板导入' }}
  </button>
  <button primary @click="onAdd">数据录入</button>
  <!-- 下载模板 -->
  <div v-drag>
    <el-dialog
      :close-on-click-modal="false"
      v-model="heButtonBar.visible"
      title="模板下载"
      width="540px"
      :before-close="heButtonBar.close"
    >
      <el-form label-width="60px">
        <el-form-item label="日期" prop="date">
          <el-date-picker
            :editable="false"
            v-model="heButtonBar.date"
            :disabled-date="heForm.disabledDataDate"
            type="monthrange"
            range-separator="~"
            start-placeholder="开始时间"
            end-placeholder="结束时间"
          />
        </el-form-item>
      </el-form>
      <template #footer>
        <button @click="heButtonBar.close">取消</button>
        <button primary @click="heButtonBar.download">确认</button>
      </template>
    </el-dialog>
  </div>
  <!-- 导入模板错误数据 -->
  <div v-drag>
    <el-dialog
      :close-on-click-modal="false"
      custom-class="import-dialog"
      v-model="heButtonBar.importVisible"
      title="错误原因"
      width="800px"
      :before-close="heButtonBar.errorDialogClose"
    >
      <table style="width: 100%" scroll-y>
        <thead :style="{ 'width': heButtonBar.errorDataSource?.length > 10 ? 'calc(100% - 8px)' : '100%' }">
          <tr>
            <th style="width: 50px">序号</th>
            <th>模板位置</th>
            <th>详细信息</th>
          </tr>
        </thead>
        <tbody style="height: 480px" @scroll="onScroll">
          <tr v-for="(item, index) in heButtonBar.errorDataSource" :key="index">
            <td style="width: 50px">{{ index +1 }}</td>
            <td ellipsis>
              <el-tooltip :open-delay="500" effect="dark" placement="bottom">
                <template v-slot:content>
                  <div style="word-break: break-all; white-space: normal">{{ item.position }}</div>
                </template>
                <span>{{ item.position }}</span>
              </el-tooltip>
            </td>
            <td ellipsis>
              <el-tooltip :open-delay="500" effect="dark" placement="bottom">
                <template v-slot:content>
                  <div style="word-break: break-all; white-space: normal">{{ item.detail }}</div>
                </template>
                <span>{{ item.detail }}</span>
              </el-tooltip>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="table-nodata flex-column-center-center" v-if="heButtonBar.errorDataSource?.length === 0">
        <img src="../../../../assets/images/common/common-data-none.svg" alt="" />
        <p>暂无数据</p>
      </div>
    </el-dialog>
  </div>
</div>
