.ma-he-buttonbar {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  width: 100%;
  padding: 16px 0;
  :deep(.el-date-editor) {
    width: 100%;
  }
}

:deep(.el-dialog) {
  .el-dialog__footer {
    justify-content: flex-end !important;
    text-align: right !important;
  }
}
