.equivalent-electric {
  height: 100%;

  &-header {
    padding-bottom: 16px;
    display: flex;
    justify-content: end;
  }

  .el-select {
    width: 100%;
  }

  .el-from {
    &-item {
      &__content {
        height: 36px !important;
      }
    }
  }
}

:deep(.el-popover.el-popper) {
  width: 100%;
}
