.energy-conservation {
  height: 100%;
  :deep(.el-form) {
    em {
      width: 22px;
      text-align: center;
    }
  }
  .update {
    color: #1890ff;
    cursor: pointer;
    margin-right: 8px;
  }
  .delete-span {
    color: #f5222d;
    cursor: pointer;
  }
  :deep(.cell) {
    height: 26px !important;
    line-height: 26px !important;
  }
}
