<div class="ma-he-search">
  <el-form :inline="true" :model="heTable.pageForm" @submit.native.prevent>
    <el-form-item>
      <input
        type="text"
        placeholder="请输入户号"
        maxlength="32"
        v-model="heTable.pageForm.accountNumber"
        v-inputFilter:search
      />
    </el-form-item>
    <el-form-item label="能源类型">
      <el-select
        v-model="heTable.pageForm.energyCode"
        clearable
        :popper-append-to-body="false"
        placeholder="请选择能源类型"
      >
        <el-option
          v-for="(item, index) in heTable.energyCodeList"
          :key="'status_' + index"
          :label="item.name"
          :value="item.code"
        ></el-option>
      </el-select>
    </el-form-item>
    <el-form-item label="年份">
      <el-date-picker v-model="heTable.pageForm.year" type="year" placeholder="请选择年份" />
    </el-form-item>
    <el-form-item>
      <button primary @click="heTable.search">查询</button>
      <button @click="heTable.reset()">重置</button>
    </el-form-item>
  </el-form>
</div>
