<div v-drag="addAndEditVisible" class="add-update-dialog">
  <el-dialog
    :custom-class="'comparison-dialog'"
    :title="!isAddFlag ? '编辑分组' : '新增分组'"
    v-model="addAndEditVisible"
    width="520px"
    :before-close="onBeforeClose"
    :destroy-on-close="true"
    :close-on-click-modal="false"
  >
    <el-form ref="compareFormRef" :rules="rules" :model="pageForm" label-width="80px">
      <el-form-item label="分组名称" prop="name">
        <el-input v-inputFilter:search v-model.trim="pageForm.name" :maxlength="20" placeholder="请输入分组名称" />
      </el-form-item>
      <el-form-item label="分类分项" prop="energyCode">
        <el-select v-model="pageForm.energyCode" placeholder="请选择分类分项" :fit-input-width="true">
          <el-option
            v-for="(item, index) in energyTopLevelList"
            :key="index"
            :title="item.name"
            :label="item.name"
            :value="item.code"
          >
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="原节点" prop="treeId">
        <div style="width: 100%">
          <tree-select
            :placeholder="'请选择原节点'"
            v-model="pageForm.treeId"
            :loading="treeLoading"
            :treeData="treeList"
            dialogWidth="100%"
            :defaultProps="{ children: 'childTree', label: 'treeName' }"
            :showSearch="true"
            v-model:radioValue="treeIdType"
            :radioData="treeTypeList"
            :autoWidth="true"
            :expanedKeys="treeExpandKeys"
            @tree-radio-change="treeIdRaidoChange"
            @select-change="treeIdSelectChange"
          ></tree-select>
        </div>
      </el-form-item>
      <el-form-item label="对比节点" prop="contrastTreeId">
        <div style="width: 100%">
          <tree-select
            :placeholder="'请选择对比节点'"
            v-model="pageForm.contrastTreeId"
            :loading="treeLoading"
            :treeData="contrastTreeList"
            dialogWidth="100%"
            :defaultProps="{ children: 'childTree', label: 'treeName' }"
            :showSearch="true"
            v-model:radioValue="contrastTreeIdType"
            :radioData="treeTypeList"
            :expanedKeys="contrastExpandKeys"
            :autoWidth="true"
            @tree-radio-change="contrastTreeIdRaidoChange"
            @select-change="contrastTreeIdSelectChange"
          >
          </tree-select>
        </div>
      </el-form-item>
    </el-form>
    <template #footer>
      <div class="dialog-footer" style="text-align: center">
        <el-button @click="onBeforeClose">取消</el-button>
        <el-button type="primary" :reqLoading="reqLoading" @click="handleOk()">确定</el-button>
      </div>
    </template>
  </el-dialog>
</div>
