.me-toolbar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
  &-upload {
    ::ng-deep .mbim-upload-list .ant-upload-select .ant-upload {
      margin: 0px;
    }
  }
}
