<div class="benchmarking-analysis">
    <page-common :title="'对标分析'" :showSearch="true">
        <template v-slot:pageSearch>
            <el-form :inline="true" :model="queryFormParams" @submit.native.prevent>
                <el-form-item label="对象目标">
                    <tree-select :placeholder="'请选择对象目标'" v-model:modelValue="queryFormParams.treeId"
                        :treeData="treeList" :defaultProps="{ children: 'childTree', label: 'treeName' }"></tree-select>
                </el-form-item>
                <el-form-item label="日期">
                    <el-date-picker v-model="queryFormParams.time" :disabledDate="onDateDisabled" type="year"
                        placeholder="选择日期"></el-date-picker>
                </el-form-item>
                <el-form-item>
                    <button primary @click="onSearch">查询</button>
                    <button @click="onReset">重置</button>
                </el-form-item>
            </el-form>
        </template>
        <template v-slot:pageContent>
            <div class="benchmarking-analysis-content" v-loading="loading">
                <!-- 对标结果 -->
                <SubContainer title="对标结果">
                    <div v-if="
                chartExplain.targetResultVOList &&
                  chartExplain.targetResultVOList.length
              ">
                        <ResultItem v-for="(item, index) in chartExplain.targetResultVOList" :key="'result_' + index"
                            :text="item.name" :status="item.status"></ResultItem>
                    </div>
                    <no-data v-else></no-data>
                </SubContainer>
                <!-- 图标说明 -->
                <SubContainer title="图标说明">
                    <div v-if="
                chartExplain.targetDetailsVOList &&
                  chartExplain.targetDetailsVOList.length
              ">
                        <ExplainItem v-for="(item, index) in chartExplain.targetDetailsVOList" :key="'explain_' + index"
                            :explainInfo="item" :hasLegend="index === 0"></ExplainItem>
                    </div>
                    <no-data v-else></no-data>
                </SubContainer>
                <!-- 对标详情 -->
                <SubContainer title="对标详情">
                    <div class="flex" v-if="
                chartExplain.targetDetailsVOList &&
                  chartExplain.targetDetailsVOList.length
              ">
                        <BenchMarkingDetailItem title="对标项" :targetDetailsVOList="chartExplain.targetDetailsVOList"
                            :type="BENCH_TYPE.TITLE" :bgColor="OPTIONS_BG_COLOR"></BenchMarkingDetailItem>
                        <BenchMarkingDetailItem title="测量值" :targetDetailsVOList="chartExplain.targetDetailsVOList"
                            :type="BENCH_TYPE.VALUE" :width="68" :bgColor="VALUES_BG_COLOR"></BenchMarkingDetailItem>
                        <BenchMarkingDetailItem title="标准值" :targetDetailsVOList="chartExplain.targetDetailsVOList"
                            :type="BENCH_TYPE.STANDARD" :bgColor="STANDARDS_BG_COLOR"></BenchMarkingDetailItem>
                    </div>
                    <no-data v-else></no-data>
                </SubContainer>
            </div>
        </template>
    </page-common>
</div>