<div class="me-table">
  <nz-spin [nzSpinning]="isLoading">
    <table style="width: 100%">
      <thead>
        <tr>
          <th style="width: 80px">序号</th>
          <th>录入对象</th>
          <th style="width: 10%; min-width: 100px">录入值类型</th>
          <th style="width: 14%; min-width: 170px">数据时间</th>
          <th style="width: 12%; min-width: 150px">能源类型</th>
          <th style="width: 15%; max-width: 165px; min-width: 165px">
            录入时间
          </th>
          <th style="width: 15%; max-width: 165px; min-width: 165px">
            分摊明细
          </th>
          <th style="width: 15%; max-width: 165px; min-width: 175px">录入值</th>
        </tr>
      </thead>
      <!-- [class.none]="isLoading || isEmpty" -->
      <tbody>
        <tr *ngFor="let item of list; let i = index">
          <td>{{ (PageIndex - 1) * PageSize + i + 1 }}</td>
          <td
            ellipsis
            nz-tooltip
            nzTooltipPlacement="bottom"
            nzTooltipOverlayClassName="tooltip-table"
            [nzTooltipArrowPointAtCenter]="true"
            [nzTooltipTitle]="item.objectName"
          >
            {{ item.objectName }}
          </td>
          <td
            ellipsis
            nz-tooltip
            nzTooltipPlacement="bottom"
            nzTooltipOverlayClassName="tooltip-table"
            [nzTooltipArrowPointAtCenter]="true"
            [nzTooltipTitle]="item.entryTypeName"
          >
            {{ item.entryTypeName }}
          </td>
          <td
            ellipsis
            nz-tooltip
            nzTooltipPlacement="bottom"
            nzTooltipOverlayClassName="tooltip-table"
            [nzTooltipArrowPointAtCenter]="true"
            [nzTooltipTitle]="item.dataTime"
          >
            {{ item.dataTime }}
          </td>
          <td
            ellipsis
            nz-tooltip
            nzTooltipPlacement="bottom"
            nzTooltipOverlayClassName="tooltip-table"
            [nzTooltipArrowPointAtCenter]="true"
            [nzTooltipTitle]="item.energyName"
          >
            {{ item.energyName }}
          </td>
          <td
            ellipsis
            nz-tooltip
            nzTooltipPlacement="bottom"
            nzTooltipOverlayClassName="tooltip-table"
            [nzTooltipArrowPointAtCenter]="true"
            [nzTooltipTitle]="item.entryTime"
          >
            {{ item.entryTime }}
          </td>
          <td ellipsis>
            <div class="met-allocation-details">
              <span
                [ngClass]="{
                  'allocation-details-information': item.allocationDetail
                }"
                nz-popover
                [nzPopoverContent]="contentTemplate"
                [nzPopoverTrigger]="item.allocationDetail ? 'hover' : null"
                nzPopoverPlacement="bottomLeft"
              >
                {{
                  item.allocationDetail
                    ? item.allocationDetail?.allocationName
                    : "--"
                }}
              </span>
            </div>
            <ng-template #contentTemplate>
              <div class="share-information-list">
                <div class="share-information-time">
                  <label class="time-name">分摊周期：</label>
                  <span class="time-value ml8">
                    {{ item.allocationDetail?.allocationPeriod }} ({{
                      item.allocationDetail?.dateRange
                    }})
                  </span>
                </div>
                <div class="share-information-info">
                  <label class="share-information-info-name">分摊明细：</label>
                  <div class="share-information-info-value">
                    <div
                      *ngIf="
                        item.allocationDetail?.allocationName === '平均分摊'
                      "
                      class="font-12"
                    >
                      {{ item.allocationDetail?.allocationDetails[0] }}
                    </div>
                    <div
                      *ngIf="
                        item.allocationDetail?.allocationName !== '平均分摊'
                      "
                    >
                      <div
                        *ngFor="
                          let detail of item.allocationDetail?.allocationDetails
                        "
                        class="siiv-item"
                      >
                        <div class="item-share">
                          {{ detail }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </td>
          <td
            ellipsis
            nz-tooltip
            nzTooltipPlacement="bottom"
            nzTooltipOverlayClassName="tooltip-table"
            [nzTooltipArrowPointAtCenter]="true"
            [nzTooltipTitle]="titleTemplate"
          >
            <ng-template #titleTemplate let-thing>
              <span
                style="white-space: normal"
                [innerHTML]="item?.entryValue.toString() + item?.energyUnit"
              ></span>
            </ng-template>
            <span
              [innerHTML]="item?.entryValue.toString() + item?.energyUnit"
            ></span>
          </td>
        </tr>
      </tbody>
    </table>
  </nz-spin>

  <div class="empty-table" [class.none]="!isEmpty">
    <img src="assets/img/common/common-data-none.svg" alt="暂无数据" />
    <span>暂无数据</span>
  </div>

  <!-- <div [class.none]="!isLoading || isEmpty" class="loading-table">
    <ng-template #indicatorTemplate><i nz-icon nzType="loading" style="font-size: 24px"></i></ng-template>
    <nz-spin nzSimple [nzIndicator]="indicatorTemplate" [nzSize]="'large'"></nz-spin>
  </div> -->
  <!-- *ngIf="list?.length > 0 && !isLoading && !isEmpty" -->
  <ems-pagination class="mt12"></ems-pagination>
</div>
