<div id="air-conditioner-control-list-more">
  <span class="acclm-name" (click)="showListMoreModal()">更多</span>
  <nz-modal
    [(nzVisible)]="isVisible"
    nzTitle="空调运行优化策略"
    nzWidth="585px"
    nzMaskClosable="false"
    nzClassName="ee-modal"
    (nzOnCancel)="handleCancel()"
    [nzFooter]="null"
  >
    <ng-container *nzModalContent>
      <div class="acclm-strategy">
        <div class="acclm-strategy-header">
          <div class="acclm-strategy-header-item">
            <span class="item-text">时间</span>
            <nz-range-picker
              id="rangePickerId"
              [(ngModel)]="dateArray"
              [nzDisabledDate]="disabledDate"
              [nzFormat]="'yyyy-MM-dd'"
              (ngModelChange)="onChange($event)"
              (nzOnCalendarChange)="onCalendarChange($event)"
              [attr.error]="isInvalid && !dateArray?.length"
              nzSeparator="～"
            ></nz-range-picker>
          </div>
          <button primary (click)="toSearch()">查询</button>
        </div>
        <div class="acclm-strategy-content">
          <nz-spin nzTip="Loading..." class="acclc-loading" [nzSpinning]="loading">
            <div class="acclm-strategy-content-body" *ngIf="!isEmpty">
              <div class="ascb-item" *ngFor="let item of moreStrategyData; let i = index; trackBy: trackByIndex">
                <div class="ascb-item-header">{{ item.date }}优化策略</div>
                <ems-air-conditioner-control-list-strategy
                  [todayStrategyData]="item.list"
                  [moreData]="moreStrategyData"
                  [moreIndex]="i"
                ></ems-air-conditioner-control-list-strategy>
              </div>
            </div>
            <div class="empty-module" [class.none]="!isEmpty">
              <img src="assets/img/common/common-data-unset.svg" alt="暂无数据" />
              <span>暂无数据</span>
            </div>
          </nz-spin>
        </div>
      </div>
    </ng-container>
  </nz-modal>
</div>
