<el-dialog
  v-model="dialogVisible"
  title="异常详情"
  width="684px"
  :destroy-on-close="true"
  :close-on-click-modal="false"
  :before-close="onDetailDialogBeforeClose"
>
  <div class="ea-detail-dialog flex flex-column" v-loading="loading" v-show="!isError">
    <!-- 头部 -->
    <div class="ea-detail-dialog__header flex-row-justify-start" v-show="!loading">
      <div class="title">
        <div class="bold font24">{{ anomalyDetail.treeName }}</div>
        <div class="font14">
          {{ anomalyDetail.treePath }}
        </div>
      </div>
      <!-- 除用能异常外展示异常数量 -->
      <span class="count font14">
        {{ mapAnomalyTag() }}
      </span>
    </div>
    <!-- 内容 -->
    <div class="ea-detail-dialog__content">
      <!-- 能流平衡异常 -->
      <AnomalyDetailContainer
        v-if="anomalyDetail && anomalyDetail.balance"
        :typeAnomalyDetail="anomalyDetail.balance"
        :expand="defaultExpandType === ANOMALY_TYPE.BALANCE"
        :treeId="anomalyDetail.treeId"
        :treeType="params.treeType"
        :energyCode="params.energyCode"
        @dealSuccess="onDealAbnormalSuccess"
      ></AnomalyDetailContainer>
      <!-- 同比异常 -->
      <AnomalyDetailContainer
        v-if="anomalyDetail && anomalyDetail.basis"
        :typeAnomalyDetail="anomalyDetail.basis"
        :expand="defaultExpandType === ANOMALY_TYPE.BASIS"
        :treeId="anomalyDetail.treeId"
        :treeType="params.treeType"
        :energyCode="params.energyCode"
        @dealSuccess="onDealAbnormalSuccess"
      >
      </AnomalyDetailContainer>
      <!-- 能耗对比异常 -->
      <AnomalyDetailContainer
        v-if="anomalyDetail && anomalyDetail.contrast"
        :typeAnomalyDetail="anomalyDetail.contrast"
        :expand="defaultExpandType === ANOMALY_TYPE.CONTRAST"
        :treeId="anomalyDetail.treeId"
        :treeType="params.treeType"
        :energyCode="params.energyCode"
        @dealSuccess="onDealAbnormalSuccess"
      ></AnomalyDetailContainer>
      <!-- 关联分析异常 -->
      <AnomalyDetailContainer
        v-if="anomalyDetail && anomalyDetail.correlation"
        :typeAnomalyDetail="anomalyDetail.correlation"
        :treeId="anomalyDetail.treeId"
        :expand="defaultExpandType === ANOMALY_TYPE.CORRELATION"
        :treeType="params.treeType"
        :energyCode="params.energyCode"
        @dealSuccess="onDealAbnormalSuccess"
      ></AnomalyDetailContainer>
      <!-- 成本异常详情 -->
      <AnomalyDetailContainer
        v-if="anomalyDetail && anomalyDetail.cost"
        :typeAnomalyDetail="anomalyDetail.cost"
        :treeId="anomalyDetail.treeId"
        :expand="defaultExpandType === ANOMALY_TYPE.COST"
        :treeType="params.treeType"
        :energyCode="params.energyCode"
        @dealSuccess="onDealAbnormalSuccess"
      >
      </AnomalyDetailContainer>
      <!-- 节能考核异常 -->
      <AnomalyDetailContainer
        v-if="anomalyDetail && anomalyDetail.kpi"
        :treeId="anomalyDetail.treeId"
        :typeAnomalyDetail="anomalyDetail.kpi"
        :expand="defaultExpandType === ANOMALY_TYPE.KPI"
        :treeType="params.treeType"
        :energyCode="params.energyCode"
        @dealSuccess="onDealAbnormalSuccess"
      >
      </AnomalyDetailContainer>
      <!-- 峰值异常 -->
      <AnomalyDetailContainer
        v-if="anomalyDetail && anomalyDetail.peak"
        :treeId="anomalyDetail.treeId"
        :typeAnomalyDetail="anomalyDetail.peak"
        :expand="defaultExpandType === ANOMALY_TYPE.PEAK"
        :treeType="params.treeType"
        :energyCode="params.energyCode"
        @dealSuccess="onDealAbnormalSuccess"
      >
      </AnomalyDetailContainer>
      <!-- 排名变化异常 -->
      <AnomalyDetailContainer
        v-if="anomalyDetail && anomalyDetail.rank"
        :treeId="anomalyDetail.treeId"
        :typeAnomalyDetail="anomalyDetail.rank"
        :expand="defaultExpandType === ANOMALY_TYPE.RANK"
        :treeType="params.treeType"
        :energyCode="params.energyCode"
        @dealSuccess="onDealAbnormalSuccess"
      >
      </AnomalyDetailContainer>
      <!-- 用能异常 -->
      <AnomalyDetailContainer
        v-if="anomalyDetail && anomalyDetail.energy"
        :treeId="anomalyDetail.treeId"
        :typeAnomalyDetail="anomalyDetail.energy"
        :expand="defaultExpandType === ANOMALY_TYPE.RATIO"
        :treeType="params.treeType"
        :energyCode="params.energyCode"
        @dealSuccess="onDealAbnormalSuccess"
      >
      </AnomalyDetailContainer>
      <!-- 边界异常 -->
      <AnomalyDetailContainer
        v-if="anomalyDetail && anomalyDetail.boundary"
        :id="params.id"
        :treeId="anomalyDetail.boundary.treeId"
        :typeAnomalyDetail="anomalyDetail.boundary"
        :expand="defaultExpandType === ANOMALY_TYPE.BOUNDARY"
        :treeType="params.treeType"
        :energyCode="params.energyCode"
        @dealSuccess="onDealAbnormalSuccess"
      >
      </AnomalyDetailContainer>
    </div>
  </div>
  <no-data v-show="isError && !loading"></no-data>
</el-dialog>
