@import url(../../../../assets/style/color.less);

#energy-event-detail {
  width: 100%;

  section:not(:first-child) {
    margin-top: 20px;
  }

  h5::before {
    content: '';

    width: 14px;
    height: 14px;
    margin-right: 8px;

    display: inline-block;

    background: url(../../../../assets/icon/energy-event/eed-title-icon.svg) no-repeat;

    transform: translateY(2px);
  }

  .info-container {
    display: grid;
    grid-template-columns: 70px auto;
    place-content: stretch;
    place-items: flex-start stretch;
    gap: 16px 0px;

    & > .info-relation-container {
      display: grid;
      grid-template-columns: 70px max-content 70px auto;
      place-content: stretch;
      place-items: center stretch;
      gap: 16px 0px;
    }

    & > .info-attach-card {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
      gap: 12px;

      & > .info-attach-photo-list {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 24px;

        & > img {
          width: 60px;
          height: 60px;

          border-radius: 4px;
          cursor: pointer;
        }
      }

      & > .info-attach-file-list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        gap: 16px;

        & > .info-attach-file-item {
          width: 478px;
          padding: 0px 16px 8px 0px;

          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 8px;

          border-bottom: 1px solid @color-text-divider;

          & > img {
            width: 20px;
            height: 20px;
          }
        }
      }
    }

    & > .info-description {
      overflow: hidden;

      word-break: break-all;
      white-space: pre-wrap;
    }
  }
}
