.report-management {
  height: 100%;

  .resetBtn {
    background-color: #fff !important;

    &:active {
      border-color: #096dd9 !important;
      color: #096dd9;
      background-color: #fff !important;
    }
  }

  .deleteBtn {
    color: #FF4E57 !important;
    border-color: #FF4E57 !important;
    text-shadow: none;
    background-color: #fff !important;

    &:hover {
      background-color: rgb(255, 229, 231) !important;
    }

    &:active {
      background-color: #FF4E57 !important;
      color: #fff !important;
    }

    button:focus {
      background-color: #FF4E57 !important;
      color: #fff !important;
    }
  }

  .text {
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
  }

  :deep(.el-table td:nth-child(5) .cell div) {
    display: block !important;
  }
}