<div id="th-manage-execution" @click="jumpToWorkRecord">
  <h5>管理节能执行</h5>

  <div class="th-me-date">{{ date }}</div>

  <div class="th-me-calendar-container">
    <span class="th-me-calendar-title">周一</span>
    <span class="th-me-calendar-title">周二</span>
    <span class="th-me-calendar-title">周三</span>
    <span class="th-me-calendar-title">周四</span>
    <span class="th-me-calendar-title">周五</span>
    <span class="th-me-calendar-title">周六</span>
    <span class="th-me-calendar-title">周日</span>

    <div class="th-me-calendar-content" v-for="date in lastMonth">
      <span class="th-me-calendar-content-date date-inactive">{{ date }}</span>
    </div>
    <div class="th-me-calendar-content" v-for="date in currentMonth" :rank="mapScoreRank(date)">
      <span class="th-me-calendar-content-date">{{ date }}</span>
    </div>
    <div class="th-me-calendar-content" v-for="date in nextMonth">
      <span class="th-me-calendar-content-date date-inactive">{{ date }}</span>
    </div>
  </div>

  <div class="th-me-legend-container">
    <span class="th-me-legend score-low">60分以下</span>
    <span class="th-me-legend score-middle">60(含)～90(不含)分</span>
    <span class="th-me-legend score-high">90分及以上</span>
  </div>
</div>
