#th-manage-execution {
  width: 100%;
  height: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  cursor: pointer;

  > .th-me-date {
    position: absolute;
    top: 0.15rem;
    right: 0.28rem;

    color: white;

    line-height: 0.2rem;
    font-size: 0.14rem;
  }

  > .th-me-calendar-container {
    display: grid;
    grid-template-columns: repeat(7, 0.38rem);
    grid-template-rows: 0.17rem repeat(6, 0.38rem);
    place-content: center;
    place-items: stretch;
    gap: 0.03rem 0.2rem;

    > .th-me-calendar-title {
      place-self: center;

      color: rgba(164, 230, 255, 1);

      line-height: 0.17rem;
      font-size: 0.12rem;
    }

    > .th-me-calendar-content {
      position: relative;

      display: flex;
      justify-content: center;
      align-items: center;

      border-radius: 50%;

      &[rank='low'] {
        .mixinScoreMark(rgba(255, 65, 64, 1));
      }
      &[rank='middle'] {
        .mixinScoreMark(rgba(2, 166, 255, 1));
      }
      &[rank='high'] {
        .mixinScoreMark(rgba(0, 178, 97, 1));
      }

      &[rank='low min'] {
        background-image: url(../../../assets/img/terminal-home/th-manage-execution/th-me-score-min.svg);
        background-position: center;
        background-size: contain;
      }
      &[rank='high max'] {
        background-image: url(../../../assets/img/terminal-home/th-manage-execution/th-me-score-max.svg);
        background-position: center;
        background-size: contain;
      }

      & > .th-me-calendar-content-date {
        color: white;
        font: 0.14rem/0.14rem 'DINPro-Medium';

        &.date-inactive {
          color: fade(white, 35%);
        }
      }
    }
  }

  > .th-me-legend-container {
    margin: 0 0.28rem 0.18rem;

    display: flex;
    justify-content: flex-end;
    gap: 0.31rem;

    > .th-me-legend {
      position: relative;
      color: white;
      line-height: 0.17rem;
      font-size: 0.12rem;

      &.score-low {
        .mixinLegendMark(rgba(254, 75, 78, 1));
      }
      &.score-middle {
        .mixinLegendMark(rgba(2, 166, 255, 1));
      }
      &.score-high {
        .mixinLegendMark(rgba(0, 178, 97, 1));
      }
    }
  }
}

.mixinScoreMark(@color) {
  &::after {
    content: '';

    width: 0.04rem;
    height: 0.04rem;

    position: absolute;
    bottom: 0.04rem;
    left: calc(50% - 0.02rem);

    display: inline-block;

    background-color: @color;
    border-radius: 50%;
  }
}

.mixinLegendMark(@color) {
  &::before {
    content: '';

    width: 0.05rem;
    height: 0.05rem;

    position: absolute;
    top: 0.05rem;
    left: -0.15rem;

    display: inline-block;

    background-color: @color;
    border-radius: 0.06rem;
  }
}
