<div id="measure-library-form">
  <div class="form-container">
    <label>措施名称</label>
    <input
      placeholder="请输入措施名称（必填）"
      maxlength="20"
      [attr.error]="isInvalid && !item.name"
      [readonly]="isReadonly"
      [(ngModel)]="item.name"
      emsInputFilter_Special
      emsInputFilterCharacters=" "
      [(emsInputFilterModel)]="item.name"
    />

    <label *ngIf="item.code">措施编码</label>
    <input *ngIf="item.code" readonly [value]="item.code" />

    <label>所属系统</label>
    <nz-select
      [nzOptionHeightPx]="36"
      [nzBackdrop]="true"
      [nzDisabled]="isReadonly"
      [(ngModel)]="item.system"
    >
      <nz-option
        *ngFor="let option of systemOptions"
        [nzLabel]="option.label"
        [nzValue]="option.value"
      ></nz-option>
    </nz-select>

    <label>建议执行周期</label>
    <nz-select
      [nzOptionHeightPx]="36"
      [nzBackdrop]="true"
      [nzDisabled]="isReadonly"
      [(ngModel)]="item.period"
    >
      <nz-option
        *ngFor="let option of periodOptions"
        [nzLabel]="option.label"
        [nzValue]="option.value"
      ></nz-option>
    </nz-select>

    <label>措施状态</label>
    <nz-select
      [nzOptionHeightPx]="36"
      [nzBackdrop]="true"
      [nzDisabled]="isReadonly"
      [(ngModel)]="item.state"
    >
      <nz-option
        *ngFor="let option of stateOptions"
        [nzLabel]="option.label"
        [nzValue]="option.value"
      ></nz-option>
    </nz-select>

    <label>关联功能</label>
    <nz-select
      [nzOptionHeightPx]="36"
      [nzBackdrop]="true"
      nzPlaceHolder="请选择（非必选）"
      [nzAllowClear]="true"
      [nzDisabled]="isReadonly"
      [(ngModel)]="item.relation"
    >
      <nz-option
        *ngFor="let option of relationOptions"
        [nzLabel]="option.label"
        [nzValue]="option.value"
      ></nz-option>
    </nz-select>

    <label class="form-textarea-label">措施描述</label>
    <div class="form-textarea-container">
      <textarea
        style="height: 120px"
        placeholder="请输入措施描述（选填）"
        maxlength="2000"
        [readonly]="isReadonly"
        [(ngModel)]="item.description"
        emsInputFilter_NoLine
        [(emsInputFilterModel)]="item.description"
        (input)="autoScroll($event)"
      ></textarea>
      <span
        class="textarea-counter"
        [attr.data-count]="descriptionCount"
      ></span>
    </div>
  </div>
</div>
