<div id="work-plan-form-time">
  <div>
    <h5 tag>计划时间</h5>
  </div>

  <div class="form-item-container mt12">
    <label class="plan-period-label">执行周期</label>
    <div class="plan-period-container">
      <nz-select
        style="width: 200px"
        [attr.error]="isInvalid && !item.period"
        nzPlaceHolder="请选择执行周期"
        [nzOptionHeightPx]="36"
        [nzBackdrop]="true"
        [nzDisabled]="isReadonly"
        [(ngModel)]="item.period"
        (ngModelChange)="onSelectPeriod()"
      >
        <nz-option *ngFor="let option of periodOptions" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
      </nz-select>

      <nz-radio-group [nzDisabled]="isReadonly" [(ngModel)]="item.holiday">
        <label *ngFor="let option of holidayOptions" nz-radio [nzValue]="option.value">{{ option.label }}</label>
      </nz-radio-group>
    </div>

    <label *ngIf="canShowDateRange">生效时间</label>
    <nz-range-picker
      *ngIf="canShowDateRange"
      style="width: 400px"
      [attr.error]="isInvalid && !item.dateRange?.length"
      [nzPlaceHolder]="['开始日期', '结束日期']"
      nzSeparator="～"
      [nzBackdrop]="true"
      [nzDisabled]="isReadonly"
      [(ngModel)]="item.dateRange"
    ></nz-range-picker>
    <!-- [nzDisabledDate]="disabledDate" -->
  </div>
</div>
