#work-plan-form-time {
  & > .form-item-container {
    padding: 0px 12px;

    display: grid;
    grid-template-columns: 56px auto;
    place-content: stretch;
    place-items: center stretch;
    gap: 16px 8px;

    & > .plan-period {
      &-label {
        align-self: start;

        transform: translateY(7px);
      }
      &-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        gap: 12px 16px;
      }
    }
  }
}
