@import '../common.less';

.ea-dc-basis-anomaly {
  &-data {
    .anomaly-ico {
      top: 8px;
    }
  }

  &-difference {
    border-radius: 12px;
    padding: 4px 12px;

    .font12 {
      line-height: 12px;
    }

    .num {
      margin: 0 6px;
      line-height: 16px;
    }

    img {
      height: 16px;
      position: relative;
      top: -1px;
    }
  }
}
