<div class="ea-dc-basis-anomaly">
  <div class="flex-row-justify-center">
    <div class="ea-dc-basis-anomaly-data flex">
      <img
        class="anomaly-ico"
        src="../../../../../../assets/img/energy-anomaly/ea-abnormal.png"
        alt="图标"
      />
      <span>
        能耗
        <span class="bold font24">{{ thousandSeparation(currentValue) }}</span>
        {{ unit }}
      </span>
    </div>
    <div
      class="ea-dc-basis-anomaly-difference flex-row-start-center"
      :style="{
          backgroundColor:
            abnormalLevel === ANOMALY_LAVEL.GENERAL
              ? 'var(--iot-anomaly-general-bg-color)'
              : 'var(--iot-anomaly-serious-bg-color)',
          color:
            abnormalLevel === ANOMALY_LAVEL.SERIOUS
              ? '#fff'
              : 'var(--iot-font-color-shadow)'
        }"
    >
      <span class="font12"
        >{{ isIncreaseOrReduce ? '同比增长' : '同比下降' }}</span
      >
      <span
        class="font16 num bold"
        :style="{
            color:
              abnormalLevel === ANOMALY_LAVEL.SERIOUS
                ? '#fff'
                : 'var(--iot-anomaly-serious-bg-color)'
          }"
        >{{ differenceRatio }}%</span
      >
      <img
        v-if="isIncreaseOrReduce && abnormalLevel === ANOMALY_LAVEL.GENERAL"
        src="../../../../../../assets/img/energy-anomaly/ea-up.svg"
        alt="图标"
      />
      <img
        v-if="isIncreaseOrReduce && abnormalLevel === ANOMALY_LAVEL.SERIOUS"
        src="../../../../../../assets/img/energy-anomaly/ea-up-white.svg"
        alt="图标"
      />
      <img
        v-if="!isIncreaseOrReduce && abnormalLevel === ANOMALY_LAVEL.GENERAL"
        src="../../../../../../assets/img/energy-anomaly/ea-down.svg"
        alt="图标"
      />
      <img
        v-if="!isIncreaseOrReduce && abnormalLevel === ANOMALY_LAVEL.SERIOUS"
        src="../../../../../../assets/img/energy-anomaly/ea-down-white.svg"
        alt="图标"
      />
    </div>
  </div>
  <slot></slot>
</div>
