<div id="air-conditioner-control-list-strategy">
  <div
    class="accls-list"
    *ngFor="let item of todayStrategyData; let i = index; trackBy: trackByIndex"
    [ngClass]="{ mb12: i === todayStrategyData.length - 1 }"
  >
    <div
      class="accls-list-item"
      [ngClass]="{ 'accls-list-item-collapse': item.collapse, 'accls-list-item-border': !item.collapse }"
      (click)="collapseChange(item)"
    >
      <div class="accls-list-item-left">
        <img src="assets/img/air-conditioner-control/acc-light-bulb.svg" class="acclslil-item-bulb" />
        <span class="acclslil-item-time">{{ item.time }}</span>
        <span class="acclslil-item-type" [ngStyle]="typeColor(item.type)">
          {{ typeList(item.type) }}
        </span>
      </div>
      <div class="accls-list-item-right">
        <div class="acclslil-item-progress">
          <div class="acclslil-item-progress-label">进度</div>
          <div>
            <span class="acclslil-item-speed">{{ item.finished }}/</span>
            <span class="acclslil-item-total">{{ item.count }}</span>
          </div>
        </div>
        <div class="acclslil-item-button">
          <i nz-icon nzTheme="outline" [nzType]="!item.collapse ? 'caret-right' : 'caret-down'"></i>
        </div>
      </div>
    </div>

    <div class="accls-list-content" *ngIf="item.collapse">
      <nz-timeline>
        <nz-timeline-item
          *ngFor="let strItem of item.details; let j = index; trackBy: trackByIndex"
          [nzDot]="(j + 1).toString()"
        >
          <ng-container
            *ngTemplateOutlet="templateTimeLineList; context: { strItem: strItem, pItem: item, pIndex: i, index: j }"
          >
          </ng-container>
        </nz-timeline-item>
      </nz-timeline>
      <ng-template #soccerTemplate let-index="index">
        <div class="alc-item-label-tip-num"></div>
      </ng-template>
    </div>
  </div>
</div>

<ng-template #templateTimeLineList let-strItem="strItem" let-pItem="pItem" let-pIndex="pIndex" let-index="index">
  <div class="accls-list-content-item" (click)="strategyChange(strItem, pItem, $event, pIndex, index)">
    <div class="mode-node" [id]="nodeId(pIndex, index)"></div>
    <div class="alc-item-label">
      <div class="alc-item-label-text" [nzTooltipTitle]="strItem.content" nzTooltipPlacement="bottom" nz-tooltip>
        {{ strItem.content }}
      </div>
    </div>
    <div class="alc-item-right">
      <span class="alc-item-right-text" [ngStyle]="{ color: mapColor(strItem.state) }">{{
        statusList(strItem.state)
      }}</span>
      <i nz-icon nzType="right-circle" nzTheme="fill" class="alc-item-right-circle"></i>
    </div>
  </div>
</ng-template>

<ng-container *ngIf="strategyShowPopver">
  <!-- 策略进度 -->
  <div *ngIf="strategyShowPopver" class="backdrop" (click)="backdrop($event)">
    <div class="acls-popover-progress" [ngStyle]="popoverStyle">
      <div class="acls-popover-progress-header">
        <div class="acls-popover-progress-header-title">
          <img src="assets/img/air-conditioner-control/accl-strategy-icon.svg" />
          <span class="acls-popover-progress-header-text">执行进度</span>
        </div>
        <div
          nz-icon
          nzType="close"
          nzTheme="outline"
          class="acls-popover-progress-header-close"
          (click)="startegyClose($event)"
        ></div>
      </div>
      <div class="acls-popover-progress-content">
        <nz-spin nzTip="Loading..." class="acclsppc-loading" [nzSpinning]="loading">
          <div class="aclsppc-header" *ngIf="!isEmpty">
            <span>策略：</span>
            <span [nzTooltipTitle]="strategyListData?.content" nzTooltipPlacement="bottomLeft" nz-tooltip>{{
              strategyListData?.content || '--'
            }}</span>
          </div>
          <div class="aclsppc-content pt8" *ngIf="!isEmpty">
            <div class="aclsppc-content-list">
              <nz-timeline>
                <nz-timeline-item *ngFor="let plist of strategyListData?.details; let p = index; trackBy: trackByIndex">
                  <div class="aclsppc-content-list-time">{{ plist.time }}</div>
                  <div
                    class="aclsppc-content-list-name pt8"
                    [ngClass]="{
                      'statue-error': mapColor(plist.state),
                      pb16: p !== strategyListData?.details.length - 1
                    }"
                  >
                    {{ statusList(plist.state) }}
                  </div>
                </nz-timeline-item>
              </nz-timeline>
            </div>
          </div>
          <div class="empty-table" [class.none]="!isEmpty">
            <img src="assets/img/common/common-data-none.svg" alt="暂无数据" />
            <span>暂无数据</span>
          </div>
        </nz-spin>
      </div>
    </div>
  </div>
</ng-container>
