<!-- 快捷选时 -->
<el-form-item label="快捷选时">
  <radio-select-button
    v-model="dateScope"
    :switchItems="dateScopeListAll"
    @switch-click="handleDateScopeChange"
  ></radio-select-button>
</el-form-item>
<!-- 颗粒度 -->
<el-form-item label="时间颗粒">
  <el-select placeholder="请选择时间颗粒" v-model="timeUnit" @change="handleTimeUnitChange">
    <el-option v-for="(item, index) in timeUnitList" :key="item.code" :value="item.code" :label="item.name">
    </el-option>
  </el-select>
</el-form-item>
<!-- 选择器 -->
<el-form-item :label="mapFormItemLabel(dateScope)">
  <!-- 日 -->
  <common-calendar
    v-if="dateScope === EMultipleTimeType.日"
    placeholder="选择日期"
    type="date"
    :disabledDate="disabledDate"
    :chooseTimeList="dateTimeList"
    @getChooseDateValue="getChooseDateValue"
  ></common-calendar>
  <!-- 周 -->
  <common-calendar
    v-if="dateScope == EMultipleTimeType.周"
    placeholder="选择周"
    type="week"
    :disabledDate="disabledDate"
    :chooseTimeList="dateTimeList"
    @getChooseDateValue="getChooseDateValue"
  ></common-calendar>
  <!-- 月 -->
  <choose-month
    v-if="dateScope == EMultipleTimeType.月"
    ref="chooseMonthRef"
    :chooseTimeList="dateTimeList"
    @getChooseDateValue="getChooseDateValue"
  ></choose-month>
  <!-- 年 -->
  <choose-year
    ref="chooseYearRef"
    v-if="dateScope == EMultipleTimeType.年"
    :chooseTimeList="dateTimeList"
    @getChooseDateValue="getChooseDateValue"
  >
  </choose-year>
  <!-- 任意时间段 -->
  <date-range-picker
    v-if="dateScope == EMultipleTimeType.任意时间段"
    v-model:value="randomDate"
    :timeUnit="timeUnit"
    :format="mapRandomDateFormat()"
    :mode="mapMode()"
    :disableDateCb="disabledDate"
    @change="handleRandomDateChange"
  >
  </date-range-picker>
</el-form-item>
<el-form-item v-if="dateScope == EMultipleTimeType.任意时间段">
  <div :class="['emdp-dates', dateTimeList?.length ? 'emdp-dates-allowclear' : '']">
    <div class="emdp-dates-container">
      <div style="margin: 4px 0 4px 4px; overflow-y: auto">
        <div class="emdp-dates-container-list">
          <span v-for="(item, index) in dateTimeList" :key="index">
            {{ mapSelectedDate(item) }}
            <i @click="deleteDateSectionItem(index)" class="el-icon-close"></i>
          </span>
        </div>
        <i class="ems-iconfont icon-qingkong" @click="handleRandomDateClear"></i>
      </div>
    </div>
  </div>
</el-form-item>
