<el-dialog v-model="dialogVisible" title="已处理异常" width="676px" :close-on-click-modal="false">
  <div class="ea-processed-abnormal-dialog">
    <div class="ea-processed-abnormal-dialog__header flex-row-start-center">
      <el-form :inline="true" :model="pageForm" @submit.native.prevent>
        <el-form-item>
          <div class="treetype-list">
            <span
              v-for="(item, index) in treeTypeList"
              :key="'treetype_' + index"
              :class="[
              'treetype-list-item',
              pageForm.treeType === item.value ? 'active' : '',
              index !== treeTypeList.length - 1 ? 'mr8' : ''
            ]"
              @click="onTreeTypeSelect(item.value)"
              >{{ item.label }}</span
            >
          </div>
        </el-form-item>
        <el-form-item label="能源类型" prop="energyCode">
          <el-select v-model="pageForm.energyCode" placeholder="能源类型" @change="getProcessedAbnormalList">
            <el-option
              v-for="(item, index) in energyCodeList"
              :key="'energycoe_' + index"
              :value="item.code"
              :label="item.name"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="处理时间" prop="date">
          <el-time-picker
            class="unclearable"
            v-model="pageForm.date"
            is-range
            range-separator="~"
            format="HH:mm"
            :clearable="false"
            :editable="false"
            start-placeholder="开始时间"
            end-placeholder="结束时间"
            @change="onDateChange"
          ></el-time-picker>
        </el-form-item>
      </el-form>
    </div>
    <div class="ea-processed-abnormal-dialog__list">
      <div v-loading="loading" :style="{ height: loading ? '200px' : 'auto' }">
        <div class="list-container" v-if="dataSource?.length">
          <div class="list-item" v-for="(item, index) in dataSource" :key="index">
            <div class="flex-row-justify-center">
              <h6 class="font24" :title="item.treeName">{{ item.treeName }}</h6>
              <span class="type-name">{{ item.typeName }}</span>
            </div>
            <div class="flex-row-justify-center">
              <span class="tree-name" :title="item.treePath">{{ item.treePath }}</span>
              <span>处理时间&nbsp;&nbsp;&nbsp;{{ item.dealTime }}</span>
            </div>
            <!-- 排名变化 -->
            <div v-if="item.typeId === AbnormalType.RANK" class="other-remark">
              当前分组：<span>{{ item.otherName }}</span>
            </div>
            <!-- 能耗对比 -->
            <div v-if="item.typeId === AbnormalType.CONTRAST" class="other-remark">
              对比项：<span :title="item.otherName">{{ item.otherName }}</span>
            </div>
            <div v-if="item.typeId === AbnormalType.CORRELATION" class="other-remark">
              关联项：<span>{{ item.otherName }}</span>
            </div>
            <div class="description mt8">
              {{ item.handleRemarks !== '' && item.handleRemarks !== null ? item.handleRemarks : item.typeId ===
              AbnormalType.BOUNDARY ? '已记录能源事件' : '暂无处理信息' }}
            </div>
          </div>
        </div>
        <no-data v-if="dataSource?.length === 0 && !loading"></no-data>
      </div>
    </div>
  </div>
</el-dialog>
