#air-conditioner-control-cards-chart {
  width: 460px;
  height: 233px;
  margin-top: 20px;
  padding: 20px;

  position: fixed;

  display: grid;
  grid-template-columns: 21px 1fr 16px;
  grid-template-rows: 22px 1fr;
  place-content: stretch;
  place-items: center stretch;
  gap: 8px;

  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 10px 32px 0px rgba(38, 38, 38, 0.18);
  z-index: 9;

  & > .card-flag {
    position: absolute;
    top: -20px;
    left: 20px;
  }

  & > i.card-close {
    color: fade(black, 45%);
    cursor: pointer;

    font-size: 16px;

    &:hover {
      color: fade(black, 65%);
    }
  }
}
