<div v-for="(item, index) in menus" :key="'menu_' + index">
  <a-menu-item
    v-if="!item.childMenu || item.childMenu.length === 0"
    :key="item.url"
    :title="item.name"
    @click="onMenuLinkTo(item.url)"
  >
    <!-- <template #icon v-if="item.icon">
            <div class="menu-icon">
                <i :class="['iconfont', item.icon]"></i>
            </div>
        </template> -->
    {{ item.name }}
  </a-menu-item>
  <a-sub-menu :key="item.url" v-else>
    <!-- <template #icon v-if="item.icon">
            <div class="menu-icon">
                <i :class="['iconfont', item.icon]"></i>
            </div>
        </template> -->
    <template #title>{{ item.name }}</template>
    <AsideMenuItem :dataSource="item.childMenu"></AsideMenuItem>
  </a-sub-menu>
</div>
