.aba-explain-progress {
    position: relative;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.05);

    .progress {
        position: relative;
        height: 24px;
        background: linear-gradient(to left, #e54f4f, #ffb73f, #52b2ff);
        opacity: 0.4;
    }

    .limit {
        width: 3px;
        height: 30px;
        position: absolute;
        top: -4px;
        background-image: url('../../../../../assets/img/airport-benchmarking/ab-lower-limit-value.svg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    span {
        display: inline-block;
        position: absolute;
        bottom: -20px;
    }

    .min {
        left: -2px;
    }

    .max {
        right: -2px;
    }

    .current {
        bottom: 30px;
        min-width: 58px;
        padding: 0 4px;
        text-align: center;
        height: 38px;
        background-image: url('../../../../../assets/img/airport-benchmarking/ab-bubble-box.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        transform: translateX(-50%);
        font-size: 14px;
        line-height: 32px;
        text-align: center;
        position: absolute;
    }

    .current::after {
        content: '';
        width: 4px;
        height: 32px;
        position: absolute;
        bottom: -33px;
        left: 50%;
        transform: translateX(-50%);
        background-image: url('../../../../../assets/img/airport-benchmarking/ab-measured-value.svg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
}