<div class="aba-explain-progress flex-row-start-center">
    <img class="limit left" src="../../../../../assets/img/airport-benchmarking/ab-lower-limit-value.svg" alt="left"
        :style="{
        left: status === BENCH_STATUS.LOW ? `${100 - progressWidth}%` : 0
      }" />
    <div class="progress" :style="{
        width: `${progressWidth}%`,
        left: status === BENCH_STATUS.LOW ? `${100 - progressWidth}%` : 0
      }"></div>
    <img class="limit right" src="../../../../../assets/img/airport-benchmarking/ab-upper-limit-value.svg" alt="right"
        :style="{
        left: status === BENCH_STATUS.HIGH ? `${progressWidth}%` : '100%'
      }" />
    <span class="min" :style="{
        left: status === BENCH_STATUS.LOW ? `${100 - progressWidth}%` : 0
      }" v-if="
        Object.prototype.toString.call(explainInfo.minValue) !== '[object Null]'
      ">{{ isLegend ? 'x' : explainInfo.minValue }}</span>
    <span class="max" :style="{
        left: status === BENCH_STATUS.HIGH ? `${progressWidth}%` : '100%'
      }" v-if="
        Object.prototype.toString.call(explainInfo.maxValue) !== '[object Null]'
      ">{{ isLegend ? 'y' : explainInfo.maxValue }}</span>
    <span class="current" :style="{ left: currentLeft }" v-if="explainInfo.measureValue >= 0">
        {{ explainInfo.measureValue }}
    </span>
</div>