.ec-edit-dialog {
  :deep(.el-form-item) {
    margin-right: 0 !important;
  }
  :deep(.ead-form-item .el-form-item__content) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    .ead-energy-unit {  
      
      text-align: right;
    }
  }
}
