.energy-anomaly {
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;

  :deep(.page-common__container) {
    padding: 0;

    box-shadow: none;
  }

  :deep(.el-loading-mask) {
    background-color: transparent !important;
  }

  :deep(.page-common) {
    overflow: hidden;
    padding-right: 7px;

    &__container,
    &__detail {
      overflow: hidden;
    }
  }

  &.no-authority {
    :deep(.page-common) {
      padding-right: 16px;
    }
  }

  > .el-row,
  > .el-row > .el-col {
    height: 100%;
  }

  &__select {
    min-width: 306px;
    text-align: center;
    height: 100%;
    background-color: var(--iot-anomaly-select-bg-color);

    &-header {
      padding: 16px;

      .ems-iconfont.icon-yincang {
        cursor: pointer;
        border-radius: 50%;
        background-color: var(--iot-anomaly-hidden-bg-color);
        color: #fff;
        font-size: 16px;
        width: 24px;
        height: 24px;
        line-height: 24px;
      }

      img {
        width: 32px;
        height: 32px;
        cursor: pointer;
      }
    }

    &-anomalytype {
      position: relative;
      padding: 20px 0;
      margin: 0 auto;
      height: 40px;
      box-sizing: content-box !important;

      .font14 {
        padding-right: 12px;
        white-space: nowrap;
      }

      :deep(.select-trigger) {
        .el-select__tags {
          height: 34px;
          overflow-y: auto;
          max-width: 100% !important;

          & > span {
            white-space: normal;
            display: inline-block;
            max-width: 92%;
          }
        }

        .el-input__suffix {
          z-index: 999;
        }
      }
    }

    .tree-box {
      flex: 1;
      display: flex;
      flex-direction: column;
      width: 272px;
      margin: 0 auto;
      overflow: hidden;
    }

    &-anomalytype::before {
      content: '';
      width: 100%;
      border-bottom: 1px dotted var(--iot-color-active);
      position: absolute;
      bottom: 0;
      left: 0;
    }

    &-treetype {
      margin: 16px 0;
      display: flex;
      div {
        width: 100%;
        height: 36px;
        line-height: 36px;
        font-size: 14px;
        font-weight: 700;
        color: var(--iot-font-color-root);
        display: inline-block;
        background-color: var(--check-select-scroll-bg);
        text-align: center;
        cursor: pointer;
      }

      .active-treetype {
        background-color: var(--iot-color-active);
        color: #fff;
      }
    }

    &-input {
      margin-bottom: 16px;
    }

    &-tree {
      flex: 1;
      overflow-y: auto;

      .el-tree {
        height: 100%;
      }

      .el-tree-node__content {
        height: 40px;
        line-height: 40px;
      }

      .no-data {
        background-color: transparent;
      }
    }
  }

  &__content {
    position: relative;
    overflow: hidden;
    flex: 1;
    height: 100%;
    box-sizing: content-box;
    background-image: url('../../../assets/img/energy-anomaly/ea-contaienr-bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: inset 4px 0 12px 0 var(--iot-anomaly-content-box-shadow-color);

    &.no-authority {
      margin-right: 9px;
    }

    .ea-data-none {
      width: 100%;
      height: 100%;
      overflow: hidden;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      img {
        width: 300px;
        height: 300px;
      }

      p {
        position: relative;
        bottom: 40px;
        color: var(--color-text-disable);
        font-size: 14px;
      }
    }

    &-container {
      height: 100%;
      overflow: hidden;
    }

    &-actual {
      position: absolute;
      top: 16px;
      right: 16px;

      z-index: 99;

      :deep(.el-popper.refresh-tooltip) {
        background-color: #8c8c8c;
        white-space: nowrap;

        .el-popper__arrow {
          top: -4px;
        }

        .el-popper__arrow::before {
          background-color: #8c8c8c;

          width: 8px;
          height: 8px;
        }
      }

      span.refresh-datestr {
        color: var(--color-text-disable);
        font-size: 14px;

        white-space: nowrap;
      }

      i.iconfont.icon-Warning-Circle {
        color: var(--color-text-disable);
        margin-left: 8px;
        font-size: 14px;
      }
    }

    .font14.text {
      padding: 0 2px;
      position: relative;
      top: 1px;
    }

    .font16 {
      padding-left: 20px;
    }

    &-header {
      padding: 16px 40px 0 16px;
    }

    &-list {
      flex: 1;
      overflow-y: auto;
      margin: 16px 16px 0 24px;
      overflow-x: hidden;

      .data-list {
        display: flex;
        flex-wrap: wrap !important;
        white-space: normal !important;

        gap: 16px 30px;
      }

      .dl-date {
        height: 24px;
        line-height: 24px;
        color: var(--color-text-title);
        font-size: 16px;
      }

      .no-data {
        height: 100%;
      }
    }

    :deep(.el-pagination) {
      margin-right: 0;
      padding-right: 16px;

      .el-pagination__jump::before {
        left: 0;
      }
    }
  }
}
