<div :class="['energy-anomaly', !hasAuthority ? 'no-authority' : '']">
  <page-common title="能源异常">
    <template v-slot:pageContent>
      <div class="flex" style="height: 100%;">
        <!-- 左侧筛选项 -->
        <div class="energy-anomaly__select flex flex-column">
          <!-- 头部 -->
          <div class="energy-anomaly__select-header flex-row-justify-center">
            <module-title title="筛选条件"></module-title>
            <div class="flex-row-start-center">
              <img
                title="已处理异常"
                src="../../../assets/img/energy-anomaly/ea-processed.png"
                alt="processed"
                @click="onProcessedAbnormalDialogShow"
              />
              <i
                title="隐藏项"
                v-if="hasHideAbnormalFlag"
                class="ems-iconfont icon-yincang ml16"
                @click="onHiddenAnomalyDialogShow"
              ></i>
            </div>
          </div>
          <!-- 分类分项 -->
          <EnergyCodeSelectBox
            :energyCodeList="energyCodeList"
            nodeKey="id"
            v-model:checkedKey="queryTreeParams.energyCode"
            @change="onSearch"
          ></EnergyCodeSelectBox>
          <!-- 异常类型 -->
          <div class="energy-anomaly__select-anomalytype flex-row-start-center">
            <span class="font14">异常类型</span>
            <el-select
              :disabled="currentTab !== EA_ST_TABS.昨日异常"
              multiple
              v-model="queryTreeParams.typeIds"
              placeholder="请选择异常类型"
              :clearable="true"
              @change="onSearch"
            >
              <el-option
                v-for="(item, index) in showAnomalyTypeList"
                :key="'type_' + index"
                :value="item.id"
                :label="item.name"
              ></el-option>
            </el-select>
          </div>
          <div class="tree-box">
            <!-- 区域业态 -->
            <div class="energy-anomaly__select-treetype">
              <div
                v-for="(item, index) in treeTypeList"
                :key="'treetype_' + index"
                :class="{
                    'active-treetype': item.value === queryTreeParams.treeType
                  }"
                @click="onTreeTypeChange(item.value)"
              >
                {{ item.label }}
              </div>
            </div>
            <!-- 树筛选 -->
            <el-input
              class="energy-anomaly__select-input"
              v-model="treeFilterText"
              placeholder="请输入节点名称搜索"
              suffix-icon="el-icon-search"
            />
            <!-- 树 -->
            <div v-loading="treeLoading" class="energy-anomaly__select-tree">
              <EnergyAnomalyTree
                v-if="!showTreeNoData && anomalyTreeList && anomalyTreeList.length"
                :filterText="treeFilterText"
                :treeDataSource="anomalyTreeList"
                :selectedKey="queryAnomalyListParams.treeId"
                :nodeKey="nodeKey"
                @onTreeSelect="onTreeSelect"
              ></EnergyAnomalyTree>
              <no-data v-if="showTreeNoData"></no-data>
            </div>
          </div>
        </div>
        <!-- 内容区域 -->
        <div v-loading="loading" class="energy-anomaly__content">
          <!-- 实时异常抬头 -->
          <div
            class="energy-anomaly__content-actual flex-row-start-center"
            v-show="(currentTab === EA_ST_TABS.实时异常 || currentTab === EA_ST_TABS.边界异常) && !!actualRefreshDateString"
          >
            <span class="refresh-datestr">刷新于{{ actualRefreshDateString }}</span>
            <el-tooltip
              popper-class="refresh-tooltip"
              effect="dark"
              :append-to-body="false"
              :content="currentTab === EA_ST_TABS.实时异常 ? '用能异常仅保留过去24小时数据' : '边界异常展示30天的异常数据'"
              placement="bottom-end"
            >
              <i class="iconfont icon-Warning-Circle"></i>
            </el-tooltip>
          </div>
          <div class="energy-anomaly__content-container flex flex-column" v-if="!showNoData && !loading">
            <!-- 头部 -->
            <div class="energy-anomaly__content-header flex-row-justify-center">
              <module-title :title="currentTreeNodeName"></module-title>
              <!-- 昨日异常抬头 -->
              <div class="flex" v-show="currentTab === EA_ST_TABS.昨日异常">
                <span class="bold font18">{{ curYear }}</span>
                <span class="font14 text">年</span>
                <span class="bold font18">{{ curMonth }}</span>
                <span class="font14 text">月</span>
                <span class="bold font18">{{ curDay }}</span>
                <span class="font14 text">日</span>
                <span class="bold font16">简报</span>
              </div>
            </div>
            <div class="energy-anomaly__content-list">
              <!-- 昨日异常 -->
              <div v-if="currentTab === EA_ST_TABS.昨日异常" class="data-list">
                <EnergyAnomalyCard
                  v-for="(item, index) in anomalyList"
                  :key="'anomaly_' + getRandomKey()"
                  :energyAnomalyInfo="item"
                  :currentTab="currentTab"
                  :isMenuCollapsed="isMenuCollapsed"
                  @click.native="onAnomalyItemClick(item.treeId, '', '')"
                ></EnergyAnomalyCard>
              </div>
              <!-- 实时异常 -->
              <div v-show="currentTab === EA_ST_TABS.实时异常">
                <div v-for="(item, index) in actualAnomalyList" :key="'actual_' + getRandomKey()" class="mb24">
                  <p class="dl-date mb8">{{ item.abnormalShowTime }}</p>
                  <div class="data-list">
                    <EnergyAnomalyCard
                      v-for="(childItem, childIndex) in item.abnormalTreeCardList"
                      :key="'anomaly_' + getRandomKey()"
                      :currentTab="currentTab"
                      :energyAnomalyInfo="childItem"
                      :isMenuCollapsed="isMenuCollapsed"
                      @click.native="onAnomalyItemClick(childItem.treeId, '', item.abnormalTime)"
                    ></EnergyAnomalyCard>
                  </div>
                </div>
              </div>
              <!-- 边界异常 -->
              <div v-if="currentTab === EA_ST_TABS.边界异常">
                <div v-for="(item, index) in boundaryAnomalyList" :key="'actual_' + index" class="mb24">
                  <p class="dl-date mb8">{{ item.abnormalShowTime }}</p>
                  <div class="data-list">
                    <EnergyAnomalyCard
                      v-for="(childItem, childIndex) in item.abnormalTreeCardList"
                      :key="'anomaly_' + childIndex"
                      :currentTab="currentTab"
                      :energyAnomalyInfo="childItem"
                      :isMenuCollapsed="isMenuCollapsed"
                      @click.native="onAnomalyItemClick(childItem.treeId, childItem.id, item.abnormalTime)"
                    ></EnergyAnomalyCard>
                  </div>
                </div>
              </div>
            </div>
            <!-- 分页器 -->
            <!-- <el-pagination
              v-if="currentTab === EA_ST_TABS.昨日异常 && !showNoData && showAnomalyList && showAnomalyList.length > 0 && !loading && (
                pagination.total > pagination.pageSize
            )"
              :current-page="pagination.pageNum"
              :page-size="pagination.pageSize"
              layout="total, prev, pager, next, jumper"
              @current-change="onCurrentChange"
              :total="pagination.total"
            ></el-pagination> -->
          </div>
          <div class="ea-data-none" v-show="showNoData && !loading">
            <img src="../../../assets/img/energy-anomaly/ea-data-none.svg" alt="" />
            <p>暂无数据</p>
          </div>
        </div>
        <!-- tab切换 -->
        <ea-switch-tab v-if="hasAuthority" :tabAnomalyCount="tabAnomalyCount"></ea-switch-tab>
      </div>
      <!-- 隐藏异常列表弹框 -->
      <EnergyHiddenAnomalyDialog ref="hiddenAnomalyDialog" :userName="userName" @refresh="getHideAbnormalList">
      </EnergyHiddenAnomalyDialog>
      <!-- 异常详情弹框 -->
      <EnergyAnomalyDetailDialog
        ref="anomalyDetailDialog"
        :queryAnomalyDetailParams="queryAnomalyDetailParams"
        :currentTab="currentTab"
        @refresh="onOperateRefresh"
        @refreshCount="getHideAbnormalList"
      ></EnergyAnomalyDetailDialog>
      <!-- 已处理异常弹框 -->
      <ProcessedAbnormalDialog ref="processedRef"></ProcessedAbnormalDialog>
    </template>
  </page-common>
</div>
