#ch-project-info {
  width: 100%;
  height: 100%;
  overflow: hidden;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr;
  place-content: stretch;
  place-items: stretch;
  gap: 0.24rem;

  > .ch-pi-header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.31rem;

    > .ch-pi-title {
      margin-top: 0.18rem;
      color: white;
      font: 0.3rem/0.36rem 'zihun148hao-zhengkumofangti';
    }

    > .ch-pi-total {
      position: relative;
      color: rgba(54, 129, 255, 1);
      font: 0.6rem/0.67rem 'UniDreamLED';

      &::after {
        content: '个';

        margin: 0 0.15rem;
        position: absolute;
        top: 0.18rem;
        left: 100%;

        color: white;
        font: 0.3rem/0.36rem 'zihun148hao-zhengkumofangti';
      }
    }
  }

  > .ch-pi-body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.1rem;

    > .ch-pi-card {
      width: 1.46rem;
      height: 1.14rem;
      padding-right: 0.2rem;
      position: relative;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      color: white;
      transition-duration: 666ms;
      pointer-events: none;

      &[type='active'] {
        > .ch-pi-card-bg {
          .ch-pi-card-bg-graph {
            opacity: 1;

            &.yellow {
              fill: url(#ch-pi-svg-color-yellow-active);
            }
            &.blue {
              fill: url(#ch-pi-svg-color-blue-active);
            }
            &.green {
              fill: url(#ch-pi-svg-color-green-active);
            }
          }
        }
      }
      &[type='inactive'] {
        opacity: 0.7;
      }

      > .ch-pi-card- {
        &icon {
          z-index: 10;
          margin: 0.14rem 0 0.1rem;
          font: 0.22rem/1 'iconfont';

          &.icon-beforeEnter::before {
            content: '\e70b';
          }
          &.icon-onBuilding::before {
            content: '\e70f';
          }
          &.icon-onOperation::before {
            content: '\e708';
          }
        }

        &name {
          z-index: 10;
          line-height: 0.22rem;
          font-size: 0.16rem;
        }

        &value {
          z-index: 10;
          line-height: 0.42rem;
          font-size: 0.3rem;
          font-weight: 500;

          &::after {
            content: '个';
            font-size: 0.16rem;
            font-weight: 400;
          }
        }

        &arrow {
          width: 0.33rem;
          height: 0.25rem;

          position: absolute;
          top: 0.37rem;
          right: -0.06rem;

          opacity: 1;
        }

        &bg {
          width: 1.39rem;
          height: 1.15rem;

          position: absolute;
          top: 0;
          left: 0;

          .ch-pi-card-bg-graph {
            opacity: 0.7;
            cursor: pointer;
            pointer-events: all;

            &.yellow {
              fill: url(#ch-pi-svg-color-yellow);
            }
            &.blue {
              fill: url(#ch-pi-svg-color-blue);
            }
            &.green {
              fill: url(#ch-pi-svg-color-green);
            }
          }
        }
      }
    }
  }
}
