<div class="energy-admin flex flex-column" v-loading="loading">
  <template v-if="!is_error && !loading">
    <!-- 头部 start -->
    <HeaderBox></HeaderBox>
    <!-- 头部 end -->
    <el-container class="flex" style="flex: 1; overflow: hidden">
      <!-- 侧边菜单 start -->
      <AsideBox :menuList="menuList"></AsideBox>
      <!-- 侧边菜单 end -->
      <el-container class="flex flex-column" style="flex: 1">
        <ContentBox :key="routerKey"></ContentBox>
      </el-container>
    </el-container>
  </template>
  <div class="energy-admin flex-row-center-center" v-if="is_error && !loading">
    <img src="../../assets/img/common/common-menu-loaderror-404.svg" alt="暂无权限" />
  </div>
</div>
