<div class="main" v-loading="loading">
  <!-- 头部 start -->
  <el-header class="main-header" v-show="!loading">
    <!-- logo -->
    <div class="main-header--logo">
      <div class="logo-container">
        <img :src="tenantVO?.tenant?.tenantLogo" alt="logo" />
      </div>
      <h6 :title="tenantVO?.tenant?.platformName">{{ tenantVO?.tenant?.platformName }}</h6>
    </div>
    <div class="main-header--tabs">
      <!-- 用于关闭popover的蒙层 -->
      <div
        v-if="campusVisible || userVisible"
        @click.stop="handlePopoverClose"
        style="position: fixed; width: 100%; height: 100%; left: 208px; top: 60px; z-index: 0"
      ></div>
      <!-- 告警 -->
      <el-popover
        placement="bottom-end"
        :show-arrow="false"
        :offset="4"
        :width="138"
        popper-class="header-popper"
        trigger="hover"
      >
        <template #reference>
          <div class="tabs-item alarm" @click="handleAlarmLinkTo(JUMP_TYPES.跳转首页)">
            <img class="area-ico" src="../../assets/img/header/header-alarm.svg" alt="" />
            <span class="alarm-count" v-if="alarmInfo?.total > 0">
              {{ alarmInfo?.total === 0 ? '' : alarmInfo?.total > 99 ? '99' : alarmInfo?.total }}
            </span>
          </div>
        </template>
        <ul class="alarm-popper">
          <li class="serious" @click="handleAlarmLinkTo(JUMP_TYPES.带参跳转, ALARM_TYPES.严重)">
            <span class="title">严重告警</span>
            <span class="count">
              {{ !alarmInfo?.critical || alarmInfo?.critical === 0 ? '0' : alarmInfo?.critical > 99 ? '99+' :
              alarmInfo?.critical }}
            </span>
          </li>
          <li class="important" @click="handleAlarmLinkTo(JUMP_TYPES.带参跳转, ALARM_TYPES.重要)">
            <span class="title">重要告警</span>
            <span class="count">
              {{ !alarmInfo?.major || alarmInfo?.major === 0 ? '0' : alarmInfo?.major > 99 ? '99+' : alarmInfo?.major }}
            </span>
          </li>
          <li class="normal" @click="handleAlarmLinkTo(JUMP_TYPES.带参跳转, ALARM_TYPES.次要)">
            <span class="title">次要告警</span>
            <span class="count">
              {{ !alarmInfo?.minor || alarmInfo?.minor === 0 ? '0' : alarmInfo?.minor > 99 ? '99+' : alarmInfo?.minor }}
            </span>
          </li>
          <li class="hint" @click="handleAlarmLinkTo(JUMP_TYPES.带参跳转, ALARM_TYPES.提示)">
            <span class="title">提示告警</span>
            <span class="count">
              {{ !alarmInfo?.warn || alarmInfo?.warn === 0 ? '0' : alarmInfo?.warn > 99 ? '99+' : alarmInfo?.warn }}
            </span>
          </li>
        </ul>
      </el-popover>

      <div class="split-line"></div>

      <!-- 院区 -->
      <el-popover
        v-if="areaList?.length"
        v-model:visible="campusVisible"
        placement="bottom-end"
        :show-arrow="false"
        :offset="4"
        :width="208"
        popper-class="header-popper"
        trigger="click"
        @hide="handleAreaPopoverHide"
      >
        <template #reference>
          <div class="tabs-item area">
            <img class="area-ico" src="../../assets/img/header/header-yuanqu.svg" alt="" />
            <span class="badge-count" v-if="selectedAreaCodeList?.length > 0">{{ selectedAreaCodeList?.length }}</span>
            <span class="tabs-text ml11">院区</span>
            <img class="down-ico ml5" src="../../assets/img/header/header-down.svg" alt="" />
          </div>
        </template>
        <div class="area-popper">
          <div class="area-popper--header">
            <h6>院区选择</h6>
            <span v-show="showWarn">至少选择一个院区</span>
          </div>
          <div class="area-popper--list">
            <el-checkbox-group v-model="selectedAreaCodeList" @change="handleAreaChange">
              <el-checkbox v-for="(item, index) in areaList" :key="'aread' + index" :label="item.code">
                <span :title="item.name">{{ item?.name }}</span>
              </el-checkbox>
            </el-checkbox-group>
          </div>
        </div>
      </el-popover>
      <!-- 用户名 -->
      <el-popover
        v-model:visible="userVisible"
        placement="bottom"
        :show-arrow="false"
        :width="136"
        :offset="4"
        popper-class="user-popper"
        trigger="click"
      >
        <template #reference>
          <div class="tabs-item user-name">
            <img class="user-ico" v-if="tenantVO?.user?.picUrl" :src="tenantVO?.user?.picUrl" alt="头像" />
            <span class="tabs-text ml8" :title="username">{{ username ?? '' }}</span>
            <img class="down-ico mr12 ml6" src="../../assets/img/header/header-down.svg" alt="向下箭头" />
          </div>
        </template>
        <div class="logout" @click="handleLogOut">
          <i class="iconfont icon-a-Group6"></i><span class="ml8">退出登录</span>
        </div>
      </el-popover>
    </div>
  </el-header>
  <!-- 头部 end -->
  <el-container class="main-container" v-show="!loading">
    <!-- 侧边菜单 start -->
    <ems-aside :menuList="menuList" :selectedMenu="selectedMenu"></ems-aside>
    <!-- 侧边菜单 end -->
    <el-container class="main-container__content">
      <div style="flex: 1; overflow: hidden" @click.native="test">
        <iframe title="ems-web" :name="IFRAME_ID" frameborder="0" @load="onIframeLoaded"></iframe>
      </div>
    </el-container>
  </el-container>
</div>
