<div id="work-record-list">
  <div class="list-header ml8">
    <h4>工作内容</h4>
    <div flexible="true">
      <div
        class="header-score-container ml4"
        [class.none]="!isHistory || null === list.score"
        [class.danger]="list.score < 60"
        [class.success]="list.score >= 90"
      >
        <img
          class="header-score-symbol"
          [src]="mapScoreSymbol(list.score)"
          alt=""
        />
        <span class="header-score-number">{{ list.score || 0 }}</span>
        <span class="header-score-text ml2">分</span>
      </div>
      <div *ngIf="isToday" class="header-flag-container">今天</div>
      <div *ngIf="isFuture" class="header-flag-container">计划</div>
    </div>
    <div class="header-date-container">
      <span class="header-date-number">{{ year }}</span>
      <span class="header-date-text">年</span>
      <span class="header-date-number">{{ month }}</span>
      <span class="header-date-text">月</span>
      <span class="header-date-number">{{ day }}</span>
      <span class="header-date-text">日</span>
      <span class="header-date-text ml16">{{ week }}</span>
    </div>
  </div>

  <div
    #elementListBody
    class="list-body mt24"
    [class.mr4]="isOverflow"
    flexible="true"
  >
    <nz-spin [nzSpinning]="isLoading">
      <!-- 每日、工作日任务 -->
      <div
        *ngFor="let work of list.daily"
        class="work-card-container"
        [class.mr8]="isOverflow"
      >
        <div class="work-card-header">
          <!-- 未完成（今天或未来：灰色  历史天：danger）  延迟完成-delay    已完成（蓝色） -->
          <i
            *ngIf="!mapUndoneTask(work.state)"
            class="work-condition-symbol"
            [class]="mapItemIcon(work.state)"
            nz-icon
            nzType="check-circle"
            nzTheme="fill"
          ></i>
          <i
            *ngIf="mapUndoneTask(work.state)"
            class="work-condition-symbol danger"
            nz-icon
            nzType="exclamation-circle"
            nzTheme="fill"
          ></i>
          <div
            class="work-execution-container"
            [class.active]="mapActiveTask(work.begin, work.end)"
            flexible="true"
          >
            <span>{{ work.begin | date: "HH:mm" }}</span>
            <span>-</span>
            <span>{{ work.end | date: "HH:mm" }}</span>
          </div>
          <div class="work-code">{{ work.code }}</div>
        </div>
        <section class="work-card-body">
          <!-- 非未来天展示tag -->
          <div
            *ngIf="mapStateShow(work.state)"
            class="work-state-container"
            [class.danger]="mapUndoneTask(work.state)"
            [class.warning]="mapDelayedTask(work.state)"
            [class.disabled]="mapFinishedTask(work.state)"
          >
            {{ mapTaskState(work.state) }}
          </div>
          <h6 [class.active]="mapActiveTask(work.begin, work.end)">
            {{ work.name }}
          </h6>
          <p class="mt4">{{ work.description }}</p>
          <div *ngIf="mapInfoVisibility(work)" class="work-info-container mt8">
            <p *ngIf="work.remark">{{ work.remark }}</p>
            <nz-image-group
              *ngIf="work.attaches?.length"
              class="work-info-attach-container mt8"
            >
              <img
                *ngFor="let attach of work.attaches"
                nz-image
                [nzSrc]="attach"
                alt=""
              />
            </nz-image-group>
            <p *ngIf="work.finish" class="mt8">
              <span>{{ work.finish | date: "HH:mm" }}</span>
              <span>完成</span>
            </p>
          </div>
        </section>
      </div>

      <!-- 周任务 -->
      <div
        *ngFor="let work of list.weekly"
        class="work-card-container"
        [class.mr8]="isOverflow"
      >
        <div class="work-card-header">
          <!-- 未完成（今天或未来：灰色  历史天：danger）  延迟完成-delay    已完成（蓝色） -->
          <i
            *ngIf="!mapUndoneTask(work.state)"
            class="work-condition-symbol"
            [class]="mapItemIcon(work.state)"
            nz-icon
            nzType="check-circle"
            nzTheme="fill"
          ></i>
          <i
            *ngIf="mapUndoneTask(work.state)"
            class="work-condition-symbol danger"
            nz-icon
            nzType="exclamation-circle"
            nzTheme="fill"
          ></i>
          <div class="work-execution-container" flexible="true">
            <span class="work-execution-bubble">周任务</span>
          </div>
          <div class="work-code">{{ work.code }}</div>
        </div>
        <section class="work-card-body">
          <div
            *ngIf="mapStateShow(work.state)"
            class="work-state-container"
            [class.danger]="mapUndoneTask(work.state)"
            [class.warning]="mapDelayedTask(work.state)"
            [class.disabled]="mapFinishedTask(work.state)"
          >
            {{ mapTaskState(work.state) }}
          </div>
          <h6>{{ work.name }}</h6>
          <p class="mt4">{{ work.description }}</p>
          <div *ngIf="mapInfoVisibility(work)" class="work-info-container mt8">
            <p *ngIf="work.remark">{{ work.remark }}</p>
            <nz-image-group
              *ngIf="work.attaches?.length"
              class="work-info-attach-container mt8"
            >
              <img
                *ngFor="let attach of work.attaches"
                nz-image
                [nzSrc]="attach"
                alt=""
              />
            </nz-image-group>
            <p *ngIf="work.finish" class="mt8">
              <span>{{ work.finish | date: "HH:mm" }}</span>
              <span>完成</span>
            </p>
          </div>
        </section>
      </div>

      <!-- 月任务 -->
      <div
        *ngFor="let work of list.monthly"
        class="work-card-container"
        [class.mr8]="isOverflow"
      >
        <div class="work-card-header">
          <!-- 未完成（今天或未来：灰色  历史天：danger）  延迟完成-delay    已完成（蓝色） -->
          <i
            *ngIf="!mapUndoneTask(work.state)"
            class="work-condition-symbol"
            [class]="mapItemIcon(work.state)"
            nz-icon
            nzType="check-circle"
            nzTheme="fill"
          ></i>
          <i
            *ngIf="mapUndoneTask(work.state)"
            class="work-condition-symbol danger"
            nz-icon
            nzType="exclamation-circle"
            nzTheme="fill"
          ></i>
          <div class="work-execution-container" flexible="true">
            <span class="work-execution-bubble">月任务</span>
            <div
              *ngIf="mapDeadlineTagTask(work.state) && !!work.deadline"
              class="work-deadline-container ml6"
            >
              <span>截止</span>
              <span>{{ work.deadline | date: "M月d日" }}</span>
              <span>完成</span>
            </div>
          </div>
          <div class="work-code">{{ work.code }}</div>
        </div>
        <section class="work-card-body">
          <div
            *ngIf="mapStateShow(work.state)"
            class="work-state-container"
            [class.danger]="mapUndoneTask(work.state)"
            [class.warning]="mapDelayedTask(work.state)"
            [class.disabled]="mapFinishedTask(work.state)"
          >
            {{ mapTaskState(work.state) }}
          </div>
          <h6>{{ work.name }}</h6>
          <p class="mt4">{{ work.description }}</p>
          <div *ngIf="mapInfoVisibility(work)" class="work-info-container mt8">
            <p *ngIf="work.remark">{{ work.remark }}</p>
            <nz-image-group
              *ngIf="work.attaches?.length"
              class="work-info-attach-container mt8"
            >
              <img
                *ngFor="let attach of work.attaches"
                nz-image
                [nzSrc]="attach"
                alt=""
              />
            </nz-image-group>
            <p *ngIf="work.finish" class="mt8">
              <span>{{ work.finish | date: "HH:mm" }}</span>
              <span>完成</span>
            </p>
          </div>
        </section>
      </div>

      <!-- 特殊任务 -->
      <div
        *ngFor="let work of list.special"
        class="work-card-container"
        [class.mr8]="isOverflow"
      >
        <div class="work-card-header">
          <!-- 未完成（今天或未来：灰色  历史天：danger）  延迟完成-delay    已完成（蓝色） -->
          <i
            *ngIf="!mapUndoneTask(work.state)"
            class="work-condition-symbol"
            [class]="mapItemIcon(work.state)"
            nz-icon
            nzType="check-circle"
            nzTheme="fill"
          ></i>
          <i
            *ngIf="mapUndoneTask(work.state)"
            class="work-condition-symbol danger"
            nz-icon
            nzType="exclamation-circle"
            nzTheme="fill"
          ></i>
          <div class="work-execution-container" flexible="true">
            <span class="work-execution-bubble">特殊时间任务</span>
          </div>
          <div class="work-code">{{ work.code }}</div>
        </div>
        <section class="work-card-body">
          <div
            *ngIf="mapStateShow(work.state)"
            class="work-state-container"
            [class.danger]="mapUndoneTask(work.state)"
            [class.warning]="mapDelayedTask(work.state)"
            [class.disabled]="mapFinishedTask(work.state)"
          >
            {{ mapTaskState(work.state) }}
          </div>
          <h6>{{ work.name }}</h6>
          <p class="mt4">{{ work.description }}</p>
          <div *ngIf="mapInfoVisibility(work)" class="work-info-container mt8">
            <p *ngIf="work.remark">{{ work.remark }}</p>
            <nz-image-group
              *ngIf="work.attaches?.length"
              class="work-info-attach-container mt8"
            >
              <img
                *ngFor="let attach of work.attaches"
                nz-image
                [nzSrc]="attach"
                alt=""
              />
            </nz-image-group>
            <p *ngIf="work.finish" class="mt8">
              <span>{{ work.finish | date: "HH:mm" }}</span>
              <span>完成</span>
            </p>
          </div>
        </section>
      </div>

      <!-- 其它任务 -->
      <div
        *ngFor="let work of list.other"
        class="work-card-container"
        [class.mr8]="isOverflow"
      >
        <div class="work-card-header">
          <img
            class="work-other-symbol"
            src="assets/icon/work-record/wrl-work-other.svg"
            alt=""
          />
          <div class="work-execution-container" flexible="true">
            <span class="work-execution-bubble">其他措施</span>
          </div>
          <div class="work-code">{{ work.code }}</div>
        </div>
        <section class="work-card-body">
          <div
            *ngIf="mapStateShow(work.state)"
            class="work-state-container"
            [class.danger]="mapUndoneTask(work.state)"
            [class.warning]="mapDelayedTask(work.state)"
            [class.disabled]="mapFinishedTask(work.state)"
          >
            {{ mapTaskState(work.state) }}
          </div>
          <h6>{{ work.name }}</h6>
          <p class="mt4">{{ work.description }}</p>
          <div *ngIf="mapInfoVisibility(work)" class="work-info-container mt8">
            <p *ngIf="work.remark">{{ work.remark }}</p>
            <nz-image-group
              *ngIf="work.attaches?.length"
              class="work-info-attach-container mt8"
            >
              <img
                *ngFor="let attach of work.attaches"
                nz-image
                [nzSrc]="attach"
                alt=""
              />
            </nz-image-group>
            <p *ngIf="work.finish" class="mt8">
              <span>{{ work.finish | date: "HH:mm" }}</span>
              <span>完成</span>
            </p>
          </div>
        </section>
      </div>
    </nz-spin>

    <div
      class="empty-module ml8"
      [class.none]="!isEmpty || isLoading"
      flexible="true"
    >
      <img src="assets/img/common/common-data-unset.svg" alt="暂无数据" />
      <span>今日未安排计划，休息一会儿～</span>
    </div>
  </div>
</div>
