<div class="ems-calendar" (touchmove)="preventDefault($event)">
  <div
    class="mode-today"
    *ngIf="type === 'today' && sEmsCalendar.today"
    (appSwipeUp)="changeTodayToLite($event)"
    (appSwipeDown)="changeTodayToDefault($event)"
  >
    <div class="mode-today-top">
      <div class="today-info-date">
        <p class="info-today">今日</p>
        <p class="info-date">
          <span class="date-number year">{{ sEmsCalendar.today.year }}</span>
          <span class="date-tag">年</span>
          <span class="date-number month">{{ sEmsCalendar.today.month }}</span>
          <span class="date-tag">月</span>
          <span class="date-number day">{{ sEmsCalendar.today.day }}</span>
          <span class="date-tag">日</span>
        </p>
      </div>

      <div class="alarm-container" *ngIf="sEmsCalendar.alarm">
        <div class="alarm-count-container" (click)="jumpToAlarm()">
          <p class="alarm-count">{{ sEmsCalendar.alarm }}</p>
        </div>
      </div>
    </div>
    <div class="mode-today-bottom" [class.active]="isDefaultView">
      <div class="today-info-task">
        <p class="info-number">
          {{ sEmsCalendar.today.data.totalWorks | add0ToHead: 2 }}
        </p>
        <p class="info-description">任务</p>
      </div>
      <div class="today-info-finished">
        <p class="info-number">
          {{ sEmsCalendar.today.data.finishedWorks | add0ToHead: 2 }}
        </p>
        <p class="info-description">已完成</p>
      </div>
      <div class="today-info-percentage">
        <p class="info-percentage-number">
          {{ sEmsCalendar.today.data.finishedPercentage }}
        </p>
        <p class="info-percentage-tag">%</p>
      </div>
    </div>
  </div>

  <div
    class="mode-calendar"
    *ngIf="type === 'calendar' && sEmsCalendar.day"
    (appSwipeUp)="changeCalendarToWeek($event)"
    (appSwipeDown)="changeCalendarToMonth($event)"
  >
    <div class="mode-calendar-top">
      <div class="day-info-date">
        <p>{{ sEmsCalendar.day.dateString }}</p>
      </div>
      <div
        class="day-info-score"
        *ngIf="sEmsCalendar.day.mark < 1 && sEmsCalendar.day.data.score"
      >
        <div class="info-score-img">
          <img src="assets/img/energy-manager/trophy.svg" />
        </div>
        <p class="info-score-number">{{ sEmsCalendar.day.data.score || 0 }}</p>
        <p class="info-score-tag">分</p>
      </div>
    </div>
    <div class="mode-calendar-bottom" [class.active]="!isDefaultView">
      <div class="calendar-week" *ngIf="isDefaultView">
        <ion-slides
          class="calendar-slide"
          mode="md"
          [options]="slideOption"
          (ionSlideWillChange)="onSlideChange($event)"
          (ionSlideDidChange)="toChangeWeek($event)"
        >
          <ion-slide *ngFor="let week of weeks">
            <ion-grid class="table-calendar-week">
              <ion-row class="table-row">
                <ion-col
                  class="table-col"
                  *ngFor="let title of calendarTitles; index as i"
                >
                  <div
                    class="col-info-day"
                    [class.selected]="+week[i] === sEmsCalendar.day.id"
                    (click)="chooseDate(week[i])"
                  >
                    <p class="table-title">{{ title | emsCalendarTitle }}</p>
                    <p
                      class="table-content"
                      [class.today]="+week[i] === sEmsCalendar.today.id"
                    >
                      {{ week[i].getDate() }}
                    </p>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-slide>
        </ion-slides>
      </div>

      <div class="calendar-month" *ngIf="!isDefaultView">
        <ion-slides
          class="calendar-slide"
          mode="md"
          [options]="slideOption"
          (ionSlideWillChange)="onSlideChange($event)"
          (ionSlideDidChange)="toChangeMonth($event)"
        >
          <ion-slide *ngFor="let month of months">
            <ion-grid class="table-calendar-month">
              <ion-row class="table-row">
                <ion-col class="table-col" *ngFor="let title of calendarTitles">
                  <p class="table-title">{{ title | emsCalendarTitle }}</p>
                </ion-col>
              </ion-row>
              <ion-row class="table-row" *ngFor="let week of month.data">
                <ion-col class="table-col" *ngFor="let day of week">
                  <div
                    class="col-info-day"
                    [class.selected]="+day === sEmsCalendar.day.id"
                    (click)="chooseDate(day)"
                  >
                    <p
                      class="table-content"
                      [class.today]="+day === sEmsCalendar.today.id"
                      [class.different-month]="
                        day.getMonth() + 1 !== month.month
                      "
                    >
                      {{ day.getDate() }}
                    </p>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-slide>
        </ion-slides>
      </div>
      <div class="calendar-ghost" *ngIf="isDefaultView"></div>
    </div>
  </div>

  <div class="calendar-footer"></div>
</div>
