.hnm-add-update-dialog {
  :deep(.el-select) {
    width: 100%;
  }

  :deep(.el-date-editor--date) {
    width: 100%;
  }

  :deep(.el-date-editor--month) {
    width: 100%;
  }

  :deep(.el-dialog__footer) {
    text-align: right !important;
  }

  .el-form-item {
    margin-right: 16px !important;
    margin-bottom: 14px !important;
  }

  // select下拉框 清空按钮大小
  :deep(.el-select .el-input .el-select__caret.el-icon) {
    font-size: 17px;
  }
}
