<div id="air-conditioner-control-predict">
  <h4>负荷预测</h4>

  <nz-spin style="height: calc(100% - 30px)" class="mt8" [nzSpinning]="isLoading">
    <div *ngIf="!isEmpty" class="predict-chart-container">
      <label>
        <span>单位</span>
        <span *ngIf="unit">（{{ unit }}）</span>
      </label>

      <div style="height: 100%" echarts [options]="chartOptions"></div>
    </div>

    <div class="empty-module" [class.none]="!isEmpty || isLoading">
      <img src="assets/img/common/common-data-unset.svg" alt="暂无数据" />
      <span>{{ message }}</span>
    </div>
  </nz-spin>
</div>
