<!-- 树组件 -->
<div :id="containerId" class="eca-tree-select height36 lh36 br3">
  <el-popover
    :popper-class="`eca-tree-select__popover ${popoverClass}`"
    placement="bottom"
    :show-arrow="false"
    :width="containerWidth"
    :offset="popoverOffset"
    v-model:visible="popoverVisible"
    trigger="click"
  >
    <template #reference>
      <div class="el-select">
        <div class="select-trigger">
          <div class="el-input el-input--suffix eca-tree-select--wrap" :style="{ width: containerWidth }">
            <!-- 单选 start -->
            <div
              v-if="treeNodeList && treeNodeList.length === 1"
              class="el-select__single"
              :title="treeNodeList && treeNodeList.length > 0 && treeNodeList[0] && treeNodeList[0][defaultProps['label']] ? treeNodeList[0][defaultProps['label']] : ''"
            >
              {{ treeNodeList && treeNodeList.length > 0 && treeNodeList[0] && treeNodeList[0][defaultProps['label']] ?
              treeNodeList[0][defaultProps['label']] : '' }}
            </div>
            <!-- 单选 end -->
            <div
              v-if="
                  !treeNodeList || (treeNodeList && treeNodeList.length === 0)
                "
              class="el-select-placeholder"
            >
              {{ placeholder }}
            </div>
            <span
              :class="[
                  'el-input__suffix',
                  allowClear && treeNodeList && treeNodeList.length > 0
                    ? 'allow-clear'
                    : '',
                  popoverVisible ? 'popper-visible' : ''
                ]"
            >
              <!-- 上下箭头 start -->
              <span class="el-input__suffix-inner arrow-icon">
                <i
                  class="el-select__caret el-input__icon"
                  :class="{
                      'el-icon-arrow-down': popoverVisible,
                      'el-icon-arrow-up': !popoverVisible
                    }"
                ></i>
              </span>
              <!-- 上下箭头 end -->
              <!-- 清空按钮 start -->
              <span class="el-input__suffix-inner close-icon" @click="emptySelectKeys($event)">
                <i class="ems-iconfont icon-qingkong"></i>
              </span>
              <!-- 清空按钮 end -->
            </span>
          </div>
        </div>
      </div>
    </template>
    <!-- 下拉面板 start -->
    <div class="eca-tree-select-panel">
      <!-- 单选按钮 start -->
      <div class="tree-radio--box" v-if="radioData && radioData.length > 0">
        <el-radio-group v-model="treeType" @change="radioChange">
          <el-radio v-for="(item, index) in radioData" :key="index" :label="item.value">{{ item.label }} </el-radio>
        </el-radio-group>
      </div>
      <!-- 单选按钮 end -->
      <!-- 查询框 start -->
      <div class="tree-search--box" v-if="showSearch">
        <el-input placeholder="请输入搜索内容" suffix-icon="el-icon-search" v-model="searchValue"></el-input>
      </div>
      <!-- 查询框 end -->
      <!-- 树 start -->
      <div class="eca-tree-select--box" :style="{ paddingTop: '8px', margin: showSearch ? '0 12px' : '0' }">
        <el-tree
          v-loading="queryLoading"
          :check-on-click-node="false"
          v-if="treeData && treeData.length !== 0"
          ref="treeRef"
          :data="treeData"
          :highlight-current="true"
          :node-key="nodeKey"
          :expand-on-click-node="false"
          :check-strictly="true"
          :filter-node-method="filtertreeNodeList"
          :default-expanded-keys="compExpandKeys"
          :default-expand-all="defaultExpandAll"
          :props="defaultProps"
          :default-checked-keys="checkedArr"
          @node-click="onNodeClick"
        >
          <template #default="{ node, data }">
            <span
              :title="data[defaultProps.label]"
              :disabled="data[disabledKey] === disabledValue"
              :class="[
            'custom-tree-node',
            'flex-row-justify-center',
            checkedArr.includes(data[nodeKey]) ? 'custom-tree-node-active' : ''
          ]"
              v-html="formatTreeLabel(data[defaultProps.label])"
            >
            </span>
          </template>
        </el-tree>
        <div v-else class="eca-tree-select--box-nodata flex-column-center-center">
          <img src="../../../../../assets/img/common/common-data-none.svg" alt="nodata" />
          <span class="mt8">暂无数据</span>
        </div>
      </div>
      <!-- 树 end -->
    </div>
    <!-- 下拉面板 end -->
  </el-popover>
</div>
