<div class="home-cco-card">
  <div class="tag-box">{{ tagTextArray[index] }}</div>
  <div class="cost-item-info">
    <span class="cost-item-name">能耗值</span>
    <span class="cost-item-unit">/</span>
    <span class="cost-item-unit">{{ cardData.unit }}</span>
  </div>
  <div
    class="cost-item-value-wrapper"
    :title="
        cardData.currentEnergyValue || cardData.currentEnergyValue === 0
          ? String(cardData.currentEnergyValue)
          : ''
      "
  >
    <div class="text-overflow cost-item-value">
      {{ Object.prototype.toString.call(cardData.currentEnergyValue) !==
      '[object Null]' ?cardData.currentEnergyValue:'--'}}
    </div>
  </div>
  <div class="cost-compare-container">
    <div class="cost-compare-items-wrapper">
      <div class="cost-compare-item">
        <span class="cost-compare-type">同比</span>
        <span class="cost-compare-trend">
          <span
            class="icon-up-down"
            v-if="
                adaptCompareValue(cardData.yearRatio).value > 0 ||
                adaptCompareValue(cardData.yearRatio).value < 0
              "
          >
            <el-tooltip class="box-item" effect="dark" placement="bottom">
              <template #content>
                <div
                  style="white-space: normal;word-break: break-all;"
                  v-html="cardData.tbTitle"
                ></div>
              </template>
              <img
                class="compare-triangle"
                :src="
            adaptCompareValue(cardData.yearRatio).value > 0
              ? require('@/assets/img/common/common-compare-up.png')
              : require('@/assets/img/common/common-compare-down.png')
          "
                alt="同比图标"
              />
            </el-tooltip>
          </span>
          <span
            class="icon-fair"
            v-if="adaptCompareValue(cardData.yearRatio).value == 0"
          ></span>
        </span>
        <span class="cost-compare-value"
          >{{ adaptCompareValue(cardData.yearRatio).absValue }}</span
        >
      </div>
      <div class="cost-compare-item">
        <span class="cost-compare-type">环比</span>
        <span class="cost-compare-trend">
          <span
            class="icon-up-down"
            v-if="
                adaptCompareValue(cardData.monthRatio).value > 0 ||
                adaptCompareValue(cardData.monthRatio).value < 0
              "
          >
            <el-tooltip class="box-item" effect="dark" placement="bottom">
              <template #content>
                <div
                  style="white-space: normal;word-break: break-all;"
                  v-html="cardData.hbTitle"
                ></div>
              </template>
              <img
                class="compare-triangle"
                :src="
                  adaptCompareValue(cardData.monthRatio).value > 0
                    ? require('@/assets/img/common/common-compare-up.png')
                    : require('@/assets/img/common/common-compare-down.png')
                "
                alt="环比图标"
              />
            </el-tooltip>
          </span>
          <span
            class="icon-fair"
            v-if="adaptCompareValue(cardData.monthRatio).value == 0"
          ></span>
        </span>
        <span class="cost-compare-value"
          >{{ adaptCompareValue(cardData.monthRatio).absValue }}</span
        >
      </div>
    </div>
  </div>
</div>
