<div class="ea-dc-rank-anomaly">
  <div
    class="flex-row-justify-end ea-dc-rank-anomaly-item"
    v-for="(item, index) in abnormalRankDataList"
    :key="'ea-dc-rank-anomaly_' + index"
  >
    <div class="ea-dc-rank-anomaly-data flex">
      <img
        class="anomaly-ico"
        src="../../../../../../assets/img/energy-anomaly/ea-abnormal.png"
        alt="图标"
      />
      <div class="ea-dc-rank-anomaly-data__num">
        <div class="alignL font14 mt12">
          当前分组
          <span class="font16">{{ item.groupName }}</span>
        </div>
        <div class="alignL font14 mt12">
          当前排名
          <span class="bold font20">{{ item.currentRank }}</span>
        </div>
      </div>
    </div>
    <div class="flex-column-justify-end ea-dc-rank-anomaly-tag">
      <div
        class="flex-row-center-center mb12"
        v-if="abnormalRankDataList?.length > 1"
      >
        <span class="detail font12" @click="onAlarmDeal(item.alarmId)"
          >异常处理</span
        >
        <el-divider direction="vertical" style="margin:0 16px"></el-divider>
        <span class="detail font12" @click="toDetail(AbnormalType.RANK, item)"
          >详情</span
        >
      </div>
      <div class="value flex-row-center-center font12">
        <span class="font12">排名</span>
        <img
          class="up"
          v-if="item.isIncreaseOrReduce"
          src="../../../../../../assets/img/energy-anomaly/ea-up.svg"
          alt="图标"
        />
        <img
          class="down"
          v-else
          src="../../../../../../assets/img/energy-anomaly/ea-down.svg"
          alt="图标"
        />
        <span class="font16 bold">{{ item.differenceRank }}</span>
      </div>
    </div>
  </div>
  <slot></slot>
</div>
