<div class="params-card mb30">
  <img class="params-card-icon" :src="styleConstant.ICON_IMG" alt="ico" />
  <div
    :class="['params-card-content', checked ? 'checked': '']"
    :style="{'--imgUrl':`url(${styleConstant.ICON_IMG})`,
        '--contentBgColor': styleConstant.CARD_BACKGROUND_COLOR, 
        '--descBgColor': styleConstant.DESCRIPTION_BACKGROUND_COLOR,
        backgroundColor: analysisCardConstant.contentDefaultBgColor,
         boxShadow: analysisCardConstant.boxShadow
        }"
  >
    <!-- 标题 -->
    <h5 class="params-card-content-title font30" :title="paramInfo.paramName">
      {{ paramInfo.paramName }}
    </h5>
    <!--  -->
    <div class="flex mt16">
      <div class="params-card-content-data font14">
        <!-- 数据 -->
        <div class="flex-row-justify-center" style="position: relative">
          <span class="font14 data-span">-1</span>
          <span
            class="font14 data-span value-span"
            :style="{left: relaTimeValueLeft+ 'px',background:styleConstant.UNFILL_BACKGROUND_COLOR,color: styleConstant.FILL_BACKGROUND_COLOR }"
          >
            {{ paramInfo.coefficient }}</span
          >
          <span class="font14 data-span">+1</span>
        </div>
        <div class="flex-row-justify-center params-card-content-data-scale mt6">
          <span
            class="scale-item mr8"
            v-for="(item, index) in scaleList"
            :key="'scale_'+index"
            :style="{width: '8px',height:item.height + 'px',background: item.isFilled ? styleConstant.FILL_BACKGROUND_COLOR : styleConstant.UNFILL_BACKGROUND_COLOR}"
          ></span>
        </div>
        <div class="flex-row-justify-center mt6">
          <span class="font14 data-span">负相关</span>
          <span class="font14 data-span">正相关</span>
        </div>
      </div>
      <div class="params-card-content-text">
        <div class="params-card-content-text-summary flex-row-start-center font18">
          <img v-if="paramInfo.isRed" src="../../../../../assets/img/relation-analysis/ra-red-flag.svg" alt="" />
          <div class="reset-html ml15 mr46" :title="paramInfo.advise" v-html="resetHtml(paramInfo.advise)"></div>
          <span v-if="hasDataView" class="font14 view-data" @click="onParamSelect">
            查看数据
            <i class="ems-iconfont icon-jiantou_xiangyouliangci_o"> </i>
          </span>
        </div>
        <div
          class="params-card-content-text-desc font16 mt16 text-overflow"
          :title="paramInfo.remark"
          :style="{background: analysisCardConstant.descriptionDefaultbgColor}"
        >
          {{ paramInfo.remark }}
        </div>
      </div>
    </div>
  </div>
</div>
