.params-card {
  position: relative;
  width: 100%;
  min-height: 200px;

  &-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    width: 100px;
    height: 100px;
  }

  &-content {
    position: relative;
    padding: 15px 103px 15px 58px;
    margin-left: 99px;
    overflow: hidden;

    &-title {
      font-weight: 600;
      line-height: 42px;
      height: 42px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-data {
      margin-right: 91px;

      .data-span {
        height: 20px;
        line-height: 20px;
        border-radius: 2px;
      }

      .data-span.value-span {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: 0 6px;
      }

      &-scale {
        .scale-item {
          display: inline-block;
          border-radius: 13px;
        }

        .scale-item:last-child {
          margin-right: 0;
        }
      }
    }

    &-text {
      flex: 1;
      overflow: hidden;

      &-summary {
        font-weight: 400 !important;
        height: 25px;
        line-height: 25px;
        color: rgba(0, 0, 0, 1);
        font-family: PingFangSC-Regular;

        .reset-html {
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .view-data {
          cursor: pointer;
          line-height: 20px;
          height: 20px;
          color: var(--iot-color-active);
          font-weight: 400;

          .ems-iconfont {
            position: relative;
            top: 1px;
          }
        }

        .view-data:hover {
          font-weight: 500;
          transition: all 200ms;
        }
      }

      &-desc {
        font-weight: 400 !important;
        border-radius: 2px;
        line-height: 22px;
        padding: 17px 0 17px 26px;
        color: rgba(0, 0, 0, 1);
        font-family: PingFangSC-Regular;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  &-content.checked {
    cursor: pointer;
    background-color: var(--contentBgColor) !important;
    transition: all 200ms;

    .params-card-content-text-desc {
      background-color: var(--descBgColor) !important;
      transition: all 200ms;
    }
  }

  &-content:hover {
    cursor: pointer;
    background-color: var(--contentBgColor) !important;
    transition: all 200ms;

    .params-card-content-text-desc {
      background-color: var(--descBgColor) !important;
      transition: all 200ms;
    }
  }

  &-content::before {
    content: '';
    width: 100px;
    height: 97px;
    background-size: cover;
    position: absolute;
    top: 52%;
    left: -84px;
    transform: translateY(-50%);
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -ms-filter: blur(20px);
    -o-filter: blur(20px);
    background-image: var(--imgUrl);
    filter: blur(10px);
  }
}

.params-card:nth-last-child(1) {
  margin-bottom: 0;
}
