.rm-upload-dialog {
  .ems-iconfont {
    margin-left: 11px;
    color: #bdbdbd;
    font-size: 18px !important;
  }

  .file-list {
    margin-top: 16px;
    max-height: 240px;
    overflow-y: auto;

    &-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 12px;
      padding: 0 6px 0 13px;
      height: 36px;
      width: 100%;
      background-color: rgba(245, 245, 245);
      border-radius: 3px;
      transition: background-color 0.3s;

      &-title {
        max-width: 434px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &-delete {
        color: rgb(245, 34, 45);
        font-size: 16px !important;
      }
    }
  }
}
