<div class="rm-upload-dialog" v-drag>
  <el-dialog title="上传文件" v-model="dialogFormVisible" :close-on-click-modal="false" width="520px" @close="onClose">
    <el-form ref="formRef" :model="form" label-position="right">
      <el-form-item label="文件类型">
        <el-select class="date" style="width:71%; margin-right: 16px;" v-model="form.fileType" placeholder="请选择">
          <el-option v-for="(item, index) in typeList" :key="index" :label="item.name" :value="item.code"></el-option>
        </el-select>
        <input
          type="file"
          ref="clearFile"
          @change="getFile($event)"
          class="add-file-right-input"
          style="margin-left: 70px; display: none"
          :accept="['.xlsm', '.xls', '.xlsx', '.doc', '.docx', '.pdf']"
          multiple="multiple"
        />
        <el-button type="primary" @click="importDatas">选择文件</el-button>
        <el-tooltip
          effect="dark"
          content="文件格式支持pdf、doc/docx、xls/xlsx/xlsm,单个文件大小不超过10MB，单次上传文件总大小不超过100MB"
          placement="bottom"
          popper-class="tips"
        >
          <img
            src="../../../../assets/img/energy-anomaly/ea-question-mark.svg"
            style="height: 16px; width: 16px;margin-left: 10px; margin-top: -5px;"
          />
        </el-tooltip>
      </el-form-item>
    </el-form>
    <div class="file-list">
      <div
        v-for="(item, i) in fileNameList"
        :key="i"
        class="file-list-item"
        :class="`file-item-bgc${i}`"
        @mouseover="onMouseoverAsync(i)"
        @mouseout="onMouseoutAsync(i)"
      >
        <span class="file-list-item-title" :title="item.name">{{ item.name }}</span>
        <i class="file-list-item-delete ems-iconfont icon-shanchu1" @click="deleteFile(i)"></i>
      </div>
    </div>
    <template #footer>
      <span class="dialog-footer">
        <button :disabled="!uploadLoading ? false : true" @click="onEmpty">清 空</button>
        <button :disabled="fileNameList.length === 0 || uploadLoading" primary @click="onSubmit">
          上 传
        </button>
      </span>
    </template>
  </el-dialog>
</div>
