<div id="terminal-home">
  <div class="th-title-container">
    <img style="width: 100%; height: 100%" :src="sInfo.title" alt="title icon" />
    <h1>{{ sInfo.name }}</h1>
  </div>

  <div class="th-tag-container">
    <span class="th-tag">{{ sInfo.hostingType }}</span>
    <span class="th-tag" :rank="mapRiskRank(sInfo.riskType)">{{ sInfo.riskType }}</span>
    <span class="th-tag">{{ sInfo.benchmarkType }}</span>
    <!-- <span v-if="!sInfo.profitDetails.length" class="th-tag">{{ sInfo.profitType }}</span>
    <div v-else class="th-tag tag-profit">
      <span class="tag-profit-label">{{ sInfo.profitType }}</span>
      <div class="tag-profit-tooltip">
        <p class="tag-profit-tooltip-text" v-for="detail in sInfo.profitDetails">{{ detail }}</p>
      </div>
    </div> -->
  </div>

  <div class="th-module-container" placement="left-top">
    <component is="th-module-lt"></component>
  </div>
  <div class="th-module-container" placement="left-middle">
    <component is="th-module-lm"></component>
  </div>
  <div class="th-module-container" placement="left-bottom">
    <component is="th-module-lb"></component>
  </div>

  <div class="th-module-container" placement="right-top">
    <component is="th-module-rt"></component>
  </div>
  <div class="th-module-container" placement="right-middle">
    <component is="th-module-rm"></component>
  </div>
  <div class="th-module-container" placement="right-bottom">
    <component is="th-module-rb"></component>
  </div>
</div>
