#terminal-home {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;

  background-image: url(../../assets/img/terminal-home/th-bg.jpg);
  background-size: contain;

  h5 {
    margin: 0.14rem 0.1rem;

    color: rgba(3, 190, 255, 1);

    line-height: 0.22rem;
    font-size: 0.16rem;

    &::before {
      content: '\e6fe';
      font: 0.16rem/1 'iconfont';
    }
  }

  > .th-title-container {
    width: 100%;
    height: 1.15rem;
    z-index: 1;
    overflow: hidden;

    position: absolute;
    top: 0;
    left: 0;

    pointer-events: none;

    > h1 {
      z-index: 1;
      position: absolute;
      top: 0.43rem;
      left: 2.09rem;
      pointer-events: none;
      font: 0.6rem/0.67rem 'douyuFont-2';
      font-size: 0.45rem;
      text-align: justify;
      background: linear-gradient(to right, #22bfff, #8be7ff);
      transition: none;
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    }
  }

  > .th-tag-container {
    z-index: 100;
    position: absolute;
    top: 0.46rem;
    right: 0.31rem;

    display: flex;
    justify-content: flex-end;
    gap: 0.15rem;

    > .th-tag {
      height: 0.4rem;
      padding: 0.09rem 0.2rem;

      color: white;
      background-color: rgba(0, 88, 235, 0.7);
      border-radius: 0.04rem;

      line-height: 0.22rem;
      font-size: 0.16rem;

      &[rank='health'] {
        background-color: rgba(0, 178, 97, 0.59);
      }
      &[rank='warn'] {
        background-color: rgba(255, 203, 32, 0.6);
      }
      &[rank='danger'] {
        background-color: rgba(254, 75, 78, 0.7);
      }
    }

    > .th-tag.tag-profit {
      position: relative;

      &:hover {
        &::before {
          content: '';

          position: absolute;
          right: calc(50% - 0.16rem);
          bottom: -0.26rem;

          border-top: 0.15rem solid transparent;
          border-right: 0.16rem solid transparent;
          border-bottom: 0.15rem solid rgba(0, 207, 255, 0.51);
          border-left: 0.16rem solid transparent;
        }

        > .tag-profit-tooltip {
          visibility: visible;
        }
      }

      > .tag-profit-label {
        font: inherit;
      }

      > .tag-profit-tooltip {
        padding: 0.08rem 0.14rem;
        visibility: hidden;

        position: absolute;
        top: 0.58rem;
        right: 0;

        background-color: rgba(0, 207, 255, 0.51);
        border-radius: 0.04rem;
        backdrop-filter: blur(0.2rem);

        > .tag-profit-tooltip-text {
          line-height: 0.22rem;
          font-size: 0.16rem;
        }
      }
    }
  }

  > .th-module-container {
    z-index: 10;
    overflow: hidden;
    position: absolute;

    background-image: linear-gradient(to right, rgba(170, 184, 206, 0.1), rgba(122, 150, 251, 0.1));
    border-radius: 0.04rem;
    backdrop-filter: blur(0.2rem);

    &[placement='left-top'] {
      width: 4.8rem;
      height: 2.25rem;
      top: 1.15rem;
      left: 0.3rem;
    }
    &[placement='left-middle'] {
      width: 4.8rem;
      height: 3.74rem;
      top: 3.6rem;
      left: 0.3rem;
    }
    &[placement='left-bottom'] {
      width: 7.63rem;
      height: 3.07rem;
      top: 7.54rem;
      left: 0.3rem;
    }
    &[placement='right-top'] {
      width: 5.87rem;
      height: 3.08rem;
      top: 1.15rem;
      right: 0.31rem;
    }
    &[placement='right-middle'] {
      width: 5.87rem;
      height: 2.94rem;
      top: 4.43rem;
      right: 0.31rem;
    }
    &[placement='right-bottom'] {
      width: 10.75rem;
      height: 3.07rem;
      top: 7.54rem;
      right: 0.31rem;
    }
  }
}
