<page-common title="标准库维护" :showSearch="true" class="standard-library-maintenance">
  <template v-slot:pageSearch>
    <!-- 头部 -->
    <el-form :inline="true" :model="queryParams" @submit.native.prevent>
      <el-form-item label="指标名称">
        <el-input v-model="queryParams.name" placeholder="请输入指标名称搜索"></el-input>
      </el-form-item>
      <el-form-item label="选择区域">
        <tree-select
          :placeholder="'请选择区域'"
          v-model:modelValue="queryParams.treeId"
          :autoWidth="true"
          :treeData="treeList"
          :defaultProps="{ children: 'childTree', label: 'treeName' }"
        ></tree-select>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="onQueryList">查询</el-button>
        <el-button @click="onReset">重置</el-button>
      </el-form-item>
    </el-form>
  </template>
  <template v-slot:pageContent>
    <div class="standard-library">
      <el-table :data="dataSource" style="width: 100%" v-loading="loading">
        <el-table-column label="序号" width="180" align="center">
          <template #default="scope">
            {{ (queryParams.pageNum - 1) * queryParams.pageSize + scope.$index + 1 }}
          </template>
        </el-table-column>
        <el-table-column prop="name" label="指标名称" align="center"></el-table-column>
        <el-table-column prop="unit" label="单位" align="center"></el-table-column>
        <el-table-column prop="maxValue" label="约束值" align="center"></el-table-column>
        <el-table-column prop="minValue" label="引导值" align="center"></el-table-column>
        <el-table-column label="操作" align="center">
          <template #default="scope">
            <span class="operate-span" @click="onEditDialogShow(scope.row)">编辑</span>
          </template>
        </el-table-column>
      </el-table>
      <ems-pagination
        @current-change="onPageChange"
        :current-page="queryParams.pageNum"
        :page-size="queryParams.pageSize"
        :total="total"
      ></ems-pagination>
    </div>
  </template>
</page-common>
<!-- 编辑弹框 -->
<div v-drag>
  <el-dialog title="编辑标准库" v-model="dialogVisible" width="40%" :close-on-click-modal="false">
    <el-form ref="form" :model="standardLibraryDetail" :rules="rules" label-width="80px">
      <el-form-item label="指标名称">
        <el-input v-model="standardLibraryDetail.name" disabled></el-input>
      </el-form-item>
      <el-form-item label="单位">
        <el-input v-model="standardLibraryDetail.unit" disabled></el-input>
      </el-form-item>
      <el-form-item label="约束值" prop="maxValue">
        <el-input v-model="standardLibraryDetail.maxValue" placeholder="请输入约束值"></el-input>
      </el-form-item>
      <el-form-item label="引导值" prop="minValue">
        <el-input v-model="standardLibraryDetail.minValue" placeholder="请输入引导值"></el-input>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer" style="text-align: center">
      <el-button @click="dialogVisible = false">取消</el-button>
      <el-button type="primary" @click="onUpdateSubmit" :loading="updateLoading">确定</el-button>
    </div>
  </el-dialog>
</div>
