<div class="pm-add-editor flex-column-justify-start">
  <page-container title="项目信息" :hasSearch="false">
    <template v-slot:pageContent>
      <div class="pm-container" v-loading="loading">
        <div class="pm-container-btn" v-if="!loading">
          <div class="pm-cb-back-btn flex-row-start-center">
            <div class="flex-row-start-center gap10" @click="onBack">
              <icon-backward />
              <span>返回</span>
            </div>
            <div class="pm-cb-bb-divider"></div>
            <span class="name">{{ projectDetail.projectName }}</span>
          </div>
          <div class="pm-cb-save-btn">
            <button primary @click="onSave">保存</button>
          </div>
        </div>
        <div class="pm-container-box" v-if="!isError && !loading">
          <div class="base-form">
            <h5>项目基本信息</h5>
            <el-form
              :model="projectDetail"
              label-width="100px"
              ref="baseForm"
              :rules="projectBaseRules"
              label-position="left"
            >
              <!-- 项目编码 -->
              <el-form-item label="项目编码" class="form-require label-warn" prop="projectNumber">
                <div
                  v-if="projectDetail.projectNumber.length > 0"
                  class="projectNumber-area flex-row-start-center"
                  v-for="(item, index) in projectDetail.projectNumber"
                  :key="'projectNumber' + index"
                >
                  <input
                    :maxlength="MAX_INPUT_LEN_20"
                    type="text"
                    :class="['area-input', checkIsEmpty(projectDetail.projectNumber[index]) ? 'empty' : '']"
                    v-inputFilter:search="{ allowSpace: false, }"
                    placeholder="请输入项目编码"
                    v-model="projectDetail.projectNumber[index]"
                    @change="clearFormValidate('baseForm', 'projectNumber')"
                  />
                  <i
                    title="删除"
                    v-if="projectDetail.projectNumber.length > 1"
                    class="toc-iconfont icon-toc-shanchu"
                    style="margin-left: 8px"
                    @click="onProjectCodeDelete(index)"
                  ></i>
                </div>
                <div
                  class="projectNumber-add"
                  :disabled="projectDetail.projectNumber?.length>=10"
                  @click="onProjectCodeAdd"
                >
                  新增编码
                </div>
              </el-form-item>

              <!-- 托管周期（合同约定） -->
              <el-form-item label="托管周期" class="form-require label-warn" prop="trusteeshipDate">
                <template v-slot:label>
                  <span>托管周期</span>
                  <el-tooltip effect="dark" content="合同约定" placement="right">
                    <img class="desc-ico" src="../../../assets/images/project-manage/pm-question-mark.svg" alt="mark" />
                  </el-tooltip>
                </template>

                <el-date-picker
                  :class="{'empty': projectDetail.trusteeshipDate?.length === 0}"
                  style="width: 100%"
                  v-model="projectDetail.trusteeshipDate"
                  type="daterange"
                  range-separator="~"
                  start-placeholder="开始日期"
                  end-placeholder="结束日期"
                  @change="handleTrustSheepDateChange"
                />
                <!-- 首托管期 -->
                <div class="pm-container-box-trustsheep">
                  <label>首托管期</label>
                  <te-input
                    v-model="projectDetail.firstBatch"
                    v-inputFilter:positiveNumber="{ integral: 2, positiveInteger: true, maxValue: 12 }"
                    @blur="handleTrustSheepDateChange"
                  >
                    <template #suffix>
                      <span>个月</span>
                    </template>
                  </te-input>
                </div>
              </el-form-item>

              <!-- 项目状态 -->
              <el-form-item label="项目状态" class="form-require label-warn" prop="status">
                <el-select
                  v-model="projectDetail.status"
                  placeholder="请选择项目状态"
                  style="width: 100%"
                  :class="{ 'empty' : checkIsEmpty(projectDetail.status)}"
                >
                  <el-option
                    v-for="(item, index) in projectStatusList"
                    :key="'status_'+index"
                    :label="item.name"
                    :value="item.code"
                  />
                </el-select>
              </el-form-item>
              <!-- 省市 -->
              <el-form-item label="所属地区" prop="province" required class="form-area form-require label-warn">
                <el-form-item prop="province" style="margin-right: 8px !important">
                  <el-select
                    :class="{'empty' : checkIsEmpty(projectDetail.province)}"
                    :clearable="false"
                    v-model="projectDetail.province"
                    placeholder="请选择"
                    @change="onProvinceChange"
                  >
                    <el-option
                      v-for="(item, index) in provinceList"
                      :key="'status_'+index"
                      :label="item.name"
                      :value="item.code"
                    />
                  </el-select>
                </el-form-item>

                <el-form-item prop="city">
                  <el-select
                    :class="{'empty' : checkIsEmpty(projectDetail.city)}"
                    v-model="projectDetail.city"
                    placeholder="请选择"
                    :clearable="false"
                    @change="onCityChange"
                  >
                    <el-option
                      v-for="(item, index) in cityList"
                      :key="'status_'+index"
                      :label="item.name"
                      :value="item.code"
                    />
                  </el-select>
                </el-form-item>

                <el-form-item prop="district" style="margin-bottom: 0px !important">
                  <el-select
                    :class="{'empty' : checkIsEmpty(projectDetail.district)}"
                    v-model="projectDetail.district"
                    placeholder="请选择"
                    :clearable="false"
                    @change="clearFormValidate('baseForm', 'district')"
                  >
                    <el-option
                      v-for="(item, index) in districtList"
                      :key="'district_'+index"
                      :label="item.name"
                      :value="item.code"
                    />
                  </el-select>
                </el-form-item>
              </el-form-item>

              <!-- 所属大区 -->
              <el-form-item label="所属大区" class="form-require label-warn" prop="region">
                <el-select
                  :class="{'empty' : checkIsEmpty(projectDetail.region)}"
                  :clearable="true"
                  v-model="projectDetail.region"
                  placeholder="请选择大区"
                  style="width: 100%"
                >
                  <el-option
                    v-for="(item, index) in regionList"
                    :key="'region_'+index"
                    :label="item.name"
                    :value="item.code"
                  />
                </el-select>
              </el-form-item>

              <!-- 能源经理 -->
              <el-form-item label="能源经理" prop="energyManager">
                <input
                  v-model="projectDetail.energyManager"
                  :maxlength="MAX_INPUT_LEN_20"
                  placeholder="请填写能源经理"
                  style="width: 100%"
                  v-inputFilter:search="{ allowSpace: false }"
                />
              </el-form-item>

              <!-- 能源类型 -->
              <el-form-item label="能源类型" class="form-require label-warn form-energy-code" prop="energyCode">
                <el-checkbox-group v-model="projectDetail.energyCode" @change="onEnergyCodeChange">
                  <el-checkbox v-for="(item, index) in energyCodeList" :key="item.code" :label="item.code">
                    {{ item.name }}
                  </el-checkbox>
                </el-checkbox-group>
              </el-form-item>

              <!-- 验收时间 -->
              <el-form-item label="验收时间" prop="acceptanceTime">
                <el-date-picker
                  :disabled="!mapUserIsFinancialExperts()"
                  class="acceptanceTime"
                  style="width: 100%"
                  v-model="projectDetail.acceptanceTime"
                  type="date"
                  placeholder="验收时间"
                  @change="clearFormValidate('baseForm', 'acceptanceTime')"
                />
                <!-- 建设期收入 -->
                <div class="pm-container-box-trustsheep">
                  <label>建设期收入</label>
                  <te-input
                    v-model="projectDetail.buildingIncome"
                    v-inputFilter:number="{ negative: false,decimal: 2 }"
                    :disabled="!mapUserIsFinancialExperts()"
                  >
                    <template #suffix>
                      <span>元</span>
                    </template>
                  </te-input>
                </div>
                <!-- 提示 -->
                <div class="pm-container-box-tips">
                  <icon-info-filled />
                  <span>请按验收报告填写，如尚未验收，请勿填写</span>
                </div>
              </el-form-item>

              <!-- 绑定项目 -->
              <el-form-item label="绑定项目" class="bind-project">
                <el-select
                  :clearable="true"
                  v-model="projectDetail.bindingHospitalId"
                  placeholder="请选择综合能源项目"
                  :filterable="true"
                  style="width: 100%"
                  @change="hospitalChange"
                >
                  <el-option
                    v-for="(item, index) in hospitals"
                    :key="item.hospitalId"
                    :label="item.hospitalName"
                    :value="item.hospitalId"
                  />
                </el-select>
                <el-select
                  v-show="hospitalIdArea.length > 0"
                  :clearable="false"
                  multiple
                  v-model="projectDetail.bindingAreaIds"
                  placeholder="请选择院区"
                  style="width: 100%"
                >
                  <el-option
                    v-for="(item, index) in hospitalIdArea"
                    :key="item.areaId"
                    :label="item.areaName"
                    :value="item.areaId"
                  />
                </el-select>
              </el-form-item>
            </el-form>
          </div>
          <div class="contract-form">
            <h5>合同信息</h5>
            <el-form
              :model="projectDetail"
              ref="contractForm"
              :rules="contractRules"
              label-width="110px"
              label-position="left"
            >
              <!-- 托管类型 -->
              <el-form-item label="托管类型" class="form-require host-type label-warn" prop="trusteeshipType">
                <el-radio-group class="is-flex" v-model="projectDetail.trusteeshipType">
                  <el-radio
                    v-for="(item, index) in trusteeshipTypeList"
                    :key="'trusteeshipType'+index"
                    :label="item.code"
                  >
                    {{ item.name }}
                  </el-radio>
                </el-radio-group>
              </el-form-item>

              <!-- 项目风险评级 -->
              <el-form-item label="项目风险评级" class="form-require project-risk label-warn" prop="riskRating">
                <el-radio-group class="is-flex" v-model="projectDetail.riskRating">
                  <el-radio v-for="(item, index) in riskRatingList" :key="'riskRating'+index" :label="item.code">
                    {{ item.name }}
                  </el-radio>
                </el-radio-group>
              </el-form-item>

              <!-- 基准类型 -->
              <el-form-item label="基准类型" class="form-require form-standard label-warn" prop="benchmarkType">
                <el-radio-group
                  class="is-flex"
                  v-model="projectDetail.benchmarkType"
                  @change="onBenchmarkingTypeChange"
                >
                  <el-radio v-for="(item, index) in standardTypeList" :key="'benchmarkType'+index" :label="item.code">
                    {{ item.name }}
                    <!-- 递增型 --- 输入框 -->
                    <div
                      class="flex-row-start-center"
                      style="display: inline-block"
                      v-show="item.code === BenchmarkTypeEnum.INCREASE_TYPE && projectDetail.benchmarkType === BenchmarkTypeEnum.INCREASE_TYPE"
                    >
                      <label class="ml20">增长率</label>
                      <input
                        :class="{'empty' : projectDetail.benchmarkType === BenchmarkTypeEnum.INCREASE_TYPE && checkIsEmpty(projectDetail.increaseRate), 'rate-input': true}"
                        type="text"
                        placeholder="请输入增长率"
                        v-inputFilter:maxValueNumber="{ integral: 3, decimal: 2,  maxValue: 100 }"
                        v-model="projectDetail.increaseRate"
                      />
                      <label>%</label>
                    </div>
                  </el-radio>
                </el-radio-group>
              </el-form-item>
              <!-- 收益分享模式 -->
              <el-form-item
                class="form-require label-warn"
                label-width="100px"
                required
                label="收益分享模式"
                prop="shareModel"
              >
                <pae-grain-sharing
                  v-model:shareModel="projectDetail.shareModel"
                  :disabledFlag="!mapUserIsFinancialExperts() && !mapUserIsOperatorExperts()"
                  @triggerSave="onSave"
                ></pae-grain-sharing>
              </el-form-item>
              <!-- 单价调差方式 -->
              <el-form-item
                class="form-require label-warn"
                label-width="100px"
                label="单价调差方式"
                prop="priceAdjustmentType"
              >
                <pae-unit-price-adjustment
                  v-model:priceAdjustmentType="projectDetail.priceAdjustmentType"
                  :selectedEnergyList="projectDetail.energyCode"
                  :energyCodeList="energyCodeList"
                  :energyCodeNameMap="energyCodeNameMap"
                  :disabledFlag="(!mapUserIsFinancialExperts() && !mapUserIsOperatorExperts())"
                  :emptyFlag="!projectDetail.energyCode?.length"
                ></pae-unit-price-adjustment>
              </el-form-item>
              <!-- 项目收入计算 -->
              <el-form-item label-width="100px" label="项目收入计算" prop="nodePeriod">
                <pae-income-calculation
                  v-model:nodePeriod="projectDetail.nodePeriod"
                  ref="incomeCalculationRef"
                ></pae-income-calculation>
              </el-form-item>
              <!-- 核算涉及费用 -->
              <el-form-item label-width="100px" label="核算涉及费用" prop="feeNodeType">
                <pae-accountant-expense
                  :selectedEnergyList="projectDetail.energyCode"
                  :energyCodeList="energyCodeList"
                  :energyCodeNameMap="energyCodeNameMap"
                  v-model:feeNodeType="projectDetail.feeNodeType"
                  @triggerSave="onSave"
                ></pae-accountant-expense>
              </el-form-item>
            </el-form>
          </div>
          <!--  -->
          <div class="hosting-form">
            <h5>托管详情</h5>
            <el-form
              :model="projectDetail"
              :rules="hostingRules"
              label-width="150px"
              label-position="top"
              ref="hostingForm"
            >
              <!-- 托管区域 -->
              <el-form-item required prop="depositAreas" class="form-require label-warn">
                <template v-slot:label>
                  <span>托管区域及合同单价</span>
                </template>
                <div v-if="projectDetail.depositAreas.length !== 0" class="area-container">
                  <div class="price-item" v-for="item in projectDetail.depositAreas">
                    <div class="price-header">
                      <span>
                        <component
                          :title="item.name"
                          :is="mapEnergyIconClass(item.name)"
                          :style="{color: mapEnergyIconColor(item.name)}"
                          style="margin-right: 3px"
                        ></component>
                        {{item.name}}
                      </span>
                      <el-checkbox
                        v-model="item.isSubregion"
                        label="分区托管"
                        @change="onSubregionChange(item, $event, item.energyCode)"
                        size="large"
                      />
                    </div>
                    <div class="price-bottom">
                      <div class="price-bottom-item" v-for="(areaItem, pirceIndex) in item.price">
                        <input
                          v-show="item.isSubregion"
                          :style="{ width : item.price.length > 2 ? 'calc(100% - 24px)':'100%' }"
                          type="text"
                          :class="['area-input', checkIsEmpty(areaItem.areaName) ? 'empty' : '']"
                          v-inputFilter:search="{ allowSpace: false }"
                          :maxlength="MAX_INPUT_LEN_40"
                          placeholder="请输入区域名称"
                          v-model="areaItem.areaName"
                          @change="handleAreaNameChange(pirceIndex, item.energyCode)"
                        />
                        <div class="pricetype-value">
                          <el-select
                            :style="{ width : item.price.length > 2 ? 'calc(100% - 24px)':'100%' }"
                            :clearable="false"
                            :class="{'empty' : checkIsEmpty(areaItem.priceType)}"
                            placeholder="请选择单价类型"
                            v-model="areaItem.priceType"
                          >
                            <el-option
                              v-for="(item, index) in priceSelectType"
                              :key="'region_'+index"
                              :label="item.name"
                              :value="item.code"
                            />
                          </el-select>
                          <span class="value-input" v-show="areaItem.priceType !== '2' && areaItem.priceType !== ''">
                            {{ priceTypeMap[areaItem.priceType] }}
                            <input
                              type="text"
                              :class="['price-input', checkIsEmpty(areaItem.value) ? 'empty' : '']"
                              v-inputFilter:number="{ allowSpace: false }"
                              v-model="areaItem.value"
                              style="width: 56px"
                              @input="clearFormValidate('hostingForm', 'depositAreas')"
                            />
                            {{ mapEnergyUnit(item.energyCode) }}
                          </span>
                        </div>
                        <i
                          title="删除"
                          v-if="item.price.length > 2"
                          class="toc-iconfont icon-toc-shanchu"
                          style="margin-left: 8px"
                          @click="areaDelete(item.price, pirceIndex, item.energyCode, areaItem.id)"
                        ></i>
                      </div>
                      <button
                        class="area-add"
                        :disabled="item.price.length === 10"
                        v-show="item.isSubregion"
                        @click.prevent="addNewArea(item.price)"
                      >
                        +&nbsp;新增托管区域
                      </button>
                    </div>
                  </div>
                </div>
                <div v-else class="empty-area">暂无内容，请在项目信息中选择能源类型</div>
              </el-form-item>
              <!-- 节能项目 -->
              <el-form-item label="节能项目" class="energy-project">
                <div
                  class="energy-project--item"
                  v-for="(item, index) in projectDetail.energyProjects"
                  :key="'project_'+index"
                >
                  <el-checkbox @change="onProjectCheckChange(index)" v-model="item.checked">
                    {{ item.projectName }}
                  </el-checkbox>
                  <div class="energy-project-input" v-show="!checkDisabled(item.checked)">
                    <el-select
                      v-model="item.energyCode"
                      placeholder="请选择类型"
                      class="mr8"
                      style="width: 120px"
                      @change="onProjectEnergyCodeChange(index)"
                    >
                      <template v-for="(childItem, index) in energyCodeList" :key="'pro-encode_'+index">
                        <el-option
                          :label="childItem.name"
                          :value="childItem.code"
                          v-if="projectDetail.energyCode.includes(childItem.code)"
                        />
                      </template>
                    </el-select>
                    <tree-select
                      v-model:modelValue="item.treeId"
                      v-model:radioValue="item.treeType"
                      :nodeKey="'treeId'"
                      :placeholder="'请选择节点'"
                      :showSearch="true"
                      :expandedKeys="item.expandedKeys"
                      :radioData="treeTypeList"
                      :defaultProps="defaultTreeProps"
                      :treeData="item.treeList"
                      :loading="item.loading"
                      @tree-radio-change="onTreeTypeEnergyCodeChange(index)"
                    ></tree-select>

                    <el-select
                      style="width: 160px"
                      v-model="item.regionId"
                      placeholder="请选择托管区域"
                      class="ml8"
                      clearable
                      v-if="mapTrustAreaSelectShow(item.energyCode)"
                    >
                      <template v-for="(childItem, index) in item.energyAreaList" :key="'pro-area_'+index">
                        <el-option :label="childItem.name" :value="childItem.code" />
                      </template>
                    </el-select>
                  </div>
                </div>
              </el-form-item>
            </el-form>
          </div>
        </div>
        <no-data v-if="isError && !loading"></no-data>
      </div>
    </template>
  </page-container>
</div>
