.pm-add-editor {
  height: 100%;

  :deep(.tenant-pagecontainer__detail) {
    min-width: 1473px;
    padding-bottom: 0px;
    padding-right: 0px;
    flex: 1;
    height: 0px;
    .tenant-pagecontainer__detail-content {
      height: 100%;
    }
  }
  .pm-container {
    height: 100%;
    display: flex;
    flex-direction: column;

    img.desc-ico {
      width: 14px;
      height: 14px;
      margin-left: 3px;
    }

    .pm-container-btn {
      height: 52px;
      padding: 0px 0px 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);

      margin-right: 16px;
      margin-bottom: 16px;

      .pm-cb-back-btn {
        gap: 16px;

        .gap10 {
          gap: 10px;
          cursor: pointer;
        }
      }

      .pm-cb-bb-divider {
        width: 1px;
        height: 16px;
        background-color: var(--color-text-divider);
      }

      span.name {
        font-weight: 600;
        font-size: 18px;
        line-height: 26px;
        text-align: center;
        color: var(--color-text-title);
      }
    }

    &-box {
      position: relative;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-content: center;
      grid-gap: 80px;
      height: 100%;
      padding-right: 16px !important;
      overflow: auto;

      .back-btn {
        cursor: pointer;
        position: absolute;
        top: -3px;
        right: 4px;
        color: var(--color-primary);
        display: flex;
        align-items: center;
      }

      h5 {
        width: 100%;
        position: relative;
        height: 22px;
        line-height: 22px;
        font-size: 14px;
        color: var(--color-text-title);
        font-weight: 600;
        padding-left: 12px;
        margin-bottom: 16px;
        &::before {
          content: '';
          width: 4px;
          height: 16px;
          background-color: var(--color-primary);
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      .base-form,
      .hosting-form,
      .contract-form {
        position: relative;
        min-width: 0;
        width: 100%;
        height: 100%;
        .el-form {
          &-item {
            margin-right: 0 !important;
          }
        }
      }

      .base-form,
      .hosting-form {
        & > .el-form::after {
          position: absolute;
          content: '';
          top: 0;
          width: 1px;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.1);
        }
      }

      .base-form {
        & > .el-form::after {
          right: -40px;
        }

        .pm-container-box-trustsheep {
          margin-top: var(--te-space-8);
          padding: var(--te-space-12) var(--te-space-16);
          display: flex;
          align-items: center;
          gap: var(--te-space-8);
          background-color: var(--te-fill-color-lighter);
          border: 1px solid var(--te-border-color-lighter);
          border-radius: var(--te-space-4);

          label {
            color: var(--te-text-color-primary);
          }

          .te-input {
            flex: auto;
          }
        }

        .pm-container-box-tips {
          margin-top: var(--te-space-8);
          padding: var(--te-space-8) var(--te-space-16);
          display: flex;
          align-items: center;
          gap: var(--te-space-8);
          background-color: var(--te-color-info-light-9);
          border-radius: var(--te-space-4);
          color: var(--te-color-info);
        }

        .el-form .el-form-item__label {
          span {
            color: var(--color-text-title);
            font-weight: 400;
            height: 20px;
            display: inline-block;
            line-height: 20px;
          }
        }
        .bind-project {
          :deep(.el-form-item__content) {
            display: flex;
            flex-direction: column;
            gap: 8px;
          }
        }
      }

      .hosting-form {
        height: 100%;

        > .el-form {
          padding-left: 12px;
        }

        .empty-area {
          width: 100%;
          height: 92px;
          line-height: 92px;
          text-align: center;
          border-radius: 4px;
          background: rgba(0, 0, 0, 0.02);
          color: rgba(0, 0, 0, 0.45);
        }
        & > .el-form::after {
          left: -40px;
        }

        :deep(.el-form) {
          .el-form-item__label {
            text-align: left;
            font-weight: 600;
            justify-content: flex-start !important;

            span {
              color: var(--color-text-title);
              // font-weight: 600;
              height: 20px;
              display: inline-block;
              line-height: 20px;
            }
          }
        }
        .area-container {
          .price-item {
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 4px;
            margin-bottom: 8px;

            .price-header {
              display: flex;
              justify-content: space-between;
              padding: 0 8px;
              height: 40px;
              border-bottom: 1px solid rgba(0, 0, 0, 0.1);
              span {
                display: flex;
                align-items: center;
                i {
                  margin-right: 2px;
                }
              }
            }

            .price-bottom {
              min-height: 56px;
              padding: 10px 8px;
              background-color: rgba(0, 0, 0, 0.04);
              display: flex;
              flex-direction: column;
              gap: 20px;

              &-item {
                position: relative;

                input {
                  transition: none;
                }
              }

              .area-input {
                margin-bottom: 8px;
                margin-right: 24px;
              }

              .pricetype-value {
                display: flex;
                // .el-select {
                //   flex: 1;
                // }
                .price-input {
                  margin-right: 8px;
                }

                .value-input {
                  margin-left: 16px;

                  input {
                    padding: 0 6px;
                  }
                }
              }

              .icon-toc-shanchu {
                color: rgb(245, 34, 45);
                position: absolute;
                top: 8px;
                right: 0px;
                cursor: pointer;
              }
            }
            .area-add {
              width: 100%;
              height: 36px;
              line-height: 36px;
              text-align: center;
              border-radius: 4px;
              color: rgba(0, 0, 0, 0.65);
              border: 1px dashed rgba(0, 0, 0, 0.15);
              box-sizing: border-box;
              background: rgba(255, 255, 255, 1);
              cursor: pointer;
              &[disabled] {
                color: rgba(0, 0, 0, 0.25);
                cursor: not-allowed;
              }
            }
          }
        }
      }

      .contract-form {
        .radio-block {
          .el-radio {
            display: block;
            height: 36px;
            line-height: 36px;

            margin-right: 0;
          }
        }

        .el-radio-group .el-radio:last-child {
          margin-right: 0;
        }
      }

      :deep(.el-form) {
        input:disabled,
        .el-select .el-input.is-disabled .el-input__inner,
        .el-checkbox.is-disabled .el-checkbox__label,
        .el-radio.is-disabled .el-radio__label,
        span[disabled='true'],
        label[disabled='true'],
        .tree-select .el-select[disabled='true'] .el-select__single {
          color: rgba(0, 0, 0, 0.65) !important;
        }

        input:focus {
          box-shadow: none;
        }

        &-item {
          margin-bottom: 20px !important;

          &.is-error {
            input,
            .el-input__inner {
              border-color: var(--color-text-border);
            }

            // 所有校验为空----边框高亮
            input.empty,
            .el-date-editor.el-range-editor.el-input__inner.el-date-editor--daterange.empty,
            .el-select.empty > .select-trigger > .el-input > .el-input__inner {
              border-color: var(--color-error);
            }

            // 下拉框、输入框
            .te-select.empty .te-input__wrapper,
            .te-input.empty .te-input__wrapper {
              box-shadow: 0 0 0 1px var(--color-error) inset;
            }
          }
          .el-radio-group.is-flex {
            display: flex;
            height: 36px;
            align-items: center;
          }
          .el-radio-group.has-bottom {
            .el-radio {
              margin-bottom: 10px;
            }
          }

          .el-radio {
            height: 22px;
            line-height: 22px;
            margin-right: 24px;
          }

          .el-radio:last-child {
            margin-bottom: 0;
          }

          .el-checkbox {
            height: 36px;
          }

          &.form-require {
            &.is-error.label-warn {
              .el-form-item__label {
                color: var(--color-error);

                span {
                  color: var(--color-error);
                }
              }
            }

            .el-form-item__label {
              position: relative;
              padding-left: 8px;
            }
          }

          &.form-energy-code .el-checkbox-group {
            display: flex;
            flex-wrap: wrap;
          }

          .el-form-item__label {
            height: 36px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            color: var(--color-text-title);
            font-weight: 400;
            padding-bottom: 0;
          }
          .el-input.is-disabled.el-date-editor.el-date-editor--date.acceptanceTime {
            .el-input__prefix {
              width: 16px;
              left: auto;
              right: 8px;
            }

            .el-input__prefix i {
              display: none;
            }

            .el-input__prefix::before {
              font-family: 'toc-iconfont';
              content: '\e69c';

              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }

            > .el-input__inner {
              background-color: var(--te-disabled-bg-color) !important;
            }
          }

          .el-form-item__content {
            line-height: 32px;
          }

          // 区域
          &.form-area {
            & > .el-form-item__content {
              display: flex;
              justify-content: space-between;
              flex-wrap: wrap;

              .el-form-item {
                flex: 1 1 40%;
                margin-bottom: 8px !important;
                .el-select {
                  width: 100%;
                }
              }
            }
          }

          // 基准类型
          &.form-standard {
            input.rate-input {
              width: 92px;
              margin: 0 11px;
            }
          }

          // 项目编码
          .projectNumber-area {
            min-height: 36px;
            margin-bottom: 8px;
            .area-input {
              width: 100%;
            }
            .toc-iconfont.icon-toc-shanchu {
              color: var(--color-error);

              &:hover {
                opacity: 0.85;
              }
            }
          }

          .projectNumber-add {
            width: 72px;
            height: 24px;
            border-radius: 4px;
            border: 1px solid rgba(24, 144, 255, 1);
            box-sizing: border-box;
            background: rgba(255, 255, 255, 1);
            text-align: center;
            font-size: 12px;
            color: rgba(24, 144, 255, 1);
            font-family: PingFang SC;
            cursor: pointer;

            &[disabled='true'] {
              color: rgba(0, 0, 0, 0.25);
              border-color: rgba(0, 0, 0, 0.25);
              cursor: not-allowed;
            }
          }

          // 托管区域
          .trusteeship-area {
            margin-bottom: 16px;
            min-height: 40px;

            .area-input {
              width: 200px;
            }

            span.text {
              display: inline-block;
              padding: 0 11px;
            }

            .rate-input {
              input {
                width: 63px;
              }

              span {
                padding: 0 11px 0 6px;
              }
            }

            .toc-iconfont.icon-toc-shanchu {
              color: var(--color-error);

              &:hover {
                opacity: 0.85;
              }
            }
          }

          // 节能项目
          .energy-project {
            display: flex;
            white-space: nowrap;

            &--item {
              margin-bottom: var(--te-space-8);

              .el-checkbox {
                width: 100px;
                display: block;
                line-height: 36px;
                height: 36px;
                margin-right: 0;

                .el-checkbox__input {
                  position: relative;
                  top: 2px;
                }
              }

              .energy-project-input {
                display: flex;
                padding-left: 16px;

                .select-trigger > .el-input > .el-input__inner {
                  padding-right: 24px !important;
                }
              }

              .tree-select {
                flex: 1;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1800px) {
  .host-type,
  .project-risk,
  .form-standard {
    .el-radio-group .el-radio {
      margin-right: 16px !important;

      .ml20 {
        margin-left: 16px !important;
      }

      .rate-input {
        margin: 0 6px !important;
      }
    }
  }
}

@media screen and (max-width: 1750px) {
  .host-type,
  .project-risk,
  .form-standard {
    .el-radio-group .el-radio {
      margin-right: 12px !important;

      .ml20 {
        margin-left: 8px !important;
      }

      .rate-input {
        margin: 0 6px !important;
      }
    }
  }
}

@media screen and (max-width: 1700px) {
  .pm-add-editor--container {
    padding: 0px;
  }

  .host-type,
  .project-risk,
  .form-standard {
    .el-radio-group .el-radio {
      margin-right: 12px !important;

      .ml20 {
        margin-left: 8px !important;
      }

      .rate-input {
        margin: 0 4px !important;
      }
    }
  }
}
