<div #modal class="energy-type-selector">
  <label class="title">能源类型</label>

  <div style="height: 20px"></div>

  <div class="flex between wrap" *ngIf="types.length">
    <button
      class="button mt10"
      [class.single]="1 === types.length"
      *ngFor="let type of types"
      (click)="selectType(type)"
    >
      <label>{{ type.name }}</label>
    </button>
  </div>
  <div class="--none" *ngIf="!types.length">
    <img src="assets/img/energy-events/none-task-layout.svg" />
    <label class="description">暂无数据</label>
  </div>
</div>
