node_modules
dist
unpackage
.vscode
.idea
.hbuilderx
apps/docs/.vitepress/cache
# .turbo
# .npmrc
apps/icon-portal/.env
apps/icon-portal/icons.db

.trae
debug.log

.claude
ClAUDE.md
AGENTS.md
specs
.mcp.json
.playwright-cli
.gitnexus
