.ea-statistical-analysis {
  width: 100%;
  height: 100%;

  .ea-statistical-analysis-left {
    margin-top: 56px;

    .ea-statistical-analysis-img {
      height: 112px;
      width: 112px;
      line-height: 112px;
      font-size: 18px;
      text-align: center;
      border-radius: 50%;
      margin-left: 56px;
    }

    .tongbi {
      color: #fff;
      background-color: #fc8e4a;
      box-shadow: 0px 0px 4px 0px #fc8e4a;
    }

    .huanbi {
      color: #fff;
      background-color: #a83bff;
      box-shadow: 0px 0px 4px 0px #a83bff;
    }

    .ea-statistical-analysis-value-wrap {
      width: calc(100% - 202px);
      display: flex;
      align-items: center;
      margin-left: 34px;

      .ea-statistical-analysis-icon {
        display: flex;
        align-items: center;
        margin-right: 7px;

        .icon-flat {
          width: 12px;
          height: 2px;
          background-color: rgba(191, 191, 191, 1);
        }
      }

      .ea-statistical-analysis-value {
        max-width: calc(100% - 33px);
        color: var(--iot-font-color-deep);
        font-size: 20px;
      }
    }
  }

  .ea-statistical-analysis-detail {
    margin-top: 95px;

    .sa-detail-item {
      margin-bottom: 32px;
      margin-left: 15%;

      .sa-d-title {
        color: var(--iot-font-color-root);
        font-size: 14px;
        height: 22px;
        line-height: 22px;
      }

      .sa-d-value {
        color: var(--iot-font-color-root);
        font-size: 20px;
        height: 28px;
        line-height: 28px;
      }
    }
  }
}
