<div class="kb-benchmarking-data-maintenance">
  <page-container title="对标数据维护">
    <template v-slot:pageSearch>
      <!-- 头部 -->
      <el-form :inline="true" :model="formInline" class="demo-form-inline" @submit.native.prevent>
        <el-form-item label="体系选择">
          <el-select v-model="formInline.systemId" placeholder="请选择体系" :fit-input-width="true" filterable>
            <el-option
              v-for="item in systemList"
              :key="item.id"
              :label="item.systemName"
              :value="item.id"
              style="width: 207px; white-space: nowrap !important; overflow: hidden; text-overflow: ellipsis"
              :title="item.systemName"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="数据时间">
          <el-select v-model="formInline.benchmarkingType" placeholder="请选择" @change="benchmarkingTypeChange">
            <el-option v-for="item in quotaTypeList" :key="item.value" :label="item.label" :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="日期">
          <div v-show="formInline.benchmarkingType == '2'">
            <el-date-picker
              v-model="formInline.valueTime"
              type="monthrange"
              range-separator="~"
              :clearable="false"
              start-placeholder="请选择开始时间"
              end-placeholder="请选择结束时间"
              :disabledDate="month"
              style="width: 360px"
            >
            </el-date-picker>
          </div>
          <div
            v-show="formInline.benchmarkingType == '1'"
            class="year-picker flex-row-center-center"
            style="width: 360px"
          >
            <el-date-picker
              v-model="formInline.valueTime[0]"
              type="year"
              :clearable="false"
              :disabledDate="startYear"
              placeholder="请选择开始时间"
            >
            </el-date-picker>
            <span>~</span>
            <el-date-picker
              v-model="formInline.valueTime[1]"
              type="year"
              :clearable="false"
              :disabledDate="endYear"
              placeholder="请选择结束时间"
            >
            </el-date-picker>
          </div>
        </el-form-item>
        <el-form-item>
          <button primary @click="onSearch">查询</button>
          <button @click="onReset">重置</button>
        </el-form-item>
      </el-form>
    </template>
    <template v-slot:pageContent>
      <div class="kb-benchmarking-data-maintenance-content">
        <!-- button -->
        <div class="benchmarking-data-btn">
          <input
            type="file"
            ref="clearFile"
            @change="getFile($event)"
            class="add-file-right-input"
            style="margin-left: 70px; display: none"
            accept=".xlsx"
          />
          <el-button @click="importDatas" :disabled="uploadLoading"
            >{{ uploadLoading ? '正在导入' : '模板导入'}}</el-button
          >
          <el-button type="primary" @click="downLoad">下载模板</el-button>
        </div>
        <!-- table -->
        <div v-loading="loading" style="height: calc(100% - 68px)">
          <div v-if="!loading" class="benchmarking-data-table">
            <table style="width: 100%">
              <thead>
                <tr>
                  <th style="width: 70px">序号</th>
                  <th style="width: 140px" :title="tableHeadData.systemName">{{ tableHeadData.systemName }}</th>
                  <th style="width: 100px" :title="tableHeadData.valueDate">{{ tableHeadData.valueDate }}</th>
                  <th
                    style="width: 160px"
                    v-for="(item, index) in tableHeadData.benchmarkingDataValueQueryVOList"
                    :key="'benchmarking_data_thead_'+index"
                    :title="item.value"
                  >
                    {{ item.value }}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(item, index) in tableData" :key="'benchmarking_data_tbody_'+index">
                  <td style="width: 70px">{{ (pageNum - 1) * pageSize + index + 1 }}</td>
                  <td>
                    <div v-if="item.systemName === null || item.systemName === ''">--</div>
                    <el-tooltip
                      v-else
                      class="tips"
                      effect="dark"
                      :content="item.systemName"
                      placement="bottom"
                      :offset="4"
                      :show-after="500"
                    >
                      <div class="text">{{item.systemName }}</div>
                    </el-tooltip>
                  </td>
                  <td>
                    <div v-if="item.valueDate === null || item.valueDate === ''">--</div>
                    <el-tooltip
                      v-else
                      class="tips"
                      effect="dark"
                      :content="item.valueDate"
                      placement="bottom"
                      :offset="4"
                      :show-after="500"
                    >
                      <div class="text">{{ item.valueDate }}</div>
                    </el-tooltip>
                  </td>
                  <td v-for="(val, i) in item.benchmarkingDataValueQueryVOList" :key="'benchmarking_data_tbody_td_'+i">
                    <div v-show="val.isInputHidden" class="benchmarking-data-table-td">
                      <span class="benchmarking-data-table-td-value">
                        <span v-if="val.value === null || val.value === ''">--</span>
                        <el-tooltip
                          v-else
                          class="tips"
                          effect="dark"
                          :content="val.value"
                          placement="bottom"
                          :offset="4"
                          :show-after="500"
                        >
                          <span class="text">{{ val.value }}</span>
                        </el-tooltip>
                      </span>
                      <span class="benchmarking-data-table-td-img">
                        <img
                          @click="onChekImg($event, val)"
                          src="../../../assets/images/common/common-edit.svg"
                          alt="edit"
                        />
                      </span>
                    </div>
                    <el-input
                      v-inputFilter:number="{ integral: 10, decimal: 4 }"
                      v-if="!val.isInputHidden"
                      :ref="el=>{inputDataRef[i] = el}"
                      v-model.trim="updateParams.value"
                      @blur="onInputBurl(val, item.systemId, item.valueDate)"
                    ></el-input>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="table-nodata flex-column-center-center" v-if="tableData?.length === 0 && !loading">
              <img src="../../../assets/images/common/common-data-none.svg" alt="" />
              <p>暂无数据</p>
            </div>
          </div>
          <el-pagination
            v-show="total > 0"
            :current-page="pageNum"
            :page-sizes="pageSizesArray"
            @size-change="onPageSizeChange"
            @current-change="onCurrentChange"
            :page-size="pageSize"
            layout="total, prev, pager, next, sizes, jumper"
            :total="total"
          >
          </el-pagination>
        </div>
      </div>
    </template>
  </page-container>
</div>
<DownloadDialog ref="downloadRef" :num="num"></DownloadDialog>

<!-- 导入模板错误数据 -->
<el-dialog
  custom-class="import-error-dialog"
  v-model="importErrorVisible"
  title="错误原因"
  width="800px"
  :before-close="errorDialogClose"
>
  <table style="width: 100%" scroll-y>
    <thead :style="{ 'width': errorDataList?.length > 10 ? 'calc(100% - 8px)' : '100%' }">
      <tr>
        <th style="width: 50px">序号</th>
        <th style="width: 180px">模板位置</th>
        <th>详细信息</th>
      </tr>
    </thead>
    <tbody style="height: 480px" @scroll="onScroll">
      <tr v-for="(item, index) in errorDataList" :key="index">
        <td style="width: 50px">{{ index +1 }}</td>
        <td style="width: 180px" ellipsis>
          <el-tooltip effect="dark" placement="bottom" :offset="4" :show-after="500">
            <template v-slot:content>
              <div style="word-break: break-all; white-space: normal">{{ item.position }}</div>
            </template>
            <div style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis">{{ item.position }}</div>
          </el-tooltip>
        </td>
        <td ellipsis>
          <el-tooltip effect="dark" placement="bottom" :offset="4" :show-after="500">
            <template v-slot:content>
              <div style="word-break: break-all; white-space: normal">{{ item.detail }}</div>
            </template>
            <div style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis">{{ item.detail }}</div>
          </el-tooltip>
        </td>
      </tr>
    </tbody>
  </table>
</el-dialog>
