.kb-benchmarking-data-maintenance {
  height: 100%;
  min-width: 1472px;

  .year-picker {
    height: 36px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    overflow: hidden;

    :deep(.el-date-editor) {
      position: relative;
      width: calc(50% - 14px);
      height: 34px;
      line-height: 34px;
      top: -1px;

      .el-input__prefix,
      .el-input__suffix {
        line-height: 34px;
        height: 34px;
        position: absolute;
        left: auto;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        .toc-iconfont {
          height: 34px;
          line-height: 34px;
        }

        .el-input__icon.toc-iconfont.icon-toc-qingkong {
          right: -4px !important;
        }
      }

      .el-input__inner {
        border: none;
        height: 34px;
        line-height: 34px;
        text-align: center;
      }
    }

    :deep(.el-date-editor:first-child) .el-input__suffix,
    :deep(.el-date-editor:first-child) .el-input__prefix {
      display: none;
    }

    :deep(.el-date-editor:last-child) {
      position: relative;
    }

    :deep(.el-date-editor:not(.is-disabled).el-date-editor--year .el-input__prefix-inner) {
      top: 16px;
      left: 4px;
    }

    &:hover {
      border-color: rgba(64, 169, 255, 1);
    }
  }

  :deep(.el-date-editor .el-range-separator) {
    line-height: 28px;
  }

  &-content {
    height: 100%;

    .benchmarking-data-btn {
      padding: 16px 0;
      text-align: right;
    }

    .benchmarking-data-table {
      width: 100%;
      overflow-x: auto;

      thead {
        th {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      tbody {
        td {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      &-td {
        width: 100%;
        position: relative;
        &-img {
          position: absolute;
          right: 0;
          margin-left: 5px;
          cursor: pointer;
          img {
            width: 16px;
            height: 16px;
          }
        }
      }
    }
  }

  .text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .table-nodata {
    height: 166px;

    p {
      margin-top: 8px;
      color: var(--color-text-disable);
    }
  }
}
