/* 重置vue项目组件库样式文件 */
@import url('./shared/color.css');
@import url('./shared/parameter.css');

// 重置tree
.el-tree {
  &-node {
    & > .el-tree-node__content {
      .el-checkbox.is-checked + .el-tree-node__label {
        background-color: var(--color-active) !important;
      }
    }

    &.is-current > .el-tree-node__content {
      background-color: var(--color-default) !important;
    }

    &.is-current.is-checked > .el-tree-node__content {
      background-color: var(--color-default) !important;

      .el-tree-node__label {
        background-color: var(--color-active);
      }
    }

    &.is-focusable {
      background-color: var(--color-default);

      &__content {
        background-color: var(--color-default);
      }
    }

    &__content {
      height: 34px !important;
      line-height: 34px !important;
      font-size: 14px;
      background-color: var(--color-default);

      .el-icon.is-leaf.el-tree-node__expand-icon {
        opacity: 0;
      }
    }

    &:focus > .el-tree-node__content {
      background-color: var(--color-default) !important;
    }

    &__content:focus {
      background-color: var(--color-default) !important;
    }

    &__content:active {
      background-color: var(--color-default) !important;
    }

    &__content:hover {
      background-color: var(--color-default) !important;
    }

    &__label {
      line-height: 34px;
      padding: 7px 8px;
      line-height: 22px;
      font-size: 14px;
      border-radius: 4px;
      color: var(--color-text-primary);
    }

    &__label:hover {
      background-color: var(--color-hover);
    }

    .custom-tree-node {
      height: 34px;
      line-height: 34px;
      padding: 7px 8px;
      line-height: 22px;
      font-size: 14px;
      border-radius: 4px;
    }

    .custom-tree-node:not([disabled='true']):not(.custom-tree-node-active):hover {
      background-color: var(--color-hover) !important;
    }

    .custom-tree-node.custom-tree-node-active {
      background-color: var(--color-active);
    }
  }
}

// form
.el-form {
  white-space: normal !important;

  &.el-form--inline {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .el-form-item {
      margin-right: 16px !important;
    }
  }

  &-item {
    margin-bottom: 16px !important;
    display: flex;
    align-items: center;

    &__label {
      font-size: 14px;
      line-height: 23px;
      padding-right: 8px;
    }

    &__error {
      font-size: 14px;
      padding-top: 0;
    }
  }
}

// 表格头label
table {
  border-spacing: 0;

  thead {
    tr th {
      text-align: center;
    }
  }
}

.el-table {
  * {
    font-size: 14px;
  }

  tbody {
    tr.el-table__row:hover td,
    tr.el-table__row.hover-row > td {
      background-color: var(--color-hover) !important;
    }

    tr {
      text-align: center !important;
      height: 24px;
      line-height: 24px;
      box-sizing: border-box !important;
      border-bottom: none !important;

      .cell {
        text-align: center;
        white-space: nowrap !important;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      td {
        border: none;
      }

      // &:nth-child(even) td {
      //   background-color: #fafafa;
      // }
    }
  }

  .table-column-item-label {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .el-table-column--selection .cell {
    padding: 0 10px;
  }

  th.el-table__cell {
    background-color: var(--color-table-header);
    height: 52px !important;
    line-height: 52px !important;
    padding: 0 10px !important;
    box-sizing: border-box !important;
  }

  thead th {
    background-color: var(--color-table-header) !important;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 600;
    border-bottom: none !important;
    text-align: center !important;

    .cell {
      align-items: center !important;
    }
  }

  td.el-table__cell,
  td {
    padding-top: 0;
    padding-bottom: 0;
    height: 48px;
    line-height: 48px;
    text-align: center !important;
    box-sizing: border-box !important;
    border-bottom: none !important;

    .cell {
      white-space: nowrap !important;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .el-table__empty-block {
    position: relative;
    height: 166px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .el-table__empty-block::before {
    content: '';
    width: 100%;
    height: 40px;
    background-image: url('../img/common/common-data-none.svg');
    background-size: 100% 100%;
    position: absolute;
    top: 47px;
    left: 50%;
    transform: translateX(-50%);
  }

  .el-table__empty-text {
    position: relative;
    top: 26px;
    line-height: 23px;
    color: var(--color-text-disable);
  }

  .el-table__fixed::before {
    height: 0 !important;
  }

  &::before {
    height: 0;
  }
}

// 重置确认框样式
// popper
.el-popper {
  white-space: normal;
  word-break: break-all;

  font-size: 14px !important;

  .el-select-dropdown__wrap {
    .el-select-dropdown__list {
      margin: 0 !important;
      padding: 0 !important;

      .el-select-dropdown__item {
        height: 36px !important;
        line-height: 36px !important;
        font-size: 14px !important;
      }

      .el-select-dropdown__item.selected {
        background-color: #00000005 !important;
      }

      .el-select-dropdown__item:hover {
        height: 36px !important;
        line-height: 36px !important;
        background-color: var(--color-hover) !important;
      }
    }
  }

  .el-select-dropdown__empty {
    position: relative;
    height: 97px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    bottom: 10px;
  }

  .el-select-dropdown__empty::before {
    content: '';
    width: 50px;
    height: 35px;
    background-image: url('../img/common/common-data-none.svg');
    background-size: cover;
    position: absolute;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
  }

  &.el-picker__popper {
    // 处理通用table样式带来的影响
    table > tbody > tr:nth-child(even) > td {
      background-color: transparent;
    }

    table > tbody > tr:hover > td {
      background-color: transparent !important;
    }

    table > tbody > tr > td.disabled {
      .cell {
        color: rgba(0, 0, 0, 0.25) !important;
      }
    }

    &.yearrange-popper {
      .el-picker-panel__footer {
        display: none;
      }
      .el-year-table td {
        height: auto !important;
        padding: 16px 3px;
      }
    }

    .el-date-picker__header {
      padding-bottom: 0;

      button {
        line-height: 23px;
        height: 23px;
        margin: 0;
      }

      .el-picker-panel__icon-btn {
        margin-top: 0;
      }
    }

    // 范围选择
    .el-date-range-picker {
      .el-date-range-picker__header {
        margin-bottom: 8px;

        button {
          position: relative;
          z-index: 9;
          line-height: 23px;
          height: 23px;
          margin: 0;
        }

        div {
          line-height: 23px;
        }
      }

      .el-month-table td {
        height: auto !important;
      }

      // 处理月范围样式·
      &[type='monthrange'] {
        .el-month-table > tbody > tr > td > div {
          padding: 8px 0;
        }

        .el-month-table > tbody > tr > td.start-date > div > .cell,
        .el-month-table > tbody > tr > td.end-date > div > .cell {
          background-color: rgba(24, 144, 255, 1);
          font-weight: 400;
          transition: all 233ms;
        }

        .el-month-table > tbody > tr > td:not(.disabled):not(.end-date):not(.start-date) > div:hover {
          background-color: transparent;
          a {
            background-color: #e6f7ff;
            color: rgba(0, 0, 0, 0.65);
            transition: all 233ms;
          }
        }

        .el-month-table td.end-date div {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }

        .el-month-table td.start-date div {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }

        .el-month-table td.in-range div {
          background-color: transparent;
        }

        .el-month-table td .cell {
          width: 48px;
          height: 32px;
          line-height: 32px;
          border-radius: 0;
        }
      }
    }

    .el-date-range-picker__time-header {
      .el-time-panel__footer {
        padding: 0 !important;
      }
    }

    table.el-date-table,
    table.el-month-table,
    table.el-year-table {
      tr {
        background-color: #fff;
        td.today .cell,
        td.today > div > span {
          font-weight: 400;
        }
      }

      tr:hover {
        background-color: transparent;
      }

      tr td:not(.disabled):not(.current):not(.start-date):not(.end-date) > div:hover,
      tr td:not(.disabled):not(.current):not(.start-date):not(.end-date) > a:hover {
        background-color: #e6f7ff;
        color: rgba(0, 0, 0, 0.65);
        font-weight: 400;
      }
    }

    table.el-date-table > tbody > tr > td {
      &.start-date > div {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

      &.end-date > div {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      & > div > span {
        border-radius: 0;
      }
    }

    table.el-year-table td.current .cell {
      background-color: rgba(24, 144, 255, 1);
      color: #fff;
    }

    // 单月
    table.el-month-table {
      tbody > tr > td:not(.disabled):not(.end-date):not(.start-date):not(.current):hover {
        div {
          background-color: transparent !important;
        }
        div > a.cell {
          background-color: #e6f7ff;
          color: rgba(0, 0, 0, 0.65);
        }
      }
      tbody > tr > td > div > a.cell {
        width: 48px;
        height: 32px;
        line-height: 32px;
        border-radius: 0;
      }
      tbody > tr > td.current > div > a.cell {
        background-color: rgba(24, 144, 255, 1);
        color: #fff;
        font-weight: 400;
      }
    }

    .el-popper__arrow {
      display: none;
    }
  }

  // 下拉框
  &.el-select__popper {
    margin-top: -10px !important;

    .el-popper__arrow {
      display: none;
    }
  }

  // dropdown
  &.el-dropdown__popper {
    .el-popper__arrow {
      display: none;
    }
  }
}

.el-popper.is-dark {
  min-width: 30px;
  max-width: 330px;
  min-height: 32px;
  line-height: 21px;
  padding: 6px 8px;
  color: var(--color-default);
  text-align: left;
  text-decoration: none;
  word-wrap: break-word;
  border-radius: 4px;
  opacity: 0.85;
  box-shadow: 0 2px 8px var(--color-text-border);

  .el-select-dropdown {
    .el-select-dropdown__item {
      font-size: 14px;
    }
  }
}

// popover
.el-popover.el-popper {
  padding: 20px;

  .el-popconfirm {
    &__action {
      margin-top: 17px;
    }
  }
}

.el-cascader {
  &-menu__list {
    padding: 0 !important;
  }

  &__dropdown {
    .el-cascader-menu__wrap.el-scrollbar__wrap {
      height: auto !important;
    }

    .el-cascader-node {
      height: 36px !important;
      min-height: 36px !important;
      padding: 7px 10px !important;
      font-weight: 400 !important;
      font-size: 14px !important;
      margin: 0 !important;
      box-sizing: border-box !important;

      &__label {
        height: 36px !important;
        line-height: 36px !important;
        min-height: 36px !important;
      }
    }

    .el-cascader-node:hover,
    .el-cascader-node.is-active:hover {
      background-color: var(--color-hover) !important;
    }

    .el-cascader-node.is-active {
      background-color: #00000005 !important;

      i {
        display: none !important;
      }
    }
  }
}

// 下拉框
.el-select {
  .select-trigger .el-input {
    .el-input__inner {
      min-height: 36px !important;
      height: 36px !important;
      padding: 0 24px 0 11px !important;
    }

    .el-input__suffix {
      .el-icon.el-input__icon.el-input__validateIcon {
        display: none;
      }
    }
  }

  .select-trigger {
    .el-select__tags {
      overflow: hidden;

      & > span {
        display: inline-block;
        overflow-y: auto;
        height: 28px;
        white-space: normal;
      }

      i {
        width: 14px;
        height: 14px;
      }
    }
  }
}

// pagination
.el-pagination {
  position: relative;
  width: 100%;
  margin: 12px 16px 0 0;
  font-size: 14px !important;
  font-weight: 400;
  padding: 16px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;

  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;

  &__total {
    position: absolute;
    left: 16px;
  }

  &__suffix {
    width: 20px;
    transform: scale(1);
  }

  .btn-prev,
  .btn-next {
    border: 1px solid var(--color-text-border) !important;
    border-radius: 4px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    margin-left: 8px !important;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    .el-icon {
      display: inline-block;
    }
  }

  .btn-prev:not([disabled]):hover,
  .btn-next:not([disabled]):hover {
    border: 1px solid var(--color-primary) !important;
  }

  button:disabled {
    background-color: var(--color-text-background) !important;
    border-color: var(--color-text-border);
  }

  .el-pager {
    margin-top: -1px;

    li {
      min-width: 36px;
      height: 36px;
      line-height: 36px;
      margin-left: 8px;
      border: 1px solid var(--color-text-border) !important;
      border-radius: 4px;
    }

    li.el-icon {
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }

    li:hover,
    li.active {
      border: 1px solid var(--color-primary) !important;
    }
  }

  .el-pagination__total {
    float: left;
    font-size: 14px;
  }

  .el-pagination__sizes {
    margin: 0 8px;
    height: 36px !important;

    .el-select.el-select--mini,
    .select-trigger,
    .el-input--suffix {
      height: 36px;

      .el-icon-arrow-up {
        line-height: 36px;
      }

      .el-input__inner {
        height: 36px;
        color: var(--color-text-primary) !important;
      }
    }

    .select-trigger {
      .el-input {
        margin: 0;
      }

      .el-input__suffix {
        right: 5px;
      }
    }
  }

  .el-pagination__jump {
    position: relative;
    margin-left: 0;
    font-size: 14px !important;
    line-height: 36px !important;
    height: 36px !important;

    &::before {
      content: '\8df3\81f3';
      position: absolute;
      left: -4px;
      background: #fff;
      width: 36px;
      height: 22px;
      line-height: 22px;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
    }

    .el-pagination__editor.el-input {
      width: 56px;
      height: 36px;
      margin: 0 4px;

      .el-input__inner {
        height: 100%;
        width: 100%;
      }

      .el-input__inner:hover {
        border: 1px solid var(--color-primary);
      }
    }
  }
}

// button
.el-button {
  min-height: 36px !important;
  padding: 0 15px !important;
  font-size: 14px !important;

  // 重置默认按钮样式
  &--default {
    border-color: var(--color-primary) !important;
    color: var(--color-primary) !important;

    &:hover {
      border-color: var(--color-primary);
    }
  }

  &--primary,
  &.is-loading {
    color: var(--color-default) !important;
    background-color: var(--color-primary) !important;
    border-color: var(--color-primary) !important;

    & > span {
      color: var(--color-default) !important;
    }

    & > i {
      color: var(--color-default) !important;
    }

    &:not(.is-disabled):hover {
      background-color: var(--color-primary-hover) !important;
      border-color: var(--color-primary-hover) !important;
    }

    &:not(.is-disabled):active {
      background-color: var(--color-primary-active) !important;
      border-color: var(--color-primary-active) !important;
    }
  }

  &.is-loading::before {
    background-color: transparent;
  }

  &.is-disabled {
    cursor: not-allowed !important;
    background-color: var(--color-text-background);
    border-color: var(--color-text-border) !important;
  }

  &--default:hover {
    color: var(--color-primary-hover) !important;
    background-color: #fff !important;
  }
}

.el-button + .el-button {
  margin-left: 12px;
}

button {
  line-height: 36px;
  color: var(--color-primary);
}

button + button {
  margin-left: 12px;
}

// input
.el-input {
  &:not(.el-input--suffix) {
    font-size: 14px;

    &__inner,
    &_inner[type='text'] {
      height: 36px !important;
    }
  }

  &.is-disabled input.el-input__inner {
    background-color: var(--iot-color-bg-disable);
    height: 36px;
    line-height: 36px;
  }

  .el-input__suffix i.el-icon.el-input__icon.el-input__validateIcon {
    display: none;
  }
}

.el-input:not(.is-disabled),
.el-cascader:not(.is-disabled) {
  &:hover {
    .el-input__inner {
      border-color: var(--color-primary);
    }
  }

  .el-input__inner {
    height: 36px;
    line-height: 36px;
    color: var(--color-text-primary) !important;
    background-color: var(--color-default) !important;
  }

  [readonly] {
    cursor: default !important;
    color: var(--color-text-primary) !important;
    background-color: var(--color-default) !important;
  }

  .el-input__inner::placeholder {
    color: var(--color-text-disable) !important;
  }
}

.el-input__inner {
  height: 36px;
  line-height: 36px;
  padding: 0 11px;

  i {
    font-size: 16px;
  }

  .el-select__caret {
    line-height: 36px;
    font-size: 16px;
  }
}

.el-textarea {
  font-size: 14px;
}

.el-select:hover .el-input__inner {
  transition: all 300ms;
  border-color: var(--color-primary-hover);
}

.el-select-dropdown__item.selected {
  font-weight: 400;
  background-color: transparent;
}

//日期
// .el-date-editor {
//     position: relative;

//     &.el-input {
//         .el-input__inner {
//             height: 36px;
//             line-height: 36px;
//             padding: 0 11px;
//         }

//         .el-input__prefix {
//             width: 25px;
//             position: absolute;
//             right: 5px;
//             left: auto;
//             z-index: 9;

//             svg {
//                 display: none;
//             }

//             &::before {
//                 font-family: "iconfont";
//                 content: "\e89e";
//                 font-style: normal;
//                 position: absolute;
//                 top: 50%;
//                 left: 50%;
//                 transform: translate(-50%, -50%);
//             }
//         }

//         .el-input__suffix {
//             width: 25px;
//             height: 34px;
//             position: absolute;
//             top: 1px;
//             right: 5px;
//             z-index: 10;
//             background-color: #fff;

//             svg {
//                 display: none;
//             }

//             &::before {
//                 font-family: "iconfont";
//                 content: "\e7b7";
//                 font-style: normal;
//                 position: absolute;
//                 top: 50%;
//                 left: 50%;
//                 transform: translate(-50%, -50%);
//             }
//         }
//     }
// }

.el-date-editor:not(.is-disabled) {
  position: relative;
  cursor: pointer;

  .el-input__inner {
    height: 36px;
    line-height: 36px;
    padding: 0 11px !important;
  }

  input {
    background-color: var(--color-default);
  }

  // 去除输入框聚焦
  &.el-date-editor--monthrange,
  &.el-date-editor--year,
  &.el-date-editor--daterange,
  &.is-active {
    input:focus {
      box-shadow: none;
    }
  }

  .el-icon.el-input__icon.el-input__validateIcon {
    display: none;
  }

  &:hover,
  &.is-active {
    border-color: var(--color-primary-hover);
  }

  // 前后缀
  & > .el-input__prefix,
  & > .el-input__suffix,
  & > .iconfont.icon-qingkong.el-input__icon.el-range__close-icon,
  & > .el-input__icon.el-range__icon.iconfont.icon-rili {
    font-size: 16px;
    position: absolute;
    right: 11px;
    left: auto;
    width: 16px;
    height: 16px;
    transition: none;

    top: 50%;
    transform: translateY(-50%);

    .el-input__suffix-inner > .el-input__icon.iconfont.icon-qingkong {
      background-color: #fff;
      transition: none;
      color: rgba(0, 0, 0, 0.25);

      &:hover {
        color: rgba(0, 0, 0, 0.45);
        transition: all 233ms;
      }
    }
  }

  .el-input__suffix > .el-input__suffix-inner,
  & > .iconfont.icon-qingkong.el-input__icon.el-range__close-icon {
    background-color: #fff;
    transition: none;
    color: rgba(0, 0, 0, 0.25);

    &:hover {
      color: rgba(0, 0, 0, 0.45);
      transition: all 233ms;
    }
  }

  // 前缀
  & > .el-input__icon.el-range__icon.el-icon-time,
  & > .el-input__icon.el-range__icon.el-icon-date,
  & > .el-input__icon.el-range__icon.el-icon-time,
  & > .el-icon.el-input__icon.el-range__icon {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    right: 8px;
    left: auto;
    transform: translateY(-50%);
    z-index: 9;
    transition: none;
    transition: none;
  }

  .el-input__icon.el-range__close-icon {
    position: absolute;
  }

  // 后缀
  & > .el-icon-circle-close.el-input__icon.el-range__close-icon,
  & > .el-icon.el-input__icon.el-range__close-icon {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    z-index: 10;
    transition: none;
  }

  i {
    cursor: pointer;
  }
}

.el-date-editor {
  &.el-input {
    height: 36px;
    line-height: 36px;
    position: relative;

    .el-input__inner {
      height: 36px;
      line-height: 36px;
    }
  }

  &.el-input__inner {
    height: 36px;
    line-height: 36px;
  }
}

.el-date-range-picker {
  tbody tr:hover {
    background-color: transparent !important;
  }
}

.el-year-table td.current:not(.disabled) .cell {
  color: var(--color-primary);
}

.el-year-table td .cell:hover {
  color: var(--color-primary-hover);
}

.el-year-table td.today .cell {
  color: var(--color-text-primary);
}

// loading
.el-loading-mask {
  background-color: var(--color-default) !important;
}
