/*
 * @Description: 重置ant-design-vue组件库样式
 * @Autor: zpwan
 * @Date: 2022-02-14 16:39:50
 * @LastEditors: zpwan
 * @LastEditTime: 2022-04-20 16:20:53
 */
@import url('./shared/color.css');
@import url('./shared/parameter.css');

// datepicker
.ant-picker {
  height: 36px;
  line-height: 36px;

  &.ant-picker-focused {
    box-shadow: none;
  }

  .ant-picker-input {
    &.ant-picker-input-active {
      box-shadow: none !important;

      input {
        box-shadow: none !important;
      }
    }

    input {
      text-align: center;
      box-shadow: none !important;
    }
  }

  .ant-picker-separator {
    display: flex;
    align-items: center;
  }

  input:not(.ant-input-disabled) {
    color: var(--color-text-primary);
    background-color: var(--color-default);
    cursor: pointer;

    &::-webkit-input-placeholder {
      color: var(--color-text-border);
    }

    &::-moz-placeholder {
      color: var(--color-text-border);
    }

    &:-moz-placeholder {
      color: var(--color-text-border);
    }

    &:-ms-input-placeholder {
      color: var(--color-text-border);
    }
  }

  .ant-picker-clear,
  .ant-picker-suffix {
    width: 16px;
    height: 16px;
    text-align: center;
  }

  input:focus {
    box-shadow: none;
  }
}

.ant-picker-dropdown {
  .ant-picker-body table tbody {
    tr {
      background-color: var(--color-default);
    }

    td.ant-picker-cell.ant-picker-cell-disabled {
      cursor: not-allowed;

      * {
        cursor: not-allowed;
      }
    }
  }

  .ant-calendar-time-picker-btn {
    height: 36px;
    line-height: 36px;
  }
}

.ant-btn {
  height: 36px !important;
  line-height: 36px !important;
  padding: 0 15px !important;
}

.ant-message {
  z-index: 2445 !important;
}
