.aba-explain-item {
    width: 100%;
    position: relative;
    box-sizing: border-box;
    padding: 10px 12px 54px;

    &__title {
        width: 8.95%;
        font-size: 14px;
        text-align: left;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &__progress {
        width: 64.05%;
        margin-right: 9.4%;
    }

    &__legend {
        position: relative;
        top: 28px;
        width: 17.6%;

        .title {
            width: 46.1%;
            text-align: left;
            color: rgba(0, 0, 0, 0.65);
            font-size: 14px;
        }

        &-chunk {
            padding: 14px 0;

            .legend {
                width: 25.1%;
            }
        }
    }
}