.tree-select {
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid var(--iot-border-color);
  overflow-y: hidden;

  .el-select {
    width: 100%;

    .tree-select--wrap {
      position: relative;
      width: 100%;
      height: 36px;
      line-height: 36px;
      font-size: 14px;
      background-color: var(--iot-font-color-white);
      background-image: none;
      border-radius: 4px;
      display: flex;

      .el-select__single {
        text-indent: 12px;
        line-height: 36px;
        color: var(--iot-font-color-root);
        overflow: hidden;
        width: 92%;
        white-space: nowrap;
        word-break: break-word;
        text-overflow: ellipsis;
      }

      .el-select__tags {
        position: inherit;
        top: inherit;
        transform: none;
        overflow-y: auto;
        padding: 4px 12px;
        width: 100%;

        .el-tag {
          margin: 2px 6px 2px 2px;
          max-width: 90%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;

          .el-select__tags-text {
            display: inline-block;
            max-width: 90%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            transition: margin 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
          }
        }
      }

      .el-select-placeholder {
        width: calc(100% - 30px);
        line-height: 36px;
        text-indent: 12px;
        color: rgba(0, 0, 0, 0.25);
      }
    }

    .el-input {
      .el-input__suffix {
        z-index: 9;
        right: 8px;
        background-color: #fff;

        .el-input__icon {
          width: 16px;
        }

        &-inner.arrow-icon {
          right: 0;
          display: inline-block;
          transition: all 233ms;
        }

        &-inner.close-icon {
          width: 16px;
          height: 36px;
          line-height: 36px;
          color: #fff;
          display: none;
          transition: all 233ms;
          align-items: center;

          .iconfont {
            font-size: 16px;
            position: relative;
            top: 2px;
            color: rgba(0, 0, 0, 0.25);
          }
        }

        i {
          color: #c0c4cc;
          line-height: 34px;
        }
      }
    }
  }
}

.tree-select:hover {
  transition: all 300ms;
  border-color: var(--iot-color-active);

  .el-input__suffix.allow-clear {
    .arrow-icon {
      display: none !important;
      transition: all 233ms;
    }

    .close-icon {
      display: inline-block !important;
      transition: all 233ms;

      &:hover {
        i {
          color: rgba(0, 0, 0, 0.45);
          transition: all 233ms;
        }
      }
    }

    &.popper-visible {
      .arrow-icon {
        display: inline-block !important;
        transition: all 233ms;
      }

      .close-icon {
        display: none !important;
        transition: all 233ms;

        &:hover {
          i {
            font-weight: 600;
            transition: all 233ms;
          }
        }
      }
    }
  }
}

.tree-select-panel {
  padding-bottom: 8px;

  .tree-radio--box {
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .tree-search--box {
    margin: 4px 12px 0;
  }

  .tree-select--box {
    max-height: 280px;
    overflow: auto;
    // min-height: 97px;

    .el-tree {
      height: 100%;
    }

    &-nodata {
      height: 97px;
      font-size: 14px;
      color: var(--color-text-disable);
    }

    :deep(.el-tree-node) {
      width: fit-content;
      min-width: 100%;

      &[aria-disabled='true'] {
        & > .el-tree-node__content {
          cursor: not-allowed;
        }

        & > .el-tree-node__content > span.custom-tree-node {
          color: var(--color-text-disable);
        }

        .el-checkbox__inner:hover {
          border-color: transparent;
        }
      }

      .custom-tree-node {
        padding: 0 5px;
        height: 34px;
        line-height: 34px;
        line-height: 22px;
        font-size: 14px;
        border-radius: 4px;
      }

      .custom-tree-node > em {
        font-style: normal !important;
        color: var(--iot-color-active) !important;
      }

      .custom-tree-node.custom-tree-node-active {
        background-color: var(--color-active);
      }
    }
  }
}
