.benchmarking-data-maintenance {
  height: 100%;

  .benchmarkingTable {
    width: 100%;
    height: 100%;
  }

  .benchmarkingTable::after {
    display: block;
    content: '';
    height: 0;
    clear: both;
  }

  .dataBox {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 20px 0 0;

    .editImg {
      position: absolute;
      top: 50%;
      right: 16px;
      transform: translateY(-50%);
      width: 16px;
      height: 16px;
      cursor: pointer;
    }
  }

  :deep(.el-table th:not(:first-child)) {
    text-align: left !important;
  }

  :deep(.el-table th.el-table_1_column_1) {
    text-align: center !important;
  }

  :deep(tbody tr td:nth-child(2) .cell) {
    text-align: left !important;
  }

  :deep(.el-table th.el-table__cell > .cell > .data-maintenance-header) {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
