/* 重置vue项目组件库样式文件 */
@import url('./shared/color.css');
@import url('./shared/parameter.css');
@import url('./el-date-picker.less');
@import url('./el-date-range-picker.less');

// 重置tree
.el-tree {
  &-node {
    & > .el-tree-node__content {
      .el-checkbox.is-checked + .el-tree-node__label {
        background-color: var(--color-active) !important;
      }
    }

    &.is-current > .el-tree-node__content {
      background-color: var(--color-default) !important;
    }

    &.is-current.is-checked > .el-tree-node__content {
      background-color: var(--color-default) !important;

      .el-tree-node__label {
        background-color: var(--color-active);
      }
    }

    &.is-focusable {
      background-color: var(--color-default);

      &__content {
        background-color: var(--color-default);
      }
    }

    &__content {
      height: 34px !important;
      line-height: 34px !important;
      font-size: 14px;
      background-color: var(--color-default);
    }

    &__content:focus {
      background-color: var(--color-default) !important;
    }

    &__content:active {
      background-color: var(--color-default) !important;
    }

    &__content:hover {
      background-color: transparent;
    }

    &__label {
      line-height: 34px;
      padding: 7px 8px;
      line-height: 22px;
      font-size: 14px;
      border-radius: 4px;
      color: var(--color-text-primary);
    }

    &__label:hover {
      background-color: var(--color-hover);
    }

    .custom-tree-node {
      height: 34px;
      line-height: 34px;
      padding: 7px 8px;
      line-height: 22px;
      font-size: 14px;
      border-radius: 4px;
    }

    .custom-tree-node:hover {
      background-color: var(--color-hover);
    }

    .custom-tree-node.custom-tree-node-active {
      background-color: var(--color-active);
    }
  }
}

// i
i {
  cursor: pointer;
}

// form
.el-form {
  white-space: normal !important;

  &--inline {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &-item {
    margin-right: 16px !important;
    margin-bottom: 16px !important;
    display: flex;
    align-items: center;

    &__label {
      font-size: 14px;
      line-height: 23px;
      padding-right: 8px;
    }

    &__content {
      button {
        line-height: 36px;
      }
    }

    &__error {
      font-size: 14px;
      padding-top: 0;
    }
  }
}

// 表格头label
table {
  thead {
    tr th {
      text-align: center;
    }
  }
}

.el-table {
  * {
    font-size: 14px;
  }

  tbody {
    tr.el-table__row:hover td,
    tr.el-table__row.hover-row > td {
      background-color: var(--color-hover) !important;
    }

    tr {
      text-align: center !important;
      height: 24px;
      line-height: 24px;
      box-sizing: border-box !important;
      border-bottom: none !important;

      .cell {
        text-align: center;
        white-space: nowrap !important;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      td {
        border: none;
      }

      &:nth-child(even) td {
        background-color: #fafafa;
      }
    }
  }

  .table-column-item-label {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  th.el-table__cell {
    background-color: var(--color-table-header);
    height: 52px !important;
    line-height: 52px !important;
    padding: 0 10px !important;
    box-sizing: border-box !important;
  }

  thead th {
    background-color: var(--color-table-header) !important;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 400;
    border-bottom: none !important;
    text-align: center !important;

    .cell {
      align-items: center !important;
    }
  }

  td.el-table__cell,
  td {
    height: 48px;
    line-height: 48px;
    text-align: center !important;
    box-sizing: border-box !important;
    border-bottom: none !important;

    .cell {
      white-space: nowrap !important;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .el-table__empty-block {
    position: relative;
    height: 166px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .el-table__empty-block::before {
    content: '';
    width: 100%;
    height: 40px;
    background-image: url('../img/common/common-data-none.svg');
    background-size: 100% 100%;
    position: absolute;
    top: 47px;
    left: 50%;
    transform: translateX(-50%);
  }

  .el-table__empty-text {
    position: relative;
    top: 26px;
    line-height: 23px;
    color: var(--color-text-disable);
  }

  .el-table__fixed::before {
    height: 0;
  }
}

.el-table::before {
  background-color: var(--color-default);
}

// 重置确认框样式
// popper
.el-popper {
  white-space: normal;

  .el-select-dropdown__wrap {
    .el-select-dropdown__list {
      margin: 0 !important;
      padding: 0 !important;

      .el-select-dropdown__item {
        height: 36px !important;
        line-height: 36px !important;
        font-size: 14px !important;
      }

      .el-select-dropdown__item.selected {
        background-color: #00000005 !important;
      }

      .el-select-dropdown__item:hover {
        height: 36px !important;
        line-height: 36px !important;
        background-color: var(--color-hover) !important;
      }
    }
  }

  .el-select-dropdown__empty {
    position: relative;
    height: 97px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    bottom: 10px;
  }

  .el-select-dropdown__empty::before {
    content: '';
    width: 50px;
    height: 35px;
    background-image: url('../img/common/common-data-none.svg');
    background-size: cover;
    position: absolute;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
  }

  // 下拉框
  &.el-select__popper {
    margin-top: -10px !important;

    .el-popper__arrow {
      display: none;
    }
  }

  // dropdown
  &.el-dropdown__popper {
    .el-popper__arrow {
      display: none;
    }
  }
}

.el-popper.is-dark {
  min-width: 30px;
  max-width: 330px;
  min-height: 32px;
  line-height: 21px;
  padding: 6px 8px;
  color: var(--color-default);
  text-align: left;
  text-decoration: none;
  word-wrap: break-word;
  border-radius: 4px;
  opacity: 0.85;
  box-shadow: 0 2px 8px var(--color-text-border);

  .el-select-dropdown {
    .el-select-dropdown__item {
      font-size: 14px;
    }
  }
}

.el-popper.is-dark.tips {
  padding: 6px 6px 6px 8px;
}

.el-popper.is-dark .tips-dialog {
  max-height: 200px;
  overflow-y: auto;
  min-width: 30px;
  max-width: 330px;
  line-height: 32px;
  color: var(--color-default);
  text-align: left;
  text-decoration: none;
  word-wrap: break-word;
  border-radius: 4px;
  opacity: 0.85;
  box-shadow: 0 2px 8px var(--color-text-border);

  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.22);
  }
}

// popover
.el-popover.el-popper {
  padding: 20px;

  .el-popconfirm {
    &__action {
      margin-top: 17px;
    }
  }
}

.el-cascader {
  &-menu__list {
    padding: 0 !important;
  }

  &__dropdown {
    .el-cascader-menu__wrap.el-scrollbar__wrap {
      height: auto !important;
    }

    .el-cascader-node {
      height: 36px !important;
      min-height: 36px !important;
      padding: 7px 10px !important;
      font-weight: 400 !important;
      font-size: 14px !important;
      margin: 0 !important;
      box-sizing: border-box !important;

      &__label {
        height: 36px !important;
        line-height: 36px !important;
        min-height: 36px !important;
      }
    }

    .el-cascader-node:hover,
    .el-cascader-node.is-active:hover {
      background-color: var(--color-hover) !important;
    }

    .el-cascader-node.is-active {
      background-color: #00000005 !important;

      i {
        display: none !important;
      }
    }
  }
}

.el-select {
  .select-trigger .el-input {
    .el-input__inner {
      min-height: 36px;
      height: 36px;
      padding: 0 24px 0 11px;
    }
  }
}

// pagination
.el-pagination {
  position: relative;
  width: 100%;
  margin: 12px 16px 0 0;
  font-size: 14px !important;
  font-weight: 400;
  padding: 16px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;

  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;

  &__total {
    position: absolute;
    left: 16px;
  }

  &__suffix {
    width: 20px;
    transform: scale(1);
  }

  .btn-prev,
  .btn-next {
    border: 1px solid var(--color-text-border) !important;
    border-radius: 4px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    margin-left: 8px !important;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    .el-icon {
      display: inline-block;
    }
  }

  .btn-prev:not([disabled]):hover,
  .btn-next:not([disabled]):hover {
    border: 1px solid var(--color-primary) !important;
  }

  .btn-prev:not([disabled]),
  .btn-next:not([disabled]) {
    .el-icon {
      color: rgba(0, 0, 0, 0.65);
      font-weight: 400 !important;
    }
  }

  button:disabled {
    background-color: var(--color-text-background);
    border-color: var(--color-text-border);
  }

  .el-pager {
    margin-top: -1px;

    li {
      min-width: 36px;
      height: 36px;
      line-height: 36px;
      margin-left: 8px !important;
      border: 1px solid var(--color-text-border) !important;
      border-radius: 4px;
      color: rgba(0, 0, 0, 0.65);
      font-weight: 400;
    }

    li.el-icon {
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }

    li:hover,
    li.active {
      border: 1px solid var(--color-primary) !important;
    }
  }

  .el-pagination__total {
    float: left;
    font-size: 14px;
  }

  .el-pagination__sizes {
    margin: 0 8px;
    height: 36px !important;

    .el-select.el-select--mini,
    .select-trigger,
    .el-input--suffix {
      height: 36px;

      .el-icon-arrow-up {
        line-height: 36px;
      }

      .el-input__inner {
        height: 36px;
        color: var(--color-text-primary) !important;
      }
    }

    .select-trigger {
      .el-input {
        margin: 0;
      }
    }
  }

  .el-pagination__jump {
    position: relative;
    margin-left: 0;
    font-size: 14px !important;
    line-height: 36px !important;
    height: 36px !important;

    &::before {
      content: '\8df3\81f3';
      position: absolute;
      left: -4px;
      background: #fff;
      width: 36px;
      height: 22px;
      line-height: 22px;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
    }

    .el-pagination__editor.el-input {
      width: 56px;
      height: 36px;
      margin: 0 4px;

      .el-input__inner {
        height: 100%;
        width: 100%;
      }

      .el-input__inner:hover {
        border: 1px solid var(--color-primary);
      }
    }
  }
}

// message
.el-message {
  --el-message-min-width: 0;
  --el-message-padding: 12px 15px 12px 20px;
}

.el-message.el-message--error,
.el-message.el-message--success,
.el-message.el-message--warning,
.el-message.el-message--info {
  background-color: var(--color-default);
  font-size: 14px;
  --el-message-font-color: var(--color-text-primary);
  border: none;
}

.el-message.el-message--error i,
.el-message.el-message--success i,
.el-message.el-message--warning i,
.el-message.el-message--info i {
  font-size: 18px;
}

// 重置弹窗样式
.el-dialog {
  &__header {
    display: flex;
    align-items: center;
    height: 48px;
    padding: 12px 20px;
    background-color: var(--color-table-header);
    border: none;
    border-radius: 3px 3px 0 0;

    .el-dialog__title {
      color: var(--color-primary);
      line-height: 24px;
      font-size: 14px !important;
      font-weight: 400 !important;
    }

    .el-dialog__headerbtn {
      top: 8px;
      right: 20px;
      color: #00000073;

      i {
        font-size: 20px;
      }
    }
  }

  &__body {
    padding: 20px 20px 16px;
  }

  &__footer {
    text-align: center;
    padding: 16px 20px;
    border-top: 1px solid var(--color-text-border);
  }
}

// button
.el-button {
  min-height: 36px !important;
  padding: 0 15px !important;
  font-size: 14px !important;

  // 重置默认按钮样式
  &--default {
    border-color: var(--color-primary) !important;
    color: var(--color-primary) !important;

    &:hover {
      border-color: var(--color-primary);
    }
  }

  &--primary,
  &.is-loading {
    color: var(--color-default) !important;
    background-color: var(--color-primary) !important;
    border-color: var(--color-primary) !important;

    &:not(.is-disabled):hover {
      background-color: var(--color-primary-hover) !important;
      border-color: var(--color-primary-hover) !important;
    }

    &:not(.is-disabled):active {
      background-color: var(--color-primary-active) !important;
      border-color: var(--color-primary-active) !important;
    }
  }

  &.is-disabled {
    cursor: not-allowed !important;
    background-color: var(--color-text-background);
    border-color: var(--color-text-border) !important;
  }

  &--default:hover {
    color: var(--color-primary-hover) !important;
    background-color: #fff !important;
  }
}

.el-button + .el-button {
  margin-left: 12px;
}

button + button {
  margin-left: 12px;
}

// input
.el-input:not(.el-input--suffix) {
  font-size: 14px;

  &__inner {
    height: 36px !important;
  }
}

.el-input:not(.is-disabled),
.el-cascader:not(.is-disabled) {
  &:hover {
    .el-input__inner {
      border-color: var(--color-primary);
    }
  }

  .el-input__inner {
    color: var(--color-text-primary) !important;
    background-color: var(--color-default) !important;
  }

  [readonly] {
    cursor: default !important;
    color: var(--color-text-primary) !important;
    background-color: var(--color-default) !important;
  }

  .el-input__inner::placeholder {
    color: var(--color-text-disable) !important;
  }
}

.el-input__inner,
.el-input__suffix {
  height: 36px;
  line-height: 36px;

  i {
    font-size: 16px;
  }

  .el-select__caret {
    line-height: 36px;
    font-size: 16px;
  }
}

.el-textarea {
  font-size: 14px;
}

.el-select:hover .el-input__inner {
  transition: all 300ms;
  border-color: var(--color-primary-hover);
}

.el-select-dropdown__item.selected {
  font-weight: 400;
  background-color: transparent;
}

//去除多选日期确认按钮
.el-date-editor:not(.is-disabled) {
  position: relative;
  cursor: pointer;

  .el-input__inner {
    height: 36px;
    line-height: 36px;
  }

  input {
    background-color: var(--color-default);
  }

  // 前后缀
  & > .el-icon.el-input__icon.el-range__icon,
  & > .el-icon.el-input__icon.el-range__close-icon {
    font-size: 16px;
    position: absolute;
    right: 11px;
    left: auto;
    width: 16px;
    height: 34px;
    line-height: 34px;
    transition: none;

    svg {
      display: none;
    }
  }

  & > .el-icon.el-input__icon.el-range__icon::before {
    font-family: 'iconfont' !important;
    content: '\e69c';
    font-style: normal;
  }

  & > .el-icon.el-input__icon.el-range__close-icon::before {
    font-family: 'iconfont' !important;
    content: '\e6bc';
    font-style: normal;
    background-color: var(--color-default);
  }
}

// loading
.el-loading-mask {
  background-color: var(--color-default) !important;
}

.el-message-box__container {
  position: relative;
  padding: 10px 15px;
}

.el-message-box__container .el-icon {
  position: absolute;
}
