<div id="pagination">
  <div>
    <label>共{{ total }}条</label>
  </div>

  <div class="tool-group">
    <button
      title="上一页"
      icon
      [disabled]="!canLeft || isLoading"
      (click)="jumpLeft(1)"
    >
      <i nz-icon nzType="left" nzTheme="outline"></i>
    </button>

    <button
      radio
      [attr.selected]="1 === index"
      [disabled]="isLoading"
      (click)="selectPage(1)"
    >
      {{ 1 }}
    </button>
    <button
      *ngIf="canJumpLeft"
      title="向前5页"
      icon
      rimless
      [disabled]="isLoading"
      (click)="jumpLeft(5)"
      (mouseover)="setJumpLeftActive(true)"
      (mouseout)="setJumpLeftActive(false)"
    >
      <span *ngIf="!isJumpLeftActive">&bull;&nbsp;&bull;&nbsp;&bull;</span>
      <i
        *ngIf="isJumpLeftActive"
        nz-icon
        nzType="double-left"
        nzTheme="outline"
      ></i>
    </button>

    <button
      *ngFor="let page of pageList"
      radio
      [attr.selected]="page === index"
      [disabled]="isLoading"
      (click)="selectPage(page)"
    >
      {{ page }}
    </button>

    <button
      *ngIf="canJumpRight"
      title="向后5页"
      icon
      rimless
      [disabled]="isLoading"
      (click)="jumpRight(5)"
      (mouseover)="setJumpRightActive(true)"
      (mouseout)="setJumpRightActive(false)"
    >
      <span *ngIf="!isJumpRightActive">&bull;&nbsp;&bull;&nbsp;&bull;</span>
      <i
        *ngIf="isJumpRightActive"
        nz-icon
        nzType="double-right"
        nzTheme="outline"
      ></i>
    </button>
    <button
      *ngIf="pageCount > 1"
      radio
      [attr.selected]="pageCount === index"
      [disabled]="isLoading"
      (click)="selectPage(pageCount)"
    >
      {{ pageCount }}
    </button>

    <button
      title="下一页"
      icon
      [disabled]="!canRight || isLoading"
      (click)="jumpRight(1)"
    >
      <i nz-icon nzType="right" nzTheme="outline"></i>
    </button>

    <nz-select
      class="tool-select-size"
      [nzOptionHeightPx]="36"
      [nzBackdrop]="true"
      [disabled]="isLoading"
      [(ngModel)]="size"
    >
      <nz-option
        *ngFor="let option of sizeOptions"
        [nzLabel]="option.label"
        [nzValue]="option.value"
      ></nz-option>
    </nz-select>

    <label>跳至</label>
    <input
      class="tool-input-index"
      [value]="index"
      [disabled]="isLoading"
      emsInputFilter_ExcludeNumber
      [emsInputFilterNumberConfig]="{ decimal: 0 }"
      emsInputValidator_Number
      [emsInputValidatorNumberConfig]="{ min: 1, max: pageCount }"
      (emsInputValidatorVerify)="setJumpVerification($event)"
      (change)="jumpToPage($event)"
    />
    <label>页</label>
  </div>
</div>
