@import url(../../../../assets/style/me-modal.less);

.me-import-error-list {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  .default-txt {
    color: rgba(0, 0, 0, 0.65);
  }
}
.pr20 {
  padding-right: 20px;
}

.scroll-y-tbody {
  max-height: 258px;
  overflow-y: auto;
  width: 100%;
  table {
    width: 100%;
  }
}
