.peakology {
  :deep(.page-common__search) {
    margin-bottom: 20px !important;
  }
  :deep(.page-common) {
    min-width: 1092px;
  }
  .border {
    border-bottom: 1px solid var(--iot-border-color);
    margin: 20px 0;
  }
  .barChartWrap {
    display: flex;
    .left-side {
      width: 50%;
    }
    .right-side {
      flex: 1;
    }
  }
  .subhead-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .scatterRemarkBox {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .noData {
    padding-bottom: 20px;
  }
  .etLine {
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.15);
    margin: 16px 0;
  }
  .peakTitle {
    h3 {
      position: relative;
      display: inline-block;
      box-sizing: border-box;
      margin: 0 0 7px 18px;
      color: rgba(24, 144, 255, 100);
      text-decoration: none;
      cursor: pointer;
      transition: color 0.3s rgba(24, 144, 255, 100);
      &::before {
        position: absolute;
        top: 28px;
        left: -18px;
        width: 92px;
        border-top: 2px solid rgba(24, 144, 255, 100);
        transition: all 0.3s;
        content: '';
        pointer-events: none;
      }
    }
  }
}
