<div class="peakology" style="width: 100%; height: 100%">
  <page-common title="峰值分析" :showSearch="true">
    <!-- 头部搜索 -->
    <template v-slot:pageSearch>
      <el-form :inline="true" :model="formInline" class="demo-form-inline" @submit.native.prevent>
        <el-form-item label="分析对象">
          <!-- 分析对象 analysisObject-多选对象 radioData-区域-业态 -->
          <tree-select
            :placeholder="'请选择分析对象'"
            v-model="formInline.analysisObject"
            :treeData="analysisObjectData"
            :showSearch="true"
            :disabledProps="disabledProps"
            :defaultProps="FGetElTreeDefaultProps()"
            width="380px"
            v-model:radioValue="formInline.radioValue"
            :loading="treeLoading"
            :radioData="radioData"
            :multiple="true"
            :maxLength="7"
            :expanedKeys="analysisObjectExpanedKeys"
            @tree-radio-change="treeRaidoChange"
          ></tree-select>
        </el-form-item>
        <!-- 多选日期 -->
        <el-form-item label="日期">
          <el-date-picker
            v-if="formInline.analysisObject.length <= 1"
            placeholder="请选择"
            v-model="formInline.date1"
            type="daterange"
            range-separator="~"
            start-placeholder="开始日期"
            end-placeholder="结束日期"
            :disabled-date="disabledDate"
            prefix-icon="iconfont icon-Calendar"
            clear-icon="iconfont icon-Close-Circle-Fill"
          ></el-date-picker>
          <!-- 单选日期 -->
          <el-date-picker
            v-else
            v-model="formInline.date2"
            type="date"
            placeholder="请选择"
            :disabled-date="disabledDate"
            prefix-icon="iconfont icon-Calendar"
            clear-icon="iconfont icon-Close-Circle-Fill"
          ></el-date-picker>
        </el-form-item>
        <el-form-item>
          <button primary @click="onSubmit">查询</button>
          <button @click="onReset">重置</button>
        </el-form-item>
      </el-form>
      <div class="peakTitle">
        <h3>{{ flag === PEAKOLOGY_TYPE.ANALYSIS ? '峰值分析' : '峰值统计' }}</h3>
      </div>
    </template>
    <!-- tabs 老项目有 但目前没看到有任何用处-->
    <!-- <template v-slot:progress>
      <div style="padding: 0 16px">
        <el-tabs v-model="activeName" @tab-click="tabsChange">
          <el-tab-pane label="User" name="first"></el-tab-pane>
        </el-tabs>
      </div>
    </template>-->
    <template v-slot:pageContent>
      <el-row :gutter="24" class="module-wrap">
        <el-col :span="24">
          <!-- {{lineRemark}}{{scatterRemark}} -->
          <div v-if="abnormal" style="width: 100%; min-height: 300px;">
            <!-- 展示折线图 -->
            <div v-if="lineRemark">
              <div class="subhead-wrap" v-if="flag === PEAKOLOGY_TYPE.ANALYSIS">
                <module-subhead :title="'平均功率走势图'"></module-subhead>
              </div>
              <!-- {{ Object.keys(averageLineChartData).length }} -->
              <div style="min-height: 300px" v-loading="loadings">
                <AverageLineCharts
                  :key="nums"
                  :averageLineChartData="averageLineChartData"
                  v-if="Object.keys(averageLineChartData).length > 0 && loadings == false"
                ></AverageLineCharts>
                <no-data v-if="Object.keys(averageLineChartData).length == 0 && loadings == false"></no-data>
              </div>
            </div>
            <!-- 展示散点图 -->
            <div
              v-if="
                scatterRemark && Object.keys(everyDayScotterChartData).length
              "
              v-loading="loadings"
            >
              <div class="scatterRemarkBox">
                <div class="subhead-wrap">
                  <module-subhead :title="'每日功率峰值散点图'"></module-subhead>
                </div>
                <div>
                  <div style="display: inline-block">
                    <icon-switch-button
                      v-model="switchIconSelect"
                      :switchItems="switchTableScatterChartIcons"
                      @switch-icon-button-change="switchIconChange"
                    ></icon-switch-button>
                  </div>
                  <el-button
                    v-if="selected == 2 && everyDayTableData.length > 0"
                    style="margin-left: 20px"
                    type="primary"
                    @click="exportData(0)"
                    >{{ chartExportLoading ? '正在导出' : '导出' }}</el-button
                  >
                </div>
              </div>
              <!-- 图标选中为1 散点图 -->
              <div v-show="selected == 1" v-loading="loadings" style="height: 280px;">
                <EveryDayScotterCharts
                  v-if="Object.keys(everyDayScotterChartData).length  && everyDayScotterChartData.seriesData[0].data.length > 0"
                  :everyDayScotterChartData="everyDayScotterChartData"
                ></EveryDayScotterCharts>
                <no-data v-else></no-data>
              </div>
              <!-- 图标选中为2 表格 -->
              <div v-show="selected == 2" v-loading="loadings">
                <EveryDayTables
                  v-if="everyDayTableData.length && everyDayTableData.length > 0"
                  :everyDayTableData="everyDayTableData"
                ></EveryDayTables>
                <no-data v-else></no-data>
              </div>
            </div>
          </div>
          <!-- <no-data v-else class="noData"></no-data> -->
          <!-- <div class="border"></div> -->
        </el-col>
      </el-row>
      <!-- ------------------ -->
      <!-- 当为散点图 展示表格  -->
      <div class="etLine" v-if="flag === PEAKOLOGY_TYPE.STATISTICS"></div>
      <!-- <div v-if="scatterRemark" v-loading="loadings"> -->
      <div v-if="flag === PEAKOLOGY_TYPE.STATISTICS" v-loading="loadings">
        <div v-if="abnormal">
          <div style="display: flex; justify-content: space-between; margin-bottom: 10px">
            <module-subhead :title="'每日功率峰值排名'"></module-subhead>
            <el-button
              v-if="everyDayRankTableData.length"
              style="margin-left: 20px"
              type="primary"
              @click="exportData(1)"
              >{{ exportLoading ? '正在导出' : '导出'}}</el-button
            >
          </div>
          <div style="margin-bottom: 60px;">
            <EveryDayRankTables
              v-if="everyDayRankTableData.length && !loadings"
              :everyDayRankTableData="everyDayRankTableData"
            >
            </EveryDayRankTables>
            <no-data v-if="everyDayRankTableData.length?.length === 0 && !loadings" class="noData"></no-data>
          </div>
        </div>
        <!-- <no-data v-else class="noData"></no-data> -->
      </div>
      <div class="etLine" v-if="flag === PEAKOLOGY_TYPE.ANALYSIS"></div>
      <!--当为折线图展示 2个饼图 -->
      <el-row :gutter="24" class="module-wrap" style="margin-bottom:10px;" v-if="flag === PEAKOLOGY_TYPE.ANALYSIS">
        <!-- 下级节点功率占比分析 饼图 -->
        <el-col :span="12">
          <module-subhead :title="'下级节点功率占比分析'"></module-subhead>
          <div style="width: 100%; min-height: 300px;" v-loading="loadings">
            <LevelNodePieChart
              v-if="Object.keys(levelNodePieChartData).length > 0 && levelNodePieChartData.series.length >= 1 && loadings == false"
              :levelNodePieChartData="levelNodePieChartData"
              :height="375"
            >
            </LevelNodePieChart>
            <no-data
              v-if="(Object.keys(levelNodePieChartData).length == 0 || levelNodePieChartData.series.length == 0) && !loadings"
              class="noData"
              :title="childNodePieNodataTitle"
            >
            </no-data>
          </div>
        </el-col>

        <!-- 末级节点功率占比分析 饼图 -->
        <el-col :span="12">
          <module-subhead :title="'末级节点功率占比分析'"></module-subhead>
          <div style="width: 100%; min-height: 300px;" v-loading="loadings">
            <LastNodePieChart
              v-if="Object.keys(lastNodePieChartData).length > 0 && lastNodePieChartData.series.length >= 1 && !loadings"
              :lastNodePieChartData="lastNodePieChartData"
              :height="375"
            >
            </LastNodePieChart>
            <no-data v-if="!showLastNodeChart && !loadings" :title="lastNodePieNodataTitle" class="noData"></no-data>
          </div>
        </el-col>
      </el-row>
    </template>
  </page-common>
</div>
