<div class="ems_select-pop-up">
    <div class="pop-title">{{title}}</div>
    <div class="pop-list mt20"   [ngClass]="{'lineRow': lineStyle > 1}" *ngIf="popListData && popListData.length > 0">
        <div
            *ngFor="
            let item of popListData;
            let i = index;
            trackBy: trackById"
            class="pop-list-button mt10"
            (click)="selectType(item)"
        >
            {{item.label}}
        </div>
    </div>
    <div class="no-data ">
        <div class="no-data-content">
            <img src="assets/img/energy-manager/none-task-layout.svg">
            <div class="none-task-description">
               {{noDescription}}
            </div>
        </div>
    </div>
</div>
