::ng-deep .changeType { 
    background-color: rgba(34, 34, 34, 0.8); 
    --backdrop-opacity: var(--ion-backdrop-opacity, 0) !important; 
    bottom: -10px;
}
::ng-deep .changeType .sc-ion-modal-md.hydrated {
    height: 100%;
}
::ng-deep .changeType .modal-wrapper.sc-ion-modal-md {
    max-height: 380px; 
    // width: calc(100% + 7px);
    height: auto;
    // position: absolute;
    // bottom: 0px;
    overflow-y: auto;
    opacity: 1;
    -webkit-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0);
}
 
.ems_select-pop-up {
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    padding: 15px;
    // padding-right: 22px;
    .pop-title { 
        height: 20px;
        color: rgba(34, 34, 34, 0.5);
        font-size: 14px;
        text-align: left; 
    }
    .lineRow {
        display: grid;  
        grid-template-columns: repeat(2, 1fr);
        margin: 0 auto;
        grid-gap: 0px 5px; 
        .pop-list-button {
              width:100%;
           
        }
    }
    .pop-list-button { 
        height: 52px;
        line-height: 52px;
        border-radius: 5px;
        background-color: rgba(18, 131, 255, 1);  
        color: rgba(255, 255, 255, 1);
        font-size: 16px;
        text-align: center; 
    }
    .no-data { 
        width: 100%;
        height: 100%;
        text-align: center; 
        .no-data-content { 
            text-align: center; 
            margin-top: 60px;
            .none-task-description {
                height: 22px;
                line-height: 22px;
                margin-top: 15px;
                color: rgba(34, 34, 34, 0.2);
                font-size: 16px;
                text-align: center;
            }
        }
       
    }
    .mt20 {
        margin-top: 20px;
    }
    .mt10 {
        margin-top: 10px;
    }
}
