<!-- 带滚动、下拉的单选组件 -->
<div class="check-select">
    <div class="check-select-scroll" :style="{
        borderRadius: isShow ? '4px 0px 0px 4px' : '4px',
        width: isShow ? '235px' : '274px',
      }">
        <div ref="checkSelect" class="check-select-box" :style="[
          { borderRadius: isShow ? '4px 0px 0px 4px' : '4px' },
          translateStyle,
        ]">
            <span v-show="switchItems && switchItems.length > 0" class="check-select-item"
                :class="{ 'check-select-item-selected': itemSelected === item.code }"
                @click="onSwitchItem(item, index, $event, 1)" :title="item.name.length > 8 ? item.name : ''"
                v-for="(item, index) in switchItems" :key="index">{{ item.name }}</span>
        </div>
    </div>
    <div class="right-dropdown" v-if="isShow">
        <div class="shelter-block"></div>
        <div class="check-select-button">
            <el-dropdown>
                <el-button type="primary">
                    <svg t="1593416055230" class="icon" viewBox="0 0 1170 1024" version="1.1"
                        xmlns="http://www.w3.org/2000/svg" p-id="7988" width="12" height="12">
                        <path
                            d="M54.86 0H1115.433a54.857 54.857 0 1 1 0 109.714H54.86A54.857 54.857 0 0 1 54.86 0z m0 438.857H1115.433a54.857 54.857 0 1 1 0 109.714H54.86a54.857 54.857 0 0 1 0-109.714z m0 438.857H1115.433a54.857 54.857 0 1 1 0 109.715H54.86a54.857 54.857 0 1 1 0-109.715z"
                            p-id="7989" fill="#000000"></path>
                    </svg>
                </el-button>
                <template #dropdown>
                    <el-dropdown-menu class="check-select-drop">
                        <el-dropdown-item class="text-overflow" v-for="(item, index) in switchItems" :key="index"
                            :class="{ selected: itemSelected === item.code }" :title="item.name"
                            @click="onSwitchItem(item, index, $event, 2)">{{ item.name }}</el-dropdown-item>
                    </el-dropdown-menu>
                </template>
            </el-dropdown>
        </div>
    </div>
</div>