.relation-analysis {
  height: 100%;
  overflow-y: auto;

  &-card {
    padding-bottom: 12px;
    border-bottom: 1px solid var(--iot-border-color);
  }

  :deep(.no-data) {
    height: auto !important;
    flex: 1 !important;
  }

  .container-data-table {
    tr td {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.charts_wrap {
  padding-bottom: 12px;
  border-bottom: 1px solid var(--iot-border-color);
}
