.group-ar-add-update-dialogranked {
    position: relative;

    .el-select {
        width: 100%;

        &__tags {
            top: 84% !important;
        }
    }
    :deep(.ar-dialog-input .el-input__suffix .el-icon) {
        display: none;
    }
    :deep(.el-textarea__inner){
        min-height: 140px !important;
    }
    :deep(.el-input__count){
        bottom: 1px;
    }
}