<div class="group-ar-add-update-dialogranked" v-drag="dialogFormVisible">
  <el-dialog
    :title="!isAddFlag ? '编辑异常原因' : '新建异常原因'"
    :close-on-click-modal="false"
    v-model="dialogFormVisible"
    width="560px"
    :before-close="onBeforeClose"
  >
    <el-form :model="pageForm" :rules="rules" ref="ruleForm" label-width="80px" label-position="right">
      <el-form-item label="异常原因" prop="name">
        <el-input
          class="ar-dialog-input"
          placeholder="请输入异常原因"
          v-inputFilter:search
          v-model.trim="pageForm.name"
          maxlength="128"
          show-word-limit
          type="textarea"
        ></el-input>
      </el-form-item>
      <el-form-item label="所属异常" prop="typeIdList">
        <el-select v-model="pageForm.typeIdList" multiple>
          <el-option v-for="item in abnormalList" :key="item.id" :label="item.name" :value="item.id"> </el-option>
        </el-select>
      </el-form-item>
    </el-form>
    <template #footer>
      <div class="dialog-footer" style="text-align: center">
        <button @click="onBeforeClose">取消</button>
        <button primary @click="onSubmit">确定</button>
      </div>
    </template>
  </el-dialog>
</div>
