<div v-drag="dialogFormVisible" class="bdm-update-dialog">
  <el-dialog
    title="更新本院对标数据"
    v-model="dialogFormVisible"
    :close-on-click-modal="false"
    width="480px"
    @close="onClose"
  >
    <el-form :model="form" ref="ruleForm" label-position="right">
      <el-form-item>
        <div class="dateDiv">
          <el-date-picker
            class="date"
            style="width: 150px; margin: 0 8px"
            v-model="form.startTime"
            :disabledDate="startMonth"
            type="month"
            placeholder="开始月份"
            :clearable="false"
          >
          </el-date-picker
          >至
          <el-date-picker
            class="date"
            style="width: 150px; margin-left: 8px"
            v-model="form.endTime"
            :disabledDate="endMonth"
            type="month"
            placeholder="结束月份"
            :clearable="false"
          >
          </el-date-picker>
        </div>
      </el-form-item>
    </el-form>
    <div class="bdm-instructions">*更新月度数据时会同步刷新年度数据</div>
    <template #footer>
      <span class="dialog-footer">
        <button @click="onClose">取消</button>
        <button primary @click="onSubmit">确定</button>
      </span>
    </template>
  </el-dialog>
</div>
