.bdm-update-dialog {
  .dateDiv {
    margin: 0 auto;
    display: flex;
    align-items: center;
  }

  .date {
    display: inline-block !important;
  }
  .bdm-instructions {
    margin-top: 20px;
    color: rgb(255, 0, 0);
  }

  :deep(.el-select) {
    width: 100%;
  }

  :deep(.el-date-editor--date) {
    width: 100%;
  }

  :deep(.el-date-editor--month) {
    width: 100%;
  }

  :deep(.el-form-item) {
    margin: 0 !important;
  }

  :deep(.el-form-item__content) {
    display: flex;
    align-items: center;
  }
}
