<div class="ea-dc-cost-anomaly flex-row-justify-end">
  <div class="ea-dc-cost-anomaly-data flex">
    <img
      class="anomaly-ico"
      src="../../../../../../assets/img/energy-anomaly/ea-abnormal.png"
      alt="图标"
    />
    <div class="font14 ea-dc-cost-anomaly-data__num">
      <div class="alignL">
        成 本
        <span class="bold font24">{{ thousandSeparation(currentValue) }}</span>
        <span>{{ unit }}（年）</span>
      </div>
      <div class="alignL mt12">
        目标值
        <span class="bold font24">{{ thousandSeparation(targetValue) }}</span>
        <span>{{ unit }}（年）</span>
      </div>
    </div>
  </div>
  <div class="ea-dc-cost-anomaly-over font12 flex-row-center-center">
    <span class="font12">超出</span>
    <span class="font16 bold">{{ differenceRatio }}%</span>
  </div>
</div>
