.th-at-card {
  width: 100%;
  overflow: hidden;

  .charts-container {
    width: 0.84rem;
    min-width: 0.84rem;
    height: 0.84rem;
  }

  .data {
    flex: 1 1 auto;
    overflow: hidden;
    margin-left: 0.12rem;

    .data-title {
      font-size: 0.16rem;
      line-height: 0.22rem;
      margin-bottom: 0.04rem;
    }

    .data-num {
      height: 0.42rem;
      line-height: 0.42rem;
      display: flex;
      flex-direction: row;
      align-items: flex-end;

      span {
        height: 0.42rem;
        line-height: 0.42rem;
        font-weight: 500;
      }

      .data-count,
      .data-icon {
        font-size: 0.3rem;
      }

      > .data-total {
        font-size: 0.2rem;
        height: 0.22rem;
        line-height: 0.22rem;
        bottom: 0.06rem;
      }

      .data-icon,
      .data-total {
        position: relative;
        left: 0.01rem;
      }
    }
  }
}
