<div class="mhm-actual-payment" v-loading="loading">
  <!-- <label>元</label> -->
  <!-- <div class="mhm-actual-payment-year" v-show="chartsData?.length > 0">
    <el-select v-model="yearSelect" placeholder="请选择年" @change="yearchChange($event)">
      <el-option v-for="item in yearList" :key="item.value" :label="item.name" :value="item.value"></el-option>
    </el-select>
  </div> -->

  <div id="chartContent" class="mhm-actual-payment-chart" :style="contentWidth" v-show="chartsData?.length > 0"></div>

  <div
    class="mhm-actual-payment-empty flex-column-center-center"
    v-if="(mhmAPayment.isEmpty && !loading) &&  chartsData?.length === 0 "
  >
    <img src="@/assets/images/management-analysis/ma-home-model/ma-home-model-no-data.svg" alt="" />
    <p>暂无数据</p>
  </div>
</div>
