<div id="energy-event">
  <button class="button-add" primary (click)="presentNewEventModal()">新增事件</button>

  <ems-energy-event-search></ems-energy-event-search>

  <hr class="mt16" />

  <nz-spin flexible="true" [nzSpinning]="isLoading">
    <div class="energy-event-container">
      <ems-energy-event-chart [class.none]="isEmpty" class="mt8"></ems-energy-event-chart>

      <ems-energy-event-cards [class.none]="isEmpty" class="mt16"></ems-energy-event-cards>

      <ems-energy-event-table [class.none]="isEmpty" class="mt16"></ems-energy-event-table>

      <div class="empty-module" [class.none]="!isEmpty || isLoading" flexible="true">
        <img src="assets/img/common/common-data-unset.svg" alt="暂无数据" />
        <span>暂未录入能源事件</span>
      </div>
    </div>
  </nz-spin>
</div>
