<div id="energy-event-form">
  <nz-spin [nzSpinning]="isLoading">
    <div class="form-container">
      <label>事件类型</label>
      <nz-select
        style="width: 200px"
        nzPlaceHolder="请选择事件类型"
        [attr.error]="isInvalid && !item.type"
        [nzOptionHeightPx]="36"
        [nzBackdrop]="true"
        [(ngModel)]="item.type"
        (ngModelChange)="onSelectType()"
      >
        <nz-option
          *ngFor="let option of typeOptions"
          [nzLabel]="option.label"
          [nzValue]="option.value"
        ></nz-option>
      </nz-select>

      <label>事件标题</label>
      <input
        style="width: 200px"
        placeholder="请输入事件标题"
        maxlength="15"
        [attr.error]="isInvalid && !item.title"
        [(ngModel)]="item.title"
        emsInputFilter_Special
        emsInputFilterCharacters=" "
        [(emsInputFilterModel)]="item.title"
      />

      <!-- 用能区域变化 -->
      <ng-container *ngIf="canShowAreaAddition">
        <label>开始时间</label>
        <nz-date-picker
          style="width: 200px"
          [attr.error]="isInvalid && !addition.from"
          [nzBackdrop]="true"
          [(ngModel)]="addition.from"
          [nzDisabledDate]="mapDateAfterToday()"
        ></nz-date-picker>

        <label>选择区域</label>
        <nz-tree-select
          style="width: 200px"
          [nzDropdownStyle]="{ maxHeight: '280px' }"
          nzPlaceHolder="请选择"
          [attr.error]="isInvalid && !addition.id"
          [nzShowSearch]="true"
          [nzBackdrop]="true"
          [nzNodes]="nodes"
          [nzExpandedKeys]="expands"
          [(ngModel)]="addition.id"
        ></nz-tree-select>
      </ng-container>

      <!-- 大功率用能设备变更 -->
      <ng-container *ngIf="canShowEquipmentAddition">
        <label>开始时间</label>
        <nz-date-picker
          style="width: 200px"
          [attr.error]="isInvalid && !addition.from"
          [nzBackdrop]="true"
          [(ngModel)]="addition.from"
          [nzDisabledDate]="mapDateAfterToday()"
        ></nz-date-picker>

        <label>变更性质</label>
        <nz-select
          style="width: 200px"
          [nzOptionHeightPx]="36"
          [nzBackdrop]="true"
          [(ngModel)]="addition.type"
        >
          <nz-option
            *ngFor="let option of changeTypeOptions"
            [nzLabel]="option.label"
            [nzValue]="option.value"
          ></nz-option>
        </nz-select>

        <label>录入方式</label>
        <nz-select
          style="width: 200px"
          [nzOptionHeightPx]="36"
          [nzBackdrop]="true"
          [(ngModel)]="addition.mode"
          (ngModelChange)="onSelectMode()"
        >
          <nz-option
            *ngFor="let option of equipmentEntryModeOptions"
            [nzLabel]="option.label"
            [nzValue]="option.value"
          ></nz-option>
        </nz-select>

        <label *ngIf="!canShowRelationList">选择设备</label>
        <nz-select
          #elementEquipmentsSelect
          *ngIf="!canShowRelationList"
          nzPlaceHolder="请输入设备名称进行筛选"
          nzMode="multiple"
          [nzAllowClear]="true"
          [nzBackdrop]="true"
          [(ngModel)]="addition.ids"
          (ngModelChange)="onAddEquipment(elementEquipmentsSelect)"
        >
          <nz-option
            *ngFor="let option of equipments"
            [nzLabel]="option.label"
            [nzValue]="option.value"
          ></nz-option>
        </nz-select>

        <div
          *ngIf="canShowRelationList"
          style="grid-column: span 2"
          class="form-relation-list"
        >
          <ng-container *ngFor="let relation of addition.relations; index as i">
            <ng-container
              *ngTemplateOutlet="
                templateRelation;
                context: { relation: relation, index: i }
              "
            ></ng-container>
          </ng-container>
        </div>
      </ng-container>

      <!-- 区域业务调整 -->
      <ng-container *ngIf="canShowBusinessAddition">
        <label>开始时间</label>
        <nz-date-picker
          style="width: 200px"
          [attr.error]="isInvalid && !addition.from"
          [nzBackdrop]="true"
          [(ngModel)]="addition.from"
          [nzDisabledDate]="mapBeginDisabled(addition.to)"
        ></nz-date-picker>

        <label>录入方式</label>
        <nz-select
          style="width: 200px"
          [nzOptionHeightPx]="36"
          [nzBackdrop]="true"
          [(ngModel)]="addition.mode"
          (ngModelChange)="onSelectMode()"
        >
          <nz-option
            *ngFor="let option of areaEntryModeOptions"
            [nzLabel]="option.label"
            [nzValue]="option.value"
          ></nz-option>
        </nz-select>

        <label *ngIf="!canShowRelationList">选择区域</label>
        <nz-tree-select
          *ngIf="!canShowRelationList"
          style="width: 200px"
          [nzDropdownStyle]="{ maxHeight: '280px' }"
          nzPlaceHolder="请选择"
          [attr.error]="isInvalid && !addition.id"
          [nzShowSearch]="true"
          [nzBackdrop]="true"
          [nzNodes]="nodes"
          [nzExpandedKeys]="expands"
          [(ngModel)]="addition.id"
        ></nz-tree-select>

        <div
          *ngIf="canShowRelationList"
          style="grid-column: span 2"
          class="form-relation-list"
        >
          <ng-container *ngFor="let relation of addition.relations; index as i">
            <ng-container
              *ngTemplateOutlet="
                templateRelation;
                context: { relation: relation, index: i }
              "
            ></ng-container>
          </ng-container>
        </div>

        <label>结束时间</label>
        <nz-date-picker
          style="width: 200px"
          [nzBackdrop]="true"
          [(ngModel)]="addition.to"
          [nzDisabledDate]="mapEndDisabled(addition.from)"
        ></nz-date-picker>
      </ng-container>

      <!-- 空调供应时段调整 -->
      <ng-container *ngIf="canShowConditionerAddition">
        <label>调整方式</label>
        <nz-select
          style="width: 200px"
          [nzOptionHeightPx]="36"
          [nzBackdrop]="true"
          [(ngModel)]="addition.type"
          (ngModelChange)="onSelectAdjustType()"
        >
          <nz-option
            *ngFor="let option of adjustTypeOptions"
            [nzLabel]="option.label"
            [nzValue]="option.value"
          ></nz-option>
        </nz-select>

        <label>原定时间</label>
        <nz-date-picker
          style="width: 200px"
          [attr.error]="isInvalid && !addition.from"
          [nzBackdrop]="true"
          [(ngModel)]="addition.from"
          [nzDisabledDate]="mapOriginalDateDisabled(addition.to)"
        ></nz-date-picker>

        <label>调整时间</label>
        <nz-date-picker
          style="width: 200px"
          [attr.error]="isInvalid && !addition.to"
          [nzBackdrop]="true"
          [(ngModel)]="addition.to"
          [nzDisabledDate]="mapAdjustDateDisabled(addition.from)"
        ></nz-date-picker>

        <label>录入方式</label>
        <nz-select
          style="width: 200px"
          [nzOptionHeightPx]="36"
          [nzBackdrop]="true"
          [(ngModel)]="addition.mode"
          (ngModelChange)="onSelectMode()"
        >
          <nz-option
            *ngFor="let option of nodeEntryModeOptions"
            [nzLabel]="option.label"
            [nzValue]="option.value"
          ></nz-option>
        </nz-select>

        <label *ngIf="!canShowRelationList">选择节点</label>
        <nz-tree-select
          #elementAreaTreeSelect
          *ngIf="!canShowRelationList"
          [nzDropdownStyle]="{ maxHeight: '280px' }"
          nzPlaceHolder="请选择"
          [attr.error]="isInvalid && !addition.ids?.length"
          [nzMultiple]="true"
          [nzShowSearch]="true"
          [nzBackdrop]="true"
          [nzNodes]="nodes"
          [nzExpandedKeys]="expands"
          [(ngModel)]="addition.ids"
          (ngModelChange)="onAddArea(elementAreaTreeSelect)"
        ></nz-tree-select>

        <div
          *ngIf="canShowRelationList"
          style="grid-column: span 2"
          class="form-relation-list"
        >
          <ng-container *ngFor="let relation of addition.relations; index as i">
            <ng-container
              *ngTemplateOutlet="
                templateRelation;
                context: { relation: relation, index: i }
              "
            ></ng-container>
          </ng-container>
        </div>
      </ng-container>

      <!-- 其他调整 -->
      <ng-container *ngIf="canShowOtherAddition">
        <label>开始时间</label>
        <nz-date-picker
          style="width: 200px"
          [attr.error]="isInvalid && !addition.from"
          [nzBackdrop]="true"
          [(ngModel)]="addition.from"
          [nzDisabledDate]="mapBeginDisabled(addition.to)"
        ></nz-date-picker>

        <div style="grid-column: span 2" class="form-relation-list">
          <ng-container *ngFor="let relation of addition.relations; index as i">
            <ng-container
              *ngTemplateOutlet="
                templateRelation;
                context: { relation: relation, index: i }
              "
            ></ng-container>
          </ng-container>
        </div>

        <label>结束时间</label>
        <nz-date-picker
          style="width: 200px"
          [nzBackdrop]="true"
          [(ngModel)]="addition.to"
          [nzDisabledDate]="mapEndDisabled(addition.from)"
        ></nz-date-picker>
      </ng-container>

      <label>上传附件</label>
      <div class="form-upload-container">
        <button primary (click)="toUpload()">上传</button>
        <i
          info
          nz-icon
          nzType="question-circle"
          nzTheme="outline"
          nz-tooltip
          nzTooltipPlacement="right"
          [nzTooltipTitle]="uploadTooltip"
          [nzTooltipArrowPointAtCenter]="true"
        ></i>
      </div>

      <div
        *ngIf="item.photos?.length || item.files?.length"
        style="grid-column: span 2"
        class="form-upload-card"
      >
        <div *ngIf="item.photos?.length" class="form-upload-photo-list">
          <div
            *ngFor="let photo of item.photos; index as i"
            class="form-upload-photo-item"
          >
            <img [src]="photo.src" alt="" />
            <i
              button
              danger
              superscript
              nz-icon
              nzType="close-circle"
              nzTheme="fill"
              (click)="toDeletePhoto(i)"
            ></i>
          </div>
        </div>
        <div *ngIf="item.files?.length" class="form-upload-file-list">
          <div
            *ngFor="let file of item.files; index as i"
            class="form-upload-file-item"
          >
            <img [src]="mapFileTypeIcon(file.name)" alt="" />
            <label>{{ file.name }}</label>
            <i
              button
              danger
              nz-icon
              nzType="close-circle"
              nzTheme="fill"
              (click)="toDeleteFile(i)"
            ></i>
          </div>
        </div>
      </div>

      <label class="form-textarea-label">事件详情</label>
      <div class="form-textarea-container">
        <textarea
          style="height: 60px"
          placeholder="请输入事件详情"
          maxlength="200"
          [(ngModel)]="item.description"
          emsInputFilter_Special
          [(emsInputFilterModel)]="item.description"
          (input)="autoScroll($event)"
        ></textarea>
        <span
          class="textarea-counter"
          [attr.data-count]="descriptionCount"
        ></span>
      </div>
    </div>
  </nz-spin>
</div>

<ng-template #templateRelation let-relation="relation" let-index="index">
  <div class="form-relation-item">
    <label>能源类型</label>
    <nz-select
      style="width: 200px"
      [attr.error]="isInvalid && !relation.code"
      nzPlaceHolder="请选择"
      [nzOptionHeightPx]="36"
      [nzBackdrop]="true"
      [(ngModel)]="relation.code"
      (ngModelChange)="onSelectClassification(relation)"
    >
      <nz-option
        *ngFor="let item of classifications"
        [nzLabel]="item.name"
        [nzValue]="item.code"
        [nzDisabled]="mapClassificationDisabled(item.code, relation.code)"
      ></nz-option>
    </nz-select>
  </div>

  <div class="form-relation-item">
    <label>能源用量</label>
    <input
      style="width: 86px"
      [attr.error]="isInvalid && !relation.value"
      placeholder="数值"
      [(ngModel)]="relation.value"
      emsInputFilter_ExcludeNumber
      [(emsInputFilterModel)]="relation.value"
    />
    <label class="form-relation-item-unit" flexible="true">{{
      relation.unit
    }}</label>
    <i
      *ngIf="0 === index"
      button
      nz-icon
      nzType="plus-circle"
      nzTheme="fill"
      [attr.disabled]="!canAddRelation"
      (click)="toAddRelation()"
    ></i>
    <i
      *ngIf="index"
      button
      danger
      nz-icon
      nzType="close-circle"
      nzTheme="fill"
      (click)="toDeleteRelation(index)"
    ></i>
  </div>
</ng-template>
