// button
.el-button {
  min-height: 36px !important;
  padding: 0 15px !important;
  font-size: 14px !important;

  // 重置默认按钮样式
  &--default {
    border-color: var(--color-primary) !important;
    color: var(--color-primary) !important;

    &:hover {
      border-color: var(--color-primary);
      background-color: var(--color-default);
    }
  }

  &--primary,
  &.is-loading {
    color: var(--color-default) !important;
    background-color: var(--color-primary) !important;
    border-color: var(--color-primary) !important;

    &:not(.is-disabled):hover {
      background-color: var(--color-primary-hover) !important;
      border-color: var(--color-primary-hover) !important;
    }

    &:not(.is-disabled):active {
      background-color: var(--color-primary-active) !important;
      border-color: var(--color-primary-active) !important;
    }
  }

  &.is-disabled {
    cursor: not-allowed !important;
    background-color: var(--color-text-background);
    border-color: var(--color-text-border) !important;
  }

  &--default:hover {
    color: var(--color-primary-hover) !important;
  }

  &--primary:not(.is-disabled):hover {
    background-color: var(--color-primary-hover) !important;
    color: #fff !important;
  }
}

.el-button + .el-button,
button + button {
  margin-left: 12px;
}
