.el-select {
  &:hover .el-input:not(.is-disabled) > .el-input__inner {
    transition: all 300ms;
    border-color: var(--color-primary-hover);
  }

  .select-trigger {
    .el-input {
      .el-input__inner {
        min-height: 36px;
        height: 36px;
        padding: 0 24px 0 12px;
      }
    }
  }
}
