<div id="energy-event-chart">
  <nz-spin [nzSpinning]="isLoading">
    <div class="chart-container">
      <div class="chart-unit-container">
        <span>单位（{{ unit ?? '--' }}）</span>
      </div>

      <div style="height: 360px" echarts [options]="chartOptions" (chartInit)="onChartInit($event)"></div>

      <div class="chart-legend-container">
        <div *ngFor="let option of typeOptions">
          <span class="chart-legend-icon mr8" [style.background-color]="option.color"></span>
          <span class="chart-legend-text">{{ option.label }}</span>
        </div>
        <div>
          <span class="chart-legend-icon mr8"></span>
          <span class="chart-legend-text">多事件</span>
        </div>
      </div>
    </div>
  </nz-spin>
</div>
