@import url(../../../../assets/style/color.less);

#energy-event-chart {
  width: 100%;
  overflow: hidden;

  .chart-container {
    position: relative;

    & > .chart-unit-container {
      position: absolute;
      top: 0px;
      left: 0px;

      color: @color-text-primary;

      pointer-events: none;
    }

    & > .chart-legend-container {
      padding: 16px;

      display: flex;
      justify-content: center;
      align-items: center;
      gap: 16px;

      .chart-legend {
        &-icon {
          width: 10px;
          height: 10px;

          display: inline-block;

          background-color: @color-primary;
          border-radius: 50%;
        }
        &-text {
          color: @color-text-secondary;
        }
      }
    }

    ::ng-deep.chart-tooltip-container {
      width: 274px;
      max-height: 260px;
      overflow-y: auto;

      h6,
      p {
        color: inherit;
      }

      .chart-tooltip-icon {
        width: 10px;
        height: 10px;

        display: inline-block;

        background-color: @color-primary;
        border-radius: 50%;
      }

      .chart-tooltip {
        &-header {
          position: relative;
        }
        &-event {
          position: relative;

          & > .event-type-container {
            height: 26px;
            padding: 0px 12px;

            position: absolute;
            top: -2px;
            right: -4px;

            display: flex;
            justify-content: center;
            align-items: center;

            border-radius: 12px;
          }

          & > h6 {
            max-width: 100px;
            overflow: hidden;

            text-overflow: ellipsis;
          }
        }
      }
    }
  }
}
