<ion-header class="noneSelect" [class.show]="isHeaderVisible">
  <div class="em-header-title">
    <div class="title-icon-back" (click)="goBack()">
      <img src="assets/img/energy-manager/arrow-back.svg" />
    </div>
    <p id="title">能源助手</p>
    <div
      class="title-icon-calendar"
      *ngIf="calendarType === 'today'"
      (click)="setCalendarType('calendar')"
    ></div>
    <div
      class="title-icon-calendar"
      *ngIf="calendarType === 'calendar'"
      (click)="setCalendarType('today')"
    >
      <p>{{ day }}</p>
    </div>
  </div>
  <app-ems-calendar
    [start-of-week]="1"
    [type]="calendarType"
    [collapse]="calendarCollapse"
    (on-choose-today)="todaySelected($event)"
    (on-choose-date)="dateSelected($event)"
    (on-toggle)="preventScroll($event)"
  ></app-ems-calendar>
</ion-header>

<ion-content
  class="noneSelect"
  [class.noneFooter]="calendarType === 'calendar'"
  [class.coverHeader]="isHeaderVisible"
  [class.coverHeaderborder]="isHeaderVisible"
  [scrollY]="canScroll"
  [scrollEvents]="true"
  (ionScroll)="onContentScroll.emit($event)"
  (appScrollVertical)="onContentTouch.emit($event)"
>
  <app-em-task-list
    id="em-task-list"
    [type]="calendarType"
    [timeType]="timeType"
    [otherWorks]="otherWorks"
    [planWorks]="planWorks"
    (getImgUrl)="bigImage($event)"
  ></app-em-task-list>
  <div
    class="em-content-none-task"
    *ngIf="!planWorks.count && !otherWorks.count"
  >
    <img src="assets/img/energy-manager/none-task-layout.svg" />
    <p class="none-task-description">暂无任务</p>
  </div>
</ion-content>

<ion-footer
  class="noneSelect"
  *ngIf="isHeaderVisible && calendarType === 'today'"
>
  <div class="em-footer-add-record" >
    <div class="em-footer-item" [routerLink]="['./recordManager']">
      <div class="add-record-icon">
        <img src="assets/img/energy-manager/add-icon.svg" />
      </div>
      <p class="add-record-description">措施记录</p>
    </div> 
    <div class="em-footer-item" (click)="linkEvents()">
      <div class="line-tip"></div>
      <div class="add-record-icon">
        <img src="assets/img/energy-manager/event-link.svg" />
      </div>
      <p class="add-record-description">能源事件</p>
    </div>
  </div>
 
</ion-footer>
<app-em-encourage></app-em-encourage>
<ion-avatar *ngIf="bigImageUrl">
  <app-ems-preview-image
    [imagrScr]="bigImageUrl"
    (getImgShowHiden)="isShowHiden($event)"
  ></app-ems-preview-image>
</ion-avatar>
