<div class="wd-container">
  <h5 class="wd-title">工单分析</h5>
    <main class="wd-content">
      <div class="wd-table-item item-hover">
        <div class="wd-table-title">
          报修工单概览
          <span>本月</span>
        </div>
        <div class="wd-table-item-i-warp">
          <div class="wd-table-item-i">
            <div class="item-count">
              <span class="count">{{ RADataList.totalNum ? RADataList.totalNum : 0 }}</span>
              <span class="unit">单</span>
            </div>
            <div>
              <img src="../../assets/images/worksheet-detail/wd-total.svg" class="svg" />
              <span class="unit">工单总数</span>
            </div>
          </div>
          <div class="wd-table-item-i">
            <div class="item-count">
              <span class="count"
                >{{ RADataList.averageFinishedRate ? Math.floor(RADataList.averageFinishedRate * 100) : 0 }}</span
              >
              <span class="unit">%</span>
            </div>
            <div>
              <img src="../../assets/images/worksheet-detail/wd-percent-blue.svg" class="svg" />
              <span class="unit">平均完成率</span>
            </div>
          </div>
          <div class="wd-table-item-i">
            <div class="item-count">
              <span class="count">{{ RADataList.averageFinishedTime ? RADataList.averageFinishedTime : 0}}</span>
              <span class="unit">min</span>
            </div>
            <div>
              <img src="../../assets/images/worksheet-detail/wd-time-green.svg" class="svg" />
              <span class="unit">平均完成时间</span>
            </div>
          </div>
          <div class="wd-table-item-i">
            <div class="item-count">
              <span class="count">{{ RADataList.averageTakeOrderTime ? RADataList.averageTakeOrderTime : 0 }}</span>
              <span class="unit">min</span>
            </div>
            <div>
              <img src="../../assets/images/worksheet-detail/wd-time-yellow.svg" class="svg" />
              <span class="unit">平均接单时间</span>
            </div>
          </div>
        </div>
      </div>
      <div class="wd-table-item item-hover">
        <div class="wd-table-title">
          巡检工单概览
          <span>本月</span>
        </div>
        <div class="wd-table-item-i-warp">
          <div class="wd-table-item-i">
            <div class="item-count">
              <span class="count">{{ PADataList.totalNum ? PADataList.totalNum : 0 }}</span>
              <span class="unit">单</span>
            </div>
            <div>
              <img src="../../assets/images/worksheet-detail/wd-total.svg" class="svg" />
              <span class="unit">工单总数</span>
            </div>
          </div>
          <div class="wd-table-item-i">
            <div class="item-count">
              <span class="count"
                >{{ PADataList.averageFinishedRate ? Math.floor(PADataList.averageFinishedRate * 100) : 0}}</span
              >
              <span class="unit">%</span>
            </div>
            <div>
              <img src="../../assets/images/worksheet-detail/wd-percent-blue.svg" class="svg" />
              <span class="unit">平均完成率</span>
            </div>
          </div>
          <div class="wd-table-item-i">
            <div class="item-count">
              <span class="count">{{ PADataList.timelyRate ? Math.floor(PADataList.timelyRate * 100) : 0 }}</span>
              <span class="unit">%</span>
            </div>
            <div>
              <img src="../../assets/images/worksheet-detail/wd-percent-green.svg" class="svg" />
              <span class="unit">巡检及时率</span>
            </div>
          </div>
          <div class="wd-table-item-i">
            <div class="item-count">
              <span class="count">{{ PADataList.averageFinishedTime ? PADataList.averageFinishedTime : 0 }}</span>
              <span class="unit">min</span>
            </div>
            <div>
              <img src="../../assets/images/worksheet-detail/wd-time-yellow.svg" class="svg" />
              <span class="unit">平均工时</span>
            </div>
          </div>
        </div>
      </div>
      <div class="wd-table-item item-hover">
        <div class="wd-table-title">
          保养工单概览
          <span>本月</span>
        </div>
        <div class="wd-table-item-i-warp">
          <div class="wd-table-item-i">
            <div class="item-count">
              <span class="count">{{ MADataList.totalNum ? MADataList.totalNum : 0 }}</span>
              <span class="unit">单</span>
            </div>
            <div>
              <img src="../../assets/images/worksheet-detail/wd-total.svg" class="svg" />
              <span class="unit">工单总数</span>
            </div>
          </div>
          <div class="wd-table-item-i">
            <div class="item-count">
              <span class="count"
                >{{ MADataList.averageFinishedRate ? Math.floor(MADataList.averageFinishedRate * 100) : 0}}</span
              >
              <span class="unit">%</span>
            </div>
            <div>
              <img src="../../assets/images/worksheet-detail/wd-percent-blue.svg" class="svg" />
              <span class="unit">平均完成率</span>
            </div>
          </div>
          <div class="wd-table-item-i">
            <div class="item-count">
              <span class="count">{{ MADataList.timelyRate ? Math.floor(MADataList.timelyRate * 100) : 0 }}</span>
              <span class="unit">%</span>
            </div>
            <div>
              <img src="../../assets/images/worksheet-detail/wd-percent-green.svg" class="svg" />
              <span class="unit">保养及时率</span>
            </div>
          </div>
          <div class="wd-table-item-i">
            <div class="item-count">
              <span class="count">{{ MADataList.averageFinishedTime ? MADataList.averageFinishedTime : 0 }}</span>
              <span class="unit">min</span>
            </div>
            <div>
              <img src="../../assets/images/worksheet-detail/wd-time-yellow.svg" class="svg" />
              <span class="unit">平均工时</span>
            </div>
          </div>
        </div>
      </div>

      <div class="wd-table-item item-hover height300">
        <div class="wd-table-title">
          报修分析
          <span>本月</span>
        </div>
        <div class="wd-table-content">
          <div id="ra" class="ra" v-if="RAChartShow"></div>
          <img v-if="!RAChartShow" src="../../assets/images/worksheet-detail/quesheng.png" alt="" />
        </div>
      </div>
      <div class="wd-table-item item-hover height300">
        <div class="wd-table-title">
          巡检分析
          <span>本月</span>
        </div>
        <div class="wd-table-content">
          <div id="pa" class="pa" v-if="PAChartShow"></div>
          <img v-if="!PAChartShow" src="../../assets/images/worksheet-detail/quesheng.png" alt="" />
        </div>
      </div>
      <div class="wd-table-item item-hover height300">
        <div class="wd-table-title">
          保养分析
          <span>本月</span>
        </div>
        <div class="wd-table-content">
          <div id="ma" class="ma" v-if="MAChartShow"></div>
          <img v-if="!MAChartShow" src="../../assets/images/worksheet-detail/quesheng.png" alt="" />
        </div>
      </div>
    </main>
</div>
