.home-kpi-detail {
  width: 100%;
  height: 100%;
  .kpi-card-item {
    width: 100%;
    text-align: left;
    padding-bottom: 24px;

    .kpi-card-item-title {
      font-size: 14px;
      color: var(--portal-kpi-title-font);
      padding-bottom: 8px;
    }

    .kpi-card-item-value {
      font-size: 24px;
      color: var(--subhead-title-color);
      font-weight: bold;
      padding-right: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .kpi-tips {
    width: 100%;
    font-size: 14px;

    .kpi-tips-title {
      color: var(--comp-kpi-title-font);
      padding-bottom: 4px;
    }

    .kpi-tips-content {
      height: 84px;

      color: var(--portal-kpi-title-font);
      padding-right: 13%;
      overflow-y: auto;
      scrollbar-color: transparent transparent;
      scrollbar-track-color: transparent;
      -ms-scrollbar-track-color: transparent;

      .sub-tip {
        color: #e74c3c;
      }
    }

    .kpi-tips-content::-webkit-scrollbar-thumb {
      background: transparent;
    }

    .kpi-tips-content::-webkit-scrollbar-track {
      background: transparent;
    }
  }
}
