<div class="home-kpi-detail">
  <el-row :gutter="24" style="margin: 0px; height: 180px">
    <el-col
      :span="12"
      v-for="(card, index) in cards"
      :key="index"
      style="padding: 0px"
    >
      <div
        class="kpi-card-item"
        v-show="kpiType == 1 || (kpiType == 2 && index != 1)"
      >
        <div class="kpi-card-item-title">{{ card.name }}</div>
        <div
          class="kpi-card-item-value"
          :title="thousandSeparation(card.value)"
        >
          {{ thousandSeparation(card.value) }}
        </div>
      </div>
    </el-col>
  </el-row>
  <div class="kpi-tips">
    <div class="kpi-tips-title" v-if="tips.content">分析建议</div>
    <div class="kpi-tips-content">
      <span
        v-html="tips.content"
        style="word-break:break-all;white-space:normal"
      ></span>
      <span v-if="tips?.subTip">
        <span class="sub-tip">{{ tips.subTip }}</span>!
      </span>
    </div>
  </div>
</div>
