.home {
  width: 100%;
  height: 100%;
  overflow-y: auto;

  .ems-portal-comp-container {
    height: 100%;
    min-width: 1310px;
    padding: 20px 0 16px 10px;

    .ems-portal-row-container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 10px;
      height: 420px;

      .single-comp-container {
        height: 100%;
        margin-right: 12px;
        overflow: hidden;
        border-radius: 8px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      }

      .blank-comp {
        margin-right: 12px;
        overflow: hidden;
      }
    }
  }
}
