<div class="home">
  <div class="ems-portal-comp-container">
    <div v-if="!showNotData" style="height: 100%;">
      <div class="ems-portal-row-container" v-for="(item, index) in containerOptions" :key="index">
        <div
          :class="{
            'single-comp-container': child.id,
            'blank-comp': !child.id
          }"
          v-for="child in item"
          :key="child.id"
          :style="child.styleOption"
        >
          <!-- 组件名--取title 或者 name -->
          <component
            :is="componentMap[child.componentCode]"
            :title="child.title ?? child.name"
            :configContent="child?.configContent"
            :uid="child.id"
          ></component>
        </div>
      </div>
    </div>
    <no-data v-show="showNotData"></no-data>
  </div>
</div>
