<div class="lf-progresses__cost-bar">
  <div class="cost-bar__text-info">
    <span class="text-info__max" id="forecastTextInfo">
      {{ widthNum <= 100 ? '预测总耗值' : '实际总能耗值' }}
    </span>
  </div>
  <div class="cost-bar__main">
    <div class="cost-bar__main__progress-wrapper">
      <div class="progress__inner" :style="wid.sty"></div>
      <div class="progress__tooltip-normal ng-star-inserted" :style="wid.sty1">
        <div class="tooltip__text">
          {{ widthNum > 100 ? '预测总耗值' : '实际总能耗值' }}
        </div>
        <div class="tooltip__circle">
          <img
            style="width: 40px; height: 32px"
            :src="widthNum < 100 ? img : img1"
          />
          <div class="white-pan"></div>
        </div>
        <div
          class="tooltip__vertical-line"
          :style="{ background: widthNum >= 100 ? '#fa8c16' : '#1a91ff' }"
        ></div>
        <div
          :class="
              widthNum < 100
                ? 'tooltip__amount-burble'
                : 'tooltip_amount-burble1'
            "
        >
          {{ widthNum < 100 ? formatData(practical) : formatData(product)
          }}<span v-html="unit"></span>
        </div>
      </div>
    </div>
    <div class="cost-bar__main__cost-amount">
      {{ widthNum < 100 ? formatData(product) : formatData(practical) }}<span
        v-html="unit"
      ></span>
    </div>
  </div>
</div>
