<div class="page-common flex flex-column">
    <h2 class="page-common__title">
        {{ title }}
        <slot name="pageSubTitle"></slot>
    </h2>
    <div class="page-common__container flex flex-column">
        <!-- 搜索模块 start -->
        <div class="page-common__search" v-if="showSearch" :style="{ marginBottom: !isSubHead ? '13px' : 0 }">
            <slot name="pageSearch"></slot>
            <div class="page-export-btn" v-if="showExport" @click="reportExport">
                <div class="report-export-img">
                    <img src="../../assets/img/common/common-export.svg" />
                </div>
                <div class="report-export-name">报告导出</div>
            </div>
        </div>
        <!-- 进度条插槽 start -->
        <slot name="progress"></slot>
        <!-- 进度条插槽 end -->
        <!-- 副标题模块 start -->
        <div class="page-common__header" v-if="isSubHead">
            <div class="page-common__header-title">
                {{ subTitle }}
                <span style="font-size: 12px; color: #ff0000">{{ showDetail }}</span>
                <span v-if="tagging" class="page-common__header-title-tagging">{{
            tagging
          }}</span>
            </div>
            <div class="page-common__header-operate">
                <slot name="pageSubHead"></slot>
            </div>
        </div>
        <!-- 副标题模块 end -->
        <div class="page-common__detail">
            <slot name="pageContent"></slot>
            <slot name="chartsWrap"></slot>
            <slot name="tableList"></slot>
        </div>
    </div>
</div>