.chart-province {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;

  .cm-container-province {
    width: 1120px;
    height: 880px;

    * {
      width: 100%;
      height: 100%;
    }
  }
}
