<div class="ems-speech-recognition">
  <div class="speech-content">
    <div class="ems-input-detail">
      <ion-textarea
        #textareaFocus
        id="textareaFocus"
        [placeholder]="placeholder"
        [value]="textareaShowText"
        (ionChange)="textareaChange($event)"
        [rows]="5"
        (ionBlur)="textareaBlur($event)"
        (ionFocus)="textareaionFocus($event)"
      >
      </ion-textarea>
    </div>
    <!--(touchstart)="pressEvent.emit(true)"
      (touchend)="pressUpEvent.emit(true)"-->
    <div class="ems-speech-detail" id="speechDetail">
      <div class="ems-speech-detail-div" #emsSpeech id="emsSpeech">
        <div class="ems-speech-detail-img"></div>
        <div class="ems-speech-detail-text mt6">按住说话</div>
      </div>
    </div>
  </div>
</div>
<div class="loading-mask" *ngIf="loadingShow">
  <div class="loading" [ngStyle]="{ top: loadingTopValue }">
    <ion-content class="loading-content" [style.--background]="'transparent'">
      <div class="loading-img img"></div>
      <div class="loading_gif_text">录音中…</div>
    </ion-content>
  </div>
</div>
