.ems-speech-recognition {
  padding: 15px;
  padding-right: 11px;
  border-radius: 5px;
  background-color: rgba(243, 243, 243, 1);
  .speech-content {
    display: flex;
    .ems-input-detail {
      $black: #222;
      flex-grow: 1;
      ion-textarea  {
        // height: 110px;
        flex-shrink: 0;
        font-size: 16px;
        line-height: 1.375;
        color: rgba($black, .8);
      }
      ::ng-deep .sc-ion-textarea-md-h {
        margin: 0;
        font-size: 16px;
        --background: rgba(243, 243, 243, 1);
        --color:  rgba(34, 34, 34, 80);;
        --placeholder-color:  rgba(34, 34, 34, 0.2);
        --placeholder-opacity: 1;
        --padding-top: 0;
        --padding-end: 0;
        --padding-bottom: 0;
        --padding-start: 0;
      }
    }
    .ems-speech-detail {
      padding-left: 26px;
      display: flex;
      justify-content: center;
      align-items: center;
      .ems-speech-detail-img {
        background: url('../../../../assets/img/energy-manager/hold-to-talk.svg') no-repeat;
        background-size: 100%;
        width: 32px;
        height: 32px;
        margin: 0px 8px;
      }
      .ems-speech-detail-text {
        height: 14px;
        color: rgba(18, 131, 255, 1);
        font-size: 10px;
        text-align: center;
        user-select: none;
      }
      .mt6 {
        margin-top: 6px;
      }
    }

  }

}
.loading-mask {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 999999;
  user-select: none;
  .loading {
    width: 144px;
    height: 102px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    // top: 40%;
    left: calc(50% - 72px);
    padding-top: 20px;
    padding-bottom: 15px;
    .loading-content {
      background-color: transparent;
      text-align: center;
      justify-content: center;
      align-items: center;
      @keyframes rotation {
        from { -webkit-transform: rotate(0deg);}
        to { -webkit-transform: rotate(360deg); }
      }
      @-webkit-keyframes rotation{
        from { -webkit-transform: rotate(0deg);}
        to { -webkit-transform: rotate(360deg); }
      }
      .loading-img {
        transform: rotate (360deg);
        -webkit-transform: rotate (360deg);
        animation: rotation 1s linear infinite;
        -moz-animation: rotation 1s linear infinite;
        -webkit-animation: rotation 1s linear infinite ;
        -o-animation: rotation 1s linear infinite;
      }
      .img {
        width: 30px;
        height: 30px;
        justify-content: center;
        text-align: center;
        margin-left: calc(50% - 15px);
        background: url(../../../../assets/img/energy-manager/recording.svg) no-repeat;
        background-size: 100%;
      }
      .loading_gif_text{
        height: 22px;
        color: rgba(255, 255, 255, 1);
        font-size: 16px;
        margin-top: 15px;
      }
    }
  }
}


::ng-deep .custom-class.custom-loading {
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  text-align: center;
  --background: rgba(34, 34, 34, 1) ;
  border-radius: 5px;
  --backdrop-opacity: var(--ion-backdrop-opacity, 0.8);

  ::ng-deep  .loading-wrapper.sc-ion-loading-md {
    border-radius: 5px;
    padding-left: 36px;
    padding-right: 36px;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-box-shadow: none;
    box-shadow:  none;
    background: rgba(34, 34, 34, 0.8) ;
    ::ng-deep   .loading-content.sc-ion-loading-md {
      color: rgba(255, 255, 255, 1);
      font-size: 16px;
    }
  }
}
