<div id="ma-ad-toolbar">
  <ma-ad-toolbar-exception :list="sFile.exceptions" @close="clearExceptions()"></ma-ad-toolbar-exception>

  <!-- <button @click="openForm()">增加调差项</button> -->

  <button v-if="!sFile.isDownloading" @click="downloadTemplate()">下载模板</button>
  <button v-if="sFile.isDownloading" disabled>正在下载</button>

  <button v-if="!sFile.isImporting" @click="importTemplate()">模板导入</button>
  <button v-if="sFile.isImporting" disabled>正在导入</button>

  <button v-if="!sFile.isExporting" primary @click="exportData()">导出数据</button>
  <button v-if="sFile.isExporting" disabled>正在导出</button>
</div>
