.kb-ml-add-edit-details-dialog {
  :deep(.el-select) {
    width: 100%;
  }
  :deep(.el-dialog__header .el-dialog__headerbtn:hover) {
    cursor: pointer !important;
  }

  :deep(.el-dialog__footer) {
    text-align: right !important;
  }

  :deep(.description .el-textarea__inner) {
    height: 150px;
  }

  :deep(.description .el-input__count) {
    background-color: transparent;
    opacity: 0.4;
  }
}
