<div v-drag class="kb-ml-add-edit-details-dialog">
  <el-dialog
    :title="isType === 1 ? '新建措施' : isType === 2 ? '编辑措施' : '措施详情'"
    v-model="dialogFormVisible"
    @close="onClose"
    :close-on-click-modal="false"
    width="520px"
  >
    <el-form :model="form" :rules="rules" ref="ruleForm" label-position="right">
      <el-form-item label="措施名称" :label-width="formLabelWidth" prop="measureName" class="measureName">
        <el-input
          v-inputFilter:search
          :disabled="isType === 3"
          placeholder="请输入措施名称（必填）"
          v-model.trim="form.measureName"
          maxlength="20"
          autocomplete="off"
          style="width: 100%"
        ></el-input>
      </el-form-item>
      <el-form-item v-if="isType !== 1" label="措施编码" :label-width="formLabelWidth" prop="measureCode">
        <el-input
          v-inputFilter:search
          :disabled="isType === 2 || isType === 3"
          v-model.trim="form.measureCode"
          autocomplete="off"
        ></el-input>
      </el-form-item>
      <el-form-item label="所属系统" :label-width="formLabelWidth" prop="systemId">
        <el-select v-model="form.systemId" :disabled="isType === 3">
          <el-option
            v-for="item in systemList"
            :key="item.code"
            :label="item.name"
            :value="item.code"
            :title="item.name"
            style="white-space: nowrap !important; overflow: hidden; text-overflow: ellipsis"
          ></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="建议执行周期" :label-width="formLabelWidth" prop="executionCycle">
        <el-select v-model="form.executionCycle" :disabled="isType === 3">
          <el-option
            v-for="item in executionCycleList"
            :key="item.code"
            :label="item.name"
            :value="item.code"
            :title="item.name"
            style="white-space: nowrap !important; overflow: hidden; text-overflow: ellipsis"
          ></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="措施状态" :label-width="formLabelWidth" prop="measureStatus">
        <el-select v-model="form.measureStatus" :disabled="isType === 3">
          <el-option
            v-for="item in measureStatusList"
            :key="item.code"
            :label="item.name"
            :value="item.code"
            :title="item.name"
            style="white-space: nowrap !important; overflow: hidden; text-overflow: ellipsis"
          ></el-option>
        </el-select>
      </el-form-item>
      <!-- <el-form-item label="关联功能" :label-width="formLabelWidth" prop="heatingMode">
        <el-select v-model="form.heatingMode">
          <el-option
            v-for="item in HeatingMode"
            :key="item.code"
            :label="item.name"
            :value="item.code"
            :title="item.name"
            style="white-space: nowrap !important; overflow: hidden; text-overflow: ellipsis"
          ></el-option>
        </el-select>
      </el-form-item> -->
      <el-form-item label="措施描述" :label-width="formLabelWidth" prop="description">
        <el-input
          v-inputFilter:search
          class="description"
          type="textarea"
          :disabled="isType === 3"
          :placeholder="isType === 3 ? '' : '请输入措施描述（选填）'"
          v-model.trim="form.description"
          show-word-limit
          maxlength="2000"
        ></el-input>
      </el-form-item>
    </el-form>
    <template #footer v-if="isType !== 3">
      <span class="dialog-footer">
        <el-button @click="onClose">取消</el-button>
        <el-button type="primary" @click="onSubmit">确认</el-button>
      </span>
    </template>
  </el-dialog>
</div>
