.em-daily-work {
  position: relative;

  .time-line {
    left: 8px;
    width: 1px;
    background: #e0e1e1;
    height: calc(100% + 4px);
    top: 34px;
    z-index: 1;
    position: absolute;

    &.last-card {
      height: 0;
    }
  }

  .check-icon-wrapper {
    position: absolute;
    top: 17px;
    left: 0;
  }

  .dw__content {
    margin-left: 26px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 1);
    padding: 16px 0;

    .dw__content__title {
      margin: 10px 16px 0;
      color: rgba(34, 34, 34, 0.8);
      font-size: 16px;
      word-break: break-all;

      &.in-progress {
        color: #1283ff;
      }
    }

    .dw__content__desc {
      line-height: 20px;
      margin: 6px 16px 0;
      white-space: pre-wrap;
      color: rgba(34, 34, 34, 0.5);
      font-size: 14px;

      .origin {
        &.hidden {
          display: none;
        }
      }

      .clamp {
        --text-line: 2;

        position: relative;
        max-height: calc(var(--text-line) * 20px);
        line-height: 20px;
        overflow: hidden;
        word-wrap: break-word;
        word-break: break-all;
        color: rgba(255, 255, 255, 1);

        &.hidden {
          display: none;
        }

        &::before,
        &::after {
          content: attr(origin-text);
          position: absolute;
          left: 0px;
          top: 0px;
          width: 100%;
          color: rgba(34, 34, 34, 0.5);
        }
        &::before {
          z-index: 3;
          display: block;
          height: calc(var(--text-line) * 20px - 20px);
          line-height: 20px;
          overflow: hidden;
          background-color: rgba(255, 255, 255, 1);
          color: rgba(34, 34, 34, 0.5) !important;
        }
        &::after {
          display: -webkit-box;
          -webkit-line-clamp: var(--text-line);
          -webkit-box-orient: vertical;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          text-indent: calc(var(--text-line) * -85px + 85px);
          padding-right: 85px;
          color: rgba(34, 34, 34, 0.5) !important;
        }

        .expand-box {
          position: relative;
          max-height: calc(var(--text-line) * 20px + 20px);
          line-height: 20px;

          .toggle {
            z-index: 3;
            display: flex;
            position: absolute;
            right: 0px;
            bottom: 20px;
            width: 85px;
            height: 20px;
            justify-content: flex-end;
            align-items: center;

            .toggle-text {
              height: 20px;
              line-height: normal;
              margin-right: 5px;
              color: rgba(18, 131, 255, 1);
              font-size: 14px;
            }
          }
        }
      }

      .toggle.show {
        display: flex;
        width: 100%;
        height: 20px;
        justify-content: flex-end;
        align-items: center;

        .toggle-text {
          height: 20px;
          line-height: normal;
          margin-right: 5px;
          color: rgba(18, 131, 255, 1);
          font-size: 14px;
        }

        img {
          transform: rotate(180deg);
        }
      }
    }
  }
}

.dw__content__header {
  // position: relative;
  // display: block;
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
  height: 24px;
  align-items: center;
  .header__time-range {
    margin-left: 16px;
    color: rgba(34, 34, 34, 0.5);
    font-size: 16px;

    &.in-progress {
      color: #1283ff;
    }
  }

  .header__status-bubble {
    display: inline-block;
    margin-left: 10px;
  }
}

.header__link-icon {
  // display: inline-block;
  // position: absolute;
  // right: 23px;
  // top: 5px;
  // width: 10px;
  // height: 10px;
  // background-color: rgba(18, 131, 255, 1);
  // border-radius: 50%;
  position: relative;
  width: 10px;
  height: 10px;
  background-color: rgba(18, 131, 255, 1);
  border-radius: 50%;
  right: 7px;
  &:after {
    content: "";
    position: absolute;
    top: -7px;
    bottom: 0;
    left: -7px;
    right: 0;
    border-radius: 50%;
    background-color: rgba(18, 131, 255, 0.2);
    width: 24px;
    height: 24px;
  }
}

.header__toggle-arrow {
  // position: absolute;
  // top: 0;
  // right: 16px;
  width: 20px;
  height: 20px;
  transition: all 0.3s;

  &.active {
    transform: rotate(180deg);
  }
}

.dw__content__detail {
  border-radius: 5px;
  background-color: rgba(245, 245, 245, 1);
  padding: 0 15px;
  margin: 10px 16px 0;
  color: rgba(34, 34, 34, 0.5);
  font-size: 14px;
  transition: all 0.5s;

  .detail__remark {
    padding-top: 16px;
    word-break: break-all;
  }

  .detail__done-time {
    padding: 10px 0;
  }
}

.detail__image-gallery {
  width: calc(100% + 5px);
  padding-top: 5px;
  display: flex;
  flex-wrap: wrap;

  .detail__image {
    height: 60px;
    width: 60px;
    border-radius: 5px;
    margin-right: 5px;
    margin-top: 5px;
  }
}
