<div
  class="em-daily-work"
  *ngIf="dailyWorkData !== null"
  (click)="onCardClick()"
>
  <div class="time-line" [class.last-card]="isLastCard"></div>

  <div class="check-icon-wrapper">
    <app-em-task-check-icon
      [checkStatus]="checkStatus"
    ></app-em-task-check-icon>
  </div>

  <article class="dw__content">
    <header class="dw__content__header">
      <div>
        <span class="header__time-range" [class.in-progress]="isWorkInProgress"
          >{{ dailyWorkData.beginTime }}-{{ dailyWorkData.endTime }}</span
        >

        <span
          *ngIf="checkStatus === 'undone' || checkStatus === 'delay'"
          class="header__status-bubble"
        >
          <app-em-task-status-bubble
            [workStatus]="checkStatus"
          ></app-em-task-status-bubble>
        </span>
      </div>
      <img
        *ngIf="checkStatus === 'done' || checkStatus === 'delay'"
        (click)="toggleDetail()"
        [class.active]="showDetail"
        src="assets/img/energy-manager/up-arrow.svg"
        alt="箭头图标"
        class="header__toggle-arrow"
      />

      <span
        *ngIf="checkStatus === 'todo' && type === 'today'"
        class="header__link-icon"
      ></span>
    </header>

    <div class="dw__content__title" [class.in-progress]="isWorkInProgress">
      {{ dailyWorkData.measureName }}
    </div>

    <div class="dw__content__desc" *ngIf="dailyWorkData.description">
      <div class="origin" [class.hidden]="canDescriptionFolded">
        <p>{{ dailyWorkData.description }}</p>
      </div>
      <div class="clamp" [class.hidden]="!canDescriptionFolded">
        <div class="expand-box">
          <p class="origin-text">
            {{ dailyWorkData.description }}
          </p>
          <div
            class="toggle"
            *ngIf="canDescriptionFolded && isDescriptionFolded"
            (click)="toggleDescription($event, false)"
          >
            <p class="toggle-text">展开全部</p>
            <img src="assets/img/energy-manager/description-clamp-switch.svg" />
          </div>
        </div>
      </div>
      <div
        class="toggle show"
        *ngIf="canDescriptionFolded && !isDescriptionFolded"
        (click)="toggleDescription($event, true)"
      >
        <p class="toggle-text">收起</p>
        <img src="assets/img/energy-manager/description-clamp-switch.svg" />
      </div>
    </div>

    <div
      class="dw__content__detail"
      [hidden]="!showDetail"
      *ngIf="checkStatus === 'done' || checkStatus === 'delay'"
    >
      <div class="detail__remark" *ngIf="dailyWorkData.remarks">
        {{ dailyWorkData.remarks }}
      </div>

      <div
        class="detail__image-gallery"
        *ngIf="dailyWorkData.attachList && dailyWorkData.attachList.length > 0"
      >
        <img
          class="detail__image"
          *ngFor="let item of dailyWorkData.attachList"
          [src]="getImgSrc(item)"
          alt="图片"
          (click)="bigImage(getImgSrc(item))"
        />
      </div>

      <div class="detail__done-time">{{ dailyWorkData.finishTime }}完成</div>
    </div>
  </article>
</div>
