.bs-add-update-dialog {
  :deep(.el-select) {
    width: 100%;
  }

  :deep(.el-date-editor--date) {
    width: 100%;
  }

  :deep(.el-date-editor--month) {
    width: 100%;
  }

  :deep(.el-dialog__header) {
    background: #edf5fc;
  }

  :deep(.el-dialog__body) {
    padding: 30px 20px;
    // border-bottom: 1px solid #eee;
  }

  :deep(.el-dialog__footer) {
    text-align: center;
  }

  :deep(.el-dialog__title) {
    color: #1890ff;
    font-size: 16px;
  }

  .el-form-item {
    margin-bottom: 16px !important;
  }
}
