#cloud-home {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;

  h5 {
    width: 2.7rem;
    height: 0.48rem;

    display: flex;
    justify-self: flex-start;
    align-items: center;

    color: rgba(3, 190, 255, 1);
    background-image: linear-gradient(to right, rgba(13, 74, 128, 0.5), rgba(0, 86, 168, 0));
    border-radius: 0.04rem;

    line-height: 0.28rem;
    font-size: 0.2rem;
    font-weight: 500;

    &::before {
      content: '';

      width: 0.06rem;
      height: 0.17rem;
      margin: 0 0.14rem;
      display: inline-block;

      background-color: rgba(3, 190, 255, 1);
    }
  }

  > .ch-title {
    width: 5.29rem;
    height: 0.59rem;
    z-index: 1;

    position: absolute;
    top: 0.37rem;
    left: 0.3rem;

    pointer-events: none;
  }

  > .ch-background {
    width: 100%;
    height: 100%;
    z-index: 0;

    position: absolute;
    top: 0;
    left: 0;

    pointer-events: none;

    &.ghost {
      visibility: hidden;
    }
  }

  > .ch-info-container {
    width: 3.95rem;
    height: 0.39rem;
    z-index: 100;

    position: absolute;
    top: 0.5rem;
    right: 0.37rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.14rem;

    > .ch-info-weather {
      flex: none;
      width: 0.52rem;
      height: 0.36rem;
      pointer-events: none;

      &.ghost {
        visibility: hidden;
      }
    }

    > .ch-info-time {
      flex: auto;
      color: white;
      line-height: 0.28rem;
      font-size: 0.2rem;
    }

    > .ch-info-entrance {
      flex: none;
      width: 0.45rem;
      height: 0.39rem;
      cursor: pointer;
    }
  }

  > .ch-module-container {
    z-index: 10;
    overflow: hidden;
    position: absolute;
    backface-visibility: hidden;

    &[placement='center'] {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      animation: appear-from-center 1111ms ease-out;
    }
    &[placement='left-top'] {
      width: 4.58rem;
      height: 2.05rem;
      top: 1.34rem;
      left: 0.3rem;
      animation: appear-from-left 888ms ease-out;
    }
    &[placement='left-middle'] {
      width: 4.1rem;
      height: 2.07rem;
      top: 4.1rem;
      left: 0.3rem;
      animation: appear-from-left 888ms ease-out;
    }
    &[placement='left-bottom'] {
      width: 4.5rem;
      height: 3.5rem;
      top: 6.87rem;
      left: 0.3rem;
      animation: appear-from-left 888ms ease-out;
    }
    &[placement='right-top'] {
      width: 4.03rem;
      height: 2.72rem;
      top: 1.34rem;
      left: 14.64rem;
      animation: appear-from-right 888ms ease-out;
    }
    &[placement='right-middle'] {
      width: 3.96rem;
      height: 2.54rem;
      top: 4.4rem;
      left: 14.64rem;
      animation: appear-from-right 888ms ease-out;
    }
    &[placement='right-bottom'] {
      width: 4.26rem;
      height: 3.16rem;
      top: 7.28rem;
      left: 14.64rem;
      animation: appear-from-right 888ms ease-out;
    }
  }

  > .ch-legend-container {
    width: 3.8rem;
    height: 0.49rem;
    z-index: 10;

    position: absolute;
    bottom: 0.39rem;
    left: 7.9rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.27rem;

    background-color: rgba(4, 138, 255, 0.15);
    border-radius: 0.04rem;
    animation: appear-from-center 1111ms ease-out;

    > .ch-legend {
      line-height: 0.2rem;
      font-size: 0.14rem;

      &::before {
        margin-right: 0.1rem;
        font: 0.16rem/1 'iconfont';
      }

      &[rank='deficit'] {
        color: rgba(255, 28, 28, 1);

        &::before {
          content: '\e714';
        }
      }
      &[rank='low'] {
        color: rgba(255, 165, 2, 1);

        &::before {
          content: '\e712';
        }
      }
      &[rank='middle'] {
        color: rgba(140, 254, 8, 1);

        &::before {
          content: '\e713';
        }
      }
      &[rank='high'] {
        color: rgba(158, 248, 255, 1);

        &::before {
          content: '\e704';
        }
      }
    }
  }
}

@keyframes appear-from-center {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes appear-from-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes appear-from-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
