.home-kpi-no-data {
  position: relative;
  width: 100%;
  background-color: var(--iot-component-bg-color-white);
  .no-data-text {
    color: var(--iot-no-data-color);
    position: relative;
    top: -24px;
  }
}
