.energy-medical-report-config {
  height: 100%;

  .energy-table {
    height: 100%;
  }
  .energy-table::after {
    display: block;
    content: '';
    height: 0;
    clear: both;
  }

  .input-data {
    display: flex;
    align-items: center;
  }

  .dataBox {
    position: relative;
    // width: 100%;
    color: #f00;
    .data-maintenance-body {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 0 20px 0 0;
    }
    .editImg {
      width: 16px;
      height: 16px;
      cursor: pointer;
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -8px;
    }
  }

  .dataBodyBox {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: left;
    .data-body {
      white-space: pre-wrap;
    }
  }

  // 配置对象弹框
  .emrc-config-object-dialog {
    position: relative;

    .emrc-select {
      margin-right: 12px;
    }

    .emrc-select-objects {
      flex: 1;
      max-height: 240px;
      min-height: 36px;
      padding: 0 12px 4px 12px;
      margin-right: 12px;
      border: 1px solid #d9d9d9;
      border-radius: 4px;
      overflow-y: auto;
      white-space: normal;

      span {
        margin: 6px 6px 0 0;
        line-height: 24px;
        height: 24px;
      }
    }
  }

  .emrc-config-tree-dialog {
    .emrc-tree {
      width: 100%;
      max-height: 400px;
      overflow-y: auto;
    }
  }
}

:deep(.page-common__container-search) {
  padding: 0;
}

:deep(.el-dialog--center .el-dialog__body) {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
