.bvm-monthly-proportion {
  &_tips {
    display: flex;
    justify-content: space-between;
    padding: 0 45px;
    margin-top: 5px;
  }
  :deep(.el-form-item__label) {
    width: 90px !important;
  }

  :deep(.el-date-editor--date) {
    width: 100%;
  }

  :deep(.el-date-editor--month) {
    width: 100%;
  }

  :deep(.el-dialog__footer) {
    text-align: right !important;
  }

  .el-form-item {
    margin-right: 16px !important;
    margin-bottom: 14px !important;
  }
}
