<div class="ea-energy-consumption-decompose">
  <div class="ecd-header">
    <div class="ecd-header-title">
      <div class="ecd-name">{{ typeName }}能耗总计</div>
      <div class="ecd-value">{{ thousandSeparation(pieChart.total) }}</div>
      <div class="ecd-unit" v-if="thousandSeparation(pieChart.total) !== '--'">
        {{ yAxisItems[0].unit ? yAxisItems[0].unit : '' }}
      </div>
    </div>
    <button :disabled="!attribute.hasDirectDevice" primary @click="dialogDetailVisible = true">
      设备能耗明细
    </button>
  </div>
  <template v-if="pieList?.length">
    <ea-doughnut-chart ref="doughnutRef" :dataList="pieList" :title="typeName" :yAxisItems="yAxisItems">
    </ea-doughnut-chart>
    <div class="ecd-bottom-title">
      <span class="ecd-bottom-line"></span>
      <span class="ecd-bottom-text">{{ attribute.treeName }}能耗分解图</span>
      <span class="ecd-bottom-line"></span>
    </div>
  </template>
  <no-data v-else></no-data>
  <!-- 设备明细弹窗 start -->
  <el-dialog
    :close-on-click-modal="false"
    :title="
        attribute.rangeDate
          ? '设备能耗明细（' + attribute.rangeDate + ')'
          : '设备能耗明细'
      "
    :destroy-on-close="true"
    :width="1156"
    v-model="dialogDetailVisible"
  >
    <!-- 补充是否渲染 -->
    <device-detail
      v-if="dialogDetailVisible"
      :searchParam="searchParam"
      :timeSection="timeSection"
      :treeName="attribute.treeName"
    ></device-detail>
  </el-dialog>
  <!-- 设备明细弹窗 end -->
</div>
