<div class="load-forecasting" style="width: 100%">
  <page-common :title="'负荷预测'" :isSubHead="false" :showSearch="true">
    <template v-slot:pageSearch>
      <el-form :inline="true" :model="formInline" class="demo-form-inline" @submit.native.prevent>
        <el-form-item label="能源类型">
          <tree-select
            :placeholder="'请选择能源类型'"
            v-model="formInline.energyType"
            v-model:treeData="computedEnergyCodeList"
            :defaultExpandAll="true"
            :nodeKey="'code'"
            :defaultProps="{ children: 'childEnergyCode', label: 'name' }"
            :expanedKeys="energyTreeExpanedKeys"
            @select-change="getAnalysisTreeData({energyCode: formInline.energyType[0], expandLevel: 2, treeType: formInline.radioValue})"
          >
          </tree-select>
        </el-form-item>
        <el-form-item label="分析对象">
          <tree-select
            :placeholder="'请选择分析对象'"
            v-model="formInline.analysisObject"
            :treeData="analysisObjectData"
            :expanedKeys="analysisObjectExpanedKeys"
            :loading="treeLoading"
            :showSearch="true"
            :disabledProps="disabledProps"
            :defaultProps="FGetElTreeDefaultProps()"
            v-model:radioValue="formInline.radioValue"
            :radioData="radioData"
            width="380px"
            @tree-radio-change="treeRaidoChange"
            @select-change="treeSelectChange"
          ></tree-select>
        </el-form-item>
        <el-form-item label="日期">
          <el-date-picker
            v-if="formInline.timeUnit == TIMEUNIT.ONE_DAY"
            placeholder="请选择"
            v-model="formInline.date"
            type="daterange"
            range-separator="~"
            start-placeholder="开始日期"
            end-placeholder="结束日期"
            prefix-icon="iconfont icon-Calendar"
            clear-icon="iconfont icon-Close-Circle-Fill"
          >
          </el-date-picker>
          <el-date-picker
            v-if="formInline.timeUnit == TIMEUNIT.ONE_MONTH"
            v-model="formInline.date"
            type="monthrange"
            range-separator="~"
            start-placeholder="开始月份"
            end-placeholder="结束月份"
            prefix-icon="iconfont icon-Calendar"
            clear-icon="iconfont icon-Close-Circle-Fill"
          >
          </el-date-picker>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="onSubmit()">查询</el-button>
          <el-button style="background-color: #fff !important;" @click="onReset">重置</el-button>
        </el-form-item>
      </el-form>
    </template>
    <template v-slot:progress>
      <div v-loading="tableDataLoading" style="min-height: 128px; padding: 0 40px">
        <ProgresssLoad
          v-if="tableData.tableData.length >= 1 && tableDataLoading == false"
          :key="num"
          :product="product"
          :practical="practical"
          :unit="unit"
        ></ProgresssLoad>
        <no-data v-show="tableData.tableData.length < 1 && tableDataLoading == false"></no-data>
      </div>
    </template>
    <template v-slot:pageContent>
      <el-row :gutter="24" class="module-wrap mt20">
        <el-col :span="24">
          <module-subhead :title="'负荷预测'"></module-subhead>
          <div v-loading="tableDataLoading" style="min-height: 260px">
            <EchartLine
              v-if="
                  tableData.tableData.length >= 1 && tableDataLoading == false
                "
              :echartsData="echartsData"
              :key="num"
              :echartsUnit="unit"
            ></EchartLine>
            <no-data v-show="tableData.tableData.length < 1 && tableDataLoading == false"></no-data>
          </div>
        </el-col>
      </el-row>
      <el-row :gutter="24" style="min-height: 240px">
        <!-- 数据明细 start -->
        <el-col :span="24">
          <div style="display: flex; justify-content: space-between; margin-bottom: 19px">
            <module-subhead :title="'数据明细'"></module-subhead>
            <el-button type="primary" v-if="tableData.tableData.length" @click="exportData"
              >{{ exportLoading ? '正在导出' : '导出'}}</el-button
            >
          </div>
          <!-- 数据明细 列表 -->
          <div v-loading="tableDataLoading">
            <div
              v-if="
                  tableData.tableData.length >= 1 && tableDataLoading == false
                "
            >
              <el-table
                :data="
                    tableData.tableData.slice(
                      (pageNum - 1) * pageSize,
                      pageNum * pageSize
                    )
                  "
                :stripe="lightOrDark"
                style="width: 100%"
                v-loading="tableDataLoading"
              >
                <el-table-column label="序号" type="index" width="80" align="center" show-overflow-tooltip
                  ><template #default="scope">
                    {{ (pageNum - 1) * pageSize + scope.$index + 1 }}
                  </template>
                </el-table-column>
                <el-table-column prop="dataTime" label="时间" align="center" show-overflow-tooltip> </el-table-column>
                <el-table-column
                  prop="historyValue"
                  :label="'实际能耗值(' + unit + ')'"
                  align="center"
                  :formatter="formatFact"
                  show-overflow-tooltip
                >
                  <template #header>
                    <div v-html="'实际能耗值(' + unit + ')'"></div>
                  </template>
                </el-table-column>
                <el-table-column
                  prop="forecastValue"
                  :label="'预测能耗值(' + unit + ')'"
                  :formatter="formatFact"
                  align="center"
                  show-overflow-tooltip
                >
                  <template #header>
                    <div v-html="'预测能耗值(' + unit + ')'"></div>
                  </template>
                </el-table-column>
                <el-table-column
                  prop="diffValue"
                  :label="'偏差值(' + unit + ')'"
                  :formatter="formatFact"
                  align="center"
                  show-overflow-tooltip
                >
                  <template #header>
                    <div v-html="'偏差值(' + unit + ')'"></div>
                  </template>
                </el-table-column>
                <el-table-column
                  prop="percent"
                  label="偏差百分比"
                  align="center"
                  :formatter="formatFact"
                  show-overflow-tooltip
                >
                </el-table-column>
              </el-table>
              <el-pagination
                v-if="!tableDataLoading"
                :current-page="pageNum"
                @size-change="onPageSizeChange"
                @current-change="onCurrentChange"
                :page-size="pageSize"
                :page-sizes="pageSizes"
                layout="total, prev, pager, next, sizes, jumper"
                :total="total"
              >
              </el-pagination>
            </div>
            <no-data v-show="tableData.tableData.length < 1 && !tableDataLoading"></no-data>
          </div>
        </el-col>
        <!-- 能耗明细 end -->
      </el-row>
    </template>
  </page-common>
</div>
