@import 'common';
$black: #222;
$color-primary: #1283FF;
.em__feedback {
  display: grid;
  grid-auto-rows: 44px auto 80px;
  height: 100vh;
  background: white;
  user-select: none;
  * {
    line-height: 1.42;
  }
  .main {
    display: grid;
    grid-auto-rows: max-content auto;
    grid-gap: 10px;
    background: #F2F3F6;
  }
  .section {
    padding: 20px 15px;
    background: #fff;
    &.section--bgimage{
      background: url('../../../../assets/img/energy-manager/hexagan.svg') right top / 73px no-repeat;
      background-color: #fff;
      .section--title {
        display: flex;
        justify-content: space-between; 
        align-items: center;
      }
    }
    .section_flex {
      justify-content: flex-end !important;
    }
    .sectin_height {
      height: 22px;
    }
    .section__relate { 
        color: rgba($color-primary, 1);
        font-size: 14px; 
        font-family: PingFangSC-Medium;
        margin-bottom: 10px; 
        display: flex;
        text-align: right;
        align-items: center;
        span {
          font-weight: 500;
          line-height: 22px;
        }
        img {
          width: 20px;
          height: 20px;
        }
    }
    .section__time {
      font-size: 16px;
      color: rgba($black, .5);
      margin-bottom: 10px;
    }
    .section__title {
      margin: 0;
      font-size: 16px;
      color: rgba($black, .8);
      &.section__title--big {
        font-size: 17px;
      }
    }
    .section__desp {
      margin-top: 5px;
      line-height: 1.43;
      white-space: pre-wrap;
      color: rgba($black, .5);
    }
    ::ng-deep .ems-speech-recognition {
      margin-top: 10px;
    }
  }
  .foot {
    padding: 10px 15px;
    @extend %border--top;
  }
}
::ng-deep .am-toast-notice-content .am-toast-text {
  padding: 10px 36px;
  background: rgba(#222, .8);
  border-radius: .31rem;
  .am-toast-text-info {
      font: 16px;
  }
}
.button {
  width: 100%;
  height: 52px;
  font-size: 16px;
  border-radius: .31rem;
  $btnColor: $color-primary;
  background: $btnColor;
  color: #fff;
  &.button-plain {
    color: $btnColor;
    border: .1rem solid $btnColor;
  }
  &.button--big {
    height: 60px;
    font-size: 20px;
  }
  &.button-blue {
    $btnColor: $color-primary;
  }
}
.overflow--hidden {
  overflow: hidden;
}
.overflow--scroll {
  overflow: scroll;
}
