<div class="em__feedback">
  <app-common-head title="任务反馈" (back)="back()"></app-common-head>
  <main class="main overflow--scroll">
    <section class="section section--bgimage">
      <div
        class="section--title"
        [ngClass]="{
          section_flex: !workDetail.beginTime && !workDetail.endTime,
          sectin_height: workDetail.beginTime || workDetail.endTime || relatedFunc.label
        }"
      >
        <p class="section__time" *ngIf="workDetail.beginTime || workDetail.endTime">
          {{ workDetail.beginTime }}-{{ workDetail.endTime }}
        </p>
        <p class="section__relate" (click)="relateLink()" *ngIf="relatedFunc?.label">
          <span>
            {{ relatedFunc.label }}
          </span>
          <img src="assets/img/energy-manager/ddouble-right.svg" />
        </p>
      </div>

      <h2 class="section__title section__title--big DinPro-Medium">{{ workDetail.measureName }}</h2>
      <p class="section__desp">{{ workDetail.description }}</p>
    </section>
    <section class="section">
      <h3 class="section__title DinPro-Medium">完成情况描述</h3>
      <app-ems-speech-recognition
        (detailChange)="speechChangeDetail($event)"
        [placeholder]="'请描述任务的完成情况0/200（选填）'"
      ></app-ems-speech-recognition>
      <app-em-image-upload [(ngModel)]="attachList" (imageClick)="imageClick($event)"></app-em-image-upload>
    </section>
  </main>
  <footer class="foot">
    <button class="button button--big button--blue" (click)="commit()">完成</button>
  </footer>
</div>
