<div id="air-conditioner-control">
  <nz-spin
    style="width: 100%"
    [class.none]="!isLoading"
    [nzSpinning]="isLoading"
  ></nz-spin>

  <div *ngIf="!isLoading && !isEmpty" class="acc-main-container">
    <h2 flexible="false">{{ title }}</h2>

    <div class="acc-main-content-container" flexible="true">
      <ems-air-conditioner-control-cards
        style="grid-column: span 2"
      ></ems-air-conditioner-control-cards>

      <ems-air-conditioner-control-overview></ems-air-conditioner-control-overview>

      <ems-air-conditioner-control-predict
        style="overflow: hidden"
      ></ems-air-conditioner-control-predict>

      <ems-air-conditioner-control-statistics
        style="overflow: hidden; grid-column: span 2"
      ></ems-air-conditioner-control-statistics>
    </div>
  </div>

  <div *ngIf="!isLoading && !isEmpty" class="acc-side-container">
    <ems-air-conditioner-control-list></ems-air-conditioner-control-list>
  </div>

  <div
    *ngIf="!isLoading && !isEmpty && systems.length > 1"
    style="z-index: 1"
    class="acc-float-container"
    (click)="changePanelVisibility()"
  >
    <i nz-icon nzType="left" nzTheme="outline"></i>
    <span class="acc-float-name">{{ currentSystemName }}</span>
  </div>
  <div
    *ngIf="!isLoading && !isEmpty && canShowPanel"
    class="backdrop"
    (click)="closePanel()"
    style="position: fixed"
  >
    <div class="acc-float-panel-container">
      <div
        *ngFor="let system of systems"
        class="acc-float-panel-item-container"
        (click)="selectSystem(system.id)"
      >
        <i
          [class.ghost]="system.id !== currentSystem"
          nz-icon
          nzType="check"
          nzTheme="outline"
        ></i>
        <span class="acc-float-panel-item-name">{{ system.name }}</span>
      </div>
    </div>
  </div>

  <div class="empty-module" [class.none]="isLoading || !isEmpty">
    <img src="assets/img/common/common-data-unset.svg" alt="暂无数据" />
    <span>暂无数据</span>
  </div>
</div>
