@import '../../../common/components/common-head/common-head.component.scss';
.ems_multiple-device {
    width: 100%;
    height: 100%;
    background-color: #F2F3F6;
    .head {
        background-color: rgba(255, 255, 255, 1);
    }
    .ems_multiple-device-content {
        height: calc(100% - 44px);
        width: 100%; 
        .ems_multiple-device-head-list {
            padding: 0px 15px;
            background-color: rgba(255, 255, 255, 1);
            padding-bottom: 5px;;
            .ems_multiple-device-head { 
                padding: 10px 0px;
                height: 56px;
                box-sizing: border-box; 
                background-color: rgba(255, 255, 255, 1);
                .multiple-device-group {
                    width: 100%;
                    height: 36px; 
                    border-radius: 5px;
                    background-color: rgba(243, 243, 243, 1);
                    padding: 0px 10px;
                    display: flex;
                    align-items: center;
                    .multiple-device-search {
                        background: url('../../../../assets/img/energy-events/search-gary.svg') no-repeat;
                        width: 20px;
                        height: 20px;
                    }
                }
                .label-input { 
                    border: 0px;
                    height: 36px;
                    line-height: 36px;
                    background-color: rgba(243, 243, 243, 1);
                    color: rgba(34, 34, 34, 0.8);
                    font-size: 16px; 
                    --placeholder-color: rgba(34, 34, 34, 0.2); 
                    --placeholder-opacity: 1;
                }
                .label-input::-webkit-input-placeholder { 
                    color: rgba(34, 34, 34, 0.2); 
                }
                .label-input::-moz-placeholder { 
                    color:rgba(34, 34, 34, 0.2) 
                } /* firefox 19+ */
                .label-input:-ms-input-placeholder { 
                    color:rgba(34, 34, 34, 0.2) 
                } /* ie */
                .label-input:-moz-placeholder { 
                    color:rgba(34, 34, 34, 0.2) 
                }
                ::ng-deep .sc-ion-input-md-h {
                    --padding-top: 7px;
                    --padding-end: 0;
                    --padding-bottom: 7px;
                    --padding-start: 10px;
                   
                }
          
            }
            .ems_multiple-device-list-title {  
                height: 22px;
                color: rgba(34, 34, 34, 0.8);
                font-size: 16px;
                text-align: left;   
            }
        }
        .ems_multiple-device-list {
            width: calc(100% + 7px);
            padding-bottom: 10px;
            height: calc(100vh - 101px);
            overflow-y: auto;  
            .modal-content {
                background-color: #F2F3F6;  
                .modal-content-list {  
                    padding-bottom: 120px; 
                    .list-childer {
                        background-color:  rgba(255, 255, 255, 1);
                        padding-left: 15px; 
                        .list-childer-item {
                            display: flex;
                            align-items: center;
                            .item-check {
                               width: 20px;
                               height: 20px;
                               --size: 20px;
                               --border-color:  rgba(34, 34, 34, 0.2);
                               --border-width: 1px;
                               --background:  rgba(247, 247, 247, 1);
                               --border-radius: 2px;
                               --checkmark-width: 3;
                               --ion-color-base: rgba(18, 131, 255, 1) !important;
                            }
                            .item-content {
                                padding: 20px 0px;
                                box-shadow: inset 0px -0.5px 0px 0px rgba(34, 34, 34, 0.1);
                                display: flex;
                                align-items: center;
                                width: calc(100% - 30px); 
                                .item-text {
                                    width: 100%;
                                    line-height: 22px; 
                                    opacity: 0.8;
                                    color: rgba(34, 34, 34, 1);
                                    font-size: 16px;
                                    text-align: left; 
                                    padding-right: 15px;
                                }
                            }
                        }
                    } 
                } 
            }
            .suspension-operation { 
                position: fixed;
                bottom: 0px;
                z-index: 999999;
                height: 80px;
                width: 100%;
                background-color: rgba(76, 76, 76, 1);
                box-shadow: inset 0px 0.5px 0px 0px rgba(0, 0, 0, 0.1);
                padding: 10px 15px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .select-identification {
                    .select-number {
                        display: flex;
                        align-items: center;
                        .select-iocn {
                            background: url(../../../../assets/img/energy-events/select-iocn.svg) no-repeat;
                            width: 20px;
                            height: 20px;
                        }
                        .number-text { 
                            height: 24px;
                            line-height: 24px;
                            color: rgba(18, 131, 255, 1);
                            font-size: 24px;
                            text-align: left; 
                        }
                    }
                    .select-tip { 
                        height: 20px;
                        color: rgba(255, 255, 255, 1);
                        font-size: 14px;
                        text-align: left; 
                    }
                }
               
               
                .select-datermine { 
                    width: 120px;
                    height: 60px;
                    line-height: 60px;
                    box-sizing: border-box;
                    border-radius: 5px;
                    background-color: rgba(18, 131, 255, 1); 
                    color: rgba(255, 255, 255, 1);
                    font-size: 20px;
                    text-align: center; 
                    margin: 0px;
               
                }
            }
        }
    }
  
    .mt10 {
        margin-top: 10px;
    }
    .mr10 {
        margin-right: 10px;
    }
    .mr15 {
        margin-right: 15px;
    }
    .mt5 {
        margin-top: 5px;
    }
    .no-data {
        background-color: #fff;  
        width: 100%;
        height: 100%;
        text-align: center; 
        padding-top: 60px;
        .no-data-content { 
            text-align: center;  
            .none-task-description {
                height: 22px;
                line-height: 22px;
                margin-top: 15px;
                color: rgba(34, 34, 34, 0.2);
                font-size: 16px;
                text-align: center;
            }
        }
       
    }
}
::ng-deep .ems_select-device-modal {
    padding-bottom: 20px;
    max-height: 380px; 
    .select-device-modal-header {
        padding: 0px 15px;
        display: flex;
        justify-content: space-between;
        position: absolute;
        width: 100%;
        height: 60px;
        line-height: 60px;
        background:  rgba(255, 255, 255, 1);
        top: 0px;
        z-index: 99999;
        .header-text { 
            height: 20px;
            color: rgba(34, 34, 34, 0.5);
            font-size: 14px;
            text-align: left; 
        }
        .header-clear { 
            height: 20px;
            color: rgba(18, 131, 255, 1);
            font-size: 14px;
            text-align: right; 
        }
    }
    .select-device-modal-content {
        margin-top: 60px;
        padding-left: 15px; 
        height: calc(100% - 80px);
        overflow-y: auto;
        .select-item {  
            height: 62px;
            box-shadow:   inset 0px -0.5px 0px 0px rgba(34, 34, 34, 0.1);
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-right: 15px;
            .select-item-text { 
                line-height: 22px;
                color: rgba(34, 34, 34, 0.8);
                font-size: 16px;
                text-align: left; 
            }
            .select-detect {
                min-width: 20px;
                width: 20px;
                height: 20px;
                margin-left: 15px; 
                background: url('../../../../assets/img/energy-events/collapse.svg') no-repeat;
            }
        }
    }
}

::ng-deep .my-device-class .loading-content.sc-ion-loading-md {
    margin: 0px !important;
}
.multiple-modal ion-infinite-scroll.md.infinite-scroll-enabled.hydrated {
    height: 60px !important;
}