#ch-carbon-intensity {
  .ch-ci-charts-container  {
    width: 4.5rem;
    height: 3.02rem;
  }
  .ch-ci-empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 3.02rem;
    overflow: hidden;
    & > img {
      height: 0.78rem;
    }

    & > span {
      font-size: 0.14rem;
      color: rgba(255, 255, 255, 0.5);
      margin-top: 0.1rem;
      text-align: center;
    }
  }
}
