#freezer-multiple-parameter {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 16px;

  .parameter-header-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
