@import '../common.less';

.ea-dc-correlation-anomaly {
  &-data {
    .anomaly-ico {
      top: 5px;
    }

    .num {
      line-height: 26px;

      .label {
        display: inline-block;
        width: 60px;
        margin-right: 8px;
        text-align: left;
      }

      .bold {
        margin: 0 3px;
      }
    }

    &__value {
      position: relative;

      .bold {
        font-family: DINPro Bold;
        position: relative;
        top: 2px;
      }
    }
  }

  .deal {
    color: var(--iot-color-active);
    cursor: pointer;
  }

  &-coefficient {
    border-radius: 12px;
    background: rgba(245, 77, 66, 0.04);
    padding: 4px 12px;

    .bold {
      color: #f54d42;
      margin-left: 8px;
    }
  }
}
