<div>
  <div class="ma-home-model-button-back" v-if="showComponentId==='5'">
    <img @click="back" src="@/assets/images/management-analysis/ma-home-model/ma-home-model-dialog-back.svg" alt="" />
    返回
  </div>
  <div v-loading="loadingStatus" style="height: 350px">
    <div
      class="mhm-energy-total-table"
      :style="showComponentId==='5'?'margin-top:12px':'margin-top:23px'"
      v-if="tableData?.length !== 0 "
    >
      <el-tabs v-if="showComponentId==='5'" v-model="activeTab" @tab-click="handleClick">
        <el-tab-pane v-for="item in treeList" :key="item.code" :label="item.name" :name="item.code">
          <table style="width: 100%">
            <thead>
              <tr>
                <th v-for="items in tableDataName">{{items.name}}</th>
              </tr>
            </thead>
            <tbody class="mhm-energy-saving-table-tbody">
              <tr v-for="itemValue in tableData">
                <td v-for="items in itemValue" ellipsis>
                  <el-tooltip
                    :open-delay="500"
                    v-if="items"
                    class="box-item"
                    effect="dark"
                    :content="items"
                    placement="bottom"
                  >
                    <span ellipsis>{{ items }}</span>
                  </el-tooltip>
                  <span v-else>--</span>
                </td>
              </tr>
            </tbody>
          </table>
        </el-tab-pane>
      </el-tabs>
      <table v-else style="width: 100%; height: 100%">
        <thead>
          <tr>
            <th v-for="item in tableDataName">{{item.name}}</th>
          </tr>
        </thead>
        <tbody
          :style="showComponentId==='4'?'max-height:275px':'max-height:297px'"
          class="mhm-energy-total-table-tbody"
        >
          <tr v-for="item in tableData">
            <td v-for="items in item" ellipsis>
              <el-tooltip
                :open-delay="500"
                v-if="items"
                class="box-item"
                effect="dark"
                :content="items"
                placement="bottom"
              >
                <span ellipsis>{{ items }}</span>
              </el-tooltip>
              <span v-else>--</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div
      v-if="tableData?.length === 0  && !loadingStatus"
      class="mhm-common-empty"
      :style="showComponentId==='2'?'height: 390px':'height: 370px'"
    >
      <img src="@/assets/images/management-analysis/ma-home-model/ma-home-model-no-data.svg" alt="" />
      <span>暂无数据</span>
    </div>
  </div>
</div>
