.mhm-energy-total-table {
  tbody > tr,
  thead {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  .mhm-energy-total-table-tbody {
    display: block;
    overflow: auto;
  }
  .mhm-energy-saving-table-tbody {
    display: block;
    max-height: 200px;
    overflow: auto;
  }
}
