.no-data {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--iot-component-bg-color-white);

  span {
    font-size: var(--te-font-size-b14);
    color: var(--te-text-color-placeholder);
  }
}
