<div class="ec-choose-date flex-row-start-center">
  <el-date-picker
    type="date"
    prefix-icon="iconfont icon-Calendar"
    clear-icon="iconfont icon-Close-Circle-Fill"
    :clearable="true"
    :disabledDate="disabledDate"
    v-model="selectedDate"
    placeholder="请选择日期"
  >
  </el-date-picker>
  <i class="el-icon-circle-plus-outline" @click="onDateAdd"></i>
  <div :class="['date-list', chooseTimeList?.length ? 'week-allowclear' : '']">
    <div class="list-container">
      <span v-for="(item, index) in chooseDateList" :key="index">
        {{ formatSelectDate(item) }}
        <i @click="deleteWeekItem(index)" class="el-icon-close"></i>
      </span>
    </div>
    <i class="ems-iconfont icon-qingkong" @click="onClearWeek"></i>
  </div>
</div>
