<el-form-item label="时间颗粒" v-show="showTimeUnit">
  <el-select class="time-unit" placeholder="请选择时间颗粒" v-model="dateForm.timeUnit" @change="onTimeUnitChange">
    <el-option v-for="(item, index) in timeUnitList" :key="item.code" :value="item.code" :label="item.name">
    </el-option>
  </el-select>
</el-form-item>
<el-form-item v-if="showDateScope && scopeList?.length !== 0" label="快捷选时">
  <el-radio-group v-model="dateForm.dateScope" @change="handleQuickTimingChange">
    <el-radio-button v-for="item in scopeList" :key="item.value" :label="item.value" :disabled="setDateScopeDisabled(item)">{{item.label}}</el-radio-button>
  </el-radio-group>
</el-form-item>
<el-form-item label="日期">
  <date-range-picker
    :clearable="clearable"
    v-model:value="dateForm.date"
    :timeUnit="dateForm.timeUnit"
    :format="format"
    :mode="mode"
    :disableDateCb="disableDateCb"
    @change="onDateChange"
  >
  </date-range-picker>
</el-form-item>
