<div class="energy_consumption-area-modal">
  <div id="eventTitle" class="modal-group">
    <label class="label-header">事件标题</label>
    <div class="mt10" [ngClass]="{ errorBorder: areaNamError }">
      <ion-input
        mode="md"
        placeholder="请输入标题0/15"
        class="label-input"
        maxlength="15"
        [(ngModel)]="data.eventTitle"
        [class.empty]="isShowEmptyMarker && !data.eventTitle"
      ></ion-input>
    </div>
  </div>
  <div id="startTime" class="modal-group mt15">
    <label class="label-header">开始时间</label>
    <div class="mt10">
      <div class="lable-btn" (click)="timeChangeClick($event)" [class.empty]="isShowEmptyMarker && !data.startTime">
        <label class="label-placeholder" *ngIf="!data.startTime">请选择</label>
        <label class="label-text" *ngIf="data.startTime">
          {{ data.startTime }}
        </label>
        <label class="label-choice">{{ timeLableTip }}</label>
      </div>
    </div>
  </div>
  <div id="areaId" class="modal-group mt15">
    <label class="label-header">区域选择</label>
    <div class="mt10">
      <div
        class="lable-btn"
        (click)="regionChangeClick($event)"
        [class.empty]="isShowEmptyMarker && !data.energyObjects"
      >
        <label class="label-placeholder" *ngIf="!regionName">请选择</label>
        <label class="label-text" *ngIf="regionName">{{ regionName }}</label>
        <label class="label-choice">{{ regionLableTip }}</label>
      </div>
      <app-ems-radio-area *ngIf="isShowRadioArea"></app-ems-radio-area>
    </div>
  </div>
  <div class="modal-group mt15">
    <label class="label-header">上传照片</label>
    <div class="label-tip-name mt10">最多上传6张照片（选填）；可上传改造方案或图纸、改造照片、新挂表</div>
    <div class="mt10">
      <app-em-image-upload [(ngModel)]="data.filePaths" (imageClick)="imageClick($event)"></app-em-image-upload>
    </div>
  </div>
  <div class="modal-group mt15">
    <label class="label-header">事件详情</label>
    <div class="mt10">
      <app-ems-speech-recognition
        (detailChange)="speechChangeDetail($event)"
        placeholder="请输入详细信息0/200（选填）"
        maxlength="200"
      ></app-ems-speech-recognition>
    </div>
  </div>
</div>

<Calendar
  [(ngModel)]="state.date"
  [locale]="state.en ? 'enUS' : 'zhCN'"
  [visible]="state.show"
  [defaultDate]="state.now"
  [defaultValue]="state.defaultValue"
  [maxDate]="state.max"
  [pickTime]="state.pickTime"
  [type]="state.type"
  [rowSize]="state.rowSize"
  prefixCls="energy"
  [onSelect]="state.onSelect"
  (onCancel)="onCancel()"
></Calendar>
