<div class="building-information-config">
  <page-common title="对标建筑配置" :showSearch="true" :isSubHead="true">
    <template v-slot:pageSearch>
      <!-- 头部 -->
      <div class="flex-row-justify-center">
        <el-form :inline="true" @submit.native.prevent>
          <el-form-item>
            <input v-model="queryParams.name" v-inputFilter:search :maxlength="20" placeholder="请输入建筑名称" />
          </el-form-item>
          <el-form-item>
            <button primary @click="onSearch">查询</button>
          </el-form-item>
        </el-form>
        <button primary @click="onAddDialogShow">新 增</button>
      </div>
    </template>
    <template v-slot:pageContent>
      <!-- 表格 start -->
      <div v-loading="loading" style="height: calc(100% - 32px)">
        <el-table :data="dataSource" v-if="!loading" style="width: 100%">
          <el-table-column prop="index" label="序号" width="80">
            <template #default="scope"
              >{{ (queryParams.pageNum - 1) * queryParams.pageSize + scope.$index + 1 }}</template
            >
          </el-table-column>
          <el-table-column prop="name" label="建筑名称" :show-overflow-tooltip="true"> </el-table-column>
          <el-table-column prop="layers" label="建筑层数" :show-overflow-tooltip="true"> </el-table-column>
          <el-table-column prop="treeName" label="关联节点" :show-overflow-tooltip="true"> </el-table-column>
          <el-table-column prop="buildingTypeText" label="建筑功能" :show-overflow-tooltip="true"> </el-table-column>
          <el-table-column label="操作" width="180">
            <template #default="scope">
              <span class="operate-span mr16" @click="editBuildingInfo(scope.row,true)">查看</span>
              <span class="operate-span mr16" @click="editBuildingInfo(scope.row,false)">编辑</span>
              <span class="delete-span" @click="deleteBuildingInfo(scope.row.id)">删除</span>
            </template>
          </el-table-column>
        </el-table>
        <ems-pagination
          v-show="!loading && total>0"
          :current-page="queryParams.pageNum"
          :page-sizes="pageSizes"
          @size-change="onPageSizeChange"
          @current-change="onCurrentChange"
          :page-size="queryParams.pageSize"
          :total="total"
        >
        </ems-pagination>
      </div>
      <!-- 表格 end-->
    </template>
  </page-common>
  <!-- 新增/编辑 弹窗 start -->
  <div v-drag v-if="dialogVisible" class="buildingInfoDialog">
    <el-dialog
      :title="!isAddFlag ?(isReadFlag?'查看建筑信息配置':'编辑建筑信息配置' ): '新增建筑信息配置'"
      v-model="dialogVisible"
      width="620px"
      :before-close="onBeforeClose"
      :destroy-on-close="true"
      :close-on-click-modal="false"
    >
      <el-form ref="buildingInfoRef" :rules="rules" :model="BuildingInformationForm" label-width="120px">
        <el-form-item label="建筑名称" prop="name">
          <el-input
            v-model="BuildingInformationForm.name"
            v-inputFilter:search="{ allowSpace: false }"
            :maxlength="32"
            class="value-input"
            :disabled="isReadFlag==true?true:false"
            placeholder="请输入建筑名称"
          >
          </el-input>
        </el-form-item>
        <el-form-item label="建筑年代" prop="buildingYear">
          <el-input
            v-model="BuildingInformationForm.buildingYear"
            class="value-input"
            :disabled="isReadFlag==true?true:false"
            placeholder="请输入年代"
            v-inputFilter:positiveNumber="{ integral: 4 }"
          >
          </el-input>
        </el-form-item>
        <el-form-item label="建筑层数" prop="layers">
          <el-input
            v-model="BuildingInformationForm.layers"
            placeholder="请输入建筑层数"
            class="value-input"
            :disabled="isReadFlag==true?true:false"
            v-inputFilter:positiveNumber="{ integral: 3 }"
          >
          </el-input>
        </el-form-item>
        <el-form-item label="关联节点" prop="treeId">
          <el-input v-if="isReadFlag==true" v-model="BuildingInformationForm.treeName" class="value-input" disabled>
          </el-input>
          <div style="width: 100%" v-else>
            <tree-select
              :placeholder="'请选择节点'"
              v-model="BuildingInformationForm.treeId"
              :treeData="treeList"
              :defaultProps="{ children: 'childTree', label: 'treeName' }"
              :showSearch="true"
              :expanedKeys="expandKeys"
              :loading="treeLoading"
              v-model:radioValue="treeType"
              :radioData="treeTypeList"
              dialogWidth="100%"
              :autoWidth="true"
              @tree-radio-change="onTreeTypeChange"
              @select-change="onNodeClick()"
              :defaultExpandAll="false"
            ></tree-select>
          </div>
        </el-form-item>
        <el-form-item label="建筑功能" prop="buildingType">
          <el-input
            v-if="isReadFlag==true&&buildingTypeValue==null"
            v-model="buildingTypeValue"
            class="value-input"
            disabled
          >
          </el-input>
          <el-select
            v-model="buildingTypeValue"
            placeholder="请选择建筑功能"
            class="value-input"
            :disabled="isReadFlag==true?true:false"
          >
            <el-option v-for="item in buildingTypeOptions" :key="item.code" :label="item.name" :value="item.code">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="建筑地点" prop="address">
          <el-input
            type="textarea"
            placeholder="请输入建筑地点"
            v-inputFilter:search
            v-model="BuildingInformationForm.address"
            :maxlength="64"
            class="value-input"
            :disabled="isReadFlag==true?true:false"
          >
          </el-input>
        </el-form-item>
        <!-- <el-form-item label="各功能分区面积(㎡)" prop="area">
          <el-input v-model="BuildingInformationForm.area" disabled v-inputFilter:number class="value-input">
          </el-input>
        </el-form-item>
        <el-form-item label="空调面积(㎡)" prop="airConditionedArea">
          <el-input
            v-model="BuildingInformationForm.airConditionedArea"
            disabled
            class="value-input"
            v-inputFilter:number
          >
          </el-input>
        </el-form-item> -->
        <el-form-item label="采暖面积(㎡)" prop="heatingArea">
          <el-input
            placeholder="请输入采暖面积(㎡)"
            v-model="BuildingInformationForm.heatingArea"
            class="value-input"
            :disabled="isReadFlag==true?true:false"
            v-inputFilter:number
          >
          </el-input>
        </el-form-item>
        <el-form-item label="建筑空调系统形式" prop="coolingMode">
          <el-input
            placeholder="请输入建筑空调系统形式"
            v-if="isReadFlag==true&&BuildingInformationForm.coolingMode==null"
            v-model="BuildingInformationForm.coolingMode"
            class="value-input"
            disabled
          >
          </el-input>
          <el-select
            placeholder="请选择建筑空调系统形式"
            v-else
            v-model="BuildingInformationForm.coolingMode"
            class="value-input"
            :disabled="isReadFlag==true?true:false"
          >
            <el-option v-for="item in coolingModeOptions" :key="item.code" :label="item.name" :value="item.code">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="建筑采暖系统形式" prop="heatingMode">
          <el-input
            placeholder="请输入建筑采暖系统形式"
            v-if="isReadFlag==true&&BuildingInformationForm.heatingMode==null"
            v-model="BuildingInformationForm.coolingMode"
            class="value-input"
            disabled
          >
          </el-input>
          <el-select
            placeholder="请选择建筑采暖系统形式"
            v-else
            v-model="BuildingInformationForm.heatingMode"
            class="value-input"
            :disabled="isReadFlag==true?true:false"
          >
            <el-option v-for="item in heatingModeOptions" :key="item.code" :label="item.name" :value="item.code">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="建筑体型系数" prop="shapeCoefficient">
          <el-input
            placeholder="请输入建筑体型系数"
            v-model="BuildingInformationForm.shapeCoefficient"
            class="value-input"
            :disabled="isReadFlag==true?true:false"
            v-inputFilter:number
          >
          </el-input>
        </el-form-item>
        <el-form-item label="建筑结构形式" prop="structure">
          <el-input
            placeholder="请输入建筑结构形式"
            v-model="BuildingInformationForm.structure"
            :maxlength="32"
            v-inputFilter:search
            class="value-input"
            :disabled="isReadFlag==true?true:false"
          >
          </el-input>
        </el-form-item>
        <el-form-item label="建筑外墙材料形式" prop="wallMaterial">
          <el-input
            placeholder="请输入建筑外墙材料形式"
            v-model="BuildingInformationForm.wallMaterial"
            :maxlength="32"
            v-inputFilter:search
            class="value-input"
            :disabled="isReadFlag==true?true:false"
          >
          </el-input>
        </el-form-item>
        <el-form-item label="建筑外墙保温形式" prop="wallWarmMode">
          <el-input
            placeholder="请输入建筑外墙保温形式"
            v-model="BuildingInformationForm.wallWarmMode"
            :maxlength="32"
            v-inputFilter:search
            class="value-input"
            :disabled="isReadFlag==true?true:false"
          >
          </el-input>
        </el-form-item>
        <el-form-item label="建筑外帘类型" prop="curtainType">
          <el-input
            placeholder="请输入建筑外帘类型"
            v-model="BuildingInformationForm.curtainType"
            :maxlength="32"
            v-inputFilter:search
            class="value-input"
            :disabled="isReadFlag==true?true:false"
          >
          </el-input>
        </el-form-item>
        <el-form-item label="建筑玻璃类型" prop="glassType">
          <el-input
            placeholder="请输入建筑玻璃类型"
            v-model="BuildingInformationForm.glassType"
            :maxlength="32"
            v-inputFilter:search
            class="value-input"
            :disabled="isReadFlag==true?true:false"
          >
          </el-input>
        </el-form-item>
        <el-form-item label="窗框材料类型" prop="windowMaterialType">
          <el-input
            placeholder="请输入窗框材料类型"
            v-model="BuildingInformationForm.windowMaterialType"
            v-inputFilter:search
            :maxlength="32"
            class="value-input"
            :disabled="isReadFlag==true?true:false"
          >
          </el-input>
        </el-form-item>
      </el-form>
      <template #footer>
        <div style="text-align: center">
          <el-button v-if="!isReadFlag" @click="onCancel">取消</el-button>
          <el-button type="primary" @click="onSubmit" v-if="!isReadFlag">确认 </el-button>
        </div>
      </template>
    </el-dialog>
  </div>
  <!-- 新增/编辑 弹窗 end -->
</div>
