.building-information-config {
  height: 100%;

  &-pageHeader {
    display: flex;
    justify-content: end;
  }

  .el-select {
    width: 100%;
  }

  .el-from {
    &-item {
      &__content {
        height: 36px !important;
      }
    }
  }

  .el-input.value-input,
  .el-select.value-input,
  .tree-select,
  .el-textarea.value-input {
    text-align: left;
    margin-left: 10px;
  }

  .buildingInfoDialog {
    :deep(.el-dialog__body) {
      max-height: 520px;
      overflow-y: auto;
    }
  }
}

:deep(.el-popover.el-popper) {
  width: 100%;
}
