.th-alarm-track {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  cursor: pointer;

  &--container {
    width: 100%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding: 0.18rem 0.24rem 0.34rem;
    gap: 0.16rem;

    .th-atc-left,
    .th-atc-right {
      min-width: calc(50% - 0.08rem);
      max-width: calc(50% - 0.08rem);
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: flex-start;

      row-gap: 0.32rem;
    }
  }

  &--empty {
    width: 100%;
    flex: 1 1 auto;
    overflow: hidden;

    & > img {
      height: 0.78rem;
    }

    & > span {
      display: inline-block;
      font-size: 0.14rem;
      opacity: 0.5;
      color: rgba(255, 255, 255, 100);
      margin-top: 0.1rem;
    }
  }
}
