.one {
  background-color: #3681ff;
}

.two {
  background-color: #ff9120;
}

.three {
  background-color: #ffcb20;
}

.four {
  background-color: #00b261;
}

.five {
  background-color: #fe4b4e;
}

.six {
  background-color: #443aff;
}

.seven {
  background-color: #a83bff;
}

.eight {
  background-color: #00a5b2;
}

.nine {
  background-color: #d91026;
}

.ten {
  background-color: #ec50d2;
}
