<div v-drag class="addDialog">
  <el-dialog
    :title="!isAddFlag ? '编辑数据' : '新增数据'"
    v-model="dialogFormVisible"
    width="560px"
    :before-close="onBeforeClose"
    :close-on-click-modal="false"
  >
    <el-form :model="dataForm" :rules="rules" ref="addFormRef" label-position="right">
      <el-form-item label="采集参数" label-width="100px">
        <input disabled v-model="paramName" maxlength="20" autocomplete="off" />
      </el-form-item>
      <el-form-item label="时间颗粒" label-width="100px">
        <el-radio-group v-model="dataForm.timeType">
          <el-radio :label="item.timeName" v-for="item in timeUnitList" :key="item.timeCode"></el-radio>
        </el-radio-group>
      </el-form-item>
      <el-form-item label="日期" label-width="100px" prop="collectTime">
        <el-date-picker :clearable="false" v-model="dataForm.collectTime" type="date" placeholder="请选择日期">
        </el-date-picker>
      </el-form-item>
      <el-form-item label="录入值" label-width="100px" prop="val">
        <el-input v-inputFilter:number v-model="dataForm.val" placeholder="请输入录入值"></el-input>
      </el-form-item>
      <el-form-item label="数据描述" label-width="100px" prop="remark">
        <el-input
          v-inputFilter:search
          :rows="2"
          type="textarea"
          v-model="dataForm.remark"
          :maxlength="32"
          placeholder="请输入描述"
        >
        </el-input>
      </el-form-item>
    </el-form>
    <template #footer>
      <span class="dialog-footer">
        <button @click="onBeforeClose">取消</button>
        <button primary @click="onSubmit" :loading="loading">确定</button>
      </span>
    </template>
  </el-dialog>
</div>
