#menu-management-config {
  height: 100%;

  .el-table::before {
    height: 0;
  }

  .el-table {
    padding-bottom: 16px;

    .el-button--text {
      font-size: 14px !important;
    }

    :deep(thead tr th:first-child .cell) {
      text-align: left !important;
    }

    :deep(tbody tr td:first-child .cell) {
      text-align: left !important;
    }
  }
  .alias-container {
    display: flex;
    align-items: center;
    justify-content: center;
    .alias-name {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    .alias-edit {
      display: none;
    }
    &:hover {
      .alias-edit {
        display: inline-block;
        cursor: pointer;
        margin-left: 8px;
      }
    }
  }
  :deep(tbody tr) {
    height: 60px;
  }
  :deep(tbody tr:nth-child(even)) {
    background-color: white !important;
  }

  :deep(.el-table__fixed::before) {
    background-color: #fff !important;
  }
}
