<div id="menu-management-config" style="width: 100%">
  <page-common :title="'菜单管理'" :isSubHead="true" :showSearch="true">
    <template v-slot:pageSearch>
      <div class="common-search">
        <div class="search-form">
          <el-form :model="formSearch" :inline="true" @submit.native.prevent>
            <el-form-item label="">
              <el-input v-inputFilter:search v-model="formSearch.likeName" placeholder="请输入菜单名称" maxlength="20">
              </el-input>
            </el-form-item>
            <el-form-item>
              <button primary @click="onSubmit">查询</button>
            </el-form-item>
            <el-form-item>
              <button @click="onReset">重置</button>
            </el-form-item>
          </el-form>
        </div>
      </div>
    </template>
    <template v-slot:pageContent>
      <div v-loading="loading" style="height: 100%">
        <el-table
          :data="tableData"
          v-show="!loading"
          :row-key="'id'"
          style="width: 100%"
          :border="false"
          stripe
          :expand-row-keys="expandedKeys"
          :tree-props="{ children: 'childMenu', hasChildren: 'hasChildren' }"
          @expand-change="handleExpand"
        >
          <el-table-column prop="name" label="菜单名称" :show-overflow-tooltip="true" :width="tableTreeNameWidth">
            <template #default="scope">
              <span
                v-html="scope.row.stage===1&&scope.row.childMenu.length === 0?'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'+
              formatTreeName(scope.row):formatTreeName(scope.row)"
              ></span>
              <span></span>
            </template>
          </el-table-column>
          <el-table-column prop="alias" label="别名" :show-overflow-tooltip="true" align="center">
            <template #default="scope">
              <div class="alias-container">
                <el-input
                  v-if="mapIsEditing(scope.row,scope.$index)"
                  v-model="scope.row.alias"
                  maxlength="6"
                  v-auto-focus
                  v-auto-blur
                  @change="changeVal(scope.row)"
                  @blur="blurEvt(scope.row,scope.$index)"
                  v-inputFilter:search="{ allowSpace: false }"
                ></el-input>
                <div class="alias-name" v-else>
                  {{(scope.row.alias === '' || scope.row.alias === null) ? '-' : scope.row.alias}}
                </div>
                <span
                  v-if="!mapIsEditing(scope.row, scope.$index)"
                  class="alias-edit"
                  @click="aliasEdit(scope.row, scope.$index)"
                  ><IconEditPen
                /></span>
              </div>
            </template>
          </el-table-column>
          <el-table-column prop="orderNum" label="本级排序号" :show-overflow-tooltip="true" align="center">
          </el-table-column>
          <el-table-column label="操作" align="center" width="180">
            <template #default="scope">
              <el-switch
                v-model="scope.row.showFlag"
                inline-prompt
                active-text="开"
                inactive-text="关"
                @change="changeSwitch(scope.row)"
              />
            </template>
          </el-table-column>
        </el-table>
      </div>
    </template>
  </page-common>
</div>
