.ec-search {
  display: flex;
  flex-wrap: wrap;

  &-typeselect {
    :deep(.el-select) {
      width: 120px;
      margin-right: 10px;
    }
  }
  .energy-model {
    width: 104px;
  }

  :deep(.el-form) {
    display: flex;
    flex-wrap: wrap;
  }

  :deep(.el-input--prefix .el-input__inner) {
    cursor: text !important;
  }

  :deep(.el-date-editor .el-range-input) {
    cursor: text !important;
  }
}
