<div
  :class="[
  'ea-card',
  'flex-column-justify-end',
  isMenuCollapsed ? 'collapsed-menu' : ''
]"
  :data-treeId="energyAnomalyInfo.treeId"
  :data-treeName="energyAnomalyInfo.treeName"
  :data-treePath="energyAnomalyInfo.treePath"
  :data-abnormalNumber="energyAnomalyInfo.abnormalNumber"
  :data-abnormalDay="energyAnomalyInfo.abnormalDay"
  :data-triggerFlag="energyAnomalyInfo.triggerFlag"
  :data-abnormalStatus="energyAnomalyInfo.abnormalStatus"
  :data-currentTab="currentTab"
>
  <div class="flex flex-column">
    <div class="flex-row-justify-center">
      <span class="ea-card-title bold font24" :title="energyAnomalyInfo.treeName">
        {{ energyAnomalyInfo.treeName || '' }}
      </span>
      <span class="detail-icon">
        <i class="iconfont icon-Right"></i>
      </span>
    </div>
    <div class="font14 ea-card-treepath" :title="energyAnomalyInfo.treePath">
      {{ energyAnomalyInfo.treePath }}
    </div>
  </div>
  <div class="flex-row-start-center">
    <span class="ea-card-count font14">
      {{ currentTab === EA_ST_TABS.实时异常 ? '用能异常':currentTab === EA_ST_TABS.边界异常 ? '边界异常':
      `${energyAnomalyInfo.abnormalNumber || 0}项异常` }}
    </span>
    <span class="ea-card-subtext" v-if="currentTab !== EA_ST_TABS.边界异常">
      <span class="font12">近30天异常</span>
      <span class="bold font18">{{ energyAnomalyInfo.abnormalDay || 0 }}</span>
      <span class="font12">天</span>
    </span>
    <span class="ea-card-subtext boundary" v-if="currentTab === EA_ST_TABS.边界异常">
      <span :class="energyAnomalyInfo.abnormalStatus === '未查看' ? 'unlook' : 'trigger'">
        {{energyAnomalyInfo.abnormalStatus}}
      </span>
    </span>
  </div>
</div>
