/* 文本相关标签样式控制 */
/* 标题 */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;

  color: var(--color-text-title);
}

/* 段落 */
p {
  margin: 0px;

  color: var(--color-text-secondary);

  word-break: break-all;
  white-space: pre-wrap;
}

/* 标签 */
label {
  color: var(--color-text-primary);
  cursor: text;
}
