.energy-contrast {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  min-width: 900px;
  overflow-y: auto;

  .lineLeft {
    height: 16px;
    width: 0;
    border-left: 4px solid #1890ff;
    margin-right: 8px;
  }

  .headerEcharts {
    display: flex;
    justify-content: space-between;

    .title {
      color: #000000;
      margin-bottom: 30px;
      line-height: 22px;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.85);
      font-weight: 700;
      display: flex;
      align-items: center;
    }

    margin-top: 20px;
  }

  .echarts {
    width: 100%;
    height: 373px;

    * {
      height: 100%;
    }
  }

  .headerTable {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .title {
      color: #000000;
      line-height: 22px;
      font-size: 14px;
      font-weight: 700;
      display: flex;
      align-items: center;
    }
  }

  .etLine {
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.15);
    margin: 20px 0;
  }

  table tr td {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .pageCommon {
    .select {
      display: flex;

      .selectLabel {
        display: flex;
        align-items: center;
        width: 220px;

        .selectLabelFont {
          color: #000000;
          width: 100px;
        }

        :deep(.el-select) {
          width: 170px;
          margin-right: 20px;
        }

        :deep(.el-cascader) {
          width: 170px;
          margin-right: 20px;
        }
      }
    }
  }
}

.table-column-overflow div {
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
