<!-- <div class="" 
    (click)="recordPopUp()"
    [ngClass]="{'lable-btn': needMap, 'upload-img': !ishideDiv}"
    *ngIf="ishideDiv"
    > 
    <label class="label-placeholder" *ngIf="!lableText && needMap">请选择</label>
    <label class="label-text" *ngIf="lableText && needMap">{{lableText}}</label>
    <label class="label-choice" *ngIf="needMap">{{lableTip}}</label>
    <ion-img class="upload-img-icon" *ngIf="!ishideDiv" src="../../../../assets/img/energy-manager/photograph.svg"></ion-img>
</div> -->
