@import url(../../../assets/style/color.less);

#freezer {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  & > .content-container {
    display: grid;
    grid-template-columns: (422/1648fr) (442/1648fr) (684/1648fr);
    grid-template-rows: auto auto 1fr;
    place-content: stretch space-between;
    place-items: stretch;
    gap: 16px;
  }
}

::ng-deep {
  h5::before {
    content: '';

    width: 4px;
    height: 16px;
    margin-right: 8px;

    display: inline-block;

    background-color: @color-primary;

    transform: translateY(3px);
  }

  .chart-tooltip-container {
    max-height: 236px;
    overflow-y: auto;

    color: @color-default;
    border-radius: 4px;

    & > h6 {
      color: @color-default;

      line-height: 24px;
      font-size: 16px;
    }

    & > .chart-tooltip-item-container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 8px;

      & > .chart-tooltip-item-icon {
        width: 8px;
        height: 8px;

        border: 1px solid @color-default;
      }
      & > .chart-tooltip-item-text {
        color: @color-default;
      }
    }
  }
}
