<div id="freezer">
  <ems-freezer-search></ems-freezer-search>

  <hr class="mt12" />

  <div class="content-container mt16" flexible="true">
    <ng-container [ngSwitch]="mode">
      <ems-freezer-single-overview *ngSwitchCase="'single'" style="height: 322px"></ems-freezer-single-overview>
      <ems-freezer-single-benchmarking *ngSwitchCase="'single'" style="height: 322px"></ems-freezer-single-benchmarking>
      <ems-freezer-single-parameter *ngSwitchCase="'single'" style="height: 322px"></ems-freezer-single-parameter>
      <ems-freezer-multiple-analysis
        *ngSwitchCase="'multiple'"
        style="min-height: 363px; grid-column: span 3"
      ></ems-freezer-multiple-analysis>

      <hr style="grid-column: span 3" />

      <ems-freezer-single-analysis
        *ngSwitchCase="'single'"
        style="min-height: 322px; grid-column: span 3"
      ></ems-freezer-single-analysis>
      <ems-freezer-multiple-parameter
        *ngSwitchCase="'multiple'"
        style="grid-column: span 3"
      ></ems-freezer-multiple-parameter>
    </ng-container>
  </div>
</div>
