<div class="kb-benchmarking-library">
  <page-container title="能耗对标库">
    <template v-slot:pageSearch>
      <!-- 头部 -->
      <el-form :inline="true" :model="formInline" class="kb-benchmarking-library-search-from" @submit.native.prevent>
        <el-form-item>
          <el-input
            v-inputFilter:search
            placeholder="输入医院名称"
            v-model="formInline.search"
            @keyup.enter="onSearch"
            style="width: 240px"
          >
          </el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="onSearch">查询</el-button>
          <el-button @click="onReset">重置</el-button>
        </el-form-item>
      </el-form>
    </template>
    <template v-slot:pageContent>
      <div class="kb-benchmarking-library-content">
        <div class="benchmarkingBtn">
          <el-button type="primary" @click="onAddDialogShow" size="small">新 增</el-button>
        </div>
        <div class="benchmarkingTable" v-loading="loading">
          <table v-if="!loading" style="width: 100%">
            <thead>
              <tr>
                <th style="width: 70px">序号</th>
                <th>医院名称</th>
                <th>所属地区</th>
                <th>医院等级</th>
                <th>医院类型</th>
                <th>供暖方式</th>
                <th>供冷方式</th>
                <th style="width: 180px">操作</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, index) in tableData" :key="'benchmarking_library_'+index">
                <td>{{ (pageNum - 1) * pageSize + index + 1 }}</td>
                <td ellipsis>
                  <div v-if="item.systemName === null || item.systemName === ''">--</div>
                  <el-tooltip
                    v-else
                    class="tips"
                    effect="dark"
                    :content="item.systemName"
                    placement="bottom"
                    :offset="4"
                    :show-after="500"
                  >
                    <div class="text">{{ item.systemName }}</div>
                  </el-tooltip>
                </td>
                <td ellipsis>
                  <div v-if="item.regionTypeText === null || item.regionTypeText === ''">--</div>
                  <el-tooltip
                    v-else
                    class="tips"
                    effect="dark"
                    :content="item.regionTypeText"
                    placement="bottom"
                    :offset="4"
                    :show-after="500"
                  >
                    <div class="text">{{ item.regionTypeText }}</div>
                  </el-tooltip>
                </td>
                <td ellipsis>
                  <div v-if="item.systemLevelText === null || item.systemLevelText === ''">--</div>
                  <el-tooltip
                    v-else
                    class="tips"
                    effect="dark"
                    :content="item.systemLevelText"
                    placement="bottom"
                    :offset="4"
                    :show-after="500"
                  >
                    <div class="text">{{ item.systemLevelText }}</div>
                  </el-tooltip>
                </td>
                <td ellipsis>
                  <div v-if="item.systemTypeText === null || item.systemTypeText === ''">--</div>
                  <el-tooltip
                    v-else
                    class="tips"
                    effect="dark"
                    :content="item.systemTypeText"
                    placement="bottom"
                    :offset="4"
                    :show-after="500"
                  >
                    <div class="text">{{ item.systemTypeText }}</div>
                  </el-tooltip>
                </td>
                <td ellipsis>
                  <div v-if="item.heatingModeText === null || item.heatingModeText === ''">--</div>
                  <el-tooltip
                    v-else
                    class="tips"
                    effect="dark"
                    :content="item.heatingModeText"
                    placement="bottom"
                    :offset="4"
                    :show-after="500"
                  >
                    <div class="text">{{ item.heatingModeText }}</div>
                  </el-tooltip>
                </td>
                <td ellipsis>
                  <div v-if="item.coolingModeText === null || item.coolingModeText === ''">--</div>
                  <el-tooltip
                    v-else
                    class="tips"
                    effect="dark"
                    :content="item.coolingModeText"
                    placement="bottom"
                    :offset="4"
                    :show-after="500"
                  >
                    <div class="text">{{ item.coolingModeText }}</div>
                  </el-tooltip>
                </td>
                <td style="width: 180px">
                  <span class="operate-span" @click="onBlUpdate(item)">编辑</span>
                  <el-popconfirm title="确认删除该条数据吗?" @confirm="onBlDelete(item.id)">
                    <template #reference>
                      <span class="delete-span">删除</span>
                    </template>
                  </el-popconfirm>
                  <span class="operate-span" @click="onDataMaintenance(item)">维护数据</span>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="table-nodata flex-column-center-center" v-if="tableData?.length === 0 && !loading">
            <img src="../../../assets/images/common/common-data-none.svg" alt="" />
            <p>暂无数据</p>
          </div>
          <el-pagination
            v-show="total > 0"
            :current-page="pageNum"
            :page-sizes="pageSizesArray"
            @size-change="onPageSizeChange"
            @current-change="onCurrentChange"
            :page-size="pageSize"
            layout="total, prev, pager, next, sizes, jumper"
            :total="total"
          >
          </el-pagination>
        </div>
      </div>
    </template>
  </page-container>
</div>
<AddAndEditDialog
  v-drag
  :rows="rows"
  :Region="Region"
  :HospitalLevel="HospitalLevel"
  :HospitalType="HospitalType"
  :HeatingMode="HeatingMode"
  :CoolingMode="CoolingMode"
  :key="nums"
  :dialogAdd="dialogAdd"
  @addOK="getList"
>
</AddAndEditDialog>
