.eca-using-progress {
  position: relative;
  margin-top: 32px;
  height: 142px;

  &__title {
    flex-basis: 56px;
    font-size: var(--font14);
    line-height: 20px;
    margin-right: 16px;
    color: var(--iot-font-color-deep);
  }

  &__bar {
    max-width: 86%;
    position: relative;
    height: 12px;
    background-color: var(--progress-bg-color);
    border-radius: 12px;
    display: flex;
    flex: 1;

    .datescope {
      width: 100%;
      font-size: var(--font14);
      position: absolute;
      top: -32px;
      color: var(--iot-font-color-root);
      overflow: hidden;
    }

    .progress-current {
      height: 12px;
      border-radius: 6px 0 0 6px;
    }

    .progress-ideal {
      height: 12px;
      border-radius: 6px 0 0 6px;
      background-image: url('../../../../../assets/img/energy-conservation-assess/ec-surplus-bar-bg.svg');
    }

    &-status {
      position: absolute;
      top: -10px;

      .status-circle {
        position: absolute;
        width: 40px;
        height: 32px;

        .white-circle {
          position: absolute;
          top: 50%;
          left: 60%;
          transform: translate(-50%, -50%);
          height: 12px;
          width: 12px;
          border-radius: 100px;
          background-color: #fff;
        }
      }

      .status-tooltip {
        min-width: 130px;
        padding: 4px 14px;
        border-radius: 8px;
        text-align: center;
        position: absolute;
        top: 36px;
        transform: translateX(-50%);

        .data-title {
          line-height: 22px;
          color: var(--iot-font-color-root);
          word-break: keep-all;
        }

        .data-num {
          line-height: 22px;
          color: var(--iot-font-color-deep);
          max-width: 200px;
        }
      }

      .status-tooltip::before {
        content: '';
        width: 2px;
        height: 11px;
        position: absolute;
        top: -12px;
        left: 54%;
      }
    }

    &-ideal {
      position: absolute;
      min-width: 130px;
      padding: 4px 16px;
      border-radius: 8px;
      text-align: center;
      top: -66px;
      border: 1px dashed var(--energy-tooltip-shadow-border-color);
      background: var(--energy-tooltip-shadow-background-color);
      color: var(--iot-font-color-shadow);
      transform: translateX(-50%);

      .tooltip-title {
        line-height: 22px;
        font-size: var(--font12);
        color: var(--iot-font-color-shadow);
        word-break: keep-all;
      }

      .tooltip-num {
        font-size: var(--font14);
        line-height: 22px;
        color: var(--iot-font-color-shadow);
        max-width: 200px;
      }
    }

    &-ideal::before {
      content: '';
      width: 2px;
      height: 32px;
      position: absolute;
      bottom: -36px;
      left: 50%;
      background: var(--energy-tooltip-shadow-border-color);
    }

    &-over {
      position: absolute;
      right: -40px;
      top: -6px;
      background-image: url('../../../../../assets/img/energy-conservation-assess/ec-progress-white-crossing.svg');
      height: 24px;
      z-index: 2;
    }
  }

  .normal {
    .progress-current {
      background: linear-gradient(
        to right,
        var(--progress-green-color) 0%,
        var(--progress-blue-color) 100%
      );
    }

    .status-tooltip::before {
      background-color: var(--progress-blue-color);
    }
  }

  .unnormal {
    .progress-current {
      background: linear-gradient(
        90deg,
        var(--progress-green-color) 0%,
        var(--progress-blue-color) 50%,
        var(--progress-yellow-color) 100%
      );
    }

    .status-tooltip::before {
      background-color: var(--progress-yellow-color);
    }
  }

  .over {
    .progress-current {
      background: linear-gradient(
        90deg,
        var(--progress-green-color) 0%,
        var(--progress-blue-color) 50%,
        var(--progress-red-color) 100%
      );
    }

    .status-tooltip::before {
      background-color: var(--progress-red-color);
    }
  }

  &__max {
    flex-basis: 29px;
    margin-left: 32px;
    text-align: right;
    white-space: nowrap;

    div {
      color: var(--iot-font-color-root);
      font-size: var(--font14);
      line-height: 22px;
    }

    div:last-child {
      margin-top: 10px;
      margin-bottom: 24px;
    }
  }
}
