<div class="energy-event-detail-dialog">
  <h5>基本信息</h5>
  <el-form :model="eventDetailObj" label-width="64px">
    <el-form-item label="事件类型:"> {{eventDetailObj.eventTypeName}} </el-form-item>
    <el-form-item label="事件标题:"> {{eventDetailObj.eventTitle}} </el-form-item>

    <!-- 用能区域变化 -->
    <div v-if="eventDetailObj.eventTypeId === 2">
      <el-form-item label="开始时间:"> {{eventDetailObj.startTime}} </el-form-item>
      <el-form-item label="选择区域:"> {{eventDetailObj.regions}} </el-form-item>
    </div>

    <!-- 大功率用能设备变更 -->
    <div v-if="eventDetailObj.eventTypeId === 3">
      <el-form-item label="开始时间:"> {{eventDetailObj.startTime}} </el-form-item>
      <el-form-item label="变更性质:"> {{eventDetailObj.changeType}} </el-form-item>
      <el-form-item label="录入方式:"> {{eventDetailObj.entryMode}} </el-form-item>
      <el-form-item v-if="eventDetailObj.entryMode !== '人工录入'" label="选择设备:">
        {{eventDetailObj.devices}}
      </el-form-item>
      <div v-if="eventDetailObj.entryMode === '人工录入'">
        <div v-for="(key,item) in eventDetailObj.energyInfo" style="display: flex">
          <el-form-item label="能源类型:"> {{item}} </el-form-item>
          <el-form-item label="能源用量:"> {{key}} </el-form-item>
        </div>
      </div>
    </div>

    <!-- 区域业务调整 -->
    <div v-if="eventDetailObj.eventTypeId === 5">
      <el-form-item label="开始时间:"> {{eventDetailObj.startTime}} </el-form-item>
      <el-form-item label="录入方式:"> {{eventDetailObj.entryMode}} </el-form-item>
      <el-form-item v-if="eventDetailObj.entryMode !== '人工录入'" label="选择区域:">
        {{eventDetailObj.regions}}
      </el-form-item>
      <div v-if="eventDetailObj.entryMode === '人工录入'">
        <div v-for="(key,item) in eventDetailObj.energyInfo" style="display: flex">
          <el-form-item label="能源类型:"> {{item}} </el-form-item>
          <el-form-item label="能源用量:"> {{key}} </el-form-item>
        </div>
      </div>
      <el-form-item label="结束时间:"> {{eventDetailObj.endTime}} </el-form-item>
    </div>

    <!-- 空调供应时段调整 -->
    <div v-if="eventDetailObj.eventTypeId === 6">
      <el-form-item label="调整方式:"> {{eventDetailObj.adjustmentType}} </el-form-item>
      <el-form-item label="原定时间:"> {{eventDetailObj.startTime}} </el-form-item>
      <el-form-item label="调整时间:"> {{eventDetailObj.endTime}} </el-form-item>
      <el-form-item label="录入方式:"> {{eventDetailObj.entryMode}} </el-form-item>
      <el-form-item v-if="eventDetailObj.entryMode !== '人工录入'" label="调整节点:">
        {{eventDetailObj.adjustmentNode}}
      </el-form-item>
      <div v-if="eventDetailObj.entryMode === '人工录入'">
        <div v-for="(key,item) in eventDetailObj.energyInfo" style="display: flex">
          <el-form-item label="能源类型:"> {{item}} </el-form-item>
          <el-form-item label="能源用量:"> {{key}} </el-form-item>
        </div>
      </div>
    </div>

    <!-- 其他调整 -->
    <div v-if="eventDetailObj.eventTypeId === 7">
      <el-form-item label="开始时间:"> {{eventDetailObj.startTime}} </el-form-item>
      <el-form-item label="结束时间:"> {{eventDetailObj.endTime}} </el-form-item>
    </div>

    <!-- 结束 -->
    <el-form-item label="事件详情:"> {{eventDetailObj.eventDetail}} </el-form-item>
    <el-form-item label="录入人员:"> {{eventDetailObj.entryPersonnel}} </el-form-item>
  </el-form>
  <section v-if="eventDetailObj.tableInfo.tableNames.length">
    <h5>能耗明细</h5>
    <table>
      <thead>
        <tr>
          <th v-for="item in eventDetailObj.tableInfo.tableNames" ::key="item">{{item}}</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in eventDetailObj.tableInfo.tableValues">
          <td v-for="items in item">{{items}}</td>
        </tr>
      </tbody>
    </table>
    <div v-if="eventDetailObj.tableInfo.tableValues.length === 0" class="table-nodata flex-column-center-center">
      <img src="@/assets/images/common/common-data-none.svg" alt="" />
      <p>暂无数据</p>
    </div>
  </section>
  <div v-if="eventDetailObj.tableInfo.tableNames.length === 0" class="table-nodata flex-column-center-center">
    <img src="@/assets/images/common/common-data-none.svg" alt="" />
    <p>暂无数据</p>
  </div>
</div>
