.benchmarking-library {
  height: 100%;
  .resetBtn {
    background-color: #fff !important;
    &:active {
      border-color: #096dd9 !important;
      color: #096dd9;
    }
  }
  .benchmarking-analysis {
    padding-bottom: 20px;
    .icon-description {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 18px;
      &-left {
        width: 70.86%;
      }
      &-right {
        width: 20.38%;
        display: flex;
        align-items: flex-start;
        box-sizing: border-box;
        overflow-x: hidden;
        max-height: 220px;
        min-height: 228px;
        overflow-y: auto;
        &-radio {
          display: flex;
          align-items: center;
          width: 100%;
          word-break: keep-all;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          box-sizing: border-box;
          height: 38px !important;
          line-height: 38px !important;
        }
      }
    }
  }
}
:deep(.el-form--inline .el-form-item) {
  align-items: baseline;
}
:deep(.el-radio__inner) {
  height: 10px;
  width: 10px;
  margin-top: 14px;
  &::after {
    width: 0px;
    height: 0px;
  }
}
:deep(.el-radio__input) {
  height: 38px;
}
:deep(.el-select__popper.el-popper) {
  width: 194px;
}
