<div :class="['main-container__aside', isCollapse ? 'is-collapsed' : '', openSubMenuKeys?.length>0 ? 'is-open' : '']">
  <div
    class="menu-list flex-column-justify-end"
    style="z-index: 999; position: relative; height: 100%"
    @mouseover="onMouseOver"
    @mouseleave="onMouseOut"
  >
    <a-menu mode="vertical" :router="false" :selectedKeys="selectedMenu" @openChange="onSubMenuOpen">
      <AsideMenuItem :dataSource="menuList"></AsideMenuItem>
    </a-menu>
    <div class="main-container__aside-expand" style="width: 100%">
      <div class="link-btn operate-btn" @click="onRouterLink">
        <el-tooltip effect="dark" content="跳转至Web页面" placement="top">
          <i class="iconfont icon-zhuye"></i>
        </el-tooltip>
      </div>
      <div v-if="allowCollapse" class="collapse-btn operate-btn" @click="onCollapseChange">
        <img src="../../assets/img/common/common-menu-action.png" alt="收起" />
      </div>
    </div>
  </div>
</div>
