.main-container__aside {
  // --menu-bg-color: #15203F; // 菜单背景色
  // var(--menu-hover-color): #2F3957; // hover样式
  // --menu-selected-color: #1890FF; // 选中样式
  width: 208px;
  transition: all 233ms;

  .menu-list {
    width: 208px;
    transition: all 233ms;
  }

  // 收缩
  &.is-collapsed {
    width: 50px;
    transition: all 233ms;

    .ant-menu-submenu-arrow {
      display: none !important;
      transition: all 233ms;
    }

    .menu-list {
      width: 50px;
      height: 100%;
      background-color: var(--menu-bg-color);
      transition: all 233ms;
    }

    .ant-menu {
      .ant-menu-title-content {
        display: none;
        transition: all 233ms;
      }

      .ant-menu-submenu-arrow {
        display: none;
        transition: all 233ms;
      }
    }

    .main-container__aside-expand {
      .collapse-btn img {
        transform: rotate(180deg);
        transition: all 233ms;
      }
    }

    .link-btn.operate-btn {
      display: none;
    }

    &.is-open,
    &:hover {
      .ant-menu-title-content {
        display: inline-block !important;
        transition: all 233ms;
      }

      .ant-menu-submenu-arrow {
        display: inline-block !important;
        transition: all 233ms;
      }

      .link-btn.operate-btn {
        display: block;
      }
    }
  }

  &-expand {
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    background-color: #30363c;

    i.iconfont {
      font-size: 16px;
      color: #fff;
      opacity: 0.6;
      transition: all 100ms;
    }

    i.iconfont:hover {
      opacity: 1;
      transition: all 100ms;
    }

    .operate-btn {
      position: relative;
      cursor: pointer;
      padding: 16px 17px;
    }

    .link-btn.operate-btn {
      display: block;
    }

    .operate-btn::before {
      content: '';
      width: 1px;
      height: 48px;
      opacity: 0.17;
      background: linear-gradient(to bottom, rgba(251, 251, 251, 0), rgba(251, 251, 251, 1), rgba(251, 251, 251, 0));
      position: absolute;
      top: 0;
      left: 0;
    }

    .collapse-btn {
      img {
        width: 16px;
        height: 16px;
        transform: rotate(0);
        transition: all 233ms;
      }
    }
  }
}

// 根目录
.ant-menu.ant-menu-root {
  width: 100%;
  flex: 1;
  overflow-y: auto;
  cursor: pointer;
  border-right: none !important;
  background-color: var(--menu-bg-color);
  scrollbar-width: none; // 兼容火狐

  * {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.85);
  }

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  // 通用样式
  & > div {
    position: relative;
    background-color: var(--menu-bg-color) !important;

    & > li {
      background-color: var(--menu-bg-color) !important;
    }
  }

  // icon
  .ant-menu-item-icon {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;

    & + span {
      margin-left: 0;
      padding-left: 8px;
      color: rgba(255, 255, 255, 0.85);
    }
  }

  // 普通menuitem
  .ant-menu-item[role='menuitem'] {
    display: inline-block;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 50px;
    line-height: 50px;
    display: flex;
    align-items: center;

    .ant-menu-title-content {
      max-width: 120px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-left: 20px;
      text-emphasis: left;
    }

    &.ant-menu-item-selected {
      background-color: var(--menu-selected-color) !important;
    }

    &:not(.ant-menu-item-selected):hover {
      background-color: var(--menu-hover-color) !important;
    }
  }

  // submenu
  li.ant-menu-submenu.ant-menu-submenu-vertical {
    margin: 0;

    .ant-menu-submenu-title {
      position: relative;
      line-height: 50px;
      height: 50px;
      margin: 0;
      padding: 0;
      color: rgba(255, 255, 255, 0.85);
      display: flex;
      align-items: center;

      i {
        display: inline-block;
      }

      .ant-menu-title-content {
        margin-left: 20px;
        text-emphasis: left;
      }

      .ant-menu-submenu-arrow {
        top: 54%;
      }
    }

    &:hover {
      .ant-menu-submenu-title {
        background-color: var(--menu-hover-color);
      }
    }

    &.ant-menu-submenu-selected {
      .ant-menu-submenu-title {
        background-color: var(--menu-selected-color);
      }
    }
  }
}

// 悬浮弹框
.ant-menu-submenu.ant-menu-submenu-popup.ant-menu {
  z-index: 99999999;

  & > .ant-menu {
    // 悬浮框背景色
    background-color: var(--menu-bg-color) !important;
    border-radius: 6px;
  }

  ul,
  ul > div,
  li {
    min-width: 144px;
    width: 144px !important;
  }

  ul {
    scrollbar-width: none; // 兼容火狐
  }

  ul::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
  }

  ul > div > li {
    height: 48px;
    line-height: 48px;
    padding-left: 24px !important;

    .ant-menu-submenu-title {
      padding: 0;
      height: 48px;
      line-height: 48px;

      .ant-menu-submenu-arrow {
        top: 58%;
      }
    }
  }

  * {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.85);
  }

  li .ant-menu-title-content {
    padding: 0 !important;
  }

  // 无子菜单
  & > ul > div > li.ant-menu-item.ant-menu-item-only-child {
    background-color: var(--menu-bg-color) !important;
    transition: all 233ms;

    &.ant-menu-item-selected {
      transition: all 233ms;
      background-color: var(--menu-selected-color) !important;
    }

    &:not(.ant-menu-item-selected):hover {
      transition: all 233ms;
      background-color: var(--menu-hover-color) !important;
    }
  }

  // 有子菜单
  & > ul > div > li.ant-menu-submenu[role='none'] {
    &.ant-menu-submenu-selected {
      transition: all 233ms;
      background-color: var(--menu-selected-color) !important;
    }

    &.ant-menu-submenu-active,
    &:hover {
      background-color: var(--menu-hover-color);
      transition: all 233ms;
    }
  }

  li.ant-menu-submenu.ant-menu-submenu-vertical,
  li[role*='menuitem'] {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}

// 右箭头
.ant-menu-submenu-arrow {
  opacity: 1 !important;
  height: 10px;
  color: rgba(255, 255, 255, 0.85) !important;
}

// 通用样式
.ant-menu-item:active,
.ant-menu-submenu-title:active {
  background-color: var(--menu-bg-color);
}

.ant-menu-item:active {
  background-color: var(--menu-hover-color) !important;
}

.ant-menu-vertical .ant-menu-submenu-title {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.ant-menu-vertical.ant-menu-sub .ant-menu-item,
.ant-menu-vertical-left.ant-menu-sub .ant-menu-item,
.ant-menu-vertical-right.ant-menu-sub .ant-menu-item {
  font-size: 16px;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  height: 48px !important;
  line-height: 48px !important;
  color: rgba(255, 255, 255, 0.85) !important;
}
