<div
  class="bl-explain-item flex-row-start-center"
  v-if="explainInfo.benchmarkingIndexId === radio"
>
  <span
    class="bl-explain-item__title"
    :title="`${explainInfo.name}（${explainInfo.unit}）`"
  >
    对标值
  </span>
  <div class="bl-explain-item__progress">
    <ExplainProgress
      :isLegend="true"
      :explainInfo="explainInfo"
    ></ExplainProgress>
  </div>
</div>
<div
  class="bl-explain-item flex-row-start-center"
  v-if="explainInfo.benchmarkingIndexId === radio"
>
  <span class="bl-explain-item__title" :title="benchmarkingObjectName"
    >{{ benchmarkingObjectName }}</span
  >
  <div class="bl-explain-item__progress">
    <ExplainProgress
      :isLegend="false"
      :explainInfo="explainInfo"
    ></ExplainProgress>
  </div>
</div>
