@import (once) './layout.less';
@import (once) '../iconfont/iconfont.css';
@import (once) './flex.less';

@font-face {
  font-family: DINPro-Bold;
  src: url(../font/DINPro-Bold.woff) format('woff');
}
@font-face {
  font-family: DINPro-Medium;
  src: url(../font/DINProMedium.otf) format('opentype');
}
@font-face {
  font-family: UniDreamLED;
  src: url(../font/UnidreamLED.ttf) format('truetype');
}
@font-face {
  font-family: zihun148hao-zhengkumofangti;
  src: url(../font/zihun148hao-zhengkumofangti.ttf) format('truetype');
}
@font-face {
  font-family: douyuFont-2;
  src: url(../font/douyuFont-2.otf) format('opentype');
}
