<div id="cc-menu">
  <template v-for="main in oMenu.tree">
    <div class="cc-menu-item" :class="oFrame.mapClassOfSelect(main)" @click="oFrame.loadFrame(main)">
      <i :class="['cc-menu-item-icon', 'toc-iconfont', oMenu.mapIcon(main.id)]"></i>
      <span class="cc-menu-item-name">{{ main.name }}</span>
      <!-- <img
        v-if="main.children.length"
        class="cc-menu-item-arrow"
        :class="{ expand: oMenu.mapExpand(main) }"
        src="@/assets/img/common/common-arrow-down.svg"
        alt="展开菜单"
        @click.stop="oMenu.toggleExpand(main)"
      /> -->
      <icon-down
        class="cc-menu-item-arrow"
        v-if="main.children.length"
        :class="{ expand: oMenu.mapExpand(main) }"
        @click.stop="oMenu.toggleExpand(main)"
      />
      <span v-else style="width: 14px; height: 14px"></span>
    </div>

    <transition name="cc-menu">
      <cc-menu-children v-if="main.children.length && oMenu.mapExpand(main)" :menu="main.children"></cc-menu-children>
    </transition>
  </template>
</div>
