#cc-menu {
  width: 224px;
  height: 100%;
  // overflow-x: hidden;
  overflow-y: auto;
  padding: 16px 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 8px;

  .cc-menu-item {
    flex: none;
    height: 48px;
    overflow: hidden;
    padding: 0 20px;

    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;

    color: var(--te-text-color-primary);
    cursor: pointer;
    transition-duration: 233ms;

    > .cc-menu-item-icon {
      flex: none;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font: 16px/1 'toc-iconfont';
    }
    > .cc-menu-item-name {
      flex: auto;
      overflow: hidden;
      padding-right: 8px;
      line-height: 22px;
      font-size: var(--te-font-size-b14);
      font-weight: 500;
      text-overflow: ellipsis;
    }
    > .cc-menu-item-arrow {
      flex: none;
      width: 14px;
      height: 14px;

      transition-duration: 233ms;

      &.expand {
        transform: rotate(-180deg);
      }
    }

    &:hover {
      background-color: var(--te-color-primary-light-9);
    }
    &.active {
      color: var(--te-color-primary);
    }
    &.selected {
      color: var(--te-color-primary);

      background-color: rgba(237, 245, 255, 1);

      // &::before {
      //   content: '';

      //   width: 4px;
      //   height: 100%;

      //   position: absolute;
      //   top: 0;
      //   left: 0;

      //   background-color: var(--te-color-primary);
      // }
    }
  }
}

// 菜单展开/折叠动画
.cc-menu- {
  &enter-from,
  &leave-to {
    opacity: 0;
    transform: translateY(-16px);
    pointer-events: none;
  }
  &enter-active,
  &leave-active {
    transition-duration: 233ms;
  }
}

.quick-access-popover {
  padding: 0 !important;
  top: 64px !important;
}
