.ma-householdnumber-entry {
  height: 100%;

  :deep(.tenant-pagecontainer__detail) {
    min-width: 1440px;
  }

  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}
