.pc-treeselect {
  // height: 100%;
  width: 340px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 6px 18px 0px rgb(38 38 38 / 14%);
  border: 0px !important;
  padding: 0px 20px;
  display: inline-flex;
  flex-direction: column;
  margin-bottom: 16px;
  margin-left: 32px;

  &:nth-child(1) {
    margin-left: 0;
  }

  &--header {
    padding: 16px 0px;
    height: 57px !important;
    line-height: 57px !important;
    font-size: 16px;
    border-bottom: 1px solid var(--color-text-border);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    :deep(.el-checkbox__label) {
      color: rgba(0, 0, 0, 0.75);
    }
  }

  &--tree {
    padding: 16px 0;
    overflow-x: auto;

    :deep(.el-tree) {
      .el-tree-node__content > .el-icon.el-tree-node__expand-icon:not(.is-leaf) {
        color: var(--color-text-title);
      }

      .custom-tree-node {
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .custom-tree-node span {
        display: inline-block;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .el-tree-node .custom-tree-node:hover,
      .el-tree-node__label:hover,
      .el-tree-node > .el-tree-node__content .el-checkbox.is-checked + .el-tree-node__label {
        background-color: transparent !important;
      }

      .el-tree__empty-block {
        min-height: 200px;

        &::before {
          content: url('../../../assets/img/common/common-data-none.svg');
          width: 60px;
          height: 50px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        .el-tree__empty-text {
          top: 70%;
        }
      }
    }
  }
}
