.ma-home-model-dialog-botton {
  position: absolute;
  top: 46px;
  right: 412px;
}
.ma-home-model-dialog {
  .el-dialog__body {
    margin: 0;
    padding: 4px 6px;
  }
  .el-dialog__title {
    font-size: 16px;
    font-weight: 500;
    color: rgba(24, 144, 255, 100);
  }
}
.ma-home-model {
  position: relative;
  margin: 0 auto 8px;
  overflow: hidden;
  box-sizing: border-box;
  padding: 50px 38px 0 38px;
  .ma-home-model-button-back {
    display: flex;
    align-items: center;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    position: absolute;
    top: 20px;
    left: 15px;
    color: rgba(0, 0, 0, 0.65);
    img {
      cursor: pointer;
      margin-right: 11px;
    }
  }
  .ma-home-model-button-left {
    position: absolute;
    cursor: pointer;
    top: 13px;
    right: 157px;
    width: 95px;
    height: 34px;
  }
  .ma-home-model-button-right {
    position: absolute;
    cursor: pointer;
    top: 13px;
    right: 9px;
    width: 116px;
    height: 34px;
  }
}
.mhm-common-empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  img {
    height: 78px;
  }
  & > span {
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
  }
}
