.pic-edit-dialog {
  .el-dialog__body {
    min-height: 180px !important;
  }

  .uploadLogo-uploader {
    width: auto;
    height: auto;
    text-align: left;
    cursor: pointer;
    position: relative;

    &__container {
      border: 1px dashed #d9d9d9;
      overflow: hidden;
      border-radius: 6px;
      width: 180px;
      height: 180px;

      img {
        width: 100%;
        height: auto;
      }

      .el-icon {
        display: inline-block;
      }

      &_look {
        position: absolute;
        width: 180px;
        height: 180px;
        line-height: 180px;
        left: 0;
        top: 0;
        cursor: default;
        text-align: center;
        color: #fff;
        border-radius: 6px;
        font-size: 20px;
        background-color: rgba(0, 0, 0, 0.5);
        transition: opacity 0.3s;

        &_icon_del {
          font-size: 20px;
        }
      }
    }

    &__container:hover {
      border-color: #409eff;
    }
  }

  &-form-input {
    width: 100%;
  }

  .red {
    overflow: hidden;
    border-radius: 6px;
    width: 180px;
    height: 180px;
    border: 1px dashed #f56c6c;
  }

  :deep(.el-form-item__error) {
    padding-top: 3px;
  }

  :deep(.el-dialog__footer) {
    text-align: right !important;
  }
}
