<div class="ra-st-add-update-dialog" v-drag>
  <el-dialog
    :close-on-click-modal="false"
    :title="isAddFlag ? '新增特殊作息':'编辑特殊作息'"
    v-model="dialogFormVisible"
    width="500px"
    :before-close="onBeforeClose"
  >
    <el-form :model="specialDataForm" :rules="rules" label-width="60px" ref="pageFormRef">
      <el-form-item label="日期" prop="date">
        <el-date-picker
          v-model="specialDataForm.date"
          :disabled="!isAddFlag"
          :disabledDate="disableCurrentDate"
          type="date"
          :editable="false"
          placeholder="选择日期"
        >
        </el-date-picker>
      </el-form-item>
      <el-form-item label="上午" prop="morningDate">
        <el-checkbox v-model="specialDataForm.isMorningReset" label="休息" style="margin-right: 12px"> </el-checkbox>
        <el-time-picker
          v-if="!specialDataForm.isMorningReset"
          is-range
          v-model="specialDataForm.morningDate"
          :format="'HH:mm'"
          range-separator="~"
          start-placeholder="开始时间"
          :editable="false"
          end-placeholder="结束时间"
          :disabled-hours="onMorningDisable"
          @change="value=>onDateRangChange(value, 'morning')"
        >
        </el-time-picker>
      </el-form-item>
      <el-form-item label="下午" prop="afternoonDate">
        <el-checkbox v-model="specialDataForm.isAfterReset" label="休息" style="margin-right: 12px"> </el-checkbox>
        <el-time-picker
          v-if="!specialDataForm.isAfterReset"
          is-range
          v-model="specialDataForm.afternoonDate"
          :format="'HH:mm'"
          range-separator="~"
          :editable="false"
          start-placeholder="开始时间"
          end-placeholder="结束时间"
          :disabled-hours="onAfternoonDisable"
          @change="value=>onDateRangChange(value, 'afternoon')"
        >
        </el-time-picker>
      </el-form-item>
      <el-form-item label="晚上" prop="eveningDate">
        <el-checkbox v-model="specialDataForm.isEveningReset" label="休息" style="margin-right: 12px"> </el-checkbox>
        <el-time-picker
          v-if="!specialDataForm.isEveningReset"
          is-range
          v-model="specialDataForm.eveningDate"
          range-separator="~"
          start-placeholder="开始时间"
          end-placeholder="结束时间"
          :format="'HH:mm'"
          :editable="false"
          :disabled-hours="onEveningDisable"
          @change="value=>onDateRangChange(value, 'evening')"
        >
        </el-time-picker>
      </el-form-item>
      <el-form-item label="备注" prop="remark">
        <el-input
          v-inputFilter:search
          type="textarea"
          v-model="specialDataForm.remark"
          :maxlength="FORM_CHECK_RULES.NORMAL_INPUT_LENGTH"
        ></el-input>
      </el-form-item>
    </el-form>
    <template #footer>
      <span class="dialog-footer">
        <button @click="onBeforeClose">取消</button>
        <button primary @click="onSave" :loading="loading">确定</button>
      </span>
    </template>
  </el-dialog>
</div>
