<div class="ea-dc-relation-parameter mt14" v-if="dataList?.length">
  <h6 class="font14">关联参数</h6>
  <div class="mt6" v-for="(item, index) in dataList" :key="'correlation_' + index">
    <div
      :class="[
          item.correlationStatus === '1' ? 'sky-high' : 'altitude',
          'font14 flex-row-start-center mb7'
        ]"
    >
      <span style="padding-right: 12px">{{ item.paramName || '--' }}</span>
      <span>
        （{{ item.correlationStatus === '1' ? '极高相关' : '高度相关' }}）
      </span>
    </div>
    <div class="ea-dc-relation-parameter-data">
      <span
        class="ea-dc-relation-parameter-data-yesterday"
        v-if="item.paramName && item.paramName.indexOf('作息时间') === -1"
      >
        昨日{{ item.paramName || '--' }}：
        <span>
          <em class="font24">{{ item.yesterdayValue }}</em>
          {{ item.unit }}
        </span>
      </span>
      <span class="contrast-data-contrastday">
        <span v-if="item.paramName && item.paramName.indexOf('作息时间') === -1">
          对比日
          <span class="date-span">（{{ item.contrastDate }}）</span>
          {{ item.paramName || '--' }}：
          <em class="font24">{{ item.contrastValue }}</em>
          {{ item.unit }}
        </span>
        <span v-else> 昨日与对比日<span class="date-span">（{{ item.contrastDate }}）</span>不一致 </span>
      </span>
    </div>
  </div>
</div>
