@import '../common.less';

.ea-dc-relation-parameter {
  h6 {
    font-weight: 600;
  }

  &-data {
    line-height: 23px;

    &-yesterday {
      margin-right: 40px;
      display: inline-block;
    }

    &-contrastday {
      display: inline-block;
    }

    .date-span {
      display: inline-block;
    }

    em {
      opacity: 0.85;
      color: rgba(0, 0, 0, 1);
      font-style: normal;
      font-weight: 600;
    }
  }

  .altitude {
    color: #f9651b;
  }

  .sky-high {
    color: #f54d42;
  }

  .altitude,
  .sky-high {
    line-height: 32px;
  }
}
