.cc-menu-children {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 8px;

  > .cc-menu-item {
    &.active {
      color: rgba(31, 80, 219, 1);
    }
  }
}
