<div class="em__task-list">
  <!-- 计划任务列表 -->
  <article class="plan__list" *ngIf="planWorks.count">
    <header class="plan-list__header" [class.coverHeaderborder]="isHeaderVisible" *ngIf="!isAgency">
      <img class="header__plan-icon" src="./assets/img/energy-manager/plan-bg.svg" alt="plan-bg" />
      <span class="header__title">计划任务</span>
      <span class="header__plan-count DinPro-Medium">{{ planWorks.count }}</span>
    </header>

    <div *ngIf="planWorks.count > 0" class="plan-list__content">
      <!-- 每日任务列表 -->
      <div class="daily-work__list">
        <ng-container *ngFor="let item of planWorks.dailyWorks; let i = index; trackBy: trackById">
          <div class="task-card__wrapper">
            <app-em-daily-work-card
              [type]="type"
              [dailyWorkData]="item"
              [isLastCard]="i === planWorks.dailyWorks.length - 1"
              [timeType]="timeType"
              [currentServerTime]="currentServerTime"
              (imageClick)="bigImage($event)"
            >
            </app-em-daily-work-card>
          </div>
        </ng-container>
      </div>

      <!-- 周任务列表 -->
      <div class="weekly-work__list">
        <ng-container *ngFor="let item of planWorks.weeklyWorks; trackBy: trackById">
          <div class="task-card__wrapper">
            <app-em-period-work-card
              [type]="type"
              [periodWorkData]="item"
              [timeType]="timeType"
              [periodWorkType]="'周'"
              (imageClick)="bigImageWeek($event)"
            ></app-em-period-work-card>
          </div>
        </ng-container>
      </div>

      <!-- 月任务列表 -->
      <div class="monthly-work__list">
        <ng-container *ngFor="let item of planWorks.monthlyWorks; trackBy: trackById">
          <div class="task-card__wrapper">
            <app-em-period-work-card
              [type]="type"
              [periodWorkData]="item"
              [timeType]="timeType"
              [periodWorkType]="'月'"
              (imageClick)="bigImageMOuth($event)"
            ></app-em-period-work-card>
          </div>
        </ng-container>
      </div>

      <!-- 特殊任务列表 -->
      <div *ngIf="planWorks.specialWorks.length > 0" class="special-work__list">
        <ng-container *ngFor="let item of planWorks.specialWorks; trackBy: trackById">
          <div class="task-card__wrapper">
            <app-em-period-work-card
              [type]="type"
              [periodWorkData]="item"
              [timeType]="timeType"
              [periodWorkType]="'特'"
              (imageClick)="bigImageTe($event)"
            ></app-em-period-work-card>
          </div>
        </ng-container>
      </div>
    </div>
  </article>

  <!-- 其他措施列表 -->
  <article class="other-measures" *ngIf="otherWorks.count && !isAgency">
    <header class="other-measures__header">
      <img class="header__measure-icon" src="./assets/img/energy-manager/other-measure-bg.svg" alt="other-measure-bg" />
      <span class="header__title">其他措施</span>
      <span class="DinPro-Medium">{{ otherWorks.count }}</span>
    </header>

    <div class="other-measures__list" *ngIf="otherWorks.count > 0">
      <ng-container *ngFor="let item of otherWorks.workList; trackBy: trackById">
        <div class="task-card__wrapper other-measure__list__item">
          <img
            class="other-measure__icon"
            src="./assets/img/energy-manager/other-measure-icon.svg"
            alt="other-measure-icon"
          />

          <div class="task-card other-measure__item__content">
            <div class="task-card__title">{{ item.measureName }}</div>

            <div class="task-card__desc om__item__content__desc">
              {{ item.description }}
            </div>
            <div class="task-card__time">{{ item.finishTime }} 完成</div>
          </div>
        </div>
      </ng-container>
    </div>
  </article>
</div>
