.kb-bl-add-update-dialog {
  :deep(.el-select) {
    width: 100%;
  }
  .kb-bl-dialog-option {
    white-space: nowrap !important;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  :deep(.el-dialog__footer) {
    text-align: right !important;
  }

  .el-form-item {
    margin-right: 16px !important;
    margin-bottom: 14px !important;
  }
}
